openapi: 3.2.0
info:
  title: Endpoint Tests Endpoint Real User Tests API
  version: 7.0.100
  description: 'Manage endpoint agent dynamic and scheduled tests using the Endpoint Tests API.

    '
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
security:
- BearerAuth: []
tags:
- name: Endpoint Real User Tests
paths:
  /endpoint/tests/real-user-tests:
    get:
      tags:
      - Endpoint Real User Tests
      summary: List endpoint real user tests
      operationId: getEndpointRealUserTests
      description: Returns real user test domain monitoring profiles for endpoint agents.
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: Real user test domain monitoring profiles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointRealUserTestsResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/GeneralError'
components:
  responses:
    '500':
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
    '403':
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    GeneralError:
      description: An error occurred
    '429':
      description: Exhausted rate limit for the organization
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    '401':
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
  schemas:
    EndpointRealUserTest:
      type: object
      required:
      - profileId
      - aid
      - name
      - includedDomains
      - excludedDomains
      - monitoringSettings
      properties:
        profileId:
          type: string
          description: Unique ID of the monitoring profile.
          example: '73421'
          readOnly: true
        aid:
          $ref: '#/components/schemas/AccountGroupId'
        name:
          type: string
          description: Monitoring profile name.
          example: Corporate domains
          readOnly: true
        includedDomains:
          type: array
          description: Domains included in real user monitoring.
          items:
            type: string
            example: example.com
            readOnly: true
        excludedDomains:
          type: array
          description: Domains excluded from real user monitoring.
          items:
            type: string
            example: static.example.com
            readOnly: true
        monitoringSettings:
          $ref: '#/components/schemas/EndpointMonitoringSettings'
    EndpointMonitoringSettings:
      type: object
      required:
      - monitoringSettingsType
      example:
        monitoringSettingsId: 1f5c1b5d-8a0d-4d6b-a3be-56b060f7f2c9
        monitoringSettingsType: agent-tags
        tagIds:
        - 49d9e7d2-7df5-43df-9b37-aa596b929062
        labelIds:
        - '567'
      properties:
        monitoringSettingsId:
          type:
          - string
          - 'null'
          description: Unique ID of the monitoring settings.
          example: 1f5c1b5d-8a0d-4d6b-a3be-56b060f7f2c9
          readOnly: true
        monitoringSettingsType:
          $ref: '#/components/schemas/EndpointMonitoringSettingsType'
        agentIds:
          type:
          - array
          - 'null'
          description: Endpoint Agent IDs selected by the monitoring settings.
          items:
            $ref: '#/components/schemas/EndpointAgentId'
        tagIds:
          type:
          - array
          - 'null'
          description: Endpoint Agent tag IDs selected by the monitoring settings.
          example:
          - 49d9e7d2-7df5-43df-9b37-aa596b929062
          items:
            type: string
            format: uuid
        labelIds:
          type:
          - array
          - 'null'
          description: Legacy Endpoint Agent label IDs selected by the monitoring settings.
          example:
          - '567'
          items:
            type: string
            example: '567'
            readOnly: true
    UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    EndpointMonitoringSettingsType:
      type: string
      description: Endpoint Agent selector type used by the monitoring settings.
      enum:
      - all-agents
      - specific-agents
      - agent-labels
      - agent-tags
      example: agent-tags
      readOnly: true
    AccountGroupId:
      type: string
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint.
      example: '1234'
    Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    EndpointAgentId:
      type: string
      format: uuid
      description: Unique ID of endpoint agent, from `/endpoint/agents` endpoint.
      example: 861b7557-cd57-4bbb-b648-00bddf88ef49
      readOnly: true
    EndpointRealUserTestsResponse:
      type: object
      required:
      - realUserTests
      properties:
        realUserTests:
          type: array
          description: Real user test domain monitoring profiles.
          items:
            $ref: '#/components/schemas/EndpointRealUserTest'
  parameters:
    AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
externalDocs:
  description: Find out more about Endpoint Agent Scheduled Tests
  url: https://docs.thousandeyes.com/product-documentation/end-user-monitoring/scheduled-tests
