openapi: 3.2.0
info:
  version: 7.0.100
  title: ThousandEyes Agent to Server Endpoint Scheduled Tests API
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
tags:
- name: Agent to Server Endpoint Scheduled Tests
  x-displayName: Agent to Server Endpoint Scheduled Tests
paths:
  /endpoint/tests/scheduled-tests/agent-to-server:
    get:
      tags:
      - Agent to Server Endpoint Scheduled Tests
      summary: List agent to server endpoint scheduled tests
      operationId: getAgentToServerEndpointScheduledTests
      description: 'Returns a list of all agent to server endpoint scheduled tests configured in ThousandEyes. This list does not contain saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the user interface. This change does not affect API.'
      parameters:
      - $ref: '#/components/parameters/Endpoint_Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentToServerTests'
        '401':
          $ref: '#/components/responses/Endpoint_Tests_API_401'
        '403':
          $ref: '#/components/responses/Endpoint_Tests_API_403'
        '429':
          $ref: '#/components/responses/Endpoint_Tests_API_429'
        '500':
          $ref: '#/components/responses/Endpoint_Tests_API_500'
        '502':
          $ref: '#/components/responses/Endpoint_Tests_API_502'
        default:
          $ref: '#/components/responses/Endpoint_Tests_API_GeneralError'
      security:
      - Endpoint_Tests_API_BearerAuth: []
    post:
      tags:
      - Agent to Server Endpoint Scheduled Tests
      summary: Creates agent to server endpoint scheduled test
      operationId: createAgentToServerEndpointScheduledTest
      description: 'Creates a new endpoint test in ThousandEyes using properties specified in the POST data.

        Please note that only Account Admins have the authorization to create new tests; regular users are restricted from using POST-based methods.'
      parameters:
      - $ref: '#/components/parameters/Endpoint_Tests_API_AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentToServerTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Endpoint_Tests_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentToServerTest'
        '400':
          $ref: '#/components/responses/Endpoint_Tests_API_400'
        '401':
          $ref: '#/components/responses/Endpoint_Tests_API_401'
        '403':
          $ref: '#/components/responses/Endpoint_Tests_API_403'
        '404':
          $ref: '#/components/responses/Endpoint_Tests_API_404'
        '429':
          $ref: '#/components/responses/Endpoint_Tests_API_429'
        '500':
          $ref: '#/components/responses/Endpoint_Tests_API_500'
        '502':
          $ref: '#/components/responses/Endpoint_Tests_API_502'
        default:
          $ref: '#/components/responses/Endpoint_Tests_API_GeneralError'
      security:
      - Endpoint_Tests_API_BearerAuth: []
  /endpoint/tests/scheduled-tests/agent-to-server/{testId}:
    get:
      tags:
      - Agent to Server Endpoint Scheduled Tests
      summary: Retrieve agent to server endpoint scheduled test
      operationId: getAgentToServerEndpointScheduledTest
      description: Retrieves details of an agent to server endpoint scheduled test.
      parameters:
      - $ref: '#/components/parameters/Endpoint_Tests_API_TestId'
      - $ref: '#/components/parameters/Endpoint_Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentToServerTest'
        '401':
          $ref: '#/components/responses/Endpoint_Tests_API_401'
        '403':
          $ref: '#/components/responses/Endpoint_Tests_API_403'
        '404':
          $ref: '#/components/responses/Endpoint_Tests_API_404'
        '429':
          $ref: '#/components/responses/Endpoint_Tests_API_429'
        '500':
          $ref: '#/components/responses/Endpoint_Tests_API_500'
        '502':
          $ref: '#/components/responses/Endpoint_Tests_API_502'
        default:
          $ref: '#/components/responses/Endpoint_Tests_API_GeneralError'
      security:
      - Endpoint_Tests_API_BearerAuth: []
    patch:
      tags:
      - Agent to Server Endpoint Scheduled Tests
      summary: Update agent to server endpoint scheduled test
      operationId: updateAgentToServerEndpointScheduledTest
      description: 'Updates an agent to server scheduled test. Includes support for

        enabling and disabling the test.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Endpoint_Tests_API_EndpointNetworkTestUpdate'
      parameters:
      - $ref: '#/components/parameters/Endpoint_Tests_API_TestId'
      - $ref: '#/components/parameters/Endpoint_Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentToServerTest'
        '400':
          $ref: '#/components/responses/Endpoint_Tests_API_400'
        '401':
          $ref: '#/components/responses/Endpoint_Tests_API_401'
        '403':
          $ref: '#/components/responses/Endpoint_Tests_API_403'
        '404':
          $ref: '#/components/responses/Endpoint_Tests_API_404'
        '429':
          $ref: '#/components/responses/Endpoint_Tests_API_429'
        '500':
          $ref: '#/components/responses/Endpoint_Tests_API_500'
        '502':
          $ref: '#/components/responses/Endpoint_Tests_API_502'
        default:
          $ref: '#/components/responses/Endpoint_Tests_API_GeneralError'
      security:
      - Endpoint_Tests_API_BearerAuth: []
    delete:
      tags:
      - Agent to Server Endpoint Scheduled Tests
      summary: Delete agent to server scheduled test
      operationId: deleteAgentToServerEndpointScheduledTest
      description: Deletes an agent to server endpoint scheduled test.
      parameters:
      - $ref: '#/components/parameters/Endpoint_Tests_API_TestId'
      - $ref: '#/components/parameters/Endpoint_Tests_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Endpoint_Tests_API_204'
        '400':
          $ref: '#/components/responses/Endpoint_Tests_API_400'
        '401':
          $ref: '#/components/responses/Endpoint_Tests_API_401'
        '403':
          $ref: '#/components/responses/Endpoint_Tests_API_403'
        '404':
          $ref: '#/components/responses/Endpoint_Tests_API_404'
        '429':
          $ref: '#/components/responses/Endpoint_Tests_API_429'
        '500':
          $ref: '#/components/responses/Endpoint_Tests_API_500'
        '502':
          $ref: '#/components/responses/Endpoint_Tests_API_502'
        default:
          $ref: '#/components/responses/Endpoint_Tests_API_GeneralError'
      security:
      - Endpoint_Tests_API_BearerAuth: []
components:
  responses:
    Endpoint_Tests_API_403:
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Endpoint_Tests_API_Error'
    Endpoint_Tests_API_500:
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Endpoint_Tests_API_Error'
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
    Endpoint_Tests_API_404:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Endpoint_Tests_API_Error'
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI or a wrong ID
            instance: /v7
    Endpoint_Tests_API_401:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Endpoint_Tests_API_UnauthorizedError'
    Endpoint_Tests_API_429:
      description: Exhausted rate limit for the organization
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Endpoint_Tests_API_Error'
    Endpoint_Tests_API_204:
      description: No content
    Endpoint_Tests_API_502:
      description: Bad Gateway
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Endpoint_Tests_API_Error'
    Endpoint_Tests_API_GeneralError:
      description: An error occurred
    Endpoint_Tests_API_400:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Endpoint_Tests_API_ValidationError'
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Your request object contains invalid fields.
            instance: /v7
            errors:
            - code: AM-5432
              field: firstName
              message: firstName cannot have fancy characters
            - code: DASH-5622
              field: password
              message: Password cannot be blank
  schemas:
    Endpoint_Tests_API_TagIds:
      type: array
      description: List of tag IDs (obtained from `/tags` endpoint).
      items:
        type: string
        format: uuid
      example:
      - c6b78e57-81a2-4c5f-a11a-d96c3c664d55
      - 5aeab5d5-0d34-4d44-a7ac-fb440185295c
    Endpoint_Tests_API_EndpointIpVersionOut:
      description: For reading current network test configurations, the IP version of the test. Values include V4_ONLY, V6_ONLY, V6_PREFER, and OS_DEFAULT.
      type: string
      example: V4_ONLY
    Endpoint_Tests_API_EndpointScheduledTestType:
      type: string
      enum:
      - agent-to-server
      - http-server
      description: Type of test being queried.
      example: agent-to-server
      readOnly: true
    Endpoint_Tests_API_TestIsSavedEvent:
      type: boolean
      description: 'Indicates if the test is a saved event.


        **Note**: **Saved Events** are now called **Private Snapshots** in the user interface. This change does not affect API.

        '
      example: false
      readOnly: true
    Endpoint_Tests_API_TestProbeMode:
      type: string
      enum:
      - auto
      - sack
      - syn
      description: Probe mode used by network test, only valid when the protocol is set to TCP.
      default: auto
      example: auto
    Endpoint_Tests_API_EndpointSpecificAgentsSelectorConfig:
      type: object
      description: Specific agents selection object.
      readOnly: true
      properties:
        agentSelectorType:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointSpecificAgentsSelectorType'
        maxMachines:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestMaxMachines'
        agents:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestAgents'
      required:
      - agentSelectorType
    Endpoint_Tests_API_SelfLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/Endpoint_Tests_API_Link'
    Endpoint_Tests_API_TestIsEnabled:
      type: boolean
      description: Indicates if test is enabled.
      example: true
      default: true
    Endpoint_Tests_API_TestLabel:
      type: object
      properties:
        labelId:
          type: string
          description: Label ID.
        name:
          type: string
          description: Name of the label.
        isBuiltin:
          type: boolean
          description: Value indicating if the label in question is BuiltIn (Account Admin, Organization Admin, Regular User).
      example:
        labelId: '961'
        name: Artem label
        isBuiltin: false
    Endpoint_Tests_API_ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/Endpoint_Tests_API_Error'
      - type: object
        properties:
          errors:
            type:
            - array
            - 'null'
            description: (Optional) When multiple errors occur, the details for each error are listed.
            items:
              $ref: '#/components/schemas/Endpoint_Tests_API_ValidationErrorItem'
    Endpoint_Tests_API_EndpointAllAgentsSelectorType:
      type: string
      example: all-agents
      pattern: ^all-agents$
    Endpoint_Tests_API_Link:
      type: object
      description: A hyperlink from the containing resource to a URI.
      required:
      - href
      properties:
        href:
          type: string
          description: Its value is either a URI [RFC3986] or a URI template [RFC6570].
          example: https://api.thousandeyes.com/v7/link/to/resource/id
        templated:
          type: boolean
          description: Should be true when the link object's "href" property is a URI template.
        type:
          type: string
          description: Used as a hint to indicate the media type expected when dereferencing the target resource.
        deprecation:
          type: string
          description: Its presence indicates that the link is to be deprecated at a future date. Its value is a URL that should provide further information about the deprecation.
        name:
          type: string
          description: Its value may be used as a secondary key for selecting link objects that share the same relation type.
        profile:
          type: string
          description: A URI that hints about the profile of the target resource.
        title:
          type: string
          description: Intended for labelling the link with a human-readable identifier
        hreflang:
          type: string
          description: Indicates the language of the target resource
    Endpoint_Tests_API_EndpointTestMaxMachines:
      type: integer
      description: Maximum number of agents which can execute the test.
      default: 25
      example: 25
    Endpoint_Tests_API_Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    Endpoint_Tests_API_TestProbeModeResponse:
      type: string
      enum:
      - auto
      - sack
      - syn
      - syn-pcap
      - syn-socket
      - unknown
      description: Probe mode returned by network test APIs, only valid when the protocol is set to TCP. Configuration responses return user-selectable values, while result responses may also return resolved driver values.
      default: auto
      example: auto
    Endpoint_Tests_API_EndpointAgentLabelsSelectorType:
      type: string
      example: agent-labels
      pattern: ^agent-labels$
    Endpoint_Tests_API_EndpointAllAgentsSelectorConfig:
      type: object
      description: Any agent selection object.
      readOnly: true
      properties:
        agentSelectorType:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAllAgentsSelectorType'
        maxMachines:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestMaxMachines'
      required:
      - agentSelectorType
    Endpoint_Tests_API_EndpointAgentToServerTest:
      allOf:
      - $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTest'
      - type: object
        properties:
          type:
            $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentToServerType'
    Endpoint_Tests_API_TestUpdate:
      type: object
      properties:
        interval:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestInterval'
        testName:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestName'
        protocol:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestProtocol'
        isEnabled:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestIsEnabled'
        tcpProbeMode:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestProbeMode'
    Endpoint_Tests_API_TestNetworkMeasurements:
      type: boolean
      description: Enable or disable network measurements. Set to true to enable or false to disable network measurements.
      default: true
      example: true
    Endpoint_Tests_API_TestInterval:
      type: integer
      enum:
      - 60
      - 120
      - 300
      - 600
      - 900
      - 1800
      - 3600
      description: Interval between test runs in seconds.
      default: 60
      example: 60
    Endpoint_Tests_API_EndpointAgentLabels:
      type: array
      deprecated: true
      description: 'Deprecated. Use `tagIds` instead.


        List of endpoint agent label IDs (obtained from `/endpoint/labels` endpoint), required when `agentSelectorType` is set to `agent-labels`.

        '
      items:
        type: string
      example:
      - '567'
      - '214'
    Endpoint_Tests_API_EndpointIpVersionIn:
      description: For configuring network tests, the IP version of the test.
      type: string
      enum:
      - V4_ONLY
      - V6_ONLY
      - V6_PREFER
      - OS_DEFAULT
      example: V4_ONLY
    Endpoint_Tests_API_ScheduledTestResults:
      type: array
      description: Reference to the test results.
      items:
        $ref: '#/components/schemas/Endpoint_Tests_API_Link'
      example:
      - href: https://api.thousandeyes.com/v7/endpoint/test-results/scheduled-tests/281474976710706/network/filter
      - href: https://api.thousandeyes.com/v7/endpoint/test-results/scheduled-tests/281474976710706/pathvis
    Endpoint_Tests_API_EndpointAgentTagsSelectorType:
      type: string
      example: agent-tags
      pattern: ^agent-tags$
    Endpoint_Tests_API_EndpointTestProtocol:
      type: string
      enum:
      - icmp
      - icmp-with-tcp-connect
      - tcp
      - prefer-tcp
      - ast-autodetect
      - autodetect
      description: Protocol requested for the test.
      default: icmp
      example: icmp
    Endpoint_Tests_API_EndpointTestAgentSelectorType:
      type: string
      enum:
      - all-agents
      - specific-agents
      - agent-labels
      - agent-tags
      description: "Specifies how agents are selected for the endpoint test.\n\nAgents can be selected from:\n  - all available agents\n  - a specific list of agents\n  - agents matching tags\n  - agents matching labels (deprecated)\n"
      default: all-agents
      example: all-agents
    Endpoint_Tests_API_TestCreatedDate:
      type: string
      format: date-time
      description: UTC created date (ISO date-time format).
      example: '2022-07-17T22:00:54Z'
      readOnly: true
    Endpoint_Tests_API_TestPort:
      type: integer
      minimum: 1
      maximum: 65535
      description: Target port.
      default: 49153
      example: 49153
    Endpoint_Tests_API_TestIsPrioritized:
      type: boolean
      description: Indicates whether the test should be prioritized when the number of tests assigned to an agent exceeds the license limit.
      default: false
      example: false
    Endpoint_Tests_API_EndpointAgentToServerType:
      type: string
      description: Type of test being queried.
      example: agent-to-server
      pattern: ^agent-to-server$
      readOnly: true
    Endpoint_Tests_API_EndpointAgentSelectorConfig:
      type: object
      description: Agents selection object based on agentSelectorType.
      readOnly: true
      oneOf:
      - $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAllAgentsSelectorConfig'
      - $ref: '#/components/schemas/Endpoint_Tests_API_EndpointSpecificAgentsSelectorConfig'
      - $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentLabelsSelectorConfig'
      - $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentTagsSelectorConfig'
      discriminator:
        propertyName: agentSelectorType
        mapping:
          all-agents: '#/components/schemas/Endpoint_Tests_API_EndpointAllAgentsSelectorConfig'
          specific-agents: '#/components/schemas/Endpoint_Tests_API_EndpointSpecificAgentsSelectorConfig'
          agent-labels: '#/components/schemas/Endpoint_Tests_API_EndpointAgentLabelsSelectorConfig'
          agent-tags: '#/components/schemas/Endpoint_Tests_API_EndpointAgentTagsSelectorConfig'
      required:
      - agentSelectorType
    Endpoint_Tests_API_EndpointAgentLabelsSelectorConfig:
      type: object
      description: Agent labels selection object.
      readOnly: true
      deprecated: true
      properties:
        agentSelectorType:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentLabelsSelectorType'
        maxMachines:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestMaxMachines'
        endpointAgentLabels:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentLabels'
        tagIds:
          $ref: '#/components/schemas/Endpoint_Tests_API_TagIds'
      required:
      - agentSelectorType
    Endpoint_Tests_API_EndpointAgentTagsSelectorConfig:
      type: object
      description: Agent tags selection object.
      readOnly: true
      properties:
        agentSelectorType:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentTagsSelectorType'
        maxMachines:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestMaxMachines'
        endpointAgentLabels:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentLabels'
        tagIds:
          $ref: '#/components/schemas/Endpoint_Tests_API_TagIds'
      required:
      - agentSelectorType
    Endpoint_Tests_API_EndpointTestPort:
      type: integer
      description: Port number.
      default: 443
      example: 443
    Endpoint_Tests_API_EndpointInstantTest:
      type: object
      required:
      - testName
      properties:
        agentSelectorType:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestAgentSelectorType'
        agents:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestAgents'
        endpointAgentLabels:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentLabels'
        tagIds:
          $ref: '#/components/schemas/Endpoint_Tests_API_TagIds'
        maxMachines:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestMaxMachines'
        testName:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestName'
        ipVersion:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointIpVersionIn'
    Endpoint_Tests_API_EndpointTestAgents:
      type: array
      description: List of endpoint agent IDs (obtained from `/endpoint/agents` endpoint). Required when `agentSelectorType` is set to `specific-agent`.
      items:
        type: string
        format: uuid
      example:
      - 0a3b9998-dc3a-4ff2-b50d-ac4a7cd986e1
      - 66eec0f1-72b4-4755-aa83-3aed61d17f3c
    Endpoint_Tests_API_EndpointAgentToServerTests:
      type: object
      properties:
        tests:
          type: array
          items:
            $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentToServerTest'
        _links:
          $ref: '#/components/schemas/Endpoint_Tests_API_SelfLinks'
    Endpoint_Tests_API_EndpointTest:
      type: object
      required:
      - type
      properties:
        aid:
          $ref: '#/components/schemas/Endpoint_Tests_API_AccountGroupId'
        _links:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestLinks'
        agentSelectorConfig:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentSelectorConfig'
        createdDate:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestCreatedDate'
        isPrioritized:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestIsPrioritized'
        interval:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestInterval'
        isEnabled:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestIsEnabled'
        isSavedEvent:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestIsSavedEvent'
        hasPathTraceInSession:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestHasPathTraceInSession'
        labels:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestLabels'
        modifiedDate:
          type: string
          format: date-time
          description: UTC last modification date (ISO date-time format).
          readOnly: true
          example: '2022-07-17T22:00:54Z'
        networkMeasurements:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestNetworkMeasurements'
        protocol:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestProtocol'
        ipVersion:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointIpVersionOut'
        server:
          type: string
          description: Target domain name or IP address.
          example: www.example.com
        testId:
          type: string
          description: Each test is assigned a unique ID to access test data from other endpoints.
          readOnly: true
          example: '281474976710706'
        testName:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestName'
        type:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointScheduledTestType'
        tcpProbeMode:
          $ref: '#/components/schemas/Endpoint_Tests_API_TestProbeModeResponse'
        port:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestPort'
    Endpoint_Tests_API_EndpointSpecificAgentsSelectorType:
      type: string
      example: specific-agents
      pattern: ^specific-agents$
    Endpoint_Tests_API_ValidationErrorItem:
      type: object
      properties:
        code:
          type: string
          description: (Optional) A unique error type/code that can be referenced in the documentation for further details.
        field:
          type: string
          description: Identifies the field that triggered this particular error.
        message:
          type: string
          description: A short, human-readable summary of the error.
    Endpoint_Tests_API_EndpointAgentToServerInstantTest:
      allOf:
      - $ref: '#/components/schemas/Endpoint_Tests_API_EndpointInstantTest'
      - type: object
        required:
        - server
        properties:
          serverName:
            type: string
            deprecated: true
            description: A server address without a protocol or IP address. **Deprecated, use `server` instead**.
            example: www.example.com
          server:
            type: string
            description: Target domain name or IP address.
            example: www.example.com
          port:
            $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestPort'
    Endpoint_Tests_API_TestName:
      type: string
      description: Name of the test.
      example: Test name
    Endpoint_Tests_API_AccountGroupId:
      type: string
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint.
      example: '1234'
    Endpoint_Tests_API_TestLabels:
      type: array
      description: Labels to which the test is assigned. This field is not returned for Instant Tests.
      readOnly: true
      items:
        $ref: '#/components/schemas/Endpoint_Tests_API_TestLabel'
    Endpoint_Tests_API_UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    Endpoint_Tests_API_TestHasPathTraceInSession:
      type: boolean
      description: Enables "in session" path trace. When enabled, this option initiates a TCP session with the target server and sends path trace packets within the established TCP session.
      example: true
    Endpoint_Tests_API_EndpointTestLinks:
      type: object
      description: A list of links that can be accessed to get more information.
      properties:
        self:
          $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestSelfLink'
        testResults:
          $ref: '#/components/schemas/Endpoint_Tests_API_ScheduledTestResults'
      readOnly: true
    Endpoint_Tests_API_EndpointTestSelfLink:
      allOf:
      - description: A reference to the test.
        example:
          href: https://api.thousandeyes.com/v7/endpoint/tests/{type}/281474976710706
      - $ref: '#/components/schemas/Endpoint_Tests_API_Link'
    Endpoint_Tests_API_EndpointNetworkTestUpdate:
      allOf:
      - $ref: '#/components/schemas/Endpoint_Tests_API_TestUpdate'
      - type: object
        properties:
          port:
            $ref: '#/components/schemas/Endpoint_Tests_API_TestPort'
          server:
            type: string
            description: Target domain name or IP address.
            example: www.example.com
    Endpoint_Tests_API_EndpointAgentToServerTestRequest:
      allOf:
      - $ref: '#/components/schemas/Endpoint_Tests_API_EndpointAgentToServerInstantTest'
      - type: object
        properties:
          isPrioritized:
            $ref: '#/components/schemas/Endpoint_Tests_API_TestIsPrioritized'
          interval:
            $ref: '#/components/schemas/Endpoint_Tests_API_TestInterval'
          protocol:
            $ref: '#/components/schemas/Endpoint_Tests_API_EndpointTestProtocol'
  headers:
    Endpoint_Tests_API_Location:
      schema:
        type: string
        format: uri
        example: https://api.thousandeyes.com/v7/link/to/resource/id
      description: The absolute path to created resource.
  parameters:
    Endpoint_Tests_API_TestId:
      name: testId
      in: path
      description: Unique ID of endpoint test.
      example: '584739201'
      required: true
      schema:
        type: string
    Endpoint_Tests_API_AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
  securitySchemes:
    Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Instant_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    ThousandEyes_for_OpenTelemetry_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Snapshots_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Usage_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Templates_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    BGP_Monitors_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Internet_Insights_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Tags_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Event_Detection_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agent_Labels_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Instant_Scheduled_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Emulation_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Dashboards_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Credentials_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Cloud_Insights_Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Autonomous_Systems_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    API_Token_Management_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Alerts_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Administrative_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
externalDocs:
  description: Find out more about ThousandEyes
  url: https://developer.thousandeyes.com/
x-tagGroups:
- name: Tests API
  tags:
  - Tests
  - Agent to Server Tests
  - Agent to Agent Tests
  - BGP Tests
  - DNS Server Tests
  - DNS Trace Tests
  - DNSSEC Tests
  - HTTP Server Tests
  - Page Load Tests
  - Web Transaction Tests
  - API Tests
  - FTP Server Tests
  - SIP Server Tests
  - Voice Tests
  - Path Visualization Interface Groups
- name: Test Results API
  tags:
  - Network Test Results
  - Web HTTP Server Test Results
  - Web Page Load Test Results
  - Web Transactions Test Results
  - API Test Results
  - Web FTP Server Test Results
  - DNS Trace Test Results
  - DNS Server Test Results
  - DNSSEC Test Results
  - Voice SIP Server Test Results
  - Voice RTP Server Test Results
  - Network BGP Test Results
- name: Instant Tests API
  tags:
  - Instant Tests
  - Agent to Agent Instant Tests
  - Agent to Server Instant Tests
  - DNS Server Instant Tests
  - DNS Trace Instant Tests
  - DNSSEC Instant Tests
  - HTTP Server Instant Tests
  - HTTP Page Load Instant Tests
  - Web Transaction Instant Tests
  - API Instant Tests
  - FTP Server Instant Tests
  - SIP Server Instant Tests
  - Voice Instant Tests
- name: ThousandEyes for OpenTelemetry API
  tags:
  - Streaming
- name: Test Snapshots API
  tags:
  - Test Snapshots
- name: Usage API
  tags:
  - Usage
  - Quotas
- name: Templates API
  tags:
  - Templates
- name: BGP Monitors API
  tags:
  - BGP monitors
- name: Internet Insights API
  tags:
  - Internet Insights Catalog Providers
  - Internet Insights Outages
- name: Tags API
  tags:
  - Tags
  - Tag Assignment
- name: Integrations API
  tags:
  - Credential Vault Operations
  - Operation Connectors
  - CyberArk Conjur Connectors
  - Webhook Operations
  - Generic Connectors
  - Panorama Connectors
- name: Event Detection API
  tags:
  - Events
- name: Endpoint Tests API
  tags:
  - Endpoint Scheduled Tests
  - Agent to Server Endpoint Scheduled Tests
  - HTTP Server Endpoint Scheduled Tests
  - Agent To Server Endpoint Dynamic Tests
  - Endpoint Real User Tests
- name: Endpoint Test Results API
  tags:
  - Network Endpoint Scheduled Test Results
  - HTTP Server Endpoint Scheduled Test Results
  - Network Dynamic Endpoint Test Results
  - Real User Endpoint Test Results
  - Local Network Endpoint Test Results
- name: Endpoint Agent Labels API
  tags:
  - Endpoint Agent Labels
- name: Endpoint Instant Scheduled Tests API
  tags:
  - Agent to Server Endpoint Instant Scheduled Tests
  - HTTP Server Endpoint Instant Scheduled Tests
  - Run Endpoint Instant Scheduled Tests
- name: Endpoint Agents API
  tags:
  - Endpoint Agents
  - Endpoint Agent Log Items
  - Endpoint Proxies
  - Endpoint Agents Transfer
- name: Emulation API
  tags:
  - Emulation
- name: Dashboards API
  tags:
  - Dashboards
  - Dashboard Snapshots
  - Dashboards Filters
- name: Credentials API
  tags:
  - Credentials
- name: Cloud Insights Integrations API
  tags:
  - Cloud Insights Integrations
  - Cloud Insights Integration Policy Settings
- name: Autonomous Systems API
  tags:
  - Autonomous Systems
  - Autonomous System Prefixes
- name: API Token Management API
  tags:
  - API Token
- name: Alerts API
  tags:
  - Alerts
  - Alert Rules
  - Alert Suppression Windows
- name: Agents API
  tags:
  - Cloud and Enterprise Agents
  - Local Problems
  - Enterprise Agent Cluster
  - Cloud and Enterprise Agent Notification Rules
  - Agent Proxies
  - Tests Assignment on Agents
- name: Administrative API
  tags:
  - Account Groups
  - Users
  - Roles
  - Permissions
  - User Events
