openapi: 3.2.0
info:
  version: 7.0.100
  title: ThousandEyes Tags API
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
  description: Tag CRUD Operations
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
tags:
- name: Tags
  description: Tag CRUD Operations
  x-displayName: Tags
paths:
  /tags:
    get:
      operationId: getTags
      tags:
      - Tags
      summary: List tags
      description: This operation returns a list of tags in the specified account group (`aid`).
      parameters:
      - $ref: '#/components/parameters/Tags_API_AccountGroupId'
      - $ref: '#/components/parameters/Tags_API_ExpandTags'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags_API_Tags'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tags_API_Tags'
        '401':
          $ref: '#/components/responses/Tags_API_401'
        '403':
          $ref: '#/components/responses/Tags_API_403'
        '404':
          $ref: '#/components/responses/Tags_API_404'
        '429':
          $ref: '#/components/responses/Tags_API_429'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags_API_ApiError'
      security:
      - Tags_API_BearerAuth: []
    post:
      tags:
      - Tags
      summary: Create tag
      operationId: createTag
      description: Creates a new tag.
      parameters:
      - $ref: '#/components/parameters/Tags_API_AccountGroupId'
      responses:
        '201':
          description: item created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags_API_Tag'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tags_API_Tag'
        '400':
          $ref: '#/components/responses/Tags_API_400'
        '401':
          $ref: '#/components/responses/Tags_API_401'
        '409':
          description: An existing item already exists
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags_API_ApiError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tags_API_TagInfo'
            example:
              key: network-interface
              value: approved-nics
              objectType: endpoint-agent
              type: dynamic
              matchType: and
              filters:
              - key: nic-model
                values:
                - Intel(R) Wi-Fi 6 AX200 160MHz
                mode: in
                scope: default
              - key: nic-driver-version
                values:
                - 22.250.0.9
                mode: in
                scope: default
        description: Tag resource
      security:
      - Tags_API_BearerAuth: []
  /tags/bulk:
    post:
      tags:
      - Tags
      summary: Create multiple tags
      operationId: createTags
      description: Creates multiple tags. Note the response includes a `statuses` array. This array provides status information for each tag object, indexed 1:1 with the `tags` array.
      parameters:
      - $ref: '#/components/parameters/Tags_API_AccountGroupId'
      responses:
        '207':
          description: Item created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags_API_BulkTagResponse'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tags_API_BulkTagResponse'
        '400':
          $ref: '#/components/responses/Tags_API_400'
        '401':
          $ref: '#/components/responses/Tags_API_401'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags_API_ApiError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tags_API_BulkTagResponse'
        description: Tag resource
      security:
      - Tags_API_BearerAuth: []
  /tags/{id}:
    get:
      tags:
      - Tags
      summary: Retrieve tag
      description: Retrieves a tag using its ID.
      operationId: getTag
      parameters:
      - $ref: '#/components/parameters/Tags_API_AccountGroupId'
      - $ref: '#/components/parameters/Tags_API_TagIdPath'
      - $ref: '#/components/parameters/Tags_API_ExpandTags'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags_API_Tag'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tags_API_Tag'
        '401':
          $ref: '#/components/responses/Tags_API_401'
        '403':
          $ref: '#/components/responses/Tags_API_403'
        '404':
          $ref: '#/components/responses/Tags_API_404'
        '429':
          $ref: '#/components/responses/Tags_API_429'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags_API_ApiError'
      security:
      - Tags_API_BearerAuth: []
    put:
      tags:
      - Tags
      summary: Update tag
      operationId: updateTag
      description: Updates a tag.
      parameters:
      - $ref: '#/components/parameters/Tags_API_AccountGroupId'
      - name: id
        in: path
        description: ID of tag to update
        required: true
        schema:
          type: string
        example: c6b78e57-81a2-4c5f-a11a-d96c3c664d55
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tags_API_TagInfo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags_API_Tag'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tags_API_Tag'
        '401':
          $ref: '#/components/responses/Tags_API_401'
        '403':
          $ref: '#/components/responses/Tags_API_403'
        '404':
          $ref: '#/components/responses/Tags_API_404'
        '429':
          $ref: '#/components/responses/Tags_API_429'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags_API_ApiError'
      security:
      - Tags_API_BearerAuth: []
    delete:
      tags:
      - Tags
      summary: Delete tag
      operationId: deleteTag
      description: Deletes a tag.
      parameters:
      - $ref: '#/components/parameters/Tags_API_AccountGroupId'
      - $ref: '#/components/parameters/Tags_API_TagIdPath'
      responses:
        '204':
          $ref: '#/components/responses/Tags_API_204'
        '401':
          $ref: '#/components/responses/Tags_API_401'
        '403':
          $ref: '#/components/responses/Tags_API_403'
        '404':
          $ref: '#/components/responses/Tags_API_404'
        '429':
          $ref: '#/components/responses/Tags_API_429'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags_API_ApiError'
      security:
      - Tags_API_BearerAuth: []
components:
  schemas:
    Tags_API_TagFilterMode:
      type: string
      description: 'Type of matching logic applied to the values:


        * `in`: The value on the agent must match one of the list of values provided.

        * `not-in`: The value on the agent must not match any of the list of values provided.

        '
      enum:
      - in
      - not-in
      example: in
    Tags_API_Link:
      type: object
      description: A hyperlink from the containing resource to a URI.
      required:
      - href
      properties:
        href:
          type: string
          description: Its value is either a URI [RFC3986] or a URI template [RFC6570].
          example: https://api.thousandeyes.com/v7/link/to/resource/id
        templated:
          type: boolean
          description: Should be true when the link object's "href" property is a URI template.
        type:
          type: string
          description: Used as a hint to indicate the media type expected when dereferencing the target resource.
        deprecation:
          type: string
          description: Its presence indicates that the link is to be deprecated at a future date. Its value is a URL that should provide further information about the deprecation.
        name:
          type: string
          description: Its value may be used as a secondary key for selecting link objects that share the same relation type.
        profile:
          type: string
          description: A URI that hints about the profile of the target resource.
        title:
          type: string
          description: Intended for labelling the link with a human-readable identifier
        hreflang:
          type: string
          description: Indicates the language of the target resource
    Tags_API_ApiError:
      type: object
      properties:
        timestamp:
          type: integer
          format: int64
          example: 1679677853573
        status:
          type: integer
          example: 500
        errors:
          type: string
          example: Internal Server Error
        path:
          type: string
          format: url
          example: https://api.thousandeyes.com/v7/request/path
    Tags_API_TagFilter:
      type: object
      properties:
        key:
          type: string
          description: 'Filter key used for filtering.


            When `scope` is `default`, accepted values are `agent-id`, `location`, `serial-number`, `public-network`, `local-network`, `connection`, `gateway`, `platform`, `nic-model`, `nic-driver-version`, `agent-type`, `proxy-target`, `vpn-vendor`, `vpn-gateway-address`, `vpn-target`, `vpn-client-network`, `vpn-client-address`, `ip-address-family`, `ssid`, `bssid`, `hostname`, `username`, and `asn`.


            When `scope` is `custom`, use a user-defined check-in metadata key.

            '
          example: vpn-client-network
        values:
          type: array
          example:
          - 10.1.1.0/24
          - 192.168.1.0/24
          items:
            type: string
            description: "Value depends on the key, and may change in the future.\n\n* `agent-id`: The agent identifiers.\n* `location`: The agent location.\n* `serial-number`: The endpoint device serial number.\n* `gateway`: The gateway IP to match.\n* `ssid`: A wildcard match on the SSID. Supports `*` for any characters and `?` for any single character.\n* `username`: A wildcard match on the users that use the agent. Supports `*` for any characters and `?` for any single character.\n* `hostname`: A wildcard match on the host name. Supports `*` for any characters\nand `?` for any single character.\n* `bssid`: BSSID for the wifi. Must be lower case, with colons.\n* `platform`: Type of operating system. Supports `Mac`, `Windows`, and `Linux`.\n* `nic-model`: The network interface controller model. Matching is exact and case-sensitive.\n* `nic-driver-version`: The network interface controller driver version. Matching is exact and case-sensitive.\n* `asn`: Integer Autonomous System (AS) number.\n* `public-network`: Network for agent's public IP in CIDR format, or IP for single IP, for example, `192.45.32.0/22`.\n* `local-network`: Network for agent's local IP in CIDR format, or IP for single IP, for example, `10.100.64.0/20`.\n* `connection`: Type of connection. Supports `Ethernet` or `Wireless`.\n* `agent-type`: Type of agent. Supports `endpoint`, `endpoint-pulse` or `endpoint-csc`.\n* `proxy-target`: The proxy target.\n* `ip-address-family`: `ipv4` or `ipv6`.\n* `vpn-vendor`: Vendor of the VPN software. \n    Examples include: \n\n    * `cisco-anyconnect`\n    * `palo-alto-globalprotect`\n    * `ivanti-connect-secure`\n    * `zscaler-internet-access`\n    * `f5-big-ip`\n* `vpn-gateway-address`: Server-side VPN connection IP address.\n* `vpn-target`: The VPN target.\n* `vpn-client-network`: Network for the VPN client IP in CIDR format, for example, `10.100.32.128/25`.\n* `vpn-client-address`: The VPN client IP, for example, `10.100.32.165`.\n"
            example: 10.1.1.0/24
        mode:
          $ref: '#/components/schemas/Tags_API_TagFilterMode'
        scope:
          $ref: '#/components/schemas/Tags_API_TagFilterScope'
    Tags_API_Tag:
      allOf:
      - $ref: '#/components/schemas/Tags_API_TagInfo'
      - type: object
        properties:
          _links:
            $ref: '#/components/schemas/Tags_API_SelfLinks'
    Tags_API_ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/Tags_API_Error'
      - type: object
        properties:
          errors:
            type:
            - array
            - 'null'
            description: (Optional) When multiple errors occur, the details for each error are listed.
            items:
              $ref: '#/components/schemas/Tags_API_ValidationErrorItem'
    Tags_API_Assignment:
      type: object
      properties:
        id:
          type: string
          description: Object Id
          example: '123'
        type:
          $ref: '#/components/schemas/Tags_API_AssignmentType'
    Tags_API_AssignmentType:
      type: string
      enum:
      - test
      - v-agent
      - endpoint-test
      - dashboard
      - connected-devices-test
    Tags_API_ValidationErrorItem:
      type: object
      properties:
        code:
          type: string
          description: (Optional) A unique error type/code that can be referenced in the documentation for further details.
        field:
          type: string
          description: Identifies the field that triggered this particular error.
        message:
          type: string
          description: A short, human-readable summary of the error.
    Tags_API_UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    Tags_API_Tags:
      type: object
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tags_API_Tag'
        _links:
          $ref: '#/components/schemas/Tags_API_SelfLinks'
    Tags_API_TagFilterScope:
      type: string
      description: 'Scope of the filter.


        * `default`: The filter is from the default set provided by ThousandEyes.

        * `custom`: The filter is user-defined. Set in check-in metadata.

        '
      enum:
      - default
      - custom
      example: custom
      default: default
    Tags_API_TagInfo:
      type: object
      properties:
        assignments:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Tags_API_Assignment'
        accessType:
          $ref: '#/components/schemas/Tags_API_AccessType'
        aid:
          type:
          - integer
          - 'null'
          example: 1234
          format: int64
          description: The account group ID
          readOnly: true
        builtIn:
          type: boolean
          example: true
          description: Indicates whether it is a built-in tag or a user-created (custom) tag.
          readOnly: true
        color:
          type: string
          description: Tag color
          example: '#FF0000'
        createDate:
          type: string
          format: yyyy-MM-ddTHH:mm[:ss]Z
          example: '2022-03-01T23:31:11Z'
          readOnly: true
          description: Tag creation date
        icon:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
          description: The tag's description.
          example: To tag assets in San Francisco
        id:
          type: string
          example: 5aeab5d5-0d34-4d44-a7ac-fb440185295c
          description: The tag ID
          readOnly: true
          format: uuid
        key:
          type: string
          example: branch
          description: The tags's key
        legacyId:
          type:
          - number
          - 'null'
          readOnly: true
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2022-03-01T23:31:11Z'
          readOnly: true
          description: The date and time the tag was last modified.
        objectType:
          $ref: '#/components/schemas/Tags_API_ObjectType'
        type:
          $ref: '#/components/schemas/Tags_API_Type'
        value:
          type: string
          example: sfo
          description: The tag's value
        matchType:
          $ref: '#/components/schemas/Tags_API_TagMatchType'
        filters:
          description: The combination of filters (filter keys) dynamically assigned to an `endpoint-agent` as determined by the matching logic (`and` or `or`). For example, if you filter on `bssid` and `ssid` with a matching logic of `and`, both filters are assigned as tags to the `endpoint-agent`; `or` means either filter can be assigned. **Note:** filters currently only apply to `endpoint-agent` object types.
          type: array
          readOnly: false
          items:
            $ref: '#/components/schemas/Tags_API_TagFilter'
    Tags_API_Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    Tags_API_TagBulkCreateError:
      type: object
      properties:
        tag:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Tags_API_TagInfo'
        responseCode:
          type: integer
          example: 200
          description: HTTP response code
        message:
          type: string
          example: Object successfully created
          description: Status / error message
    Tags_API_TagMatchType:
      description: 'Specifies how filters (tag keys) are applied (matched) to objects for tag assignment.

        * `and`: All filters must be matched.

        * `or`: Any of the filters should match.


        Note: filtering and matching currently only apply to `endpoint-agent` object types, as these functions are used for dynamic tag assignment.

        '
      type: string
      readOnly: false
      enum:
      - and
      - or
      example: and
    Tags_API_SelfLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/Tags_API_Link'
    Tags_API_AccessType:
      type: string
      description: "The access level of the tag. The access level determines the label's visibility in the UI and the permissions required to modify it. Accepted values are:\n\n\n* `all`: The tag is visible and editable by any user in the account group with the standard **View tags** or **Edit tags** permission. Default for all user-created tags.\n\n* `partner`: The tag is owned by a specific integration partner. Only that partner can read or modify it. It's hidden from all regular account users and excluded from their GET responses.\n\n* `system`: Reserved for ThousandEyes internal use only. This value may appear in GET responses on internally managed tags but cannot be set by users or integration partners. \n"
      enum:
      - all
      - partner
      - system
      example: all
    Tags_API_ObjectType:
      type: string
      description: The object type associated with the tag
      enum:
      - test
      - dashboard
      - endpoint-test
      - v-agent
      - connected-devices-test
      - endpoint-agent
      example: test
    Tags_API_ExpandTagsOptions:
      enum:
      - assignments
      type: string
    Tags_API_Type:
      type: string
      description: The nature of the tag - whether the tag is dynamically assigned to objects based on a filter rule or statically assigned to specified objects. Currently only `endpoint-agent` object types support dynamic assignment; all other object types (for example, `test`, `agent`) support only static assignment.
      enum:
      - static
      - dynamic
      example: static
    Tags_API_BulkTagResponse:
      type: object
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tags_API_Tag'
        errors:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Tags_API_TagBulkCreateError'
        _links:
          $ref: '#/components/schemas/Tags_API_SelfLinks'
  responses:
    Tags_API_401:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Tags_API_UnauthorizedError'
    Tags_API_404:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Tags_API_Error'
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI or a wrong ID
            instance: /v7
    Tags_API_429:
      description: Exhausted rate limit for the organization
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Tags_API_Error'
    Tags_API_204:
      description: No content
    Tags_API_403:
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Tags_API_Error'
    Tags_API_400:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Tags_API_ValidationError'
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Your request object contains invalid fields.
            instance: /v7
            errors:
            - code: AM-5432
              field: firstName
              message: firstName cannot have fancy characters
            - code: DASH-5622
              field: password
              message: Password cannot be blank
  parameters:
    Tags_API_AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
    Tags_API_ExpandTags:
      name: expand
      in: query
      description: Optional, to retrieve associated assignments. Only static tags will return object assignments.
      required: false
      schema:
        example:
        - assignments
        items:
          $ref: '#/components/schemas/Tags_API_ExpandTagsOptions'
        type: array
      style: form
    Tags_API_TagIdPath:
      name: id
      in: path
      description: Tag ID
      required: true
      schema:
        type: string
      example: c6b78e57-81a2-4c5f-a11a-d96c3c664d55
  securitySchemes:
    Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Instant_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    ThousandEyes_for_OpenTelemetry_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Snapshots_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Usage_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Templates_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    BGP_Monitors_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Internet_Insights_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Tags_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Event_Detection_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agent_Labels_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Instant_Scheduled_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Emulation_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Dashboards_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Credentials_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Cloud_Insights_Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Autonomous_Systems_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    API_Token_Management_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Alerts_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Administrative_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
externalDocs:
  description: Find out more about ThousandEyes
  url: https://developer.thousandeyes.com/
x-tagGroups:
- name: Tests API
  tags:
  - Tests
  - Agent to Server Tests
  - Agent to Agent Tests
  - BGP Tests
  - DNS Server Tests
  - DNS Trace Tests
  - DNSSEC Tests
  - HTTP Server Tests
  - Page Load Tests
  - Web Transaction Tests
  - API Tests
  - FTP Server Tests
  - SIP Server Tests
  - Voice Tests
  - Path Visualization Interface Groups
- name: Test Results API
  tags:
  - Network Test Results
  - Web HTTP Server Test Results
  - Web Page Load Test Results
  - Web Transactions Test Results
  - API Test Results
  - Web FTP Server Test Results
  - DNS Trace Test Results
  - DNS Server Test Results
  - DNSSEC Test Results
  - Voice SIP Server Test Results
  - Voice RTP Server Test Results
  - Network BGP Test Results
- name: Instant Tests API
  tags:
  - Instant Tests
  - Agent to Agent Instant Tests
  - Agent to Server Instant Tests
  - DNS Server Instant Tests
  - DNS Trace Instant Tests
  - DNSSEC Instant Tests
  - HTTP Server Instant Tests
  - HTTP Page Load Instant Tests
  - Web Transaction Instant Tests
  - API Instant Tests
  - FTP Server Instant Tests
  - SIP Server Instant Tests
  - Voice Instant Tests
- name: ThousandEyes for OpenTelemetry API
  tags:
  - Streaming
- name: Test Snapshots API
  tags:
  - Test Snapshots
- name: Usage API
  tags:
  - Usage
  - Quotas
- name: Templates API
  tags:
  - Templates
- name: BGP Monitors API
  tags:
  - BGP monitors
- name: Internet Insights API
  tags:
  - Internet Insights Catalog Providers
  - Internet Insights Outages
- name: Tags API
  tags:
  - Tags
  - Tag Assignment
- name: Integrations API
  tags:
  - Credential Vault Operations
  - Operation Connectors
  - CyberArk Conjur Connectors
  - Webhook Operations
  - Generic Connectors
  - Panorama Connectors
- name: Event Detection API
  tags:
  - Events
- name: Endpoint Tests API
  tags:
  - Endpoint Scheduled Tests
  - Agent to Server Endpoint Scheduled Tests
  - HTTP Server Endpoint Scheduled Tests
  - Agent To Server Endpoint Dynamic Tests
  - Endpoint Real User Tests
- name: Endpoint Test Results API
  tags:
  - Network Endpoint Scheduled Test Results
  - HTTP Server Endpoint Scheduled Test Results
  - Network Dynamic Endpoint Test Results
  - Real User Endpoint Test Results
  - Local Network Endpoint Test Results
- name: Endpoint Agent Labels API
  tags:
  - Endpoint Agent Labels
- name: Endpoint Instant Scheduled Tests API
  tags:
  - Agent to Server Endpoint Instant Scheduled Tests
  - HTTP Server Endpoint Instant Scheduled Tests
  - Run Endpoint Instant Scheduled Tests
- name: Endpoint Agents API
  tags:
  - Endpoint Agents
  - Endpoint Agent Log Items
  - Endpoint Proxies
  - Endpoint Agents Transfer
- name: Emulation API
  tags:
  - Emulation
- name: Dashboards API
  tags:
  - Dashboards
  - Dashboard Snapshots
  - Dashboards Filters
- name: Credentials API
  tags:
  - Credentials
- name: Cloud Insights Integrations API
  tags:
  - Cloud Insights Integrations
  - Cloud Insights Integration Policy Settings
- name: Autonomous Systems API
  tags:
  - Autonomous Systems
  - Autonomous System Prefixes
- name: API Token Management API
  tags:
  - API Token
- name: Alerts API
  tags:
  - Alerts
  - Alert Rules
  - Alert Suppression Windows
- name: Agents API
  tags:
  - Cloud and Enterprise Agents
  - Local Problems
  - Enterprise Agent Cluster
  - Cloud and Enterprise Agent Notification Rules
  - Agent Proxies
  - Tests Assignment on Agents
- name: Administrative API
  tags:
  - Account Groups
  - Users
  - Roles
  - Permissions
  - User Events
