openapi: 3.2.0
info:
  version: 7.0.100
  title: ThousandEyes BGP monitors API
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
tags:
- name: BGP monitors
  x-displayName: BGP monitors
paths:
  /monitors:
    get:
      tags:
      - BGP monitors
      summary: List BGP monitors
      operationId: getBgpMonitors
      description: Retrieves a list of BGP monitors available to your account in ThousandEyes, including public and private feeds.
      parameters:
      - $ref: '#/components/parameters/BGP_Monitors_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BGP_Monitors_API_Monitors'
        '401':
          $ref: '#/components/responses/BGP_Monitors_API_401'
        '403':
          $ref: '#/components/responses/BGP_Monitors_API_403'
        '404':
          $ref: '#/components/responses/BGP_Monitors_API_404'
        '429':
          $ref: '#/components/responses/BGP_Monitors_API_429'
        '500':
          $ref: '#/components/responses/BGP_Monitors_API_500'
      security:
      - BGP_Monitors_API_BearerAuth: []
components:
  schemas:
    BGP_Monitors_API_MonitorType:
      type: string
      description: Type of monitor
      enum:
      - public
      - private
      example: public
    BGP_Monitors_API_UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    BGP_Monitors_API_Monitor:
      type: object
      properties:
        countryId:
          type: string
          description: Country ID
          example: GB
          readOnly: true
        monitorId:
          type: string
          description: BGP monitor ID
          example: '1234'
          readOnly: true
        ipAddress:
          type: string
          description: IP address of the BGP monitor
          example: 4.69.184.193
        network:
          type: string
          description: Name of the autonomous system in which the monitor is found
          example: Level 3 Communications, Inc. (AS 3356)
        monitorType:
          $ref: '#/components/schemas/BGP_Monitors_API_MonitorType'
        monitorName:
          type: string
          description: Display name of the BGP monitor
          example: Seattle, WA
    BGP_Monitors_API_Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    BGP_Monitors_API_Link:
      type: object
      description: A hyperlink from the containing resource to a URI.
      required:
      - href
      properties:
        href:
          type: string
          description: Its value is either a URI [RFC3986] or a URI template [RFC6570].
          example: https://api.thousandeyes.com/v7/link/to/resource/id
        templated:
          type: boolean
          description: Should be true when the link object's "href" property is a URI template.
        type:
          type: string
          description: Used as a hint to indicate the media type expected when dereferencing the target resource.
        deprecation:
          type: string
          description: Its presence indicates that the link is to be deprecated at a future date. Its value is a URL that should provide further information about the deprecation.
        name:
          type: string
          description: Its value may be used as a secondary key for selecting link objects that share the same relation type.
        profile:
          type: string
          description: A URI that hints about the profile of the target resource.
        title:
          type: string
          description: Intended for labelling the link with a human-readable identifier
        hreflang:
          type: string
          description: Indicates the language of the target resource
    BGP_Monitors_API_SelfLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/BGP_Monitors_API_Link'
    BGP_Monitors_API_Monitors:
      type: object
      properties:
        monitors:
          type: array
          items:
            $ref: '#/components/schemas/BGP_Monitors_API_Monitor'
        _links:
          $ref: '#/components/schemas/BGP_Monitors_API_SelfLinks'
  responses:
    BGP_Monitors_API_403:
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BGP_Monitors_API_Error'
    BGP_Monitors_API_404:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BGP_Monitors_API_Error'
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI or a wrong ID
            instance: /v7
    BGP_Monitors_API_500:
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BGP_Monitors_API_Error'
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
    BGP_Monitors_API_401:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BGP_Monitors_API_UnauthorizedError'
    BGP_Monitors_API_429:
      description: Exhausted rate limit for the organization
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BGP_Monitors_API_Error'
  parameters:
    BGP_Monitors_API_AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
  securitySchemes:
    Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Instant_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    ThousandEyes_for_OpenTelemetry_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Snapshots_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Usage_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Templates_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    BGP_Monitors_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Internet_Insights_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Tags_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Event_Detection_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agent_Labels_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Instant_Scheduled_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Emulation_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Dashboards_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Credentials_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Cloud_Insights_Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Autonomous_Systems_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    API_Token_Management_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Alerts_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Administrative_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
externalDocs:
  description: Find out more about ThousandEyes
  url: https://developer.thousandeyes.com/
x-tagGroups:
- name: Tests API
  tags:
  - Tests
  - Agent to Server Tests
  - Agent to Agent Tests
  - BGP Tests
  - DNS Server Tests
  - DNS Trace Tests
  - DNSSEC Tests
  - HTTP Server Tests
  - Page Load Tests
  - Web Transaction Tests
  - API Tests
  - FTP Server Tests
  - SIP Server Tests
  - Voice Tests
  - Path Visualization Interface Groups
- name: Test Results API
  tags:
  - Network Test Results
  - Web HTTP Server Test Results
  - Web Page Load Test Results
  - Web Transactions Test Results
  - API Test Results
  - Web FTP Server Test Results
  - DNS Trace Test Results
  - DNS Server Test Results
  - DNSSEC Test Results
  - Voice SIP Server Test Results
  - Voice RTP Server Test Results
  - Network BGP Test Results
- name: Instant Tests API
  tags:
  - Instant Tests
  - Agent to Agent Instant Tests
  - Agent to Server Instant Tests
  - DNS Server Instant Tests
  - DNS Trace Instant Tests
  - DNSSEC Instant Tests
  - HTTP Server Instant Tests
  - HTTP Page Load Instant Tests
  - Web Transaction Instant Tests
  - API Instant Tests
  - FTP Server Instant Tests
  - SIP Server Instant Tests
  - Voice Instant Tests
- name: ThousandEyes for OpenTelemetry API
  tags:
  - Streaming
- name: Test Snapshots API
  tags:
  - Test Snapshots
- name: Usage API
  tags:
  - Usage
  - Quotas
- name: Templates API
  tags:
  - Templates
- name: BGP Monitors API
  tags:
  - BGP monitors
- name: Internet Insights API
  tags:
  - Internet Insights Catalog Providers
  - Internet Insights Outages
- name: Tags API
  tags:
  - Tags
  - Tag Assignment
- name: Integrations API
  tags:
  - Credential Vault Operations
  - Operation Connectors
  - CyberArk Conjur Connectors
  - Webhook Operations
  - Generic Connectors
  - Panorama Connectors
- name: Event Detection API
  tags:
  - Events
- name: Endpoint Tests API
  tags:
  - Endpoint Scheduled Tests
  - Agent to Server Endpoint Scheduled Tests
  - HTTP Server Endpoint Scheduled Tests
  - Agent To Server Endpoint Dynamic Tests
  - Endpoint Real User Tests
- name: Endpoint Test Results API
  tags:
  - Network Endpoint Scheduled Test Results
  - HTTP Server Endpoint Scheduled Test Results
  - Network Dynamic Endpoint Test Results
  - Real User Endpoint Test Results
  - Local Network Endpoint Test Results
- name: Endpoint Agent Labels API
  tags:
  - Endpoint Agent Labels
- name: Endpoint Instant Scheduled Tests API
  tags:
  - Agent to Server Endpoint Instant Scheduled Tests
  - HTTP Server Endpoint Instant Scheduled Tests
  - Run Endpoint Instant Scheduled Tests
- name: Endpoint Agents API
  tags:
  - Endpoint Agents
  - Endpoint Agent Log Items
  - Endpoint Proxies
  - Endpoint Agents Transfer
- name: Emulation API
  tags:
  - Emulation
- name: Dashboards API
  tags:
  - Dashboards
  - Dashboard Snapshots
  - Dashboards Filters
- name: Credentials API
  tags:
  - Credentials
- name: Cloud Insights Integrations API
  tags:
  - Cloud Insights Integrations
  - Cloud Insights Integration Policy Settings
- name: Autonomous Systems API
  tags:
  - Autonomous Systems
  - Autonomous System Prefixes
- name: API Token Management API
  tags:
  - API Token
- name: Alerts API
  tags:
  - Alerts
  - Alert Rules
  - Alert Suppression Windows
- name: Agents API
  tags:
  - Cloud and Enterprise Agents
  - Local Problems
  - Enterprise Agent Cluster
  - Cloud and Enterprise Agent Notification Rules
  - Agent Proxies
  - Tests Assignment on Agents
- name: Administrative API
  tags:
  - Account Groups
  - Users
  - Roles
  - Permissions
  - User Events
