openapi: 3.2.0
info:
  title: Integrations Panorama Connectors API
  description: '**Note:** The Webhook Operations APIs are not available for ThousandEyes for Government instance.


    Manage connectors and operations.

    '
  version: 7.0.100
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
servers:
- url: https://api.thousandeyes.com/v7
  description: ThousandEyes API v7
security:
- BearerAuth: []
tags:
- name: Panorama Connectors
  description: A Panorama connector represents an instance of Palo Alto Networks Panorama that you can integrate with the ThousandEyes platform.
paths:
  /connectors/panorama/{id}:
    get:
      tags:
      - Panorama Connectors
      summary: Retrieve Panorama connector
      description: Retrieves details of a Panorama connector by its ID.
      operationId: getPanoramaConnector
      parameters:
      - $ref: '#/components/parameters/connectorIdPath'
        name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: Panorama connector details.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PanoramaConnector'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    put:
      tags:
      - Panorama Connectors
      summary: Update Panorama connector
      description: Replaces the Panorama connector specified by ID. The request must include the complete connector configuration, including authentication credentials; existing credentials are not retained when authentication is omitted.
      operationId: updatePanoramaConnector
      parameters:
      - $ref: '#/components/parameters/connectorIdPath'
        name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PanoramaConnector'
            example:
              type: panorama
              name: Branch Panorama
              target: https://panorama.example.com
              authentication:
                username: panorama-user
                password: <panorama-password>
                keyTtl: 40
                type: pan-key-gen
        required: true
      responses:
        '200':
          description: The updated Panorama connector.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PanoramaConnector'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    delete:
      tags:
      - Panorama Connectors
      summary: Delete Panorama connector
      description: Deletes the Panorama connector specified by ID.
      operationId: deletePanoramaConnector
      parameters:
      - $ref: '#/components/parameters/connectorIdPath'
        name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '204':
          description: No Content.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /connectors/panorama/{id}/operations:
    get:
      tags:
      - Panorama Connectors
      summary: List operation IDs for Panorama connector
      description: Returns a list of operation IDs assigned to a Panorama connector.
      operationId: getPanoramaConnectorOperations
      parameters:
      - $ref: '#/components/parameters/connectorIdPath'
        name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: Operation IDs assigned to the Panorama connector.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Assignments'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    put:
      tags:
      - Panorama Connectors
      summary: Assign operations to Panorama connector
      description: Assigns operations to a Panorama connector. This replaces any existing assignments. Passing an empty array removes all operation assignments from the connector.
      operationId: setPanoramaConnectorOperations
      parameters:
      - $ref: '#/components/parameters/connectorIdPath'
        name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        description: List of operation IDs to assign to the connector.
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
            example:
            - ca39314d-eb4f-496f-9435-b5d20b1bfbff
            - a32cfbab-32f6-41d8-9027-7127cba965dd
        required: true
      responses:
        '200':
          description: Operations assigned successfully.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Assignments'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /connectors/panorama:
    get:
      tags:
      - Panorama Connectors
      summary: List Panorama connectors
      description: Returns a list of Panorama connectors in the specified account group. If no account group is specified, the user’s default account group is used.
      operationId: getPanoramaConnectors
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: A list of Panorama connectors.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PanoramaConnectors'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
      - Panorama Connectors
      summary: Create Panorama connector
      description: Creates a new Panorama connector.
      operationId: createPanoramaConnector
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        description: Panorama connector configuration.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PanoramaConnector'
            example:
              type: panorama
              name: Branch Panorama
              target: https://panorama.example.com
              authentication:
                username: panorama-user
                password: <panorama-password>
                keyTtl: 40
                type: pan-key-gen
        required: true
      responses:
        '201':
          description: The created Panorama connector.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PanoramaConnector'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
components:
  schemas:
    ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        properties:
          errors:
            type:
            - array
            - 'null'
            description: (Optional) When multiple errors occur, the details for each error are listed.
            items:
              $ref: '#/components/schemas/ValidationErrorItem'
    PanoramaConnectorAuth:
      type: object
      description: Authentication configuration for the Panorama connector.
      discriminator:
        propertyName: type
        mapping:
          other-token: '#/components/schemas/PanoramaTokenAuthentication'
          pan-key-gen: '#/components/schemas/PanoramaKeyGenAuthentication'
      oneOf:
      - $ref: '#/components/schemas/PanoramaTokenAuthentication'
      - $ref: '#/components/schemas/PanoramaKeyGenAuthentication'
    ValidationErrorItem:
      type: object
      properties:
        code:
          type: string
          description: (Optional) A unique error type/code that can be referenced in the documentation for further details.
        field:
          type: string
          description: Identifies the field that triggered this particular error.
        message:
          type: string
          description: A short, human-readable summary of the error.
    PanoramaConnector:
      description: Palo Alto Networks Panorama connector configuration.
      required:
      - authentication
      - name
      - target
      - type
      type: object
      properties:
        id:
          type: string
          description: Unique ID of the Panorama connector.
          readOnly: true
          example: cb1b8033-ea2d-4e9b-a920-fe87850693cf
        type:
          type: string
          description: Connector type.
          enum:
          - panorama
          example: panorama
        name:
          type: string
          description: Name of the Panorama connector.
          example: Branch Panorama
        target:
          type: string
          description: URL of the Panorama instance.
          example: https://panorama.example.com
        lastModifiedDate:
          type: integer
          description: Time when the connector was last modified, in milliseconds since the Unix epoch.
          format: int64
          readOnly: true
          example: 1770293655756
        authentication:
          $ref: '#/components/schemas/PanoramaConnectorAuth'
        _links:
          $ref: '#/components/schemas/SelfLinks'
    PanoramaConnectors:
      type: object
      description: Collection of Panorama connectors.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PanoramaConnector'
        _links:
          $ref: '#/components/schemas/SelfLinks'
    PanoramaTokenAuthentication:
      required:
      - token
      - type
      type: object
      description: Authentication using an existing Panorama API key.
      properties:
        token:
          type: string
          description: Panorama API key used for authentication.
          writeOnly: true
        type:
          type: string
          description: Authentication type.
          enum:
          - other-token
    UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    Link:
      type: object
      description: A hyperlink from the containing resource to a URI.
      required:
      - href
      properties:
        href:
          type: string
          description: Its value is either a URI [RFC3986] or a URI template [RFC6570].
          example: https://api.thousandeyes.com/v7/link/to/resource/id
        templated:
          type: boolean
          description: Should be true when the link object's "href" property is a URI template.
        type:
          type: string
          description: Used as a hint to indicate the media type expected when dereferencing the target resource.
        deprecation:
          type: string
          description: Its presence indicates that the link is to be deprecated at a future date. Its value is a URL that should provide further information about the deprecation.
        name:
          type: string
          description: Its value may be used as a secondary key for selecting link objects that share the same relation type.
        profile:
          type: string
          description: A URI that hints about the profile of the target resource.
        title:
          type: string
          description: Intended for labelling the link with a human-readable identifier
        hreflang:
          type: string
          description: Indicates the language of the target resource
    Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    PanoramaKeyGenAuthentication:
      required:
      - keyTtl
      - password
      - type
      - username
      type: object
      description: Authentication using credentials to generate a Panorama API key.
      properties:
        username:
          type: string
          description: Username used to generate the Panorama API key.
          example: panorama-user
        password:
          type: string
          description: Password used to generate the Panorama API key.
          format: password
          writeOnly: true
        keyTtl:
          type: integer
          description: Time to live for the generated Panorama API key, in minutes.
          format: int64
          minimum: 30
          example: 40
        type:
          type: string
          enum:
          - pan-key-gen
    SelfLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/Link'
    Assignments:
      type: object
      properties:
        items:
          type: array
          items:
            type: string
            example: ca39314d-eb4f-496f-9435-b5d20b1bfbff
        _links:
          $ref: '#/components/schemas/SelfLinks'
      description: A list of assigned items.
  parameters:
    connectorIdPath:
      name: id
      in: path
      description: The connector ID.
      required: true
      schema:
        type: string
      example: cb1b8033-ea2d-4e9b-a920-fe87850693cf
    AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
  responses:
    '404':
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI or a wrong ID
            instance: /v7
    '500':
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
    '400':
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ValidationError'
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Your request object contains invalid fields.
            instance: /v7
            errors:
            - code: AM-5432
              field: firstName
              message: firstName cannot have fancy characters
            - code: DASH-5622
              field: password
              message: Password cannot be blank
    '403':
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    '401':
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
