openapi: 3.2.0
info:
  version: 7.0.100
  title: Dashboards API
  description: Manage ThousandEyes Dashboards.
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
security:
- BearerAuth: []
tags:
- name: Dashboards
  description: Dashboards and Widgets operations
paths:
  /dashboards:
    get:
      tags:
      - Dashboards
      operationId: getDashboards
      summary: List dashboards
      description: 'Returns a list of dashboards and their settings within your account group.

        '
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiDashboards'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
      - Dashboards
      operationId: createDashboard
      summary: Create dashboard
      description: 'Creates a new dashboard in your account group. To create a dashboard,  you must have one of the following permissions:

        * `Edit dashboard templates for all users in account group` permission (Account Admin).


        * `Edit own dashboard templates` permission (Regular User).

        '
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      requestBody:
        description: Request body schema to create a dashboard.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /dashboards/{dashboardId}:
    get:
      tags:
      - Dashboards
      operationId: getDashboard
      summary: Retrieve dashboard
      description: 'Returns a list of widgets within a dashboard, along with the dashboard''s metadata.

        '
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiDashboard'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      tags:
      - Dashboards
      summary: Update dashboard
      operationId: updateDashboard
      description: "Updates an existing dashboard in your account group. \n\n**Note**: \n* Users with the `Edit dashboard templates for all users in account group` permission (Account Admin) can update any dashboard.\n* Users with the `Edit own dashboard templates` permission (Regular User) can only update the dashboards they have created themselves.\n"
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        description: Request body schema to update a dashboard.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    delete:
      tags:
      - Dashboards
      operationId: deleteDashboard
      summary: Delete dashboard
      description: 'Deletes a dashboard using the `dashboardId` provided in the request.


        **Note**:

        * Users with the `Edit dashboard templates for all users in account group` permission (Account Admin) can delete any dashboard.

        * Users with the `Edit own dashboard templates` permission (Regular User) can only delete the dashboards they have created themselves.

        '
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /dashboards/{dashboardId}/clone:
    post:
      tags:
      - Dashboards
      operationId: cloneDashboard
      summary: Clone dashboard
      description: 'Creates a dashboard by cloning an existing dashboard. By default, the clone inherits the source dashboard''s widgets, layout, default timespan, tags, and other supported settings. Values provided in the request override the corresponding source dashboard settings. Sharing settings are not inherited. If `title` is omitted, the API generates a unique title for the clone.


        **Note**:

        * Users with the `Edit dashboard templates for all users in account group` permission (Account Admin) can clone any dashboard they can view.

        * Users with the `Edit own dashboard templates` permission (Regular User) can clone dashboards they can view. The current user owns the cloned dashboard.

        '
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        description: Optional overrides for the cloned dashboard.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneDashboardRequest'
        required: false
      responses:
        '201':
          description: Dashboard cloned successfully.
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /dashboards/{dashboardId}/actions/schedule:
    put:
      tags:
      - Dashboards
      operationId: updateDashboardSchedule
      summary: Create or update dashboard snapshot schedule
      description: 'Creates or replaces the snapshot schedule for a dashboard. Set `repeat` to `NONE` to generate one snapshot at `startTime`. Other `repeat` values create recurring snapshots. Schedule settings control when snapshots are generated, the data time range included in each snapshot, and email delivery options.

        '
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/DashboardIdPath'
      requestBody:
        required: true
        description: Snapshot schedule configuration.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardScheduleRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiDashboard'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: The dashboard changed while the schedule operation was being applied.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: about:blank
                title: Conflict
                status: 409
                detail: The dashboard changed while its schedule was being updated. Retry the request.
                instance: /v7/dashboards/{dashboardId}/actions/schedule
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    delete:
      tags:
      - Dashboards
      operationId: deleteDashboardSchedule
      summary: Delete dashboard snapshot schedule
      description: 'Removes the snapshot schedule from a dashboard. Existing snapshots are not deleted.

        '
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/DashboardIdPath'
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: The dashboard changed while the schedule operation was being applied.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: about:blank
                title: Conflict
                status: 409
                detail: The dashboard changed while its schedule was being deleted. Retry the request.
                instance: /v7/dashboards/{dashboardId}/actions/schedule
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /dashboards/{dashboardId}/widgets/{widgetId}:
    get:
      tags:
      - Dashboards
      operationId: getDashboardWidgetData
      summary: Retrieve dashboard widget data
      description: 'Returns the raw data displayed within a widget in the dashboard.

        '
      parameters:
      - $ref: '#/components/parameters/DashboardIdPath'
      - $ref: '#/components/parameters/WidgetId'
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      - $ref: '#/components/parameters/DashboardMax'
      - $ref: '#/components/parameters/DashboardCursor'
      - $ref: '#/components/parameters/DashboardSort'
      - $ref: '#/components/parameters/DashboardOrder'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiWidgetDataResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /dashboards/{dashboardId}/widgets/{widgetId}/cards/{cardId}:
    get:
      tags:
      - Dashboards
      operationId: getIndividualCardData
      summary: Retrieve individual card data from numbers widget
      description: 'Returns the raw data for an individual card within a numbers widget in the dashboard.

        '
      parameters:
      - $ref: '#/components/parameters/DashboardIdPath'
      - $ref: '#/components/parameters/WidgetId'
      - $ref: '#/components/parameters/CardId'
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiNumbersCardData'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /dashboards/{dashboardId}/widgets/{widgetId}/columns/{columnId}:
    get:
      tags:
      - Dashboards
      operationId: getIndividualColumnData
      summary: Retrieve individual column data from multi-metric table widget
      description: 'Returns the raw data for an individual column within a multi-metric table widget in the dashboard.

        '
      parameters:
      - $ref: '#/components/parameters/DashboardIdPath'
      - $ref: '#/components/parameters/WidgetId'
      - $ref: '#/components/parameters/ColumnId'
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiMultiMetricColumnData'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
components:
  schemas:
    ApiGroupedBarchartWidget:
      type: object
      description: Displays grouped bars, each representing multiple data points. You can configure the bars to align horizontally or vertically.
      allOf:
      - $ref: '#/components/schemas/Widget'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/BarChartGroupedWidgetType'
          groupBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          axisGroupBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          sortBy:
            $ref: '#/components/schemas/WidgetSortProperty'
          sortDirection:
            $ref: '#/components/schemas/WidgetSortDirection'
          limit:
            $ref: '#/components/schemas/WidgetLimit'
          showLabels:
            type: boolean
            description: Displays labels on each bar when set to `true`.
          isHorizontalBarChart:
            type: boolean
          dataSource:
            $ref: '#/components/schemas/GroupedBarChartDatasource'
    ApiNumbersCardWidget:
      type: object
      description: A widget composed of multiple cards, each presenting a singular metric, such as average packet loss, page load time, or alert count.
      allOf:
      - $ref: '#/components/schemas/Widget'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/NumberWidgetType'
          numberCards:
            type: array
            items:
              $ref: '#/components/schemas/ApiNumbersCard'
          dataSource:
            $ref: '#/components/schemas/NumbersCardDatasource'
    ApiAgentStatusAgent:
      type: object
      description: Agent shown in agent status widget.
      properties:
        agentId:
          type: string
          description: Identifier of the agent.
          example: '6522'
        status:
          $ref: '#/components/schemas/EnterpriseAgentState'
        ipInfo:
          $ref: '#/components/schemas/ApiAgentStatusIpInfo'
        agentName:
          type: string
          description: Name of the agent
          example: 0c3898000117
        location:
          $ref: '#/components/schemas/ApiAgentLocation'
    DashboardScheduleTimespanPeriod:
      type: string
      enum:
      - DAY
      - WEEK
      - MONTH
      example: WEEK
    DashboardScheduleAfterEndCondition:
      type: object
      required:
      - endConditionType
      - value
      properties:
        endConditionType:
          type: string
          pattern: ^AFTER$
          description: Identifies a schedule that ends after a number of occurrences.
          example: AFTER
        value:
          type: integer
          format: int64
          minimum: 1
          description: Number of schedule occurrences after which the recurrence ends.
          example: 10
    ApiMultiSearchFilterApiTestTableFilterKey:
      type: object
      description: A multi search filter key within the Multi-Metric table widget. The key represents the filter name, and the value specifies the filter value.
      properties:
        key:
          $ref: '#/components/schemas/TestTableFilterKey'
        value:
          type: string
    EndDate:
      type: string
      format: date-time
      example: '2022-07-18T22:00:54Z'
      description: (Optional) When passing `window` or `endDate` parameter,  the client will also receive the `endDate` field indicating the UTC end date of the data's time range being retrieved  (ISO date-time format).
      readOnly: true
    PieChartDatasource:
      type: string
      description: Datasource of the pie chart widget.
      enum:
      - CLOUD_AND_ENTERPRISE_AGENTS
      - ENDPOINT_AGENTS
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_SCHEDULED_TEST
      - CLOUD_NATIVE_MONITORING
      - TRAFFIC_INSIGHTS_MONITORING
      example: ENDPOINT_AGENTS
    TableDatasource:
      type: string
      description: Datasource of the table widget.
      enum:
      - ALERTS
      - CLOUD_AND_ENTERPRISE_AGENTS
      - DEVICES
      - ENDPOINT_AGENTS
      - ENDPOINT_AST_TEST
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_LOCAL_NETWORK
      - ENDPOINT_LOCAL_NETWORK_WIRELESS
      - ENDPOINT_SCHEDULED_TEST
      - INTERNET_INSIGHTS
      - ROUTING
      - CLOUD_NATIVE_MONITORING
      - TRAFFIC_INSIGHTS_MONITORING
      example: ENDPOINT_AGENTS
    LegacyApiDashboard:
      type: object
      deprecated: true
      properties:
        accountId:
          deprecated: true
          type: integer
          format: int64
          readOnly: true
          example: 1234
          description: Identifier for the account group associated with a dashboard.
        createdBy:
          deprecated: true
          type: integer
          format: int64
          readOnly: true
          example: 1
          description: Identifier for the user that created a dashboard.
        modifiedBy:
          deprecated: true
          type: integer
          format: int64
          readOnly: true
          example: 1
          description: Identifier for the user that last modified a dashboard.
        modifiedDate:
          deprecated: true
          type: string
          readOnly: true
          example: '2023-05-16 10:14:28'
          description: UTC date/time when a dashboard was last modified.
        globalOverride:
          deprecated: true
          type: boolean
          description: When set to `true`, the defaultTimespan is used and overrides the widget's timespan. If set to `false`, the the widget's timespan is used.
        migratedReport:
          deprecated: true
          type: boolean
          readOnly: true
          description: True if this dashboard was previously a report.
          example: false
        apiLink:
          deprecated: true
          type: array
          description: A links array containing the self and the snapshots links.
          items:
            type: object
            additionalProperties: true
    ApiMultiMetricColumn:
      type: object
      description: Defines a column within a table that aggregates and displays various metrics (Multi-Metric table).
      properties:
        id:
          type: string
        dataSource:
          $ref: '#/components/schemas/MultiMetricsTableDatasource'
        metricGroup:
          $ref: '#/components/schemas/MetricGroup'
        direction:
          $ref: '#/components/schemas/DashboardMetricDirection'
        metric:
          $ref: '#/components/schemas/DashboardMetric'
        filters:
          $ref: '#/components/schemas/WidgetFilters'
        measure:
          $ref: '#/components/schemas/ApiWidgetMeasure'
        _links:
          $ref: '#/components/schemas/SelfLinks'
    TestTableDatasource:
      type: string
      description: Datasource of the test table widget.
      enum:
      - ALERTS
      - DEVICES
      - DNSP
      - ENDPOINT_AGENTS
      - ENDPOINT_SCHEDULED_TEST
      - ENDPOINT_AST_TEST
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_LOCAL_NETWORK
      - ENDPOINT_LOCAL_NETWORK_WIRELESS
      - ROUTING
      - CLOUD_AND_ENTERPRISE_AGENTS
      - INTERNET_INSIGHTS
      - APPDYNAMICS_SERVICE_HEALTH
      - CLOUD_NATIVE_MONITORING
      - TRAFFIC_INSIGHTS_MONITORING
      example: CLOUD_AND_ENTERPRISE_AGENTS
    BoxAndWhiskersDatasource:
      type: string
      description: Datasource of the box and whiskers widget.
      enum:
      - ALERTS
      - CLOUD_AND_ENTERPRISE_AGENTS
      - DEVICES
      - ENDPOINT_AGENTS
      - ENDPOINT_AST_TEST
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_LOCAL_NETWORK
      - ENDPOINT_LOCAL_NETWORK_WIRELESS
      - ENDPOINT_SCHEDULED_TEST
      - INTERNET_INSIGHTS
      - ROUTING
      - CLOUD_NATIVE_MONITORING
      - TRAFFIC_INSIGHTS_MONITORING
      example: INTERNET_INSIGHTS
    LegacyDefaultTimespan:
      type: object
      deprecated: true
      properties:
        timespanDuration:
          deprecated: true
          type: integer
          format: int64
          description: Relative timespan in seconds.
          example: 7200
        timespanStart:
          deprecated: true
          type: string
          description: UTC start date of the timespan range.
          example: '2023-05-16 10:14:28'
        timespanEnd:
          deprecated: true
          type: string
          description: UTC end date of the timespan range.
          example: '2023-05-16 11:14:28'
    ApiBoxAndWhiskersWidget:
      type: object
      description: 'A widget that displays a box and whisker plot, mapping data points over time with key statistics: median, range, and quartiles.'
      allOf:
      - $ref: '#/components/schemas/Widget'
      - $ref: '#/components/schemas/ScalableWidget'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/BoxAndWhiskersWidgetType'
          groupBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          dataSource:
            $ref: '#/components/schemas/BoxAndWhiskersDatasource'
    AgentStatusDatasource:
      type: string
      description: Datasource of the agent to retrieve status.
      enum:
      - ALERTS
      - DEVICES
      - DNSP
      - ENDPOINT_AGENTS
      - ENDPOINT_SCHEDULED_TEST
      - ENDPOINT_AST_TEST
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_LOCAL_NETWORK
      - ENDPOINT_LOCAL_NETWORK_WIRELESS
      - ROUTING
      - CLOUD_AND_ENTERPRISE_AGENTS
      - INTERNET_INSIGHTS
      - APPDYNAMICS_SERVICE_HEALTH
      - CLOUD_NATIVE_MONITORING
      - TRAFFIC_INSIGHTS_MONITORING
      example: ENDPOINT_AGENTS
    DashboardSchedule:
      description: Snapshot schedule for a dashboard. A `repeat` value of `NONE` represents a one-time schedule.
      type: object
      required:
      - cronSpec
      - dataSource
      - dataTimespan
      - flagEnabled
      properties:
        cronSpec:
          $ref: '#/components/schemas/DashboardScheduleCronSpec'
        dataSource:
          $ref: '#/components/schemas/DashboardScheduleDataSource'
        dataTimespan:
          $ref: '#/components/schemas/DashboardScheduleTimespan'
        flagEnabled:
          type: boolean
          description: When `true`, the schedule is active and snapshots are generated according to `cronSpec`.
          example: true
        flagLocked:
          type: boolean
          description: When `true`, the schedule configuration is locked and cannot be edited through the web application.
          example: false
        flagAutoShare:
          type: boolean
          description: When `true`, generated snapshots are automatically shared with schedule recipients.
          example: false
        flagIsIncludePiiUserData:
          type: boolean
          description: When `true`, generated snapshots include personally identifiable user data when permitted by account policy.
          example: false
        flagAttachPdfToEmail:
          type: boolean
          description: When `true`, a PDF attachment is included in snapshot notification emails.
          example: true
        recipients:
          type: array
          description: Email addresses of active dashboard account users who receive snapshot notifications.
          items:
            type: string
            format: email
          example:
          - alice@example.com
          - bob@example.com
        expiresAfter:
          type: integer
          format: int64
          minimum: 86400
          maximum: 157680000
          description: Snapshot retention period in seconds. Allowed range is 24 hours to 5 years.
          example: 157680000
        nextDate:
          type: string
          format: date-time
          readOnly: true
          description: UTC date of the next scheduled snapshot run. Computed by the server.
          example: '2026-10-01T07:00:00Z'
    AlertListAlertType:
      type: string
      description: Name of the alert type
      enum:
      - network-end-to-end-server
      - network-end-to-end-agent
      - network-path-trace
      - dns-server
      - dns-trace
      - dnssec
      - dns-plus-domain
      - dns-plus-server
      - web-http-server
      - web-page-load
      - web-transaction-classic
      - web-transaction
      - api
      - web-ftp-server
      - voice-sip-server
      - voice-rtp-stream
      - device
      - device-interface
      - endpoint-end-to-end-server
      - endpoint-web-http-server
      - endpoint-path-trace
      - browser-session-agent
      - browser-session-application
      - routing-bgp
    DashboardScheduleNonCustomCronSpec:
      type: object
      not:
        required:
        - customRepeat
      properties:
        repeat:
          $ref: '#/components/schemas/DashboardScheduleNonCustomRepeat'
    GroupedBarChartDatasource:
      type: string
      description: Datasource of the grouped bar chart widget.
      enum:
      - ALERTS
      - CLOUD_AND_ENTERPRISE_AGENTS
      - DEVICES
      - ENDPOINT_AGENTS
      - ENDPOINT_AST_TEST
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_LOCAL_NETWORK
      - ENDPOINT_LOCAL_NETWORK_WIRELESS
      - ENDPOINT_SCHEDULED_TEST
      - INTERNET_INSIGHTS
      - ROUTING
      - CLOUD_NATIVE_MONITORING
      - TRAFFIC_INSIGHTS_MONITORING
      example: ENDPOINT_AGENTS
    DashboardScheduleDateEndCondition:
      type: object
      required:
      - endConditionType
      - value
      properties:
        endConditionType:
          type: string
          pattern: ^DATE$
          description: Identifies a schedule that ends on a specified date.
          example: DATE
        value:
          type: integer
          format: int64
          minimum: 0
          description: Unix timestamp in seconds when the recurrence ends.
          example: 1753200000
    AlertListWidgetType:
      type: string
      pattern: ^Alert List$
      description: Alert List widget type.
      example: Alert List
    ApiAlertListAlert:
      type: object
      description: Alert shown in the alert list widget.
      properties:
        alertId:
          type: string
          description: Identifier of the alert.
          example: '2004945'
        testId:
          type: string
          description: Identifier of the test.
          example: '56512'
        ruleId:
          type: string
          description: Identifier of the rule.
          example: '281724'
        alertSource:
          type: string
          description: Name of the agent, monitor or device producing the alert.
          example: Http Test
        alertRule:
          type: string
          description: Name of the alert rule that this alert belongs to.
          example: Http Test Rule
        alertType:
          $ref: '#/components/schemas/AlertListAlertType'
        startTime:
          type: string
          format: date-time
          description: UTC date when the alert was first active.
          example: '2023-06-02T08:54:00Z'
        durationInSeconds:
          type: integer
          format: int64
          description: Number of seconds the alert was active. If it’s still active, this number will increase every second.
          example: 25
        active:
          type: boolean
          description: Set to `true` if alert is active, `false` otherwise.
          example: true
    MapWidgetType:
      type: string
      pattern: ^Map$
      description: Map widget type.
      example: Map
    WidgetSortDirection:
      $ref: '#/components/schemas/LegacyWidgetSortDirection'
    LegacyWidgetSortProperty:
      type: string
      deprecated: true
      description: Determines the card sorting criterion.
      example: Alphabetical
      enum:
      - Alphabetical
      - Value
    ApiWidgetsDataV2:
      type: object
      description: Data of a widget.
      properties:
        cards:
          type: array
          items:
            $ref: '#/components/schemas/ApiNumbersCardData'
        columns:
          type: array
          items:
            $ref: '#/components/schemas/ApiMultiMetricColumnData'
        points:
          type: array
          items:
            $ref: '#/components/schemas/ApiWidgetDataPoint'
        tests:
          type: array
          items:
            $ref: '#/components/schemas/ApiTestTableData'
        startRound:
          type: integer
          format: int64
          description: Epoch time (seconds) indicating the start time of the round.
          example: 1384309800
        alertSuppressionWindows:
          type: array
          items:
            $ref: '#/components/schemas/ApiDashboardAsw'
        totalAlerts:
          type: integer
          format: int64
          description: Total number of active alerts within configured timespan.
          example: 500
        activeAlerts:
          type: integer
          format: int64
          description: Total number of currently active alerts.
          example: 483
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/ApiAlertListAlert'
        summary:
          $ref: '#/components/schemas/ApiAgentStatusSummary'
        agents:
          type: array
          items:
            $ref: '#/components/schemas/ApiAgentStatusAgent'
        rows:
          $ref: '#/components/schemas/ApiListWidgetRows'
        legend:
          $ref: '#/components/schemas/ApiListWidgetLegend'
        status:
          $ref: '#/components/schemas/WidgetStatus'
    ApiDuration:
      description: Specifies a fixed timespan for data aggregation.
      type: object
      properties:
        value:
          $ref: '#/components/schemas/DurationValue'
        unit:
          $ref: '#/components/schemas/LegacyDurationUnit'
    SelfLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/Link'
    ApiTableWidget:
      type: object
      description: Organizes data in rows and columns, with options to list by test, geographic location, data source, or aggregated categories.
      allOf:
      - $ref: '#/components/schemas/Widget'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/TableWidgetType'
          compareToPreviousValue:
            type: boolean
          rowGroupBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          columnGroupBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          sortBy:
            $ref: '#/components/schemas/WidgetSortProperty'
          sortDirection:
            $ref: '#/components/schemas/WidgetSortDirection'
          limit:
            $ref: '#/components/schemas/WidgetLimit'
          dataSource:
            $ref: '#/components/schemas/TableDatasource'
    CloneDashboardRequest:
      type: object
      description: Optional values that override settings inherited from the source dashboard. Omit the request body or send an empty object (`{}`) to clone the dashboard without overrides.
      properties:
        title:
          type: string
          description: Title of the cloned dashboard. If omitted, the API generates a unique title.
          example: HTTP Server Widgets Copy
        tagIds:
          description: Dashboard tag identifiers. An empty array clears tags from the clone; omission preserves the source dashboard's tags.
          allOf:
          - $ref: '#/components/schemas/TagIds'
        description:
          type: string
          maxLength: 1000
          description: Description for the cloned dashboard.
          example: Copy of the HTTP Server Widgets dashboard
        layout:
          $ref: '#/components/schemas/DashboardLayout'
        defaultTimespan:
          $ref: '#/components/schemas/DefaultTimespan'
        isGlobalOverride:
          type: boolean
          description: If `true`, the dashboard time range overrides local widget time settings.
          example: false
        refreshRate:
          $ref: '#/components/schemas/CloneDashboardRefreshRate'
        globalFilterId:
          type: string
          description: Global filter applied to the cloned dashboard. If omitted, the source dashboard's filter is preserved when cloning within the same account group. When cloning across account groups, the filter is cleared.
          example: 65babd9bb90bf55b17c96c8d
        sharedAccountIds:
          type: array
          uniqueItems: true
          description: Account group IDs with which to share the cloned dashboard. An empty array limits sharing to current account group. Omission does not share with other account groups. The `isPrivate` setting controls visibility within the current account group. Cannot be used together with `isSharedWithAllAccountGroups=true`
          items:
            $ref: '#/components/schemas/AccountGroupId'
          example:
          - '1234'
          - '5678'
        isSharedWithAllAccountGroups:
          type: boolean
          description: When `true`, shares the cloned dashboard with all account groups available to the user. Cannot be used together with `sharedAccountIds`.
          example: false
        isPrivate:
          type: boolean
          description: When `true`, only the creator can view the cloned dashboard. Combining this property with `sharedAccountIds` or `isSharedWithAllAccountGroups=true` returns `400 Bad Request`. Defaults to `false`.
          default: false
          example: true
        isDefaultForUser:
          type: boolean
          description: When `true`, sets the cloned dashboard as the current user's default dashboard.
          example: false
        isDefaultForAccount:
          type: boolean
          description: When `true`, sets the cloned dashboard as the current account group's default dashboard.
          example: false
    WidgetMeasureType:
      type: string
      description: Determines how to aggregate the the metric.
      example: MEAN
      enum:
      - MINIMUM
      - MAXIMUM
      - MEAN
      - MEDIAN
      - NTH_PERCENTILE
      - PERCPOSITIVE
      - PERCZERO
      - STDDEV
      - TOTAL
      - VALUES
      - SUM
      - CLOUD_NATIVE_MONITORING-MEAN
      - CLOUD_NATIVE_MONITORING-SUM
      - TRAFFIC_INSIGHTS_MONITORING-SUM
      - TRAFFIC_INSIGHTS_MONITORING-MEAN
    ListWidgetType:
      type: string
      pattern: ^List$
      description: List widget type. Currently supports only `List`.
      example: List
    EnterpriseAgentState:
      type: string
      description: State of the agent.
      enum:
      - online
      - offline
      - disabled
      example: online
      readOnly: true
    ApiMultiMetricColumnData:
      type: object
      description: The data presented within a single column of a Multi-Metric table.
      properties:
        columnId:
          type: string
          description: Identifier of the column.
          example: 938to
        binSize:
          $ref: '#/components/schemas/BinSize'
        points:
          type: array
          items:
            $ref: '#/components/schemas/ApiWidgetDataPoint'
        status:
          $ref: '#/components/schemas/WidgetStatus'
        alertSuppressionWindows:
          type: array
          items:
            $ref: '#/components/schemas/ApiDashboardAsw'
        _links:
          $ref: '#/components/schemas/SelfLinks'
    ApiListWidget:
      type: object
      description: A widget that displays a list of items, such as events. It can use a time range to limit the items shown.
      allOf:
      - $ref: '#/components/schemas/Widget'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/ListWidgetType'
          sortDirection:
            $ref: '#/components/schemas/WidgetSortDirection'
          activeWithin:
            $ref: '#/components/schemas/ActiveWithin'
          dataSource:
            $ref: '#/components/schemas/ListDatasource'
    DashboardGlobalFilterId:
      properties:
        globalFilterId:
          type: string
          description: Default global dashboard filter ID (obtained from `/dashboards/filters` endpoint).
          example: 65babd9bb90bf55b17c96c8d
    WidgetFilters:
      type: object
      description: '(Optional) Specifies the filters applied to the widget. When present, the `filters` property displays. Each filter object has two properties: `filterProperty` and `filterValue`. The `filterProperty` can be values like `AGENT`, `ENDPOINT_MACHINE_ID`, `TEST`, `MONITOR`, etc.  The `filterValue` represents an identifier array of the selected property.'
      example:
        TEST:
        - 5187
        - 5227
        ENDPOINT_MACHINE_ID:
        - fbd0050c-07f7-43f7-9631-14b32f096962
      additionalProperties:
        uniqueItems: true
        type: array
        items: {}
    ApiNumbersCard:
      type: object
      description: An individual number card within the numbers card widget.
      allOf:
      - $ref: '#/components/schemas/ScalableWidget'
      - type: object
        properties:
          id:
            type: string
            description: Identifier of the widget.
            example: '1234'
          description:
            type: string
            description: Description of the number card.
            example: Widget Title
          measure:
            $ref: '#/components/schemas/ApiWidgetMeasure'
          compareToPreviousValue:
            type: boolean
          fixedTimespan:
            $ref: '#/components/schemas/ApiDuration'
          shouldExcludeAlertSuppressionWindows:
            type: boolean
            description: Excludes alert suppression windows from the widget when set to `true`.
          dataSource:
            $ref: '#/components/schemas/NumbersCardDatasource'
          metricGroup:
            $ref: '#/components/schemas/MetricGroup'
          direction:
            $ref: '#/components/schemas/DashboardMetricDirection'
          metric:
            $ref: '#/components/schemas/DashboardMetric'
          filters:
            $ref: '#/components/schemas/WidgetFilters'
          _links:
            $ref: '#/components/schemas/SelfLinks'
    BarChartStackedWidgetType:
      type: string
      pattern: '^Bar Chart: Stacked$'
      description: 'Bar Chart: Stacked widget type.'
      example: 'Bar Chart: Stacked'
    DashboardOrder:
      type: string
      enum:
      - asc
      - desc
    ApiDataPointGroup:
      type: object
      description: Group of data points.
      properties:
        groupProperty:
          type: string
          description: Defines the criterion used to aggregate data points under specific group values.
          example: COUNTRY
        groupValue:
          type: string
          description: The value of a group.
          example: US
    ApiAlertListAlertType:
      $ref: '#/components/schemas/LegacyAlertListAlertType'
    TestTableFilterKey:
      type: string
      enum:
      - Anything
      - Test Name
      - Target
      - Test ID
      - Test type
      - Label ID
      - Tag ID
      example: Target
    NumbersCardDatasource:
      type: string
      description: Datasource of the numbers card widget.
      enum:
      - ALERTS
      - CLOUD_AND_ENTERPRISE_AGENTS
      - DEVICES
      - ENDPOINT_AGENTS
      - ENDPOINT_AST_TEST
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_LOCAL_NETWORK
      - ENDPOINT_LOCAL_NETWORK_WIRELESS
      - ENDPOINT_SCHEDULED_TEST
      - INTERNET_INSIGHTS
      - ROUTING
      - CLOUD_NATIVE_MONITORING
      - TRAFFIC_INSIGHTS_MONITORING
      example: ENDPOINT_AGENTS
    LegacyDurationUnit:
      type: string
      deprecated: true
      description: Timespan unit.
      enum:
      - Minutes
      - Hours
      - Days
      example: Days
    PieChartWidgetType:
      type: string
      pattern: ^Pie Chart$
      description: Pie Chart widget type
      example: Pie Chart
    DashboardScheduleCronSpec:
      description: Cron-style recurrence specification for a dashboard snapshot schedule.
      type: object
      required:
      - repeat
      - startTime
      - zoneCode
      oneOf:
      - $ref: '#/components/schemas/DashboardScheduleNonCustomCronSpec'
      - $ref: '#/components/schemas/DashboardScheduleCustomCronSpec'
      not:
        required:
        - endRepeat
        properties:
          repeat:
            $ref: '#/components/schemas/DashboardScheduleOneTimeRepeatType'
      properties:
        startTime:
          type: integer
          format: int64
          minimum: 0
          description: Schedule start time as a Unix timestamp in seconds.
          example: 1753200000
        zoneCode:
          type: string
          description: An IANA time zone identifier used to interpret `startTime` and recurrence. For example, `America/Los_Angeles`.
          example: America/Los_Angeles
        repeat:
          $ref: '#/components/schemas/DashboardScheduleRepeat'
        endRepeat:
          $ref: '#/components/schemas/DashboardScheduleEndCondition'
    ApiDashboard:
      description: Dashboard upon which this dashboard snapshot is based upon.
      allOf:
      - type: object
        properties:
          dashboardId:
            type: string
            readOnly: true
            example: 5e1f7a99143ae6004fdc3bb4
            description: Identifier of a dashboard.
          title:
            type: string
            example: HTTP Server Widgets
            description: Title of a dashboard.
          isBuiltIn:
            type: boolean
            readOnly: true
            description: Indicates if a dashboard is built-in. True for built-in dashboards, false for user-created dashboards.
            example: true
          aid:
            type: string
            readOnly: true
            example: '1234'
            description: Identifier for the account group associated with a dashboard.
          dashboardCreatedBy:
            type: string
            readOnly: true
            example: '1'
            description: Identifier for the user that created a dashboard.
          dashboardModifiedBy:
            type: string
            readOnly: true
            example: '1'
            description: Identifier for the user that last modified a dashboard.
          dashboardModifiedDate:
            type: string
            format: date-time
            readOnly: true
            example: '2023-05-16T10:14:28Z'
            description: UTC date/time when a dashboard was last modified (ISO date-time format).
          isPrivate:
            type: boolean
            description: A dashboard can be viewed by other users in the account. If true, only the creator of the dashboard may view it. If false, all users in the same account may view it.
            example: true
          isDefaultForUser:
            type: boolean
            readOnly: true
            description: Indicates whether this dashboard is the user's default. True for default, false if not.
            example: true
          isDefaultForAccount:
            type: boolean
            readOnly: true
            description: Indicates whether this dashboard is the account group's default. True for default, false if not.
            example: false
          widgets:
            type: array
            items:
              $ref: '#/components/schemas/ApiWidget'
          description:
            type: string
            example: HTTP Server Widgets
            description: A text description of the dashboard's purpose and functionality. This information assists users in understanding the dashboard but isn't displayed when viewing a dashboard.
          defaultTimespan:
            $ref: '#/components/schemas/DefaultTimespan'
          isGlobalOverride:
            type: boolean
            description: When set to `true`, the defaultTimespan is used and overrides the widget's timespan. If set to `false`, the the widget's timespan is used.
          isMigratedReport:
            type: boolean
            readOnly: true
            description: True if this dashboard was previously a report.
            example: false
          layout:
            $ref: '#/components/schemas/DashboardLayout'
          schedule:
            readOnly: true
            allOf:
            - $ref: '#/components/schemas/DashboardSchedule'
          refreshRate:
            $ref: '#/components/schemas/RefreshRate'
          _links:
            $ref: '#/components/schemas/DashboardLinks'
      - $ref: '#/components/schemas/DashboardGlobalFilterId'
      - $ref: '#/components/schemas/LegacyApiDashboard'
    DashboardScheduleTimespan:
      type: object
      description: Amount of historical data to include in each scheduled snapshot.
      required:
      - n
      - period
      properties:
        n:
          type: integer
          format: int32
          minimum: 1
          description: Number of time units in the snapshot data range.
          example: 1
        period:
          $ref: '#/components/schemas/DashboardScheduleTimespanPeriod'
    ApiStackedAreaChartWidgetProperties:
      type: object
      required:
      - type
      properties:
        type:
          $ref: '#/components/schemas/TimeSeriesStackedAreaWidgetType'
        groupBy:
          $ref: '#/components/schemas/ApiAggregateProperty'
        dataSource:
          $ref: '#/components/schemas/StackedAreaChartDatasource'
        showSubmetrics:
          $ref: '#/components/schemas/ShowSubmetrics'
    Dashboard:
      description: Dashboard upon which this dashboard snapshot is based upon.
      allOf:
      - type: object
        properties:
          dashboardId:
            type: string
            readOnly: true
            example: 5e1f7a99143ae6004fdc3bb4
            description: Identifier of a dashboard.
          title:
            type: string
            example: HTTP Server Widgets
            description: Title of a dashboard.
          isBuiltIn:
            type: boolean
            readOnly: true
            description: Indicates if a dashboard is built-in. True for built-in dashboards, false for user-created dashboards.
            example: true
          aid:
            type: string
            readOnly: true
            example: '1234'
            description: Identifier for the account group associated with a dashboard.
          createdBy:
            type: string
            readOnly: true
            example: '1'
            description: Identifier for the user that created a dashboard.
          modifiedBy:
            type: string
            readOnly: true
            example: '1'
            description: Identifier for the user that last modified a dashboard.
          modifiedDate:
            type: string
            format: date-time
            readOnly: true
            example: '2023-05-16T10:14:28Z'
            description: UTC date/time when a dashboard was last modified (ISO date-time format).
          isPrivate:
            type: boolean
            description: A dashboard can be viewed by other users in the account. If true, only the creator of the dashboard may view it. If false, all users in the same account may view it.
            example: true
          isDefaultForUser:
            type: boolean
            readOnly: true
            description: Indicates whether this dashboard is the user's default. True for default, false if not.
            example: true
          isDefaultForAccount:
            type: boolean
            readOnly: true
            description: Indicates whether this dashboard is the account group's default. True for default, false if not.
            example: false
          widgets:
            type: array
            items:
              $ref: '#/components/schemas/ApiWidget'
          description:
            type: string
            example: HTTP Server Widgets
            description: A text description of the dashboard's purpose and functionality. This information assists users in understanding the dashboard but isn't displayed when viewing a dashboard.
          defaultTimespan:
            $ref: '#/components/schemas/DefaultTimespan'
          isGlobalOverride:
            type: boolean
            description: When set to `true`, the defaultTimespan is used and overrides the widget's timespan. If set to `false`, the the widget's timespan is used.
          isMigratedReport:
            type: boolean
            readOnly: true
            description: True if this dashboard was previously a report.
            example: false
          layout:
            $ref: '#/components/schemas/DashboardLayout'
          schedule:
            readOnly: true
            allOf:
            - $ref: '#/components/schemas/DashboardSchedule'
          refreshRate:
            $ref: '#/components/schemas/RefreshRate'
          _links:
            $ref: '#/components/schemas/DashboardLinks'
      - $ref: '#/components/schemas/DashboardGlobalFilterId'
    DashboardLayoutDetails:
      description: Layout details including widget positioning.
      type:
      - object
      - 'null'
      properties:
        widgetPositioning:
          type: array
          description: List of widget positions within the layout.
          items:
            $ref: '#/components/schemas/WidgetPosition'
          example:
          - x: 0
            y: 0
            w: 9
            h: 5
            id: widgetId-71lbb
      example:
        widgetPositioning:
        - x: 0
          y: 0
          w: 9
          h: 5
          id: widgetId-71lbb
    DashboardScheduleNonWeeklyCustomRepeatUnit:
      type: string
      enum:
      - DAY
      - MONTH
      example: DAY
    ApiGeoMapWidget:
      type: object
      description: Displays data on a geographic map, highlighting information across different regions.
      allOf:
      - $ref: '#/components/schemas/Widget'
      - $ref: '#/components/schemas/ScalableWidget'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/MapWidgetType'
          groupBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          isGeoMapPerTest:
            type: boolean
            description: Indicates whether a separate map is displayed for each test within the widget. When set to true, individual maps are generated.
          sortBy:
            $ref: '#/components/schemas/WidgetSortProperty'
          sortDirection:
            $ref: '#/components/schemas/WidgetSortDirection'
          dataSource:
            $ref: '#/components/schemas/GeoMapDatasource'
    UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    DashboardScheduleDataSource:
      type: object
      description: 'Naming configuration for snapshots generated by the schedule. The required `dataTimespan` property on the schedule controls the snapshot data range.

        '
      required:
      - name
      properties:
        name:
          type: string
          minLength: 1
          description: Name assigned to snapshots generated by the schedule.
          example: Weekly network report
    WidgetValue:
      type: number
      format: double
      description: Aggregated value.
      example: 100
    TimeSeriesLineWidgetType:
      type: string
      pattern: '^Time Series: Line$'
      description: 'Time Series: Line widget type.'
      example: 'Time Series: Line'
    BarChartGroupedWidgetType:
      type: string
      pattern: '^Bar Chart: Grouped$'
      description: 'Bar Chart: Grouped widget type.'
      example: 'Bar Chart: Grouped'
    DashboardScheduleCustomCronSpec:
      type: object
      required:
      - customRepeat
      properties:
        repeat:
          $ref: '#/components/schemas/DashboardScheduleCustomRepeatType'
        customRepeat:
          $ref: '#/components/schemas/DashboardScheduleCustomRepeat'
    ApiWidgetMeasure:
      type: object
      description: Determines how to aggregate the the metric.
      properties:
        type:
          $ref: '#/components/schemas/WidgetMeasureType'
        percentileValue:
          type: number
          description: The percentile value to use when `type == NTH_PERCENTILE`.
          format: float
          example: 95
    ApiAgentStatusIpInfo:
      type: object
      description: IP information of the agent.
      properties:
        publicIp:
          type: string
          description: Public IP of the agent.
          format: ipv4
          example: 172.58.92.31
        privateIp:
          type: string
          description: Private IP of the agent.
          format: ipv4
          example: 172.58.92.31
        ipv6:
          type: string
        operativeSystemVersion:
          type: string
    DashboardMetricDirection:
      type: string
      description: Direction of agent to agent metric.
      enum:
      - TO_TARGET
      - FROM_TARGET
      - BIDIRECTIONAL
      example: FROM_TARGET
    BoxAndWhiskersWidgetType:
      type: string
      pattern: ^Box and Whiskers$
      description: Box and Whiskers widget type.
      example: Box and Whiskers
    ApiListWidgetRows:
      type: array
      description: Detailed information about each row in the **List** widget.
      items:
        $ref: '#/components/schemas/ApiListWidgetRow'
    AswRepeat:
      type: string
      enum:
      - none
      - every-day
      - alt-every-day
      - every-week
      - every-two-week
      - every-month
      - every-three-month
      - custom
      example: custom
    GeoMapDatasource:
      type: string
      description: Datasource of the geo map widget.
      enum:
      - ALERTS
      - CLOUD_AND_ENTERPRISE_AGENTS
      - ENDPOINT_AGENTS
      - ENDPOINT_AST_TEST
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_LOCAL_NETWORK
      - ENDPOINT_LOCAL_NETWORK_WIRELESS
      - ENDPOINT_SCHEDULED_TEST
      - INTERNET_INSIGHTS
      - ROUTING
      - CLOUD_NATIVE_MONITORING
      - TRAFFIC_INSIGHTS_MONITORING
      example: INTERNET_INSIGHTS
    StackedAreaChartDatasource:
      type: string
      description: Datasource of the stacked area chart widget.
      enum:
      - CLOUD_AND_ENTERPRISE_AGENTS
      - ENDPOINT_AGENTS
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_SCHEDULED_TEST
      - CLOUD_NATIVE_MONITORING
      - TRAFFIC_INSIGHTS_MONITORING
      example: ENDPOINT_AGENTS
    AgentWidgetShow:
      $ref: '#/components/schemas/LegacyAgentWidgetShow'
    DashboardScheduleRequest:
      description: Snapshot schedule configuration for create or update requests.
      type: object
      required:
      - cronSpec
      - dataSource
      - dataTimespan
      - flagEnabled
      properties:
        cronSpec:
          $ref: '#/components/schemas/DashboardScheduleCronSpec'
        dataSource:
          $ref: '#/components/schemas/DashboardScheduleDataSource'
        dataTimespan:
          $ref: '#/components/schemas/DashboardScheduleTimespan'
        flagEnabled:
          type: boolean
          description: When `true`, the schedule is active and snapshots are generated according to `cronSpec`.
          example: true
        flagLocked:
          type: boolean
          description: When `true`, the schedule configuration is locked and cannot be edited through the web application.
          example: false
        flagAutoShare:
          type: boolean
          description: When `true`, generated snapshots are automatically shared with schedule recipients.
          example: false
        flagIsIncludePiiUserData:
          type: boolean
          description: When `true`, generated snapshots include personally identifiable user data when permitted by account policy.
          example: false
        flagAttachPdfToEmail:
          type: boolean
          description: When `true`, a PDF attachment is included in snapshot notification emails.
          example: true
        recipients:
          type: array
          uniqueItems: true
          description: Email addresses of active dashboard account users who receive snapshot notifications. Unknown or duplicate addresses are rejected.
          items:
            type: string
            format: email
          example:
          - alice@example.com
          - bob@example.com
        expiresAfter:
          type: integer
          format: int64
          default: 157680000
          minimum: 86400
          maximum: 157680000
          description: Snapshot retention period in seconds. Allowed range is 24 hours to 5 years. Defaults to 5 years when omitted.
          example: 157680000
    ApiListWidgetRow:
      type: object
      description: A row in a **List** widget. Property names are dimension display labels mapped to their values for that row.
      properties:
        _links:
          $ref: '#/components/schemas/ApiListWidgetRowLinks'
      additionalProperties:
        description: Dimension display label mapped to its value for this row.
        oneOf:
        - type: string
        - type: number
        - type: boolean
    ActiveWithin:
      description: Timespan in which alerts must have been active to appear in the widget.
      type: object
      properties:
        value:
          $ref: '#/components/schemas/DurationValue'
        unit:
          $ref: '#/components/schemas/LegacyDurationUnit'
    HeatmapDatasource:
      type: string
      description: Data source of the heatmap widget.
      enum:
      - ALERTS
      - CLOUD_AND_ENTERPRISE_AGENTS
      - DEVICES
      - ENDPOINT_AGENTS
      - ENDPOINT_AST_TEST
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_LOCAL_NETWORK
      - ENDPOINT_LOCAL_NETWORK_WIRELESS
      - ENDPOINT_SCHEDULED_TEST
      - INTERNET_INSIGHTS
      - ROUTING
      - CLOUD_NATIVE_MONITORING
      - TRAFFIC_INSIGHTS_MONITORING
      example: ENDPOINT_AGENTS
    ListDatasource:
      type: string
      description: Data source for the list widget.
      enum:
      - EVENT_DETECTION
      example: EVENT_DETECTION
    AccountGroupId:
      type: string
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint.
      example: '1234'
    TimeseriesDatasource:
      type: string
      description: Datasource of the Timeseries widget.
      enum:
      - ALERTS
      - CLOUD_AND_ENTERPRISE_AGENTS
      - DEVICES
      - ENDPOINT_AGENTS
      - ENDPOINT_AST_TEST
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_LOCAL_NETWORK
      - ENDPOINT_LOCAL_NETWORK_WIRELESS
      - ENDPOINT_SCHEDULED_TEST
      - INTERNET_INSIGHTS
      - ROUTING
      - CLOUD_NATIVE_MONITORING
      - TRAFFIC_INSIGHTS_MONITORING
      example: CLOUD_AND_ENTERPRISE_AGENTS
    TimeSeriesStackedAreaWidgetType:
      type: string
      pattern: '^Time Series: Stacked Area$'
      description: 'Time Series: Stacked Area widget type'
      example: 'Time Series: Stacked Area'
    RefreshRate:
      type: string
      enum:
      - 'off'
      - 2m
      - 5m
      - 10m
      - 15m
      - 30m
      - 60m
      default: 'off'
      description: Auto-refresh interval for a dashboard. Use `off` to disable auto-refresh.
    DashboardScheduleNeverEndCondition:
      type: object
      required:
      - endConditionType
      not:
        required:
        - value
      properties:
        endConditionType:
          type: string
          pattern: ^NEVER$
          description: Identifies a schedule that never ends.
          example: NEVER
    DashboardScheduleCustomRepeat:
      type: object
      required:
      - repeatEvery
      - repeatUnit
      not:
        required:
        - daysOfWeek
        properties:
          repeatUnit:
            $ref: '#/components/schemas/DashboardScheduleNonWeeklyCustomRepeatUnit'
      properties:
        repeatEvery:
          type: integer
          format: int32
          minimum: 1
          maximum: 99
          description: Interval count for custom recurrence.
          example: 2
        daysOfWeek:
          type: array
          uniqueItems: true
          description: Days of the week for custom weekly recurrence (`1` = Monday through `7` = Sunday).
          items:
            type: integer
            format: int32
            minimum: 1
            maximum: 7
          example:
          - 1
          - 3
          - 5
        repeatUnit:
          $ref: '#/components/schemas/DashboardScheduleCustomRepeatUnit'
    ShowSubmetrics:
      description: Controls how metrics with submetric components are displayed. If `true` (default), the widget displays one chart per group. If `false`, the widget displays all submetrics in a single chart. For metrics without submetric components, this field is ignored and returned as `null`.
      type:
      - boolean
      - 'null'
      default: true
      example: true
    ApiWidget:
      oneOf:
      - $ref: '#/components/schemas/ApiAgentStatusWidget'
      - $ref: '#/components/schemas/ApiAlertListWidget'
      - $ref: '#/components/schemas/ApiBoxAndWhiskersWidget'
      - $ref: '#/components/schemas/ApiColorGridWidget'
      - $ref: '#/components/schemas/ApiGeoMapWidget'
      - $ref: '#/components/schemas/ApiGroupedBarchartWidget'
      - $ref: '#/components/schemas/ApiHeatmapWidget'
      - $ref: '#/components/schemas/ApiListWidget'
      - $ref: '#/components/schemas/ApiMultiMetricTableWidget'
      - $ref: '#/components/schemas/ApiNumbersCardWidget'
      - $ref: '#/components/schemas/ApiPieChartWidget'
      - $ref: '#/components/schemas/ApiStackedAreaChartWidget'
      - $ref: '#/components/schemas/ApiStackedBarchartWidget'
      - $ref: '#/components/schemas/ApiTableWidget'
      - $ref: '#/components/schemas/ApiTestTableWidget'
      - $ref: '#/components/schemas/ApiTimeseriesWidget'
      discriminator:
        propertyName: type
        mapping:
          'Bar Chart: Stacked': '#/components/schemas/ApiStackedBarchartWidget'
          'Bar Chart: Grouped': '#/components/schemas/ApiGroupedBarchartWidget'
          Heatmap: '#/components/schemas/ApiHeatmapWidget'
          'Time Series: Line': '#/components/schemas/ApiTimeseriesWidget'
          'Time Series: Stacked Area': '#/components/schemas/ApiStackedAreaChartWidget'
          Pie Chart: '#/components/schemas/ApiPieChartWidget'
          Table: '#/components/schemas/ApiTableWidget'
          Multi Metric Table: '#/components/schemas/ApiMultiMetricTableWidget'
          Number: '#/components/schemas/ApiNumbersCardWidget'
          Agent Status: '#/components/schemas/ApiAgentStatusWidget'
          Color Grid: '#/components/schemas/ApiColorGridWidget'
          Alert List: '#/components/schemas/ApiAlertListWidget'
          List: '#/components/schemas/ApiListWidget'
          Test Table: '#/components/schemas/ApiTestTableWidget'
          Map: '#/components/schemas/ApiGeoMapWidget'
          Box and Whiskers: '#/components/schemas/ApiBoxAndWhiskersWidget'
    MultiMetricsTableDatasource:
      type: string
      description: Datasource of the Multi-Metrics table widget.
      enum:
      - ALERTS
      - CLOUD_AND_ENTERPRISE_AGENTS
      - DEVICES
      - ENDPOINT_AGENTS
      - ENDPOINT_AST_TEST
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_LOCAL_NETWORK
      - ENDPOINT_LOCAL_NETWORK_WIRELESS
      - ENDPOINT_SCHEDULED_TEST
      - INTERNET_INSIGHTS
      - ROUTING
      - CLOUD_NATIVE_MONITORING
      - TRAFFIC_INSIGHTS_MONITORING
      example: ENDPOINT_AGENTS
    DashboardScheduleNonCustomRepeat:
      type: string
      enum:
      - NONE
      - EVERY_DAY
      - ALT_EVERY_DAY
      - EVERY_WEEK
      - EVERY_MONTH
      - EVERY_TWO_WEEKS
      - EVERY_THREE_MONTHS
      example: EVERY_WEEK
    ApiTimeseriesWidgetProperties:
      type: object
      required:
      - type
      properties:
        type:
          $ref: '#/components/schemas/TimeSeriesLineWidgetType'
        showTimeseriesOverallBaseline:
          type: boolean
          description: Displays the overall baseline when set to `true`.
          default: false
          example: true
        groupBy:
          $ref: '#/components/schemas/ApiAggregateProperty'
        isTimeseriesOneChartPerLine:
          type: boolean
          description: Displays a separate chart for each line when set to `true`.
          default: false
          example: true
        showZoomSlider:
          type: boolean
          description: Displays the zoom slider on the time axis when set to `true`.
          default: false
          example: true
        dataSource:
          $ref: '#/components/schemas/TimeseriesDatasource'
    ColorGridWidgetType:
      type: string
      pattern: ^Color Grid$
      description: Color Grid widget type.
      example: Color Grid
    LegacyAgentWidgetType:
      type: string
      description: Type of the agent.
      enum:
      - Enterprise Agents
      - Endpoint Agents
    DurationValue:
      type: integer
      format: int32
      description: Timespan value.
      example: 10
    ScalableWidget:
      type: object
      properties:
        minScale:
          type: number
          format: float
          description: Minimum scale configured in the widget.
          example: 1
        maxScale:
          type: number
          format: float
          description: Maximum scale configured in the widget.
          example: 100
        unit:
          $ref: '#/components/schemas/ApiWidgetFixedYScalePrefix'
    LegacyWidgetSortDirection:
      type: string
      deprecated: true
      description: Specifies the order in which cards are sorted.
      example: Ascending
      enum:
      - Ascending
      - Descending
    DashboardScheduleCustomRepeatType:
      type: string
      enum:
      - CUSTOM
      example: CUSTOM
    ApiDashboards:
      type: array
      items:
        $ref: '#/components/schemas/ApiDashboard'
    CloneDashboardRefreshRate:
      type: string
      enum:
      - 'off'
      - 2m
      - 5m
      - 10m
      - 15m
      - 30m
      - 60m
      description: Auto-refresh interval for the cloned dashboard. If omitted, the clone inherits the source dashboard's refresh rate.
      example: 5m
    ApiListWidgetLegend:
      type: object
      description: Map of legend labels to their counts for the **List** widget.
      additionalProperties:
        type: integer
        format: int32
      example:
        ONGOING: 5
        CLEAR: 3
    ApiAggregateProperty:
      type: string
      description: Defines the property by which to aggregate the metric. Metrics are grouped based on unique values of the chosen property. Selecting `ALL` aggregates the data into a single group.
      example: ALL
      enum:
      - TIME
      - NONE
      - ALL
      - SOURCE
      - AGENT
      - MONITOR
      - CONTINENT
      - COUNTRY
      - REGION
      - TARGET_AGENT
      - SOURCE_AND_TARGET_AGENT
      - TEST
      - SERVER
      - TEST_LABEL
      - TEST_TAG
      - AGENT_LABEL
      - AGENT_TAG
      - TRANSACTION_STEP
      - TRANSACTION_PAGE
      - WEB_TRANSACTION_MARKER
      - WEB_TRANSACTION_MARKER_INTERNAL
      - WEB_TRANSACTION_PAGE
      - WEB_TRANSACTION_PAGE_INTERNAL
      - EYEBROW_MACHINE_ID
      - EYEBROW_CLIENT_ID
      - EYEBROW_HOST
      - EYEBROW_NETWORK_ID
      - EYEBROW_WHOIS_RANGE_ID
      - EYEBROW_PLATFORM
      - EYEBROW_CONNECTION
      - EYEBROW_GEONAME_ID
      - EYEBROW_LABEL
      - EYEBROW_DOMAIN
      - EYEBROW_TEST
      - EYEBROW_AGENT_TYPE
      - EYEBROW_TARGET_IP
      - EYEBROW_NET_TARGET_IP
      - ENDPOINT_CELLULAR_CARRIER_NAME
      - ENDPOINT_CELLULAR_NETWORK_GEN
      - ENDPOINT_CELLULAR_NETWORK_SUBTYPE
      - EYEBROW_GATEWAY
      - EYEBROW_SSID
      - SSID
      - EYEBROW_BSSID
      - BSSID
      - EYEBROW_VPN_VENDOR
      - EYEBROW_VPN_GATEWAY
      - EYEBROW_PROXY_ADDRESS
      - EYEBROW_NETWORK_PROBE_DNS_SERVER
      - EYEBROW_DESTINATION_IP_ADDRESS
      - EYEBROW_SESSION_ERRORS
      - EYEBROW_ASN
      - DEVICE_INTERFACE
      - DEVICE
      - DEVICE_CLASS
      - DEVICE_INTERFACE_TYPE
      - INSIGHTS_CATALOG_PROVIDER
      - INSIGHTS_ASN
      - ASN
      - INSIGHTS_LOCATION
      - INSIGHTS_AFFECTED_TEST
      - INSIGHTS_AFFECTED_DOMAIN
      - INSIGHTS_AFFECTED_INTERFACE_LOCATION
      - INSIGHTS_AFFECTED_INTERFACE_IP
      - INSIGHTS_DESTINATION_LOCATION
      - INSIGHTS_DESTINATION_ASN
      - INSIGHTS_DESTINATION_PREFIX
      - INSIGHTS_APPLICATION
      - INSIGHTS_ERROR_TYPE
      - INSIGHTS_AFFECTED_DOMAIN_LOCATION
      - INSIGHTS_AFFECTED_SERVER_LOCATION
      - APPDYNAMICS_APPLICATION
      - APPDYNAMICS_SERVICE
      - DOMAIN
      - EYEBROW_ORG_NAME
      - EYEBROW_USER
      - EYEBROW_AGENT
      - EYEBROW_AGENT_TAG
      - EYEBROW_COMPUTER_NAME
      - CLOUD_NATIVE_MONITORING-ALL
      - CLOUD_NATIVE_MONITORING-ACCOUNT
      - CLOUD_NATIVE_MONITORING-REGION
      - CLOUD_NATIVE_MONITORING-AVAILABILITY_ZONE
      - CLOUD_NATIVE_MONITORING-VPC
      - CLOUD_NATIVE_MONITORING-SUBNET
      - CLOUD_NATIVE_MONITORING-TYPE
      - CLOUD_NATIVE_MONITORING-SERVICE_PROVIDER
      - CLOUD_NATIVE_MONITORING-REMOTE_ACCOUNT
      - CLOUD_NATIVE_MONITORING-REMOTE_REGION
      - CLOUD_NATIVE_MONITORING-REMOTE_AVAILABILITY_ZONE
      - CLOUD_NATIVE_MONITORING-REMOTE_VPC
      - CLOUD_NATIVE_MONITORING-REMOTE_SUBNET
      - CLOUD_NATIVE_MONITORING-REMOTE_TYPE
      - CLOUD_NATIVE_MONITORING-REMOTE_SERVICE_PROVIDER
      - TRAFFIC_INSIGHTS_MONITORING-ALL
      - TRAFFIC_INSIGHTS_MONITORING-GEOLOC
      - TRAFFIC_INSIGHTS_MONITORING-DEVICE
      - TRAFFIC_INSIGHTS_MONITORING-DEVICE_IFNAME
      - TRAFFIC_INSIGHTS_MONITORING-APPLICATION
    DashboardScheduleEndCondition:
      description: Condition that determines when the recurring schedule ends.
      discriminator:
        propertyName: endConditionType
        mapping:
          NEVER: '#/components/schemas/DashboardScheduleNeverEndCondition'
          AFTER: '#/components/schemas/DashboardScheduleAfterEndCondition'
          DATE: '#/components/schemas/DashboardScheduleDateEndCondition'
      oneOf:
      - $ref: '#/components/schemas/DashboardScheduleNeverEndCondition'
      - $ref: '#/components/schemas/DashboardScheduleAfterEndCondition'
      - $ref: '#/components/schemas/DashboardScheduleDateEndCondition'
    AlertListDatasource:
      type: string
      description: Datasource of the alert list.
      enum:
      - ALERTS
      - DEVICES
      - DNSP
      - ENDPOINT_AGENTS
      - ENDPOINT_SCHEDULED_TEST
      - ENDPOINT_AST_TEST
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_LOCAL_NETWORK
      - ENDPOINT_LOCAL_NETWORK_WIRELESS
      - ROUTING
      - CLOUD_AND_ENTERPRISE_AGENTS
      - INTERNET_INSIGHTS
      - APPDYNAMICS_SERVICE_HEALTH
      - CLOUD_NATIVE_MONITORING
      - TRAFFIC_INSIGHTS_MONITORING
      example: ENDPOINT_AGENTS
    PaginationLinks:
      type: object
      description: A links object containing pagination related link(s).
      properties:
        previous:
          $ref: '#/components/schemas/Link'
        next:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
    VisualMode:
      type: string
      description: Visual mode in the UI. Either full or half the width of the window.
      default: Full
      enum:
      - Full
      - Half screen
      example: Full
    LegacyAgentWidgetShow:
      type: string
      description: Ownership of the agent.
      enum:
      - Owned Agents
      - All Assigned Agents
    MetricGroup:
      type: string
      description: 'Metric group of widget as it appears in the UI. Note: may not be required in some cases.'
      enum:
      - AGENT_TO_AGENT
      - AGENT_TO_SERVER
      - HTTP_SERVER
      - FTP_SERVER
      - PAGE_LOAD
      - TRANSACTIONS_CLASSIC
      - TRANSACTIONS
      - API
      - ENDPOINT_BROWSER_SESSION_NETWORK
      - ENDPOINT_BROWSER_SESSION_SYSTEM
      - ENDPOINT_BROWSER_SESSION_VISITED_PAGES
      - ENDPOINT_SCHEDULED_TEST_HTTP_SERVER
      - ENDPOINT_SCHEDULED_TEST_NETWORK
      - ENDPOINT_SCHEDULED_TEST_SYSTEM
      - ENDPOINT_AST_TEST_NETWORK
      - ENDPOINT_AST_TEST_SYSTEM
      - ENDPOINT_LOCAL_NETWORK_GATEWAY
      - ENDPOINT_LOCAL_NETWORK_AGENTS
      - ENDPOINT_LOCAL_NETWORK_DNS
      - ENDPOINT_LOCAL_NETWORK_NETWORK_ACCESS
      - ENDPOINT_LOCAL_NETWORK_PROXY
      - ENDPOINT_LOCAL_NETWORK_SYSTEM
      - ENDPOINT_LOCAL_NETWORK_VPN
      - ENDPOINT_LOCAL_NETWORK_WIRELESS
      - ENDPOINT_LOCAL_NETWORK_CELLULAR
      - BGP
      - DEVICE
      - VOIP
      - SIP
      - ALERTS
      - DNS
      - DOMAIN_TRACE
      - DNSSEC
      - DNSP
      - NETWORK_OUTAGES
      - APPLICATION_OUTAGES
      - APPDYNAMICS_SERVICE_HEALTH
      - CLOUD_NATIVE_MONITORING-TRAFFIC_FLOW
      - CLOUD_NATIVE_MONITORING-EVENTS
      - TRAFFIC_INSIGHTS_MONITORING-TRAFFIC_FLOW
      example: BGP
    ApiColorGridWidget:
      type: object
      description: The Color Grid widget displays colored cards arranged in rows and columns.
      allOf:
      - $ref: '#/components/schemas/Widget'
      - $ref: '#/components/schemas/ScalableWidget'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/ColorGridWidgetType'
          cards:
            $ref: '#/components/schemas/ApiAggregateProperty'
          groupCardsBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          columns:
            type: integer
            format: int32
            description: 'Number of columns: 1 or 2.'
            example: 1
          limit:
            $ref: '#/components/schemas/WidgetLimit'
          sortBy:
            $ref: '#/components/schemas/WidgetSortProperty'
          sortDirection:
            $ref: '#/components/schemas/WidgetSortDirection'
          sortGroupBy:
            $ref: '#/components/schemas/WidgetSortProperty'
          sortGroupDirection:
            $ref: '#/components/schemas/WidgetSortDirection'
          dataSource:
            $ref: '#/components/schemas/ColorGridDatasource'
    BinSize:
      type: integer
      format: int64
      description: Duration of each bin.
      example: 3600
    ApiAgentStatusSummary:
      type: object
      description: Summary of the agent status.
      properties:
        online:
          type: integer
          format: int32
          description: Shows the number of agents with an online status.
          example: 10
        offline:
          type: integer
          format: int32
          description: Shows the number of agents with an offline status.
          example: 2
        disabled:
          type: integer
          format: int32
          description: Shows the number of agents with disabled status.
          example: 3
    TagIds:
      type: array
      description: List of tag IDs (obtained from `/tags` endpoint).
      items:
        type: string
        format: uuid
      example:
      - c6b78e57-81a2-4c5f-a11a-d96c3c664d55
      - 5aeab5d5-0d34-4d44-a7ac-fb440185295c
    ApiDashboardAsw:
      type: object
      description: Alert suppression window shown in a widget.
      properties:
        id:
          type: string
          description: Identifier of the alert suppression window.
          example: '281474976710662'
        name:
          type: string
          description: Name of the alert suppression window.
          example: Test dashboards
        testIds:
          uniqueItems: true
          type: array
          items:
            type: string
          example:
          - '281474976710661'
        startTimes:
          type: array
          items:
            type: string
            format: date-time
          example:
          - '2023-05-16T10:14:28Z'
        durationInSeconds:
          type: integer
          format: int64
          example: 7200
        repeat:
          $ref: '#/components/schemas/AswRepeat'
        repeatEvery:
          type: integer
          format: int32
          example: 5
        repeatUnit:
          $ref: '#/components/schemas/AswRepeatUnit'
    Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    ApiWidgetFilterApiTestTableFilterKey:
      type: object
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/ApiMultiSearchFilterApiTestTableFilterKey'
        type:
          $ref: '#/components/schemas/TestTableFilterType'
    AgentStatusWidgetType:
      type: string
      pattern: ^Agent Status$
      description: Agent Status widget type.
      example: Agent Status
    DashboardMetric:
      type: string
      description: Indicates the specific metric in the report, determined by the layer, test type, and metric values.
      enum:
      - ONE_WAY_NET_LOSS_TO_TARGET
      - ONE_WAY_NET_LATENCY_TO_TARGET
      - ONE_WAY_NET_JITTER_TO_TARGET
      - ONE_WAY_NET_THROUGHPUT_TO_TARGET
      - ONE_WAY_NET_ERROR_TO_TARGET
      - ONE_WAY_NET_LOSS_FROM_TARGET
      - ONE_WAY_NET_LATENCY_FROM_TARGET
      - ONE_WAY_NET_JITTER_FROM_TARGET
      - ONE_WAY_NET_THROUGHPUT_FROM_TARGET
      - ONE_WAY_NET_ERROR_FROM_TARGET
      - ONE_WAY_NET_LOSS_BIDIRECTIONAL
      - ONE_WAY_NET_LATENCY_BIDIRECTIONAL
      - ONE_WAY_NET_JITTER_BIDIRECTIONAL
      - ONE_WAY_NET_THROUGHPUT_BIDIRECTIONAL
      - ONE_WAY_NET_ERROR_BIDIRECTIONAL
      - NET_LOSS
      - NET_LATENCY
      - NET_JITTER
      - NET_BANDWIDTH
      - NET_CAPACITY
      - PROXY_NET_LOSS
      - PROXY_NET_LATENCY
      - PROXY_NET_JITTER
      - WEB_AVAILABILITY
      - WEB_THROUGHPUT
      - WEB_DNS
      - WEB_CONNECT
      - WEB_SSL
      - WEB_WAIT
      - WEB_TTFB
      - WEB_RECEIVE
      - WEB_REDIRECT
      - WEB_FETCH
      - WEB_AUTHENTICATION_ERROR_COUNT
      - WEB_DNS_ERROR_COUNT
      - WEB_CONNECT_ERROR_COUNT
      - WEB_SSL_ERROR_COUNT
      - WEB_SEND_ERROR_COUNT
      - WEB_RECEIVE_ERROR_COUNT
      - WEB_HTTP_ERROR_COUNT
      - WEB_CONTENT_ERROR_COUNT
      - WEB_TOTAL_ERROR_COUNT
      - FTP_AVAILABILITY
      - FTP_THROUGHPUT
      - FTP_DNS
      - FTP_CONNECT
      - FTP_SSL
      - FTP_NEGOTIATION
      - FTP_WAIT
      - FTP_TTFB
      - FTP_TRANSFER
      - FTP_TOTAL
      - FTP_DNS_ERROR_COUNT
      - FTP_CONNECT_ERROR_COUNT
      - FTP_SSL_ERROR_COUNT
      - FTP_NEGOTIATION_ERROR_COUNT
      - FTP_TRANSFER_ERROR_COUNT
      - FTP_FTP_ERROR_COUNT
      - FTP_CONTENT_ERROR_COUNT
      - FTP_TOTAL_ERROR_COUNT
      - WEB_PAGE_LOAD_DOM_TIME
      - WEB_PAGE_LOAD
      - WEB_PAGE_TTFB
      - WEB_PAGE_COMPONENT_COUNT
      - WEB_PAGE_ERROR_COUNT
      - WEB_PAGE_LOAD_COMPLETION_RATE
      - CLASSIC_TRANSACTION_TIME
      - CLASSIC_TRANSACTION_COMPLETION
      - CLASSIC_TRANSACTION_STEP_TIME
      - CLASSIC_TRANSACTION_PAGE_TIME
      - TRANSACTION_MARKER_TIME_DECOMPOSED
      - TRANSACTION_PAGE_LOAD_TIME_DECOMPOSED
      - TRANSACTION_PAGE_TIME_DECOMPOSED
      - TRANSACTION_PAGE_LOAD_DOM_TIME_DECOMPOSED
      - TRANSACTION_TIME
      - TRANSACTION_TIMEOUT
      - TRANSACTION_ASSERT_ERROR
      - TRANSACTION_OTHER_ERROR
      - TRANSACTION_PAGE_ERROR
      - TRANSACTION_COMPLETION
      - TRANSACTION_ERROR
      - TRANSACTION_MARKER_TIME
      - TRANSACTION_PAGE_TIME
      - TRANSACTION_PAGE_LOAD_TIME
      - TRANSACTION_PAGE_LOAD_DOM_TIME
      - API_TRANSACTION_TIME
      - API_REQUEST_CALL_TIME
      - API_REQUEST_DNS_TIME
      - API_REQUEST_CONNECT_TIME
      - API_REQUEST_SSL_TIME
      - API_REQUEST_SEND_TIME
      - API_REQUEST_WAIT_TIME
      - API_REQUEST_BLOCK_TIME
      - API_REQUEST_RECEIVE_TIME
      - API_REQUEST_ASSERT_ERROR_COUNT
      - API_REQUEST_COMPLETION
      - API_REQUEST_OTHER_ERROR_COUNT
      - VOIP_DISCARDS
      - VOIP_LATENCY
      - VOIP_LOSS
      - VOIP_MOS
      - VOIP_PDV
      - SIP_AVAILABILITY
      - SIP_DNS
      - SIP_CONNECT
      - SIP_REDIRECT
      - SIP_REGISTER
      - SIP_OPTIONS
      - SIP_INVITE
      - SIP_WAIT
      - SIP_RESPONSE_TIME
      - SIP_TOTAL_TIME
      - SIP_DNS_ERROR_COUNT
      - SIP_CONNECT_ERROR_COUNT
      - SIP_REGISTER_ERROR_COUNT
      - SIP_OPTIONS_ERROR_COUNT
      - SIP_INVITE_ERROR_COUNT
      - SIP_TOTAL_ERROR_COUNT
      - DNS_SERVER_AVAILABILITY
      - DNS_SERVER_TIME
      - DNS_TRACE_AVAILABILITY
      - DNS_TRACE_QUERY_COUNT
      - DNS_TRACE_QUERY_TIME
      - DNSSEC_VALIDITY
      - DNSP_AVAILABILITY
      - DNSP_TIME
      - DNSP_SERVER_TIME
      - BGP_REACHABILITY
      - BGP_PATH_CHANGES
      - ALERT_COUNT
      - ALERT_COUNT_AGENT
      - ALERT_COUNT_BGP
      - ALERT_COUNT_DNSP
      - ENDPOINT_SAMPLE_COUNT
      - ENDPOINT_NET_LOSS
      - ENDPOINT_NET_LATENCY
      - ENDPOINT_NET_JITTER
      - ENDPOINT_NET_CONNECT_FAILURES
      - ENDPOINT_NET_CPU_LOAD_PERCENT
      - ENDPOINT_NET_MEMORY_LOAD_PERCENT
      - ENDPOINT_NET_VPN_LOSS
      - ENDPOINT_NET_VPN_LATENCY
      - ENDPOINT_PAGE_COUNT
      - ENDPOINT_WEB_COMPLETION
      - ENDPOINT_WEB_RESPONSE_TIME
      - ENDPOINT_WEB_PAGE_LOAD
      - ENDPOINT_WEB_PAGE_LOAD_DOM_TIME
      - ENDPOINT_WEB_EXPERIENCE_SCORE
      - ENDPOINT_WEB_BROWSER_ERROR_COUNT
      - ENDPOINT_GATEWAY_PROBE_COUNT
      - ENDPOINT_GATEWAY_COMBINED_TRANSMISSION_RATE
      - ENDPOINT_GATEWAY_SIGNAL_QUALITY
      - ENDPOINT_GATEWAY_LOSS
      - ENDPOINT_GATEWAY_LATENCY
      - ENDPOINT_GATEWAY_AGENT_SCORE
      - ENDPOINT_GATEWAY_SCORE
      - ENDPOINT_GATEWAY_CONNECTION_SCORE
      - ENDPOINT_GATEWAY_PROXY_LOSS
      - ENDPOINT_GATEWAY_PROXY_LATENCY
      - ENDPOINT_GATEWAY_PROXY_SCORE
      - ENDPOINT_GATEWAY_VPN_LOSS
      - ENDPOINT_GATEWAY_VPN_LATENCY
      - ENDPOINT_GATEWAY_VPN_SCORE
      - ENDPOINT_GATEWAY_DNS_LOSS
      - ENDPOINT_GATEWAY_DNS_LATENCY
      - ENDPOINT_GATEWAY_DNS_TIME
      - ENDPOINT_GATEWAY_CPU_LOAD_PERCENT
      - ENDPOINT_GATEWAY_MEMORY_LOAD_PERCENT
      - EYEBROW_GATEWAY_WIRELESS_CHANNEL_SWAP_EVENTS
      - EYEBROW_GATEWAY_WIRELESS_RETRANSMISSION_RATE
      - EYEBROW_GATEWAY_WIRELESS_ROAMING_EVENTS
      - EYEBROW_GATEWAY_WIRELESS_SIGNAL_QUALITY
      - EYEBROW_GATEWAY_WIRELESS_THROUGHPUT
      - ENDPOINT_CELLULAR_RSSI
      - ENDPOINT_CELLULAR_RSRP
      - ENDPOINT_CELLULAR_RSRQ
      - ENDPOINT_CELLULAR_SINR
      - ENDPOINT_AST_TEST_NET_LOSS
      - ENDPOINT_AST_TEST_NET_JITTER
      - ENDPOINT_AST_TEST_NET_LATENCY
      - ENDPOINT_AST_TEST_NET_CPU_LOAD_PERCENT
      - ENDPOINT_AST_TEST_NET_MEMORY_LOAD_PERCENT
      - ENDPOINT_AST_TEST_VPN_LOSS
      - ENDPOINT_AST_TEST_VPN_LATENCY
      - ENDPOINT_AST_TEST_TCP_CONNECTION_ERROR_COUNT
      - ENDPOINT_AST_TEST_APPLICATION_SCORE
      - ENDPOINT_GATEWAY_WIRELESS_CHANNEL_SWAP_EVENTS
      - ENDPOINT_GATEWAY_WIRELESS_RETRANSMISSION_RATE
      - ENDPOINT_GATEWAY_WIRELESS_ROAMING_EVENTS
      - ENDPOINT_GATEWAY_WIRELESS_SIGNAL_QUALITY
      - ENDPOINT_GATEWAY_WIRELESS_THROUGHPUT
      - ENDPOINT_TEST_NET_LOSS
      - ENDPOINT_TEST_NET_JITTER
      - ENDPOINT_TEST_NET_LATENCY
      - ENDPOINT_TEST_NET_CPU_LOAD_PERCENT
      - ENDPOINT_TEST_NET_MEMORY_LOAD_PERCENT
      - ENDPOINT_TEST_VPN_LOSS
      - ENDPOINT_TEST_VPN_LATENCY
      - ENDPOINT_TEST_TCP_CONNECTION_ERROR_COUNT
      - ENDPOINT_TEST_APPLICATION_SCORE
      - ENDPOINT_TEST_HTTP_AVAILABILITY
      - ENDPOINT_TEST_HTTP_WAIT
      - ENDPOINT_TEST_HTTP_SSL
      - ENDPOINT_TEST_HTTP_CONNECT
      - ENDPOINT_TEST_HTTP_DNS_LOOKUP
      - ENDPOINT_TEST_HTTP_RESPONSE_TIME
      - ENDPOINT_TEST_HTTP_THROUGHPUT
      - ENDPOINT_TEST_HTTP_APPLICATION_SCORE
      - DEVICE_AVAILABILITY
      - DEVICE_THROUGHPUT_INPUT
      - DEVICE_THROUGHPUT_OUTPUT
      - DEVICE_DISCARDS_INPUT
      - DEVICE_DISCARDS_OUTPUT
      - DEVICE_ERRORS_INPUT
      - DEVICE_ERRORS_OUTPUT
      - DEVICE_DISCARDS_AND_ERRORS_INPUT
      - DEVICE_DISCARDS_AND_ERRORS_OUTPUT
      - DEVICE_INTERFACES_UP
      - DEVICE_INTERFACES_WITH_STATE_CHANGES
      - NETWORK_OUTAGES_OUTAGES
      - NETWORK_OUTAGES_LOCATIONS
      - NETWORK_OUTAGES_INTERFACES
      - NETWORK_OUTAGES_AFFECTED_TESTS
      - APPLICATION_OUTAGES_AFFECTED_TESTS
      - APPLICATION_OUTAGES_SERVERS
      - APPLICATION_OUTAGES_LOCATIONS
      - APPLICATION_OUTAGES_OUTAGES
      - APPDYNAMICS_SERVICE_HEALTH
      - CLOUD_NATIVE_MONITORING-ACCEPTED_TOTAL_THROUGHPUT
      - CLOUD_NATIVE_MONITORING-ACCEPTED_OUTBOUND_THROUGHPUT
      - CLOUD_NATIVE_MONITORING-ACCEPTED_INBOUND_THROUGHPUT
      - CLOUD_NATIVE_MONITORING-ACCEPTED_INTERNAL_THROUGHPUT
      - CLOUD_NATIVE_MONITORING-REJECTED_TOTAL_THROUGHPUT
      - CLOUD_NATIVE_MONITORING-REJECTED_OUTBOUND_THROUGHPUT
      - CLOUD_NATIVE_MONITORING-REJECTED_INBOUND_THROUGHPUT
      - CLOUD_NATIVE_MONITORING-REJECTED_INTERNAL_THROUGHPUT
      - CLOUD_NATIVE_MONITORING-TOTAL_CONNECTION_RATE
      - CLOUD_NATIVE_MONITORING-CONNECTION_RATE
      - CLOUD_NATIVE_MONITORING-INTERNAL_CONNECTION_RATE
      - CLOUD_NATIVE_MONITORING-ALL_EVENTS
      - CLOUD_NATIVE_MONITORING-CONFIGURATION_CHANGE_EVENTS
      - CLOUD_NATIVE_MONITORING-AUTOSCALING_EVENTS
      - TRAFFIC_INSIGHTS_MONITORING-TOTAL_THROUGHPUT
      - TRAFFIC_INSIGHTS_MONITORING-DOWNSTREAM_THROUGHPUT
      - TRAFFIC_INSIGHTS_MONITORING-UPSTREAM_THROUGHPUT
      - TRAFFIC_INSIGHTS_MONITORING-CONNECTION_RATE
      example: ENDPOINT_GATEWAY_CPU_LOAD_PERCENT
    ApiStackedBarchartWidget:
      allOf:
      - $ref: '#/components/schemas/Widget'
      - type: object
        required:
        - type
        description: Displays horizontal histogram bars with multiple values, which are useful for composite metric data (such as HTTP response or fetch time) and for comparing values between multiple tests or for comparing values on a country-by-country basis. The bars can be aligned horizontally or vertically as columns.
        properties:
          type:
            $ref: '#/components/schemas/BarChartStackedWidgetType'
          axisGroupBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          sortBy:
            $ref: '#/components/schemas/WidgetSortProperty'
          sortDirection:
            $ref: '#/components/schemas/WidgetSortDirection'
          limit:
            $ref: '#/components/schemas/WidgetLimit'
          showLabels:
            type: boolean
          isHorizontalBarChart:
            type: boolean
            description: Set to `true` to display bars horizontally in the widget.
          dataSource:
            $ref: '#/components/schemas/StackedBarChartDatasource'
    Widget:
      type: object
      properties:
        id:
          type: string
          description: Identifier of the widget.
          readOnly: true
          example: '1234'
        title:
          type: string
          description: Title of the widget
          example: Widget Title
        visualMode:
          $ref: '#/components/schemas/VisualMode'
        embedUrl:
          type: string
          description: When `isEmbedded` is set to `true`, an `embedUrl` is provided.
          readOnly: true
          example: https://embed.thousandeyes.com/e/00aa:3039802d-5c76-42d2-9a93-c6e5f9d3122f
        isEmbedded:
          type: boolean
          description: Set to `true` if widget is marked as embedded; otherwise, set to `false`.
        metricGroup:
          $ref: '#/components/schemas/MetricGroup'
        direction:
          $ref: '#/components/schemas/DashboardMetricDirection'
        metric:
          $ref: '#/components/schemas/DashboardMetric'
        filters:
          $ref: '#/components/schemas/WidgetFilters'
        measure:
          $ref: '#/components/schemas/ApiWidgetMeasure'
        fixedTimespan:
          $ref: '#/components/schemas/ApiDuration'
        apiLink:
          type: string
          readOnly: true
          deprecated: true
        shouldExcludeAlertSuppressionWindows:
          type: boolean
          description: Excludes alert suppression window data if set to `true`.
        _links:
          $ref: '#/components/schemas/SelfLinks'
    NumberWidgetType:
      type: string
      pattern: ^Number$
      description: Number widget type.
      example: Number
    ApiTestTableWidget:
      type: object
      description: Displays tests and statuses with options to sort and filter. It can be set to show only certain tests, like those with specific labels or failing tests.
      allOf:
      - $ref: '#/components/schemas/Widget'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/TestTableWidgetType'
          filter:
            $ref: '#/components/schemas/ApiWidgetFilterApiTestTableFilterKey'
          exclude:
            $ref: '#/components/schemas/ApiWidgetFilterApiTestTableFilterKey'
          dataSource:
            $ref: '#/components/schemas/TestTableDatasource'
    DashboardLinks:
      type: object
      description: A links object containing the self and the snapshots links.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/Link'
        snapshots:
          $ref: '#/components/schemas/Link'
    ApiReportDataComponentLabelMap:
      type: object
      description: Map of group labels.
      properties:
        groupProperty:
          type: string
          description: Defines the criterion used to aggregate data points under specific group values.
          example: AGENT
        groupLabels:
          type: array
          description: List of group labels.
          items:
            $ref: '#/components/schemas/ApiReportDataComponentLabelMapEntry'
    ApiAlertListWidget:
      type: object
      description: A widget that displays a list of alerts based on specified criteria, such as alert type and time frame.
      allOf:
      - $ref: '#/components/schemas/Widget'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/AlertListWidgetType'
          alertTypes:
            uniqueItems: true
            type: array
            description: List of alert types configured in the widget, an empty list means all alert types.
            items:
              $ref: '#/components/schemas/ApiAlertListAlertType'
          limitTo:
            type: integer
            format: int32
            description: Limit the number of alerts displayed in the widget.
            example: 15
          activeWithin:
            $ref: '#/components/schemas/ActiveWithin'
          dataSource:
            $ref: '#/components/schemas/AlertListDatasource'
    DefaultTimespan:
      allOf:
      - $ref: '#/components/schemas/LegacyDefaultTimespan'
      - $ref: '#/components/schemas/ApiDefaultTimespan'
    ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        properties:
          errors:
            type:
            - array
            - 'null'
            description: (Optional) When multiple errors occur, the details for each error are listed.
            items:
              $ref: '#/components/schemas/ValidationErrorItem'
    StackedBarChartDatasource:
      type: string
      description: Datasource of the stacked bar chart widget.
      enum:
      - CLOUD_AND_ENTERPRISE_AGENTS
      - ENDPOINT_AGENTS
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_SCHEDULED_TEST
      - CLOUD_NATIVE_MONITORING
      - TRAFFIC_INSIGHTS_MONITORING
      example: ENDPOINT_AGENTS
    ApiMultiMetricTableWidget:
      type: object
      description: A Multi-Metric table widget with columns, each representing a different metric, offering a comprehensive view rather than restricting to a single metric.
      allOf:
      - $ref: '#/components/schemas/Widget'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/MultiMetricTableWidgetType'
          compareToPreviousValue:
            type: boolean
            description: Enables comparison of the current metric value with the previous value.
          rowGroupBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          sortBy:
            $ref: '#/components/schemas/WidgetSortProperty'
          sortDirection:
            $ref: '#/components/schemas/WidgetSortDirection'
          limit:
            $ref: '#/components/schemas/WidgetLimit'
          multiMetricColumns:
            type: array
            items:
              $ref: '#/components/schemas/ApiMultiMetricColumn'
          dataSource:
            $ref: '#/components/schemas/MultiMetricsTableDatasource'
    ApiNumbersCardData:
      type: object
      description: The data displayed on a numbers card.
      properties:
        cardId:
          type: string
          description: Identifier of the card.
          example: lrxxr
        cardName:
          type: string
          description: Name of the card.
          example: Card Name
        startDate:
          type: string
          format: date-time
          description: UTC start date of the data shown in the API output (ISO date-time format).
          example: '2023-05-16T10:14:28Z'
        endDate:
          type: string
          format: date-time
          description: UTC end date of the data shown in the API output (ISO date-time format).
          example: '2023-05-16T10:14:28Z'
        previousValue:
          type: number
          format: double
          description: Previous value if `compareToPreviousValue == true` in configuration.
          example: 500
        binSize:
          $ref: '#/components/schemas/BinSize'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        numberOfDataPoints:
          type: integer
          format: int64
          description: Number of points aggregated into the data point
          example: 24192
        value:
          $ref: '#/components/schemas/WidgetValue'
        status:
          $ref: '#/components/schemas/WidgetStatus'
        alertSuppressionWindows:
          type: array
          items:
            $ref: '#/components/schemas/ApiDashboardAsw'
        _links:
          $ref: '#/components/schemas/SelfLinks'
    TableWidgetType:
      type: string
      pattern: ^Table$
      description: Table widget type.
      example: Table
    MultiMetricTableWidgetType:
      type: string
      pattern: ^Multi Metric Table$
      description: Multi Metric Table widget type.
      example: Multi Metric Table
    ApiStackedAreaChartWidget:
      type: object
      description: Displays line plots over time, stacking quantities vertically to showcase cumulative data trends, similar to stacked bar charts. Ideal for visualizing changes in response times, error counts, and other metrics, revealing the progression of values across a timeline. Use this chart to replace stacked bar charts for temporal data analysis.
      allOf:
      - $ref: '#/components/schemas/Widget'
      - $ref: '#/components/schemas/ScalableWidget'
      - $ref: '#/components/schemas/ApiStackedAreaChartWidgetProperties'
    ColorGridDatasource:
      type: string
      description: Datasource of the color grid widget.
      enum:
      - THIRD_PARTY_APPLICATIONS
      - ALERTS
      - CLOUD_AND_ENTERPRISE_AGENTS
      - DEVICES
      - ENDPOINT_AGENTS
      - ENDPOINT_AST_TEST
      - ENDPOINT_BROWSER_SESSION
      - ENDPOINT_LOCAL_NETWORK
      - ENDPOINT_LOCAL_NETWORK_WIRELESS
      - ENDPOINT_SCHEDULED_TEST
      - INTERNET_INSIGHTS
      - ROUTING
      - CLOUD_NATIVE_MONITORING
[...]
