openapi: 3.2.0
info:
  title: Local Network Endpoint Test Results API
  version: 7.0.100
  description: Retrieve results for scheduled and dynamic tests on endpoint agents.
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
security:
- BearerAuth: []
tags:
- name: Local Network Endpoint Test Results
paths:
  /endpoint/test-results/local-networks:
    get:
      tags:
      - Local Network Endpoint Test Results
      summary: List local networks
      description: 'Returns a list of all the networks used by endpoint agents.


        Sends back a `localNetworks` array.

        '
      operationId: getLocalNetworksTestResults
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/LocalNetworkResults'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/local-networks/topologies/filter:
    post:
      tags:
      - Local Network Endpoint Test Results
      summary: List endpoint network topologies probes
      description: "Returns a list of all endpoint local network topologies probes. \nAll results are provided, oldest to newest (according to a specified page index and size) unless an explicit start and end is provided with `startDate`, `endDate` or `window` optional parameters.\n\n## Request body filters\nThis endpoint supports complex filtering using the request body.\nIt is important these filters remain unaltered when making use of pagination, otherwise the results will not be coherent with the original request.\n\n### Multiple filter fields\nWhen multiple filter fields are provided, a logical `AND` is applied between the filters.\n ```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/local-networks/topologies/filter'\n--header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n  \"searchFilters\": {\n    \"platform\": [ \"mac\" ],\n    \"domain\": [ \"thousandeyes.com\" ]\n  }}'\n```\n\n### Filter field with multiple values\nWhen a filter field contains multiple values, a logical `OR` is applied between the filter values.\n ```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/local-networks/topologies/filter'\n--header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n  \"searchFilters\": {\n    \"networkId\": [ \"660b34109d12\", \"660b34109d15\" ]\n  }}'\n```\n\n### Combination of request parameters and body filters\n```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/local-networks/topologies/filter?window=12h'\n--header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n  \"searchFilters\": {\n    \"platform\": [ \"mac\" ],\n    \"domain\": [ \"thousandeyes.com\" ],\n    \"networkId\": [ \"660b34109d12\", \"660b34109d15\" ]\n  }}'\n```\n\n### Warning\nNote that a maximum of 12h worth of data can be retrieved at once. \nIf you need more, you need to make multiple requests.\n\nReturns a `results` array of network topology probes. \nNetwork topology probes shown are from the latest round, or based on the time range specified.\n"
      operationId: filterLocalNetworksTestResultsTopologies
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      - $ref: '#/components/parameters/PaginationCursor'
      - $ref: '#/components/parameters/ExpandLocalNetworkTopology'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointNetworkTopologyResultRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/LocalNetworkTopologyResults'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/local-networks/topologies/{networkTopologyId}:
    get:
      tags:
      - Local Network Endpoint Test Results
      summary: Retrieve endpoint local network topology
      description: 'Returns detailed data of a local network topology.

        '
      operationId: getLocalNetworksTestResultsTopology
      parameters:
      - $ref: '#/components/parameters/NetworkTopologyIdPath'
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/ExpandLocalNetworkTopology'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/LocalNetworkTopologyDetailResults'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
components:
  schemas:
    NetworkPing:
      type: object
      properties:
        avgRtt:
          type: integer
          description: Ping average response time.
          example: 7
          readOnly: true
        maxRtt:
          type: integer
          description: Ping maximum response time.
          example: 66
          readOnly: true
        loss:
          type: number
          format: double
          description: Network loss.
          example: 1
          readOnly: true
        meanDevRtt:
          type: integer
          description: Ping mean standard deviation response time.
          example: 11
          readOnly: true
        minRtt:
          type: integer
          description: Ping minimum response time.
          example: 1
          readOnly: true
        pktsReceived:
          type: integer
          description: Ping packets received.
          example: 10
          readOnly: true
        pktsSent:
          type: integer
          description: Ping packets sent.
          example: 10
          readOnly: true
        error:
          type: string
          description: Only present when there is an error.
          example: An operation timed out.
          readOnly: true
        infoFlags:
          $ref: '#/components/schemas/ErrorFlags'
    EndDate:
      type: string
      format: date-time
      example: '2022-07-18T22:00:54Z'
      description: (Optional) When passing `window` or `endDate` parameter,  the client will also receive the `endDate` field indicating the UTC end date of the data's time range being retrieved  (ISO date-time format).
      readOnly: true
    ProcessMetrics:
      type: object
      properties:
        name:
          type: string
          description: The name of the process.
          example: Webex background
        pid:
          type: integer
          description: The process ID.
          example: 15632
        cpu:
          type: number
          format: double
          description: The CPU usage by the process as a percentage (e.g., 0.5 for 50% CPU usage).
          example: 0.5
        memoryPercentage:
          type: number
          format: double
          description: The memory usage by the process as a percentage (e.g., 0.22 for 22%).
          example: 0.22
        memoryBytes:
          type: integer
          format: int64
          description: The memory usage by the process in bytes.
          example: 1023334
    ExpandLocalNetworkTopologyOptions:
      type: string
      enum:
      - system-metric-detail
      - user-profile
      example: system-metric-detail
    LocalNetworkTopologyResultBase:
      type: object
      properties:
        agentId:
          $ref: '#/components/schemas/EndpointAgentId'
        date:
          type: string
          format: date-time
          description: UTC date when endpoint network topology took place (ISO date-time format).
          example: '2022-07-17T22:00:54Z'
          readOnly: true
        networkTopologyId:
          type: string
          description: Network topology ID. Each network topology occurrence has a unique ID.
          example: 00160:54c3a4b180c6:1490536500:c7a58c49
          readOnly: true
        dnsServerTest:
          $ref: '#/components/schemas/LocalNetworkTopologyDnsServerTest'
        roundId:
          $ref: '#/components/schemas/RoundId'
        target:
          type: string
          description: IP of the target the network topology was performed against. This is typically a default gateway, proxy or VPN endpoint.
          example: 10.0.2.2
          readOnly: true
        targetPort:
          type: integer
          description: Port of the target the network topology was performed against.
          example: 80
          readOnly: true
        type:
          $ref: '#/components/schemas/NetworkTopologyType'
        icmpPing:
          $ref: '#/components/schemas/NetworkPing'
        isIcmpBlocked:
          $ref: '#/components/schemas/IcmpBlocked'
        tcpConnect:
          $ref: '#/components/schemas/TcpConnect'
        systemMetrics:
          $ref: '#/components/schemas/SystemMetrics'
        systemMetricDetails:
          $ref: '#/components/schemas/SystemMetricDetails'
        vpnScore:
          $ref: '#/components/schemas/EndpointProbeVpnScore'
        gatewayScore:
          $ref: '#/components/schemas/EndpointProbeGatewayScore'
        proxyScore:
          $ref: '#/components/schemas/EndpointProbeProxyScore'
        connectionScore:
          $ref: '#/components/schemas/EndpointProbeConnectionScore'
        agentScore:
          $ref: '#/components/schemas/EndpointProbeAgentScore'
        batteryMetrics:
          $ref: '#/components/schemas/BatteryMetrics'
        cellularProfile:
          $ref: '#/components/schemas/CellularProfile'
        platform:
          $ref: '#/components/schemas/Platform'
    LocalNetworkTopologyResults:
      type: object
      properties:
        results:
          x-paginated-items: true
          type: array
          items:
            $ref: '#/components/schemas/LocalNetworkTopologyResultBase'
        startDate:
          $ref: '#/components/schemas/StartDate'
        endDate:
          $ref: '#/components/schemas/EndDate'
        _links:
          $ref: '#/components/schemas/PaginationNextLink'
    EndpointAgentId:
      type: string
      format: uuid
      description: Unique ID of endpoint agent, from `/endpoint/agents` endpoint.
      example: 861b7557-cd57-4bbb-b648-00bddf88ef49
      readOnly: true
    CellularProfile:
      description: Cellular network profile information for a mobile endpoint agent.
      type: object
      readOnly: true
      properties:
        carrierName:
          type: string
          description: Carrier name
          example: T-Mobile
        networkGen:
          $ref: '#/components/schemas/CellularNetworkGen'
        networkSubtype:
          type: string
          description: A real network subtype. It may be different from an advertised network type.
          example: LTE/HSPA
        advertisedNetworkGen:
          $ref: '#/components/schemas/CellularNetworkGen'
        advertisedNetworkSubtype:
          type: string
          description: Advertised Network subtype
          example: LTE/HSPA
        rssi:
          type: number
          format: double
          description: Received Signal Strength Indicator in dBm. Values are always negative.
          example: -10
        rsrp:
          type: number
          format: double
          description: Reference Signal Received Power in dBm. Values are always negative.
          example: -30
        rscp:
          type: number
          format: double
          description: Received Signal Code Power in dBm. Values are always negative or zero.
          example: -30
        rsrq:
          type: number
          format: double
          description: Reference Signal Received Quality in dBm. Values are always negative.
          example: -30
        sinr:
          type: number
          format: double
          description: Signal to Interference and Noise Ratio in dBm. It can be negative or positive.
          example: 20
    NetworkProxyProfile:
      type: object
      properties:
        method:
          type: string
          description: Proxy profile method.
          example: System
          readOnly: true
        proxies:
          type: array
          items:
            $ref: '#/components/schemas/NetworkProxy'
    LocalNetworkTopologyDnsServerTest:
      type: object
      description: DNS server test details. This object is only available when the topology `type` is `dns`.
      properties:
        resolutionTime:
          type: integer
          description: How long it took to resolve the DNS query in milliseconds.
          example: 3
          readOnly: true
    IcmpBlocked:
      type: boolean
      description: Set to `true` if network target is blocking ICMP echo (ping) queries.
      example: true
      readOnly: true
    CpuUtilization:
      type: object
      properties:
        min:
          type: number
          format: double
          description: The minimum sampled usage value recorded during the monitored period.
          example: 0.22
          minimum: 0
          maximum: 1
          readOnly: true
        max:
          type: number
          format: double
          description: The maximum sampled usage value recorded during the monitored period.
          example: 0.75
          minimum: 0
          maximum: 1
          readOnly: true
        mean:
          type: number
          format: double
          description: The mean (average) sampled usage value recorded during the monitored period.
          example: 0.55
          minimum: 0
          maximum: 1
          readOnly: true
        median:
          type: number
          format: double
          description: The median sampled usage value recorded during the monitored period.
          example: 0.61
          minimum: 0
          maximum: 1
          readOnly: true
        stdDev:
          type: number
          format: double
          description: The standard deviation of sampled usage values recorded during the monitored period.
          example: 0.01
          minimum: 0
          maximum: 1
          readOnly: true
        count:
          type: integer
          description: The total number of samples collected during the monitored period.
          example: 150
          readOnly: true
    LocalNetworkResults:
      type: object
      properties:
        localNetworks:
          type: array
          items:
            $ref: '#/components/schemas/LocalNetworkResult'
        _links:
          $ref: '#/components/schemas/SelfLinks'
    NicDriverVersionFilter:
      description: Filters results to NIC driver versions that exactly match one of the provided values. Matching is case-sensitive.
      type: array
      items:
        type: string
        example: 22.250.0.9
    SelfLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/Link'
    NetworkWirelessProfile:
      type: object
      properties:
        ssid:
          type: string
          description: Wireless network SSID.
          example: Internet for the masses
          readOnly: true
        bssid:
          type: string
          description: Wireless network BSSID.
          example: 4c:ba:ba:f4:fa:fa
          readOnly: true
        channel:
          type: integer
          description: Wireless network channel.
          example: 1
          readOnly: true
        phyMode:
          type: string
          description: Wireless network PHY mode.
          example: 802.11n
          readOnly: true
        rssi:
          type: integer
          description: Wireless network RSSI.
          example: -38
          readOnly: true
        noise:
          type: integer
          description: Wireless network noise.
          example: -95
          readOnly: true
        snr:
          type: integer
          description: Wireless network signal-to-noise ratio (SNR), in dB.
          example: 57
          readOnly: true
        quality:
          type: integer
          description: Wireless network quality.
          example: 100
          readOnly: true
        txRate:
          type: integer
          description: Wireless network transmitted rate.
          example: 130
          readOnly: true
        vendor:
          type: string
          description: Wireless network device vendor.
          example: Cisco
          readOnly: true
    SystemMetrics:
      type: object
      properties:
        startTimeMs:
          type: integer
          format: int64
          description: The start time of metrics collection, expressed in milliseconds since the Epoch.
          example: 1581508857327
          readOnly: true
        endTimeMs:
          type: integer
          format: int64
          description: The end time of metrics collection, expressed in milliseconds since the Epoch.
          example: 1581508867333
          readOnly: true
        cpuUtilization:
          $ref: '#/components/schemas/CpuUtilization'
        physicalMemoryUsedBytes:
          $ref: '#/components/schemas/PhysicalMemoryUsedBytes'
        physicalMemoryTotalBytes:
          type: integer
          format: int64
          description: Total physical memory of the system.
          example: 1024
          readOnly: true
    SystemMetricDetails:
      type: object
      description: 'Details of system metrics that contain top applications by CPU/memory usage.

        Not populated by default.

        '
      properties:
        topCpuApplications:
          type: array
          description: A list of applications that consume more than 2% of the CPU.
          readOnly: true
          items:
            $ref: '#/components/schemas/ApplicationMetrics'
        topMemoryApplications:
          type: array
          description: A list of applications that consume more than 2% of the RAM.
          readOnly: true
          items:
            $ref: '#/components/schemas/ApplicationMetrics'
    BatteryMetrics:
      description: Battery metrics for the endpoint agent.
      type: object
      readOnly: true
      properties:
        batteryHealthNormalizedPercent:
          type: number
          format: double
          description: Battery health as a normalized percentage (0-1).
          example: 0.92
          minimum: 0
          maximum: 1
        batteryLevel:
          $ref: '#/components/schemas/BatteryLevel'
        batteryLevelNormalizedPercent:
          type: number
          format: double
          description: Battery level as a normalized percentage (0-1).
          example: 0.3
          minimum: 0
          maximum: 1
      required:
      - batteryLevel
      - batteryLevelNormalizedPercent
    EndpointProbeVpnScore:
      type: object
      properties:
        score:
          $ref: '#/components/schemas/EndpointScoreNumeric'
        quality:
          $ref: '#/components/schemas/ApplicationScoreQuality'
    NetworkProfile:
      allOf:
      - $ref: '#/components/schemas/NetworkInterface'
      - type: object
        description: Contains basic network connectivity parameters.
        properties:
          error:
            type: string
            description: Only present when there is an error
            example: An operation timed out.
            readOnly: true
          gateway:
            type: string
            description: Network gateway address.
            example: 10.0.0.1
            readOnly: true
          wirelessProfile:
            $ref: '#/components/schemas/NetworkWirelessProfile'
          proxyProfile:
            $ref: '#/components/schemas/NetworkProxyProfile'
          ethernetProfile:
            $ref: '#/components/schemas/EndpointTestEthernetProfile'
          previousInterface:
            $ref: '#/components/schemas/NetworkInterface'
    TracerouteHop:
      allOf:
      - $ref: '#/components/schemas/Hop'
      - type: object
        properties:
          asn:
            type: integer
            description: Unique number assigned to an organization (also referred to as service provider).
            example: 34779
            readOnly: true
          delay:
            type: integer
            description: Hop delay
            example: 5
            readOnly: true
          mpls:
            type: array
            description: Hop Multiprotocol Label Switching.
            items:
              type: string
            example:
            - L=301472,E=0,S=1,T=1
            readOnly: true
          name:
            type: string
            description: The hop name.
            example: 89-210-88-65.access.t-2.net
            readOnly: true
    NetworkProxy:
      type: object
      properties:
        bypass:
          type: string
          description: Proxy bypass expression.
          example: '*.local;169.254/16'
          readOnly: true
        proxy:
          type: string
          description: Proxy mode.
          example: <direct>
          readOnly: true
    ApplicationScoreQuality:
      type: string
      enum:
      - great
      - good
      - poor
      example: great
    EndpointScoreNumeric:
      type: number
      format: double
      description: A fine-grained score between 0 and 100.
      example: 100
    EndpointResultRequestFilter:
      type: object
      properties:
        location:
          type: array
          description: Location of the endpoint agent.
          items:
            type: string
          example:
          - San Francisco Bay Area
          - Germany
        connection:
          type: array
          items:
            $ref: '#/components/schemas/InterfaceHardwareType'
        platform:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
        gateway:
          type: array
          description: Endpoint agent default gateway IP address.
          items:
            type: string
          example:
          - 78.153.54.204
          - 78.153.54.206
        proxyTarget:
          type: array
          description: Endpoint agent proxy IP address.
          items:
            type: string
          example:
          - 78.153.54.204
          - 78.153.54.206
        vpnTarget:
          type: array
          description: Endpoint agent VPN endpoint IP address.
          items:
            type: string
          example:
          - 78.153.54.204
          - 78.153.54.206
        agentId:
          type: array
          description: Endpoint agent ID.
          items:
            type: string
            format: uuid
          example:
          - 3fde6422-f119-40e1-ae32-d08a1243c038
          - 236e6f18-9637-4a2f-b15f-7aa6a29c9fce
        networkId:
          type: array
          description: Network ID.
          items:
            type: string
          example:
          - 660b34109d12
          - 660b34109d15
        ssid:
          type: array
          description: WiFi SSID.
          items:
            type: string
          example:
          - wifi-name
          - other-room-wifi
        bssid:
          type: array
          description: WiFi BSSID.
          items:
            type: string
          example:
          - 8c:68:c8:a5:0a:8c
          - 0c:51:01:e4:3e:d0
        nicModel:
          $ref: '#/components/schemas/NicModelFilter'
        nicDriverVersion:
          $ref: '#/components/schemas/NicDriverVersionFilter'
    UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    BatteryLevel:
      description: Battery level indicator.
      type: string
      example: medium
      enum:
      - high
      - medium
      - low
    PaginationNextLink:
      type: object
      description: A links object containing a related link for forward pagination.
      properties:
        next:
          $ref: '#/components/schemas/Link'
    ApplicationMetrics:
      type: object
      properties:
        name:
          type: string
          description: The name of the application.
          example: Webex
        totalCpu:
          type: number
          format: double
          description: The total CPU usage by all application processes.
          example: 0.5
        totalMemoryPercentage:
          type: number
          format: double
          description: The total percentage of memory used by all application processes.
          example: 0.22
        totalMemoryBytes:
          type: integer
          format: int64
          description: The total memory in bytes used by all application processes.
          example: 1023334
        processes:
          type: array
          description: A list of application processes.
          items:
            $ref: '#/components/schemas/ProcessMetrics'
    LocalNetworkTopologyDetailResults:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/LocalNetworkTopologyResult'
        _links:
          $ref: '#/components/schemas/SelfLinks'
    LocalNetworksThresholdFilterName:
      type: string
      description: Metric on which the threshold filter is applied.
      enum:
      - vpn-score
      - avg-rtt
      - mean-dev-rtt
      - loss
      example: loss
    LocalNetworkTopologyResult:
      allOf:
      - $ref: '#/components/schemas/LocalNetworkTopologyResultBase'
      - type: object
        properties:
          coordinates:
            $ref: '#/components/schemas/RealUserEndpointTestCoordinates'
          networkProfile:
            $ref: '#/components/schemas/NetworkProfile'
          icmpTraceroute:
            $ref: '#/components/schemas/Traceroute'
          icmpTraceroutes:
            type: array
            items:
              $ref: '#/components/schemas/Traceroute'
    LocalNetworksThresholdFilter:
      type: object
      description: Filters the metric using the specified operator and threshold value.
      properties:
        name:
          $ref: '#/components/schemas/LocalNetworksThresholdFilterName'
        value:
          type: number
          description: The threshold value.
          format: double
          example: 10
        operator:
          $ref: '#/components/schemas/ThresholdFilterOperator'
    EndpointProbeConnectionScore:
      type: object
      properties:
        score:
          $ref: '#/components/schemas/EndpointScoreNumeric'
        quality:
          $ref: '#/components/schemas/ApplicationScoreQuality'
    NetworkTopologyType:
      type: string
      enum:
      - vpn
      - proxy
      - gateway
      - dns
      - unknown
      example: vpn
    Platform:
      description: OS platform types. Platform "linux" was recently renamed to "roomos".
      type: string
      enum:
      - windows
      - roomos
      - phoneos
      - elux
      - cisco-wireless
      - cisco-wireless-cloud
      - linux
      - mac
      - android
      - unknown
      example: mac
    EndpointProbeGatewayScore:
      type: object
      properties:
        score:
          $ref: '#/components/schemas/EndpointScoreNumeric'
        quality:
          $ref: '#/components/schemas/ApplicationScoreQuality'
    NetworkInterface:
      type: object
      properties:
        ipAddress:
          type: string
          description: Network IP address.
          example: 10.0.0.13
          readOnly: true
        subnetMask:
          type: string
          description: Network subnet mask - only for IPv4.
          example: 255.255.255.0
          readOnly: true
        publicIpAddress:
          type: string
          description: Network public IP address.
          example: 84.255.241.1
          readOnly: true
        localPrefix:
          type: string
          description: Network local prefix.
          example: 10.0.0.0
          readOnly: true
        publicIpRange:
          type: string
          description: Network public IP range.
          example: 84.255.241.0-84.255.241.255
          readOnly: true
        dnsServers:
          type: array
          description: Network DNS servers.
          example:
          - 8.8.8.8
          - 8.8.8.4
          readOnly: true
          items:
            type: string
        hardwareType:
          $ref: '#/components/schemas/InterfaceHardwareType'
        interfaceName:
          type: string
          description: Network interface name.
          example: en0
          readOnly: true
    EndpointNetworkTopologyThresholdFilter:
      type: object
      description: Applies all filters using the specified conditional operator (AND or OR).
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/LocalNetworksThresholdFilter'
        conditionalOperator:
          $ref: '#/components/schemas/ConditionalOperator'
    Traceroute:
      type: object
      properties:
        destination:
          type: string
          description: The target IP address.
          example: 13.32.22.232
          readOnly: true
        error:
          type: string
          description: Only present when there is an error
          example: An operation timed out.
          readOnly: true
        infoFlags:
          $ref: '#/components/schemas/ErrorFlags'
        internalErrors:
          $ref: '#/components/schemas/ErrorFlags'
        hops:
          type: array
          items:
            $ref: '#/components/schemas/TracerouteHop'
    Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    EndpointNetworkTopologyResultRequest:
      type: object
      properties:
        thresholdFilter:
          $ref: '#/components/schemas/EndpointNetworkTopologyThresholdFilter'
        searchFilters:
          $ref: '#/components/schemas/EndpointNetworkTopologyResultRequestFilter'
    ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        properties:
          errors:
            type:
            - array
            - 'null'
            description: (Optional) When multiple errors occur, the details for each error are listed.
            items:
              $ref: '#/components/schemas/ValidationErrorItem'
    InterfaceHardwareType:
      type: string
      example: wireless
      enum:
      - unknown
      - wireless
      - ethernet
      - modem
      - virtual
      - loopback
      - other
    TcpConnect:
      type: object
      properties:
        rtt:
          type: number
          format: double
          description: Represents the number of milliseconds required to establish TCP connectivity with the target
          example: 77.777
          readOnly: true
        errorCode:
          type: string
          description: Only present when there is an error
          example: ERR_TIMED_OUT
          readOnly: true
        error:
          type: string
          description: Only present when there is an error
          example: An operation timed out.
          readOnly: true
        infoFlags:
          $ref: '#/components/schemas/ErrorFlags'
    EndpointNetworkTopologyResultRequestFilter:
      allOf:
      - $ref: '#/components/schemas/EndpointResultRequestFilter'
      - type: object
        properties:
          type:
            type: array
            description: Web site base domain visited during the session.
            items:
              $ref: '#/components/schemas/NetworkTopologyType'
            example:
            - vpn
            - proxy
    ValidationErrorItem:
      type: object
      properties:
        code:
          type: string
          description: (Optional) A unique error type/code that can be referenced in the documentation for further details.
        field:
          type: string
          description: Identifies the field that triggered this particular error.
        message:
          type: string
          description: A short, human-readable summary of the error.
    RoundId:
      type: integer
      description: Epoch time (seconds) indicating the start time of the round.
      example: 1384309800
      readOnly: true
    PhysicalMemoryUsedBytes:
      type: object
      properties:
        min:
          type: number
          format: double
          description: The minimum sampled memory usage value recorded during the monitored period.
          example: 1.2
          readOnly: true
        max:
          type: number
          format: double
          description: The maximum sampled memory usage value recorded during the monitored period.
          example: 2.5
          readOnly: true
        mean:
          type: number
          format: double
          description: The mean (average) value of memory usage sampled over the monitored period.
          example: 1.77
          readOnly: true
        median:
          type: number
          format: double
          description: The median value of memory usage sampled over the monitored period.
          example: 1.85
          readOnly: true
        stdDev:
          type: number
          format: double
          description: The standard deviation of memory usage sampled during the monitored period.
          example: 0.25
          readOnly: true
        count:
          type: integer
          description: The total number of samples collected during the monitored period.
          example: 155
          readOnly: true
    StartDate:
      type: string
      format: date-time
      example: '2022-07-17T22:00:54Z'
      description: (Optional) When passing `window` or `startDate` parameter,  the client will also receive the `startDate` field indicating the UTC start date of the data's time range being retrieved  (ISO date-time format).
      readOnly: true
    CellularNetworkGen:
      description: Cellular network generation.
      type: string
      example: 2g, 3g, 4g, 5g
    RealUserEndpointTestCoordinates:
      type: object
      description: Contains approximate GPS location of the endpoint agent, based on endpoint agent’s public IP address.
      properties:
        latitude:
          type: number
          format: double
          description: Numeric representations of GPS coordinates.
          example: 46.0552778
          readOnly: true
        location:
          type: string
          description: Represents named geographical location.
          example: Slovenia
          readOnly: true
        longitude:
          type: number
          format: double
          description: Numeric representations of GPS coordinates.
          example: 14.5144444
          readOnly: true
    ErrorFlags:
      type: array
      items:
        type: string
      example:
      - TE_INFO_ICMP_BLOCKED_BY_FIREWALL
      readOnly: true
    EndpointProbeProxyScore:
      type: object
      properties:
        score:
          $ref: '#/components/schemas/EndpointScoreNumeric'
        quality:
          $ref: '#/components/schemas/ApplicationScoreQuality'
    Link:
      type: object
      description: A hyperlink from the containing resource to a URI.
      required:
      - href
      properties:
        href:
          type: string
          description: Its value is either a URI [RFC3986] or a URI template [RFC6570].
          example: https://api.thousandeyes.com/v7/link/to/resource/id
        templated:
          type: boolean
          description: Should be true when the link object's "href" property is a URI template.
        type:
          type: string
          description: Used as a hint to indicate the media type expected when dereferencing the target resource.
        deprecation:
          type: string
          description: Its presence indicates that the link is to be deprecated at a future date. Its value is a URL that should provide further information about the deprecation.
        name:
          type: string
          description: Its value may be used as a secondary key for selecting link objects that share the same relation type.
        profile:
          type: string
          description: A URI that hints about the profile of the target resource.
        title:
          type: string
          description: Intended for labelling the link with a human-readable identifier
        hreflang:
          type: string
          description: Indicates the language of the target resource
    ThresholdFilterOperator:
      type: string
      enum:
      - gte
      - lte
      example: gte
    EndpointProbeAgentScore:
      type: object
      properties:
        score:
          $ref: '#/components/schemas/EndpointScoreNumeric'
        quality:
          $ref: '#/components/schemas/ApplicationScoreQuality'
    Hop:
      type: object
      properties:
        hop:
          type: integer
          description: The hop index.
          example: 1
          readOnly: true
        ipAddress:
          type: string
          description: IP address of the hop.
          example: 196.40.106.237
          readOnly: true
        prefix:
          type: string
          description: Prefix of IP address shown in CIDR.
          example: 196.40.96.0/20
          readOnly: true
    EndpointTestEthernetProfile:
      type: object
      properties:
        linkSpeed:
          type: integer
          description: Ethernet profile link speed
          example: 860
          readOnly: true
    ConditionalOperator:
      type: string
      enum:
      - and
      - or
      example: and
    NicModelFilter:
      description: Filters results to NIC models that exactly match one of the provided values. Matching is case-sensitive.
      type: array
      items:
        type: string
        example: Intel(R) Wi-Fi 6 AX200 160MHz
    LocalNetworkResult:
      type: object
      properties:
        networkId:
          type: string
          description: The network ID. Each network occurrence has a unique ID.
          example: 006c4fa7a054
          readOnly: true
        networkName:
          type: string
          description: The network name.
          example: 10.5.51.0 (in 178.216.56.0/21)
          readOnly: true
        localPrefix:
          type: string
          description: Network local private address.
          example: 10.5.51.0
          readOnly: true
        publicIpRange:
          type: string
          description: Network public IP range.
          example: 178.216.56.0-178.216.63.255
          readOnly: true
  parameters:
    AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
    NetworkTopologyIdPath:
      name: networkTopologyId
      description: The network topology ID.
      required: true
      in: path
      schema:
        type: string
        example: 00160:39c518560de9:1491651900:236e6f18
    ExpandLocalNetworkTopology:
      name: expand
      in: query
      style: form
      explode: false
      description: This parameter is optional and determines whether to expand resources related to local network topologies. By default, no expansion occurs when this query parameter is omitted. To expand a specific resource, such as `systemMetricDetails`, append  `?expand=system-metric-detail` to the query.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/ExpandLocalNetworkTopologyOptions'
        example:
        - system-metric-detail
    PaginationCursor:
      name: cursor
      in: query
      example: null
      description: (Optional) Opaque cursor used for pagination. Clients should use `next` value from `_links` instead of this parameter.
      schema:
        type: string
        example: null
    StartDateParameter:
      name: startDate
      in: query
      description: Use with the `endDate` parameter. Include the complete time (hours, minutes, and seconds) in UTC time zone, following the ISO 8601 date-time format. See the example for reference. Please note that this parameter can't be used with `window`.
      schema:
        type: string
        format: date-time
        example: '2022-07-17T22:00:54Z'
    EndDateParameter:
      name: endDate
      in: query
      description: Defaults to current time the request is made. Use with the `startDate` parameter. Include the complete time (hours, minutes, and seconds) in UTC time zone, following the ISO 8601 date-time format. See the example for reference. Please note that this parameter can't be used with `window`.
      schema:
        type: string
        format: date-time
        example: '2022-07-18T22:00:54Z'
    Window:
      name: window
      in: query
      description: 'A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.

        For a precise date range, use `startDate` and `endDate`.'
      schema:
        type: string
        pattern: ^\d+(?:[smhdw]{1})?$
        example: 12h
  responses:
    '400':
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ValidationError'
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Your request object contains invalid fields.
            instance: /v7
            errors:
            - code: AM-5432
              field: firstName
              message: firstName cannot have fancy characters
            - code: DASH-5622
              field: password
              message: Password cannot be blank
    '401':
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
    '404':
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI or a wrong ID
            instance: /v7
    '500':
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
    '502':
      description: Bad Gateway
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    '429':
      description: Exhausted rate limit for the organization
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    '403':
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
