openapi: 3.2.0
info:
  version: 7.0.100
  title: ThousandEyes Users API
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
  description: User CRUD operations
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
tags:
- name: Users
  description: User CRUD operations
  x-displayName: Users
paths:
  /users:
    get:
      tags:
      - Users
      summary: List users
      operationId: getUsers
      description: Retrieves a list of users in the organization the account group ID belongs to. This operation requires the `API Access` and `View all users` permissions. See Account Context for more information on changing the account group context.
      parameters:
      - $ref: '#/components/parameters/Administrative_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Administrative_API_Users'
            application/json:
              schema:
                $ref: '#/components/schemas/Administrative_API_Users'
        '400':
          $ref: '#/components/responses/Administrative_API_400'
        '401':
          $ref: '#/components/responses/Administrative_API_401'
        '403':
          $ref: '#/components/responses/Administrative_API_403'
        '404':
          $ref: '#/components/responses/Administrative_API_404'
        '429':
          $ref: '#/components/responses/Administrative_API_429'
        '500':
          $ref: '#/components/responses/Administrative_API_500'
      security:
      - Administrative_API_BearerAuth: []
    post:
      tags:
      - Users
      summary: Create user
      operationId: createUser
      description: 'Creates a new user.


        The following applies when creating a user:

        * If the user is already a member of another ThousandEyes customer organization, the user must set their own login account group.

        * Any update that includes `accountGroupRoles` is a replace-based update and not a delta-based update.'
      parameters:
      - $ref: '#/components/parameters/Administrative_API_AccountGroupId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Administrative_API_UserRequest'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Administrative_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Administrative_API_CreatedUser'
            application/json:
              schema:
                $ref: '#/components/schemas/Administrative_API_CreatedUser'
        '400':
          $ref: '#/components/responses/Administrative_API_400'
        '401':
          $ref: '#/components/responses/Administrative_API_401'
        '403':
          $ref: '#/components/responses/Administrative_API_403'
        '404':
          $ref: '#/components/responses/Administrative_API_404'
        '429':
          $ref: '#/components/responses/Administrative_API_429'
        '500':
          $ref: '#/components/responses/Administrative_API_500'
      security:
      - Administrative_API_BearerAuth: []
  /users/{id}:
    get:
      tags:
      - Users
      summary: Retrieve user
      operationId: getUser
      description: Retrieves detailed information about a user. This operation requires the `API Access` and `View All Users` permissions.
      parameters:
      - $ref: '#/components/parameters/Administrative_API_UserIdPath'
      - $ref: '#/components/parameters/Administrative_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Administrative_API_UserDetail'
            application/json:
              schema:
                $ref: '#/components/schemas/Administrative_API_UserDetail'
        '400':
          $ref: '#/components/responses/Administrative_API_400'
        '401':
          $ref: '#/components/responses/Administrative_API_401'
        '403':
          $ref: '#/components/responses/Administrative_API_403'
        '404':
          $ref: '#/components/responses/Administrative_API_404'
        '429':
          $ref: '#/components/responses/Administrative_API_429'
        '500':
          $ref: '#/components/responses/Administrative_API_500'
      security:
      - Administrative_API_BearerAuth: []
    put:
      tags:
      - Users
      summary: Update user
      operationId: updateUser
      description: 'Updates a user using the user ID. You can update the user name, email address, account group assignments, or roles. This operation requires the `Edit users in all account groups` or `Edit users` permission.


        When updating a user, the following applies:

        * When updating a user''s email address, the user must confirm the username change before they can subsequently log in or perform API operations.

        * Any update that includes `accountGroupRoles` is a replace-based update and not a delta-based update.'
      parameters:
      - $ref: '#/components/parameters/Administrative_API_UserIdPath'
      - $ref: '#/components/parameters/Administrative_API_AccountGroupId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Administrative_API_UserRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Administrative_API_UserDetail'
            application/json:
              schema:
                $ref: '#/components/schemas/Administrative_API_UserDetail'
        '400':
          $ref: '#/components/responses/Administrative_API_400'
        '401':
          $ref: '#/components/responses/Administrative_API_401'
        '403':
          $ref: '#/components/responses/Administrative_API_403'
        '404':
          $ref: '#/components/responses/Administrative_API_404'
        '429':
          $ref: '#/components/responses/Administrative_API_429'
        '500':
          $ref: '#/components/responses/Administrative_API_500'
      security:
      - Administrative_API_BearerAuth: []
    delete:
      tags:
      - Users
      summary: Delete user
      operationId: deleteUser
      description: Deletes a user using the user ID. This operation requires the `Edit users in all account groups` or `Edit users` permission.
      parameters:
      - $ref: '#/components/parameters/Administrative_API_UserIdPath'
      - $ref: '#/components/parameters/Administrative_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Administrative_API_204'
        '400':
          $ref: '#/components/responses/Administrative_API_400'
        '401':
          $ref: '#/components/responses/Administrative_API_401'
        '403':
          $ref: '#/components/responses/Administrative_API_403'
        '404':
          $ref: '#/components/responses/Administrative_API_404'
        '429':
          $ref: '#/components/responses/Administrative_API_429'
        '500':
          $ref: '#/components/responses/Administrative_API_500'
      security:
      - Administrative_API_BearerAuth: []
  /users/current:
    get:
      tags:
      - Users
      summary: Retrieve current user
      operationId: getCurrentUser
      description: Retrieves detailed information about the current user.
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Administrative_API_UserDetail'
            application/json:
              schema:
                $ref: '#/components/schemas/Administrative_API_UserDetail'
        '400':
          $ref: '#/components/responses/Administrative_API_400'
        '401':
          $ref: '#/components/responses/Administrative_API_401'
        '403':
          $ref: '#/components/responses/Administrative_API_403'
        '404':
          $ref: '#/components/responses/Administrative_API_404'
        '429':
          $ref: '#/components/responses/Administrative_API_429'
        '500':
          $ref: '#/components/responses/Administrative_API_500'
      security:
      - Administrative_API_BearerAuth: []
components:
  responses:
    Administrative_API_429:
      description: Exhausted rate limit for the organization
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Administrative_API_Error'
    Administrative_API_400:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Administrative_API_ValidationError'
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Your request object contains invalid fields.
            instance: /v7
            errors:
            - code: AM-5432
              field: firstName
              message: firstName cannot have fancy characters
            - code: DASH-5622
              field: password
              message: Password cannot be blank
    Administrative_API_404:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Administrative_API_Error'
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI or a wrong ID
            instance: /v7
    Administrative_API_500:
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Administrative_API_Error'
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
    Administrative_API_403:
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Administrative_API_Error'
    Administrative_API_401:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Administrative_API_UnauthorizedError'
    Administrative_API_204:
      description: No content
  schemas:
    Administrative_API_Role:
      type: object
      allOf:
      - $ref: '#/components/schemas/Administrative_API_BaseRole'
      - properties:
          hasManagementPermissions:
            type: boolean
            description: Flag indicating whether the user has management permissions.
    Administrative_API_UserAccountGroupRole:
      type: object
      properties:
        accountGroupId:
          type: string
          description: Unique ID of the account group.
          example: '315'
        roleIds:
          type: array
          description: Unique role IDs.
          items:
            type: string
            description: Unique role ID.
            example: '57'
          example:
          - '57'
          - '1140'
    Administrative_API_ValidationErrorItem:
      type: object
      properties:
        code:
          type: string
          description: (Optional) A unique error type/code that can be referenced in the documentation for further details.
        field:
          type: string
          description: Identifies the field that triggered this particular error.
        message:
          type: string
          description: A short, human-readable summary of the error.
    Administrative_API_SelfLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/Administrative_API_Link'
    Administrative_API_UserRequest:
      type: object
      properties:
        name:
          type: string
          description: User's display name.
          example: User X
        email:
          type: string
          description: User's email address.
          format: email
          example: userx@thousandeyes.com
        loginAccountGroupId:
          type: string
          description: Unique ID of the login account group.
          example: '691'
        accountGroupRoles:
          type: array
          items:
            $ref: '#/components/schemas/Administrative_API_UserAccountGroupRole'
        allAccountGroupRoleIds:
          type: array
          description: Unique IDs representing the roles.
          items:
            type: string
            description: Unique role ID.
            example: '57'
          example:
          - '57'
          - '1140'
    Administrative_API_ExtendedUser:
      allOf:
      - $ref: '#/components/schemas/Administrative_API_User'
      - type: object
        properties:
          lastLogin:
            type: string
            description: UTC last login of the user (ISO date-time format).
            format: date-time
            example: '2022-07-17T22:00:54Z'
    Administrative_API_ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/Administrative_API_Error'
      - type: object
        properties:
          errors:
            type:
            - array
            - 'null'
            description: (Optional) When multiple errors occur, the details for each error are listed.
            items:
              $ref: '#/components/schemas/Administrative_API_ValidationErrorItem'
    Administrative_API_Link:
      type: object
      description: A hyperlink from the containing resource to a URI.
      required:
      - href
      properties:
        href:
          type: string
          description: Its value is either a URI [RFC3986] or a URI template [RFC6570].
          example: https://api.thousandeyes.com/v7/link/to/resource/id
        templated:
          type: boolean
          description: Should be true when the link object's "href" property is a URI template.
        type:
          type: string
          description: Used as a hint to indicate the media type expected when dereferencing the target resource.
        deprecation:
          type: string
          description: Its presence indicates that the link is to be deprecated at a future date. Its value is a URL that should provide further information about the deprecation.
        name:
          type: string
          description: Its value may be used as a secondary key for selecting link objects that share the same relation type.
        profile:
          type: string
          description: A URI that hints about the profile of the target resource.
        title:
          type: string
          description: Intended for labelling the link with a human-readable identifier
        hreflang:
          type: string
          description: Indicates the language of the target resource
    Administrative_API_AccountGroup:
      type: object
      properties:
        aid:
          $ref: '#/components/schemas/Administrative_API_AccountGroupId'
        accountGroupName:
          type: string
          description: Account group name
          example: Account A
    Administrative_API_BaseRole:
      type: object
      properties:
        name:
          type: string
          description: Name of the role.
          example: Organization Admin
        roleId:
          type: string
          description: Unique ID representing the role.
          example: '35'
        isBuiltin:
          type: boolean
          description: Flag indicating if the role is built-in (Account Admin, Organization Admin, Regular User).
    Administrative_API_User:
      type: object
      properties:
        name:
          type: string
          description: User's display name.
          example: User X
        email:
          type: string
          description: User's email address.
          format: email
          example: userx@thousandeyes.com
        uid:
          type: string
          description: Unique ID of the user.
          example: '245'
        dateRegistered:
          type: string
          description: UTC date the user registered their account (ISO date-time format).
          format: date-time
          example: '2020-07-17T22:00:54Z'
        loginAccountGroup:
          $ref: '#/components/schemas/Administrative_API_AccountGroup'
    Administrative_API_CreatedUser:
      allOf:
      - $ref: '#/components/schemas/Administrative_API_User'
      - type: object
        properties:
          loginAccountGroup:
            $ref: '#/components/schemas/Administrative_API_AccountGroup'
          accountGroupRoles:
            type: array
            items:
              $ref: '#/components/schemas/Administrative_API_AccountGroupRole'
          allAccountGroupRoles:
            type: array
            items:
              $ref: '#/components/schemas/Administrative_API_Role'
          _links:
            $ref: '#/components/schemas/Administrative_API_SelfLinks'
    Administrative_API_AccountGroupRole:
      type: object
      properties:
        accountGroup:
          $ref: '#/components/schemas/Administrative_API_AccountGroup'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/Administrative_API_Role'
    Administrative_API_UserDetail:
      allOf:
      - $ref: '#/components/schemas/Administrative_API_ExtendedUser'
      - type: object
        properties:
          loginAccountGroup:
            $ref: '#/components/schemas/Administrative_API_AccountGroup'
          accountGroupRoles:
            type: array
            items:
              $ref: '#/components/schemas/Administrative_API_AccountGroupRole'
          allAccountGroupRoles:
            type: array
            items:
              $ref: '#/components/schemas/Administrative_API_Role'
          _links:
            $ref: '#/components/schemas/Administrative_API_SelfLinks'
    Administrative_API_Users:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/Administrative_API_ExtendedUser'
        _links:
          $ref: '#/components/schemas/Administrative_API_SelfLinks'
    Administrative_API_AccountGroupId:
      type: string
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint.
      example: '1234'
    Administrative_API_Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    Administrative_API_UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
  parameters:
    Administrative_API_AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
    Administrative_API_UserIdPath:
      name: id
      description: Identifier for the user.
      required: true
      in: path
      schema:
        type: string
        example: '1234'
  headers:
    Administrative_API_Location:
      schema:
        type: string
        format: uri
        example: https://api.thousandeyes.com/v7/link/to/resource/id
      description: The absolute path to created resource.
  securitySchemes:
    Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Instant_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    ThousandEyes_for_OpenTelemetry_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Snapshots_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Usage_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Templates_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    BGP_Monitors_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Internet_Insights_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Tags_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Event_Detection_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agent_Labels_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Instant_Scheduled_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Emulation_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Dashboards_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Credentials_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Cloud_Insights_Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Autonomous_Systems_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    API_Token_Management_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Alerts_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Administrative_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
externalDocs:
  description: Find out more about ThousandEyes
  url: https://developer.thousandeyes.com/
x-tagGroups:
- name: Tests API
  tags:
  - Tests
  - Agent to Server Tests
  - Agent to Agent Tests
  - BGP Tests
  - DNS Server Tests
  - DNS Trace Tests
  - DNSSEC Tests
  - HTTP Server Tests
  - Page Load Tests
  - Web Transaction Tests
  - API Tests
  - FTP Server Tests
  - SIP Server Tests
  - Voice Tests
  - Path Visualization Interface Groups
- name: Test Results API
  tags:
  - Network Test Results
  - Web HTTP Server Test Results
  - Web Page Load Test Results
  - Web Transactions Test Results
  - API Test Results
  - Web FTP Server Test Results
  - DNS Trace Test Results
  - DNS Server Test Results
  - DNSSEC Test Results
  - Voice SIP Server Test Results
  - Voice RTP Server Test Results
  - Network BGP Test Results
- name: Instant Tests API
  tags:
  - Instant Tests
  - Agent to Agent Instant Tests
  - Agent to Server Instant Tests
  - DNS Server Instant Tests
  - DNS Trace Instant Tests
  - DNSSEC Instant Tests
  - HTTP Server Instant Tests
  - HTTP Page Load Instant Tests
  - Web Transaction Instant Tests
  - API Instant Tests
  - FTP Server Instant Tests
  - SIP Server Instant Tests
  - Voice Instant Tests
- name: ThousandEyes for OpenTelemetry API
  tags:
  - Streaming
- name: Test Snapshots API
  tags:
  - Test Snapshots
- name: Usage API
  tags:
  - Usage
  - Quotas
- name: Templates API
  tags:
  - Templates
- name: BGP Monitors API
  tags:
  - BGP monitors
- name: Internet Insights API
  tags:
  - Internet Insights Catalog Providers
  - Internet Insights Outages
- name: Tags API
  tags:
  - Tags
  - Tag Assignment
- name: Integrations API
  tags:
  - Credential Vault Operations
  - Operation Connectors
  - CyberArk Conjur Connectors
  - Webhook Operations
  - Generic Connectors
  - Panorama Connectors
- name: Event Detection API
  tags:
  - Events
- name: Endpoint Tests API
  tags:
  - Endpoint Scheduled Tests
  - Agent to Server Endpoint Scheduled Tests
  - HTTP Server Endpoint Scheduled Tests
  - Agent To Server Endpoint Dynamic Tests
  - Endpoint Real User Tests
- name: Endpoint Test Results API
  tags:
  - Network Endpoint Scheduled Test Results
  - HTTP Server Endpoint Scheduled Test Results
  - Network Dynamic Endpoint Test Results
  - Real User Endpoint Test Results
  - Local Network Endpoint Test Results
- name: Endpoint Agent Labels API
  tags:
  - Endpoint Agent Labels
- name: Endpoint Instant Scheduled Tests API
  tags:
  - Agent to Server Endpoint Instant Scheduled Tests
  - HTTP Server Endpoint Instant Scheduled Tests
  - Run Endpoint Instant Scheduled Tests
- name: Endpoint Agents API
  tags:
  - Endpoint Agents
  - Endpoint Agent Log Items
  - Endpoint Proxies
  - Endpoint Agents Transfer
- name: Emulation API
  tags:
  - Emulation
- name: Dashboards API
  tags:
  - Dashboards
  - Dashboard Snapshots
  - Dashboards Filters
- name: Credentials API
  tags:
  - Credentials
- name: Cloud Insights Integrations API
  tags:
  - Cloud Insights Integrations
  - Cloud Insights Integration Policy Settings
- name: Autonomous Systems API
  tags:
  - Autonomous Systems
  - Autonomous System Prefixes
- name: API Token Management API
  tags:
  - API Token
- name: Alerts API
  tags:
  - Alerts
  - Alert Rules
  - Alert Suppression Windows
- name: Agents API
  tags:
  - Cloud and Enterprise Agents
  - Local Problems
  - Enterprise Agent Cluster
  - Cloud and Enterprise Agent Notification Rules
  - Agent Proxies
  - Tests Assignment on Agents
- name: Administrative API
  tags:
  - Account Groups
  - Users
  - Roles
  - Permissions
  - User Events
