openapi: 3.2.0
info:
  version: 7.0.100
  title: ThousandEyes Cloud Insights Integrations API
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
  description: Manage Cloud Insights integrations for AWS and Azure.
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
tags:
- name: Cloud Insights Integrations
  description: Manage Cloud Insights integrations for AWS and Azure.
  x-displayName: Cloud Insights Integrations
paths:
  /cloud-insights/integration/aws:
    get:
      tags:
      - Cloud Insights Integrations
      summary: List AWS integrations
      operationId: getAllAWSMonitoringIntegrations
      description: Retrieves all AWS inventory and flow logs monitoring integrations configured for the authenticated account group in ThousandEyes.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      responses:
        '200':
          description: 'The response is an array of integration objects, where each object represents either an Inventory Monitoring or Flow Logs Monitoring integration. Each integration includes metadata such as: id — the unique identifier of the integration; name — the user-defined name of the integration; roleArn — the AWS IAM role ARN that ThousandEyes assumes to access your AWS resources; externalId — the external identifier used for secure cross-account role assumption; monitoringType — specifies whether the integration monitors AWS inventory (inventory-monitoring) or flow logs (flow-logs-monitoring); snsTopicsArns — a list of SNS topic ARNs used for flow logs monitoring (only present for flow logs monitoring integrations); links — HAL-style link relations that provide the "self" URL for retrieving integration details. This endpoint can be used to: audit all existing AWS integrations configured for Cloud Insights, identify which integrations are set up for inventory versus flow logs monitoring, and retrieve integration IDs for further API operations such as inspection (GET /cloud-insights/integration/aws/{integrationId}) or deletion (DELETE). The response is returned as a JSON array conforming to the AwsMonitoringIntegration schema.

            '
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AwsMonitoringIntegrations'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
  /cloud-insights/integration/aws/{integrationId}:
    get:
      tags:
      - Cloud Insights Integrations
      summary: Get AWS integration
      operationId: getAWSMonitoringIntegration
      description: Retrieves details for a specific AWS inventory or flow logs monitoring integration associated with the authenticated account group using the unique integration ID.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_IntegrationId'
      responses:
        '200':
          description: 'The response contains a single integration object representing either: AWS inventory monitoring integration or AWS flow logs monitoring integration. Each integration includes metadata that defines its configuration: id — the unique identifier of the integration; name — the user-defined name of the integration; roleArn — the AWS IAM role ARN that ThousandEyes assumes to access your AWS resources; externalId — the external identifier used for secure cross-account role assumption; monitoringType — identifies whether the integration monitors AWS inventory (inventory-monitoring) or flow logs (flow-logs-monitoring); snsTopicsArns — a list of SNS topic ARNs associated with flow logs monitoring (only present for flow-logs-monitoring integrations); links — HAL-style link relations that include a self URL pointing to this integration resource. This endpoint is typically used to: retrieve detailed configuration information for a specific AWS integration, verify that the integration is correctly set up and associated with the expected AWS IAM role, and obtain integration details before performing deletion or troubleshooting operations.

            '
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AwsMonitoringIntegration'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
    delete:
      tags:
      - Cloud Insights Integrations
      summary: Delete AWS integration
      operationId: deleteAwsMonitoringIntegration
      description: Deletes a specific AWS inventory or flow logs monitoring integration using the AWS integration ID.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_IntegrationId'
      responses:
        '204':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_204'
        '400':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_400'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
  /cloud-insights/integration/aws/inventory:
    post:
      tags:
      - Cloud Insights Integrations
      summary: Create AWS inventory monitoring integration
      operationId: createAWSInventoryMonitoringIntegration
      description: Creates a new AWS inventory monitoring integration.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AwsInventoryIntegrationRequest'
      responses:
        '201':
          description: AWS inventory monitoring integration created successfully.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AwsMonitoringIntegration'
        '400':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_400'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
  /cloud-insights/integration/aws/flow-logs:
    post:
      tags:
      - Cloud Insights Integrations
      summary: Create AWS flow logs monitoring integration
      operationId: createAWSFlowLogsMonitoringIntegration
      description: Creates a new AWS flow logs monitoring integration.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AwsFlowLogsIntegrationRequest'
      responses:
        '201':
          description: AWS flow logs monitoring integration created successfully.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AwsMonitoringIntegration'
        '400':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_400'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
  /cloud-insights/integration/aws/inventory/policies:
    get:
      tags:
      - Cloud Insights Integrations
      summary: Get AWS inventory monitoring IAM policies
      operationId: getAWSInventoryMonitoringIntegrationPolicies
      description: Retrieves the AWS IAM policies required to configure an AWS inventory monitoring integration in JSON string format for the authenticated account group.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      responses:
        '200':
          description: 'The response includes a JSON object containing two key policy documents: 1) Trusted Policy — defines the trust relationship that allows ThousandEyes to assume a specified AWS IAM role through sts:AssumeRole. This policy includes the Principal ARN for ThousandEyes and the required ExternalId condition; 2) Permissions Policy — lists the AWS service-level read permissions needed by ThousandEyes Cloud Insights to inventory network resources. These permissions cover services such as EC2, VPC, Transit Gateway, Direct Connect, CloudFront, ELB, CloudTrail, ECS/EKS, and S3. Use these policies when creating or updating the IAM role that ThousandEyes will use for inventory monitoring. The response is returned as a JSON string in the policies object.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AwsMonitoringPoliciesJsonString'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
  /cloud-insights/integration/aws/flow-logs/policies:
    get:
      tags:
      - Cloud Insights Integrations
      summary: Get AWS flow logs monitoring IAM policies
      operationId: getAWSFlowlogsMonitoringIntegrationPolicies
      description: Retrieves the AWS IAM policies required to configure an AWS flow logs monitoring integration in JSON string format for the authenticated account group.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      responses:
        '200':
          description: 'The response contains a JSON object with the following policy documents under the policies key: 1) Trusted Policy — defines the trust relationship that allows ThousandEyes to assume a specified AWS IAM role via sts:AssumeRole. This includes the Principal ARN for ThousandEyes and the required ExternalId condition for secure cross-account access; 2) Permissions Policy — grants ThousandEyes read-only access to the Amazon S3 buckets where flow logs are stored. The policy includes permissions such as s3:GetObject and s3:ListBucket, scoped to the relevant flow log S3 bucket ARNs; 3) SNS Topic Access Policy — allows ThousandEyes to subscribe to Amazon SNS topics that receive flow log delivery notifications. It also enables the S3 service to publish events to those topics, ensuring ThousandEyes can be notified of new log data. This policy includes permissions for both SNS:Subscribe (for ThousandEyes) and SNS:Publish (for S3 event notifications). Use these policies when configuring the IAM role and SNS topic permissions required by ThousandEyes Cloud Insights to collect and monitor AWS flow logs data across your account. The response is returned as a JSON string in the policies object.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AwsMonitoringPoliciesJsonString'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
  /cloud-insights/integration/azure:
    get:
      tags:
      - Cloud Insights Integrations
      summary: List Azure integrations
      operationId: getAllAzureMonitoringIntegrations
      description: Retrieves all Azure inventory and flow logs monitoring integrations configured for the authenticated account group in ThousandEyes.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      responses:
        '200':
          description: 'The response is an array of integration objects, where each object represents either an Azure Inventory Monitoring or Azure Flow Logs Monitoring integration. Each integration includes metadata such as: id — the unique identifier of the integration; name — the user-defined name of the integration; appId / clientId — the Azure Application (client) ID of the service principal used for authentication; password / clientSecret — the client secret value associated with the service principal (note: for security reasons, the actual secret is never returned. The response includes a masked value ("********") instead); azureTenantId — the Azure Active Directory tenant ID associated with the integration; serviceBusQueueUrl — the Service Bus queue URL used for flow logs monitoring (only present for azure-flow-logs-monitoring integrations); monitoringType — specifies whether the integration monitors Azure resources (azure-inventory-monitoring) or Azure flow logs (azure-flow-logs-monitoring); links — HAL-style link relations that provide the "self" URL for retrieving integration details. This endpoint can be used to: audit all existing Azure integrations configured for Cloud Insights, identify which integrations are configured for inventory versus flow logs monitoring, and retrieve integration IDs for further API operations such as inspection (GET /cloud-insights/integration/azure/{integrationId}) or deletion (DELETE). The response is returned as a JSON array conforming to the AwsMonitoringIntegration schema.

            '
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureMonitoringIntegrations'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
  /cloud-insights/integration/azure/{integrationId}:
    get:
      tags:
      - Cloud Insights Integrations
      summary: Get Azure integration
      operationId: getAzureMonitoringIntegration
      description: Retrieves details for a specific Azure inventory or flow logs monitoring integration associated with the authenticated account group using the unique integration ID.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_IntegrationId'
      responses:
        '200':
          description: 'The response contains a single integration object representing either: Azure Inventory Monitoring integration or Azure Flow Logs Monitoring integration. Each integration includes metadata that defines its configuration: id — the unique identifier of the integration; name — the user-defined name of the integration; appId / clientId — the Azure Application (client) ID of the service principal used for authentication; password / clientSecret — the client secret value associated with the service principal (note: for security reasons, the actual secret is never returned. The response includes a masked value ("********") instead; azureTenantId — the Azure Active Directory tenant ID for the integration; serviceBusQueueUrl — the Service Bus queue URL used for receiving Flow Logs (only present for azure-flow-logs-monitoring integrations); monitoringType — identifies whether the integration monitors Azure resources (azure-inventory-monitoring) or flow logs (azure-flow-logs-monitoring); links — HAL-style link relations that include a "self" URL pointing to this integration resource. This endpoint is typically used to: retrieve detailed configuration information for a specific Azure integration, validate that the integration credentials and type (inventory or flow logs) are correctly configured, and obtain integration details before performing update or deletion operations.

            '
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureMonitoringIntegration'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
    delete:
      tags:
      - Cloud Insights Integrations
      summary: Delete Azure integration
      operationId: deleteAzureMonitoringIntegration
      description: Deletes a specific Azure inventory or flow logs monitoring integration using the Azure integration ID.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_IntegrationId'
      responses:
        '204':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_204'
        '400':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_400'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
  /cloud-insights/integration/azure/inventory:
    post:
      tags:
      - Cloud Insights Integrations
      summary: Create Azure inventory monitoring integration
      operationId: createAzureInventoryMonitoringIntegration
      description: Creates a new Azure inventory monitoring integration.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureInventoryIntegrationRequest'
      responses:
        '201':
          description: Azure inventory monitoring integration created successfully.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureMonitoringIntegration'
        '400':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_400'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
  /cloud-insights/integration/azure/flow-logs:
    post:
      tags:
      - Cloud Insights Integrations
      summary: Create Azure flow logs monitoring integration
      operationId: createAzureFlowLogsMonitoringIntegration
      description: Creates a new Azure flow logs monitoring integration.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureFlowLogsIntegrationRequest'
      responses:
        '201':
          description: Azure flow logs monitoring integration created successfully.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureMonitoringIntegration'
        '400':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_400'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
  /cloud-insights/integration/azure/inventory/{integrationId}:
    put:
      tags:
      - Cloud Insights Integrations
      summary: Update Azure inventory monitoring integration
      operationId: updateAzureInventoryMonitoringIntegration
      description: Updates an existing Azure inventory monitoring integration.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_IntegrationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureInventoryIntegrationRequest'
      responses:
        '200':
          description: Azure inventory monitoring integration updated successfully.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureMonitoringIntegration'
        '400':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_400'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
  /cloud-insights/integration/azure/flow-logs/{integrationId}:
    put:
      tags:
      - Cloud Insights Integrations
      summary: Update Azure flow logs monitoring integration
      operationId: updateAzureFlowLogsMonitoringIntegration
      description: Updates an existing Azure flow logs monitoring integration.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_IntegrationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureFlowLogsIntegrationRequest'
      responses:
        '200':
          description: Azure flow logs monitoring integration updated successfully.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureMonitoringIntegration'
        '400':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_400'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
components:
  responses:
    Cloud_Insights_Integrations_API_403:
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_Error'
    Cloud_Insights_Integrations_API_429:
      description: Exhausted rate limit for the organization
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_Error'
    Cloud_Insights_Integrations_API_500:
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_Error'
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
    Cloud_Insights_Integrations_API_401:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_UnauthorizedError'
    Cloud_Insights_Integrations_API_400:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_ValidationError'
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Your request object contains invalid fields.
            instance: /v7
            errors:
            - code: AM-5432
              field: firstName
              message: firstName cannot have fancy characters
            - code: DASH-5622
              field: password
              message: Password cannot be blank
    Cloud_Insights_Integrations_API_204:
      description: No content
    Cloud_Insights_Integrations_API_404:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_Error'
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI or a wrong ID
            instance: /v7
  schemas:
    Cloud_Insights_Integrations_API_ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/Cloud_Insights_Integrations_API_Error'
      - type: object
        properties:
          errors:
            type:
            - array
            - 'null'
            description: (Optional) When multiple errors occur, the details for each error are listed.
            items:
              $ref: '#/components/schemas/Cloud_Insights_Integrations_API_ValidationErrorItem'
    Cloud_Insights_Integrations_API_AzureFlowLogsIntegrationRequest:
      required:
      - name
      - appId
      - password
      - azureTenantId
      - serviceBusQueueUrl
      type: object
      properties:
        name:
          type: string
          description: The name of the Azure flow logs monitoring integration.
          example: integration name
        appId:
          type: string
          description: The Application (client) ID of the service principal.
          example: 2f9b2a1c-6d87-4c92-9d51-37efc93c0a4f
        password:
          type: string
          description: The client secret value.
          example: p9z4Q~U7LkdX1yZr3TcB6fJqG8aM0sDeT5R9hVnKw
        azureTenantId:
          type: string
          description: The Azure Active Directory tenant ID.
          example: e3a72c9b-42b1-4e0b-9b9f-7f6a3b2a1c44
        serviceBusQueueUrl:
          type: string
          description: The URL of the Service Bus Queue.
          example: https://your-service-bus-namespace.servicebus.windows.net/your-queue-name
    Cloud_Insights_Integrations_API_Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    Cloud_Insights_Integrations_API_ValidationErrorItem:
      type: object
      properties:
        code:
          type: string
          description: (Optional) A unique error type/code that can be referenced in the documentation for further details.
        field:
          type: string
          description: Identifies the field that triggered this particular error.
        message:
          type: string
          description: A short, human-readable summary of the error.
    Cloud_Insights_Integrations_API_AwsMonitoringIntegrations:
      required:
      - integrations
      type: object
      description: A HAL resource containing a list of AWS monitoring integrations and navigation links.
      properties:
        integrations:
          type: array
          description: The list of AWS inventory and flow logs monitoring integrations.
          items:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AwsMonitoringIntegration'
        _links:
          $ref: '#/components/schemas/Cloud_Insights_Integrations_API_SelfLinks'
    Cloud_Insights_Integrations_API_AzureInventoryIntegrationRequest:
      required:
      - name
      - appId
      - password
      - azureTenantId
      type: object
      properties:
        name:
          type: string
          description: The name of the Azure inventory monitoring integration.
          example: integration name
        appId:
          type: string
          description: The Application (client) ID of the service principal.
          example: 2f9b2a1c-6d87-4c92-9d51-37efc93c0a4f
        password:
          type: string
          description: The client secret value.
          example: p9z4Q~U7LkdX1yZr3TcB6fJqG8aM0sDeT5R9hVnKw
        azureTenantId:
          type: string
          description: The Azure Active Directory tenant ID.
          example: e3a72c9b-42b1-4e0b-9b9f-7f6a3b2a1c44
    Cloud_Insights_Integrations_API_UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    Cloud_Insights_Integrations_API_SelfLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/Cloud_Insights_Integrations_API_Link'
    Cloud_Insights_Integrations_API_AwsMonitoringPoliciesJsonString:
      type: string
      description: JSON policies for AWS monitoring integration as string.
    Cloud_Insights_Integrations_API_AwsMonitoringIntegration:
      required:
      - id
      - name
      - roleArn
      - externalId
      - monitoringType
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The unique ID for the AWS inventory or flow logs monitoring integration.
          example: e9c3bf02-a48c-4aa8-9e5f-898800d6f569
        name:
          type: string
          description: The name of the AWS inventory or flow logs monitoring integration.
          example: integration name
        roleArn:
          type: string
          description: The ARN of the AWS role to be monitored.
          example: arn:aws:iam::01234567890:role/aws-monitoring-ro
        externalId:
          type: string
          description: The external ID associated with the account group.
          example: 37d8f861cffd34212b5a34466564da1f80b01a30
        monitoringType:
          description: The type of monitoring integration.
          type: string
          example: inventory-monitoring
          enum:
          - inventory-monitoring
          - flow-logs-monitoring
        snsTopicsArns:
          type: array
          items:
            type: string
          description: The array of SNS topic ARNs. Relevant only for flow logs monitoring integrations.
          example:
          - arn:aws:sns:us-east-1:01234567890:SNS-Topic-US
          - arn:aws:sns:eu-central-1:01234567890:SNS-Topic-EU
        _links:
          $ref: '#/components/schemas/Cloud_Insights_Integrations_API_SelfLinks'
    Cloud_Insights_Integrations_API_AzureMonitoringIntegrations:
      required:
      - integrations
      type: object
      description: A HAL resource containing a list of Azure inventory and flow logs monitoring integrations.
      properties:
        integrations:
          type: array
          description: The list of Azure inventory and flow logs monitoring integrations.
          items:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureMonitoringIntegration'
        _links:
          $ref: '#/components/schemas/Cloud_Insights_Integrations_API_SelfLinks'
    Cloud_Insights_Integrations_API_AzureMonitoringIntegration:
      required:
      - id
      - name
      - appId
      - password
      - azureTenantId
      - monitoringType
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The unique ID for the Azure inventory or flow logs monitoring integration.
          example: e9c3bf02-a48c-4aa8-9e5f-898800d6f569
        name:
          type: string
          description: The name of the Azure inventory or flow logs monitoring integration.
          example: integration name
        appId:
          type: string
          description: The Application (client) ID of the service principal.
          example: 2f9b2a1c-6d87-4c92-9d51-37efc93c0a4f
        password:
          type: string
          description: The client secret value. For security reasons, the client secret value is masked.
          example: '********'
        azureTenantId:
          type: string
          description: The Azure Active Directory tenant ID.
          example: e3a72c9b-42b1-4e0b-9b9f-7f6a3b2a1c44
        serviceBusQueueUrl:
          type: string
          description: The URL of the Service Bus Queue. Relevant only for flow logs monitoring integrations.
          example: https://your-service-bus-namespace.servicebus.windows.net/your-queue-name
        monitoringType:
          description: The type of monitoring integration.
          type: string
          example: azure-inventory-monitoring
          enum:
          - azure-inventory-monitoring
          - azure-flow-logs-monitoring
        _links:
          $ref: '#/components/schemas/Cloud_Insights_Integrations_API_SelfLinks'
    Cloud_Insights_Integrations_API_AwsFlowLogsIntegrationRequest:
      required:
      - name
      - roleArn
      - snsTopicsArns
      type: object
      properties:
        name:
          type: string
          description: The name of the AWS flow logs monitoring integration.
          example: integration name
        roleArn:
          type: string
          description: The ARN of the AWS role to be monitored.
          example: arn:aws:iam::01234567890:role/aws-flow-logs-ro
        snsTopicsArns:
          type: array
          items:
            type: string
          description: The array of SNS topics ARNs.
          example:
          - arn:aws:sns:us-east-1:01234567890:SNS-Topic-US
          - arn:aws:sns:eu-central-1:01234567890:SNS-Topic-EU
    Cloud_Insights_Integrations_API_Link:
      type: object
      description: A hyperlink from the containing resource to a URI.
      required:
      - href
      properties:
        href:
          type: string
          description: Its value is either a URI [RFC3986] or a URI template [RFC6570].
          example: https://api.thousandeyes.com/v7/link/to/resource/id
        templated:
          type: boolean
          description: Should be true when the link object's "href" property is a URI template.
        type:
          type: string
          description: Used as a hint to indicate the media type expected when dereferencing the target resource.
        deprecation:
          type: string
          description: Its presence indicates that the link is to be deprecated at a future date. Its value is a URL that should provide further information about the deprecation.
        name:
          type: string
          description: Its value may be used as a secondary key for selecting link objects that share the same relation type.
        profile:
          type: string
          description: A URI that hints about the profile of the target resource.
        title:
          type: string
          description: Intended for labelling the link with a human-readable identifier
        hreflang:
          type: string
          description: Indicates the language of the target resource
    Cloud_Insights_Integrations_API_AwsInventoryIntegrationRequest:
      required:
      - name
      - roleArn
      type: object
      properties:
        name:
          type: string
          description: The name of the AWS inventory monitoring integration.
          example: integration name
        roleArn:
          type: string
          description: The ARN of the AWS role to be monitored.
          example: arn:aws:iam::01234567890:role/aws-inventory-ro
  parameters:
    Cloud_Insights_Integrations_API_AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
    Cloud_Insights_Integrations_API_IntegrationId:
      name: integrationId
      in: path
      description: The unique ID of the AWS or Azure inventory or flow logs monitoring integration.
      example: e9c3bf02-a48c-4aa8-9e5f-898800d6f569
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Instant_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    ThousandEyes_for_OpenTelemetry_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Snapshots_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Usage_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Templates_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    BGP_Monitors_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Internet_Insights_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Tags_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Event_Detection_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agent_Labels_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Instant_Scheduled_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Emulation_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Dashboards_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Credentials_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Cloud_Insights_Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Autonomous_Systems_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    API_Token_Management_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Alerts_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Administrative_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
externalDocs:
  description: Find out more about ThousandEyes
  url: https://developer.thousandeyes.com/
x-tagGroups:
- name: Tests API
  tags:
  - Tests
  - Agent to Server Tests
  - Agent to Agent Tests
  - BGP Tests
  - DNS Server Tests
  - DNS Trace Tests
  - DNSSEC Tests
  - HTTP Server Tests
  - Page Load Tests
  - Web Transaction Tests
  - API Tests
  - FTP Server Tests
  - SIP Server Tests
  - Voice Tests
  - Path Visualization Interface Groups
- name: Test Results API
  tags:
  - Network Test Results
  - Web HTTP Server Test Results
  - Web Page Load Test Results
  - Web Transactions Test Results
  - API Test Results
  - Web FTP Server Test Results
  - DNS Trace Test Results
  - DNS Server Test Results
  - DNSSEC Test Results
  - Voice SIP Server Test Results
  - Voice RTP Server Test Results
  - Network BGP Test Results
- name: Instant Tests API
  tags:
  - Instant Tests
  - Agent to Agent Instant Tests
  - Agent to Server Instant Tests
  - DNS Server Instant Tests
  - DNS Trace Instant Tests
  - DNSSEC Instant Tests
  - HTTP Server Instant Tests
  - HTTP Page Load Instant Tests
  - Web Transaction Instant Tests
  - API Instant Tests
  - FTP Server Instant Tests
  - SIP Server Instant Tests
  - Voice Instant Tests
- name: ThousandEyes for OpenTelemetry API
  tags:
  - Streaming
- name: Test Snapshots API
  tags:
  - Test Snapshots
- name: Usage API
  tags:
  - Usage
  - Quotas
- name: Templates API
  tags:
  - Templates
- name: BGP Monitors API
  tags:
  - BGP monitors
- name: Internet Insights API
  tags:
  - Internet Insights Catalog Providers
  - Internet Insights Outages
- name: Tags API
  tags:
  - Tags
  - Tag Assignment
- name: Integrations API
  tags:
  - Credential Vault Operations
  - Operation Connectors
  - CyberArk Conjur Connectors
  - Webhook Operations
  - Generic Connectors
  - Panorama Connectors
- name: Event Detection API
  tags:
  - Events
- name: Endpoint Tests API
  tags:
  - Endpoint Scheduled Tests
  - Agent to Server Endpoint Scheduled Tests
  - HTTP Server Endpoint Scheduled Tests
  - Agent To Server Endpoint Dynamic Tests
  - Endpoint Real User Tests
- name: Endpoint Test Results API
  tags:
  - Network Endpoint Scheduled Test Results
  - HTTP Server Endpoint Scheduled Test Results
  - Network Dynamic Endpoint Test Results
  - Real User Endpoint Test Results
  - Local Network Endpoint Test Results
- name: Endpoint Agent Labels API
  tags:
  - Endpoint Agent Labels
- name: Endpoint Instant Scheduled Tests API
  tags:
  - Agent to Server Endpoint Instant Scheduled Tests
  - HTTP Server Endpoint Instant Scheduled Tests
  - Run Endpoint Instant Scheduled Tests
- name: Endpoint Agents API
  tags:
  - Endpoint Agents
  - Endpoint Agent Log Items
  - Endpoint Proxies
  - Endpoint Agents Transfer
- name: Emulation API
  tags:
  - Emulation
- name: Dashboards API
  tags:
  - Dashboards
  - Dashboard Snapshots
  - Dashboards Filters
- name: Credentials API
  tags:
  - Credentials
- name: Cloud Insights Integrations API
  tags:
  - Cloud Insights Integrations
  - Cloud Insights Integration Policy Settings
- name: Autonomous Systems API
  tags:
  - Autonomous Systems
  - Autonomous System Prefixes
- name: API Token Management API
  tags:
  - API Token
- name: Alerts API
  tags:
  - Alerts
  - Alert Rules
  - Alert Suppression Windows
- name: Agents API
  tags:
  - Cloud and Enterprise Agents
  - Local Problems
  - Enterprise Agent Cluster
  - Cloud and Enterprise Agent Notification Rules
  - Agent Proxies
  - Tests Assignment on Agents
- name: Administrative API
  tags:
  - Account Groups
  - Users
  - Roles
  - Permissions
  - User Events
