openapi: 3.2.0
info:
  version: 7.0.100
  title: ThousandEyes Cloud Insights Integration Policy Settings API
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
  description: Manage Cloud Insights integration policy settings for AWS and Azure.
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
tags:
- name: Cloud Insights Integration Policy Settings
  description: Manage Cloud Insights integration policy settings for AWS and Azure.
  x-displayName: Cloud Insights Integration Policy Settings
paths:
  /cloud-insights/integration/aws/policy/settings:
    get:
      tags:
      - Cloud Insights Integration Policy Settings
      summary: Get AWS integration policy settings
      operationId: getAWSIntegrationPolicySettings
      description: Retrieves the AWS integration policy settings for the authenticated account group. Use this endpoint to audit which AWS resource group types and AWS regions are enabled, and whether CloudTrail is enabled, for Cloud Insights inventory monitoring.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      responses:
        '200':
          description: AWS integration policy settings returned successfully.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AwsIntegrationPolicySetting'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
    put:
      tags:
      - Cloud Insights Integration Policy Settings
      summary: Update AWS integration policy settings
      operationId: updateAWSIntegrationPolicySettings
      description: Updates the AWS integration policy settings for the authenticated account group. This endpoint lets you enable or disable specific AWS resource group types, adjust the set of AWS regions to inventory, and control whether CloudTrail is enabled for inventory monitoring.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AwsIntegrationPolicySetting'
      responses:
        '200':
          description: AWS integration policy settings updated successfully.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AwsIntegrationPolicySetting'
        '400':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_400'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
  /cloud-insights/integration/azure/policy/settings:
    get:
      tags:
      - Cloud Insights Integration Policy Settings
      summary: Get Azure integration policy settings
      operationId: getAzureIntegrationPolicySettings
      description: Retrieves the Azure integration policy settings for the authenticated account group. Use this endpoint to review which Azure resource group types are monitored and inspect the subscriptions policy rules that gate which subscriptions ThousandEyes inventories.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      responses:
        '200':
          description: Azure integration policy settings returned successfully.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureIntegrationPolicySetting'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
    put:
      tags:
      - Cloud Insights Integration Policy Settings
      summary: Update Azure integration policy settings
      operationId: updateAzureIntegrationPolicySettings
      description: Updates the Azure integration policy settings for the authenticated account group. This endpoint lets you enable or disable Azure resource group types and manage the subscriptions policy (rules plus default action) that controls which Azure subscriptions are inventoried.
      parameters:
      - $ref: '#/components/parameters/Cloud_Insights_Integrations_API_AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureIntegrationPolicySetting'
      responses:
        '200':
          description: Azure integration policy settings updated successfully.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureIntegrationPolicySetting'
        '400':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_400'
        '401':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_401'
        '403':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_403'
        '404':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_404'
        '429':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_429'
        '500':
          $ref: '#/components/responses/Cloud_Insights_Integrations_API_500'
      security:
      - Cloud_Insights_Integrations_API_BearerAuth: []
components:
  responses:
    Cloud_Insights_Integrations_API_403:
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_Error'
    Cloud_Insights_Integrations_API_429:
      description: Exhausted rate limit for the organization
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_Error'
    Cloud_Insights_Integrations_API_500:
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_Error'
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
    Cloud_Insights_Integrations_API_401:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_UnauthorizedError'
    Cloud_Insights_Integrations_API_400:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_ValidationError'
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Your request object contains invalid fields.
            instance: /v7
            errors:
            - code: AM-5432
              field: firstName
              message: firstName cannot have fancy characters
            - code: DASH-5622
              field: password
              message: Password cannot be blank
    Cloud_Insights_Integrations_API_404:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_Error'
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI or a wrong ID
            instance: /v7
  schemas:
    Cloud_Insights_Integrations_API_ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/Cloud_Insights_Integrations_API_Error'
      - type: object
        properties:
          errors:
            type:
            - array
            - 'null'
            description: (Optional) When multiple errors occur, the details for each error are listed.
            items:
              $ref: '#/components/schemas/Cloud_Insights_Integrations_API_ValidationErrorItem'
    Cloud_Insights_Integrations_API_AwsRegion:
      type: string
      description: AWS region identifier that can be enabled for Cloud Insights inventory monitoring.
      enum:
      - us-east-1
      - us-east-2
      - us-west-1
      - us-west-2
      - ca-central-1
      - ca-west-1
      - mx-central-1
      - sa-east-1
      - eu-central-1
      - eu-west-1
      - eu-west-2
      - eu-south-1
      - eu-west-3
      - eu-south-2
      - eu-north-1
      - eu-central-2
      - il-central-1
      - me-south-1
      - me-central-1
      - af-south-1
      - ap-east-1
      - ap-south-2
      - ap-southeast-3
      - ap-southeast-5
      - ap-southeast-4
      - ap-southeast-7
      - ap-south-1
      - ap-northeast-3
      - ap-northeast-2
      - ap-southeast-1
      - ap-southeast-2
      - ap-northeast-1
      example: us-east-1
    Cloud_Insights_Integrations_API_Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    Cloud_Insights_Integrations_API_ValidationErrorItem:
      type: object
      properties:
        code:
          type: string
          description: (Optional) A unique error type/code that can be referenced in the documentation for further details.
        field:
          type: string
          description: Identifies the field that triggered this particular error.
        message:
          type: string
          description: A short, human-readable summary of the error.
    Cloud_Insights_Integrations_API_AwsIntegrationPolicySetting:
      type: object
      required:
      - enabledResourceGroupTypes
      - enabledRegions
      - enabledCloudtrail
      description: AWS integration policy configuration that controls which resource groups and regions ThousandEyes inventories, and whether CloudTrail is enabled.
      properties:
        enabledResourceGroupTypes:
          type: array
          description: The set of AWS resource group types included in inventory monitoring.
          items:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AwsResourceGroupType'
          example:
          - ec2
          - s3-bucket
          - global-network
        enabledRegions:
          type: array
          description: The AWS regions that ThousandEyes inventories for the account group.
          items:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AwsRegion'
          example:
          - us-east-1
          - eu-west-1
          - ap-southeast-2
        enabledCloudtrail:
          type: boolean
          description: Indicates whether CloudTrail integration is enabled for AWS inventory monitoring.
          example: true
        _links:
          $ref: '#/components/schemas/Cloud_Insights_Integrations_API_SelfLinks'
    Cloud_Insights_Integrations_API_SubscriptionsPolicyRuleField:
      type: string
      description: Identifies whether the rule evaluates subscription IDs or subscription names.
      enum:
      - subscription-id
      - subscription-name
      example: subscription-id
    Cloud_Insights_Integrations_API_AwsResourceGroupType:
      type: string
      description: Supported AWS resource group types that can be toggled within policy settings. Note that ec2 is a mandatory resource group type and will be enabled regardless of user configuration.
      enum:
      - cloudfront
      - ec2
      - eks-ecs
      - global-accelerator
      - direct-connect
      - s3-bucket
      - network-firewall
      - global-network
      example: ec2
    Cloud_Insights_Integrations_API_SubscriptionsPolicyRuleAction:
      type: string
      description: Action applied when a subscriptions policy rule matches.
      enum:
      - include
      - exclude
      example: include
    Cloud_Insights_Integrations_API_AzureResourceGroupType:
      type: string
      description: Supported Azure resource group types that can be toggled within policy settings. Note that networking is a mandatory resource group type and will be enabled regardless of user configuration.
      enum:
      - afd
      - security
      - express-route
      - virtual-wan
      - traffic-manager
      - networking
      example: networking
    Cloud_Insights_Integrations_API_SelfLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/Cloud_Insights_Integrations_API_Link'
    Cloud_Insights_Integrations_API_UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    Cloud_Insights_Integrations_API_SubscriptionsPolicy:
      type: object
      required:
      - rules
      - defaultAction
      description: 'Policy document that controls which Azure subscriptions are inventoried. Up to 10 rules can be provided. Rules are evaluated in order; if none match, the defaultAction is applied.

        '
      properties:
        rules:
          type: array
          description: Ordered list of subscription policy rules. Maximum of 10 entries.
          maxItems: 10
          items:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_SubscriptionsPolicyRule'
        defaultAction:
          $ref: '#/components/schemas/Cloud_Insights_Integrations_API_SubscriptionsPolicyRuleAction'
      example:
        rules:
        - field: subscription-name
          pattern: ^prod-.*$
          action: include
        - field: subscription-id
          pattern: 3145d332-e1c9-4670-a672-12e17d4f627e
          action: exclude
        defaultAction: exclude
    Cloud_Insights_Integrations_API_SubscriptionsPolicyRule:
      type: object
      required:
      - field
      - pattern
      - action
      description: A single subscription rule consisting of a field, pattern, and action.
      properties:
        field:
          $ref: '#/components/schemas/Cloud_Insights_Integrations_API_SubscriptionsPolicyRuleField'
        pattern:
          type: string
          description: String or regular expression used to match subscription identifiers or names.
          example: ^prod-.*$
        action:
          $ref: '#/components/schemas/Cloud_Insights_Integrations_API_SubscriptionsPolicyRuleAction'
    Cloud_Insights_Integrations_API_Link:
      type: object
      description: A hyperlink from the containing resource to a URI.
      required:
      - href
      properties:
        href:
          type: string
          description: Its value is either a URI [RFC3986] or a URI template [RFC6570].
          example: https://api.thousandeyes.com/v7/link/to/resource/id
        templated:
          type: boolean
          description: Should be true when the link object's "href" property is a URI template.
        type:
          type: string
          description: Used as a hint to indicate the media type expected when dereferencing the target resource.
        deprecation:
          type: string
          description: Its presence indicates that the link is to be deprecated at a future date. Its value is a URL that should provide further information about the deprecation.
        name:
          type: string
          description: Its value may be used as a secondary key for selecting link objects that share the same relation type.
        profile:
          type: string
          description: A URI that hints about the profile of the target resource.
        title:
          type: string
          description: Intended for labelling the link with a human-readable identifier
        hreflang:
          type: string
          description: Indicates the language of the target resource
    Cloud_Insights_Integrations_API_AzureIntegrationPolicySetting:
      type: object
      required:
      - enabledResourceGroupTypes
      - subscriptionsPolicy
      description: Azure integration policy configuration that defines the monitored Azure resource groups and the subscription policy that ThousandEyes enforces.
      properties:
        enabledResourceGroupTypes:
          type: array
          description: The set of Azure resource group types included in inventory monitoring.
          items:
            $ref: '#/components/schemas/Cloud_Insights_Integrations_API_AzureResourceGroupType'
          example:
          - networking
          - virtual-wan
          - traffic-manager
        subscriptionsPolicy:
          $ref: '#/components/schemas/Cloud_Insights_Integrations_API_SubscriptionsPolicy'
        _links:
          $ref: '#/components/schemas/Cloud_Insights_Integrations_API_SelfLinks'
  parameters:
    Cloud_Insights_Integrations_API_AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
  securitySchemes:
    Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Instant_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    ThousandEyes_for_OpenTelemetry_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Snapshots_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Usage_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Templates_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    BGP_Monitors_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Internet_Insights_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Tags_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Event_Detection_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agent_Labels_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Instant_Scheduled_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Emulation_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Dashboards_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Credentials_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Cloud_Insights_Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Autonomous_Systems_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    API_Token_Management_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Alerts_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Administrative_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
externalDocs:
  description: Find out more about ThousandEyes
  url: https://developer.thousandeyes.com/
x-tagGroups:
- name: Tests API
  tags:
  - Tests
  - Agent to Server Tests
  - Agent to Agent Tests
  - BGP Tests
  - DNS Server Tests
  - DNS Trace Tests
  - DNSSEC Tests
  - HTTP Server Tests
  - Page Load Tests
  - Web Transaction Tests
  - API Tests
  - FTP Server Tests
  - SIP Server Tests
  - Voice Tests
  - Path Visualization Interface Groups
- name: Test Results API
  tags:
  - Network Test Results
  - Web HTTP Server Test Results
  - Web Page Load Test Results
  - Web Transactions Test Results
  - API Test Results
  - Web FTP Server Test Results
  - DNS Trace Test Results
  - DNS Server Test Results
  - DNSSEC Test Results
  - Voice SIP Server Test Results
  - Voice RTP Server Test Results
  - Network BGP Test Results
- name: Instant Tests API
  tags:
  - Instant Tests
  - Agent to Agent Instant Tests
  - Agent to Server Instant Tests
  - DNS Server Instant Tests
  - DNS Trace Instant Tests
  - DNSSEC Instant Tests
  - HTTP Server Instant Tests
  - HTTP Page Load Instant Tests
  - Web Transaction Instant Tests
  - API Instant Tests
  - FTP Server Instant Tests
  - SIP Server Instant Tests
  - Voice Instant Tests
- name: ThousandEyes for OpenTelemetry API
  tags:
  - Streaming
- name: Test Snapshots API
  tags:
  - Test Snapshots
- name: Usage API
  tags:
  - Usage
  - Quotas
- name: Templates API
  tags:
  - Templates
- name: BGP Monitors API
  tags:
  - BGP monitors
- name: Internet Insights API
  tags:
  - Internet Insights Catalog Providers
  - Internet Insights Outages
- name: Tags API
  tags:
  - Tags
  - Tag Assignment
- name: Integrations API
  tags:
  - Credential Vault Operations
  - Operation Connectors
  - CyberArk Conjur Connectors
  - Webhook Operations
  - Generic Connectors
  - Panorama Connectors
- name: Event Detection API
  tags:
  - Events
- name: Endpoint Tests API
  tags:
  - Endpoint Scheduled Tests
  - Agent to Server Endpoint Scheduled Tests
  - HTTP Server Endpoint Scheduled Tests
  - Agent To Server Endpoint Dynamic Tests
  - Endpoint Real User Tests
- name: Endpoint Test Results API
  tags:
  - Network Endpoint Scheduled Test Results
  - HTTP Server Endpoint Scheduled Test Results
  - Network Dynamic Endpoint Test Results
  - Real User Endpoint Test Results
  - Local Network Endpoint Test Results
- name: Endpoint Agent Labels API
  tags:
  - Endpoint Agent Labels
- name: Endpoint Instant Scheduled Tests API
  tags:
  - Agent to Server Endpoint Instant Scheduled Tests
  - HTTP Server Endpoint Instant Scheduled Tests
  - Run Endpoint Instant Scheduled Tests
- name: Endpoint Agents API
  tags:
  - Endpoint Agents
  - Endpoint Agent Log Items
  - Endpoint Proxies
  - Endpoint Agents Transfer
- name: Emulation API
  tags:
  - Emulation
- name: Dashboards API
  tags:
  - Dashboards
  - Dashboard Snapshots
  - Dashboards Filters
- name: Credentials API
  tags:
  - Credentials
- name: Cloud Insights Integrations API
  tags:
  - Cloud Insights Integrations
  - Cloud Insights Integration Policy Settings
- name: Autonomous Systems API
  tags:
  - Autonomous Systems
  - Autonomous System Prefixes
- name: API Token Management API
  tags:
  - API Token
- name: Alerts API
  tags:
  - Alerts
  - Alert Rules
  - Alert Suppression Windows
- name: Agents API
  tags:
  - Cloud and Enterprise Agents
  - Local Problems
  - Enterprise Agent Cluster
  - Cloud and Enterprise Agent Notification Rules
  - Agent Proxies
  - Tests Assignment on Agents
- name: Administrative API
  tags:
  - Account Groups
  - Users
  - Roles
  - Permissions
  - User Events
