openapi: 3.2.0
info:
  version: 7.0.100
  title: ThousandEyes Cloud and Enterprise Agents API
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
tags:
- name: Cloud and Enterprise Agents
  x-displayName: Cloud and Enterprise Agents
paths:
  /agents:
    get:
      tags:
      - Cloud and Enterprise Agents
      summary: List Cloud and Enterprise Agents
      operationId: getAgents
      description: 'List the Cloud and Enterprise Agents available to your account in ThousandEyes.


        If an agent is an Enterprise Agent, this operation returns the agent’s public and private IP addresses, as well as the public network where the agent is located.'
      parameters:
      - $ref: '#/components/parameters/Agents_API_AccountGroupId'
      - $ref: '#/components/parameters/Agents_API_ExpandAgent'
      - $ref: '#/components/parameters/Agents_API_AgentTypes'
      - $ref: '#/components/parameters/Agents_API_Labels'
      - $ref: '#/components/parameters/Agents_API_TagKeys'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Agents_API_CloudEnterpriseAgents'
        '401':
          $ref: '#/components/responses/Agents_API_401'
        '403':
          $ref: '#/components/responses/Agents_API_403'
        '404':
          $ref: '#/components/responses/Agents_API_404'
        '429':
          $ref: '#/components/responses/Agents_API_429'
        '500':
          $ref: '#/components/responses/Agents_API_500'
        '502':
          $ref: '#/components/responses/Agents_API_502'
        default:
          $ref: '#/components/responses/Agents_API_GeneralError'
      security:
      - Agents_API_BearerAuth: []
  /agents/{agentId}:
    get:
      tags:
      - Cloud and Enterprise Agents
      summary: Retrieve Cloud and Enterprise Agent
      operationId: getAgent
      description: 'Returns details for an agent, including assigned tests.


        For Enterprise Agents, this operation returns additional details, including utilization data, assigned accounts, a list of account groups the agent is assigned to, and utilization details.'
      parameters:
      - $ref: '#/components/parameters/Agents_API_AgentId'
      - $ref: '#/components/parameters/Agents_API_AccountGroupId'
      - $ref: '#/components/parameters/Agents_API_ExpandAgentDetails'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Agents_API_AgentDetails'
        '401':
          $ref: '#/components/responses/Agents_API_401'
        '403':
          $ref: '#/components/responses/Agents_API_403'
        '404':
          $ref: '#/components/responses/Agents_API_404'
        '429':
          $ref: '#/components/responses/Agents_API_429'
        '500':
          $ref: '#/components/responses/Agents_API_500'
        '502':
          $ref: '#/components/responses/Agents_API_502'
        default:
          $ref: '#/components/responses/Agents_API_GeneralError'
      security:
      - Agents_API_BearerAuth: []
    put:
      tags:
      - Cloud and Enterprise Agents
      summary: Update Enterprise Agent
      operationId: updateAgent
      description: 'Updates details for an Enterprise Agent. This operation can only be used for Enterprise Agents, and only for users in a role that permits modification of Enterprise Agents.


        Important notes related to agent modification on tests:

        * if an agent is removed from a test, the modification date for tests using that agent at the time it was removed will be changed.

        * If an agent is removed from an entire account group, then all tests using this agent in the removed account group will be updated to reflect the removed agent.

        * If a removed agent is the final remaining agent on a test, then the test will be disabled when the agent is removed.


        Users can update the following fields:

        * `agentName`: String representation of an agent. No two agents can have the same display name.

        * `enabled`: Boolean representation of agent state.

        * `accountGroups`: An array of account group ids. See `v7/account-groups` to pull a list of account IDs.

        * `tests`: An array of test Is. See `v7/tests` to retrieve a list tests available in the current account context.

        * `ipv6Policy`: Enum representation of the IP version policy.

        * `keepBrowserCache`: Boolean representation of the Keep browser cache state.

        * `targetForTests`: String representation of the target IP address or domain name. This represents the test destination when agent is acting as a test target in an agent-to-agent test.

        * `localResolutionPrefixes`: This array of strings represents the public IP ranges where the Enterprise Agent performs rDNS (Reverse DNS) lookups. The range should be in CIDR notation, such as `10.1.1.0/24`. Please note that a maximum of 5 prefixes is allowed. This only applies to Enterprise Agents and Enterprise Agent clusters.'
      parameters:
      - $ref: '#/components/parameters/Agents_API_AgentId'
      - $ref: '#/components/parameters/Agents_API_AccountGroupId'
      - $ref: '#/components/parameters/Agents_API_ExpandAgentDetails'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Agents_API_AgentRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Agents_API_AgentDetails'
        '400':
          $ref: '#/components/responses/Agents_API_400'
        '401':
          $ref: '#/components/responses/Agents_API_401'
        '403':
          $ref: '#/components/responses/Agents_API_403'
        '404':
          $ref: '#/components/responses/Agents_API_404'
        '429':
          $ref: '#/components/responses/Agents_API_429'
        '500':
          $ref: '#/components/responses/Agents_API_500'
        '502':
          $ref: '#/components/responses/Agents_API_502'
        default:
          $ref: '#/components/responses/Agents_API_GeneralError'
      security:
      - Agents_API_BearerAuth: []
    delete:
      tags:
      - Cloud and Enterprise Agents
      summary: Delete Enterprise Agent
      operationId: deleteAgent
      description: 'Deletes an Enterprise Agent.


        Important notes related to agent removal:

        * If an agent is deleted, the modification date for tests using that agent at the time it was deleted will be changed.

        * If a deleted agent is the final remaining agent on a test, then the test will be disabled when the agent is removed.

        * If an agent is removed, it must be re-initialized to use the same machine again in different context. Virtual Appliances can be updated using the Reset State button in the Advanced tab of the agent management interface. Users running packaged versions of Linux will need to remove /var/lib/te-agent/\*.sqlite in order to reinitialize an agent.'
      parameters:
      - $ref: '#/components/parameters/Agents_API_AccountGroupId'
      - $ref: '#/components/parameters/Agents_API_AgentId'
      responses:
        '204':
          $ref: '#/components/responses/Agents_API_204'
        '401':
          $ref: '#/components/responses/Agents_API_401'
        '403':
          $ref: '#/components/responses/Agents_API_403'
        '404':
          $ref: '#/components/responses/Agents_API_404'
        '429':
          $ref: '#/components/responses/Agents_API_429'
        '500':
          $ref: '#/components/responses/Agents_API_500'
        '502':
          $ref: '#/components/responses/Agents_API_502'
        default:
          $ref: '#/components/responses/Agents_API_GeneralError'
      security:
      - Agents_API_BearerAuth: []
components:
  schemas:
    Agents_API_CloudEnterpriseAgents:
      type: object
      properties:
        agents:
          type: array
          items:
            $ref: '#/components/schemas/Agents_API_CloudEnterpriseAgent'
        _links:
          $ref: '#/components/schemas/Agents_API_SelfLinks'
    Agents_API_InterfaceIpMapping:
      type: object
      properties:
        interfaceName:
          type: string
          description: Name of the mapping
          example: wlp4s0
          readOnly: true
        ipAddresses:
          type: array
          description: Array of ipAddress entries
          items:
            type: string
          example:
          - 73.252.207.219
          - 2601:646:300:3ae0::b977
          readOnly: true
    Agents_API_ErrorDetail:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/Agents_API_ErrorDetailCode'
        description:
          type: string
          description: Description for the agent error.
          example: 'Agent Version 0.1.1 (latest: 1.0.0)'
          readOnly: true
    Agents_API_EnterpriseAgentData:
      type: object
      properties:
        testIds:
          $ref: '#/components/schemas/Agents_API_TestIds'
        tests:
          type: array
          description: List of tests. See `/tests` for more information.
          items:
            $ref: '#/components/schemas/Agents_API_SimpleTest'
        clusterMembers:
          $ref: '#/components/schemas/Agents_API_ClusterMembers'
        utilization:
          type: integer
          description: Shows overall utilization percentage (online Enterprise Agents and Enterprise Clusters only).
          example: 25
          readOnly: true
        accountGroups:
          type: array
          description: List of account groups. See /accounts-groups to pull a list of account IDs
          items:
            $ref: '#/components/schemas/Agents_API_AccountGroup'
        ipv6Policy:
          $ref: '#/components/schemas/Agents_API_EnterpriseAgentIpv6Policy'
        errorDetails:
          type: array
          description: If an enterprise agent or a cluster member presents at least one error, the errors will be shown as an array of entries in the errorDetails field (Enterprise Agents and Enterprise Cluster members only)
          items:
            $ref: '#/components/schemas/Agents_API_ErrorDetail'
          readOnly: true
        hostname:
          type: string
          description: Fully qualified domain name of the agent (Enterprise Agents only)
          example: thousandeyes.com
          readOnly: true
        lastSeen:
          type: string
          description: UTC last seen date (ISO date-time format).
          format: date-time
          example: '2022-07-17T22:00:54Z'
          readOnly: true
        agentState:
          $ref: '#/components/schemas/Agents_API_EnterpriseAgentState'
        keepBrowserCache:
          type: boolean
          description: Flag indicating if the agent retains cache.
          example: true
        createdDate:
          type: string
          description: UTC Agent creation date (ISO date-time format).
          format: date-time
          example: '2022-07-17T22:00:54Z'
          readOnly: true
        targetForTests:
          type: string
          format: ipv4
          description: Test target IP address.
          example: 1.1.1.1
        serialNumber:
          $ref: '#/components/schemas/Agents_API_EnterpriseAgentSerialNumber'
        localResolutionPrefixes:
          type: array
          description: To perform rDNS lookups for public IP ranges, this field represents the public IP ranges. The range must be in CIDR notation; for example, 10.1.1.0/24. Maximum of 5 prefixes allowed (Enterprise Agents and Enterprise Agent clusters only).
          items:
            type: string
            example: 10.2.3.3/24
        interfaceIpMapping:
          type: array
          items:
            $ref: '#/components/schemas/Agents_API_InterfaceIpMapping'
          readOnly: true
    Agents_API_TestCreatedBy:
      type: string
      description: User that created the test.
      example: user@user.com
      readOnly: true
    Agents_API_EnterpriseAgentClusterDetail:
      allOf:
      - type: object
        required:
        - agentType
        properties:
          agentType:
            $ref: '#/components/schemas/Agents_API_EnterpriseClusterAgentType'
          _links:
            $ref: '#/components/schemas/Agents_API_SelfLinks'
      - $ref: '#/components/schemas/Agents_API_SimpleEnterpriseAgent'
      - $ref: '#/components/schemas/Agents_API_EnterpriseAgentResponseExpands'
    Agents_API_AgentDetailsExpand:
      type: string
      enum:
      - cluster-member
      - test
      - test-ids
      - notification-rule
    Agents_API_NetworkProviderInfo:
      type: object
      description: Information about the network provider that owns the agent's public IP prefix.
      readOnly: true
      properties:
        asn:
          type: integer
          format: int64
          description: Autonomous System Number (ASN) announcing the agent's public IP prefix.
          example: 7018
          readOnly: true
        name:
          type: string
          description: Name of the network provider organization.
          example: AT&T Services, Inc.
          readOnly: true
        type:
          $ref: '#/components/schemas/Agents_API_NetworkProviderType'
    Agents_API_NetworkProviderType:
      type: string
      description: Classification of the agent's network provider.
      enum:
      - unknown
      - isp
      - cdn
      - stub
      - cloud-provider
      - carrier
      example: isp
      readOnly: true
    Agents_API_CloudAgentType:
      type: string
      description: Cloud agent type.
      example: cloud
      pattern: ^cloud$
    Agents_API_TestIds:
      type: array
      description: List of test IDs assigned to the agent.
      items:
        type: integer
        format: int64
      readOnly: true
      example:
      - 281474976710706
    Agents_API_AgentBase:
      type: object
      properties:
        ipAddresses:
          type: array
          description: Array of private IP addresses.
          readOnly: true
          items:
            type: string
          example:
          - 99.139.65.220
          - 9bbd:8a0a:a257:5876:288b:6cb2:3f36:64ce
        publicIpAddresses:
          type: array
          description: Array of public IP addresses.
          readOnly: true
          items:
            type: string
          example:
          - 192.168.1.78
          - f9b2:3a21:f25c:d300:03f4:586d:f8d6:4e1c
        network:
          type: string
          description: Network (including ASN) of agent’s public IP.
          example: AT&T Services, Inc. (AS 7018)
          readOnly: true
    Agents_API_ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/Agents_API_Error'
      - type: object
        properties:
          errors:
            type:
            - array
            - 'null'
            description: (Optional) When multiple errors occur, the details for each error are listed.
            items:
              $ref: '#/components/schemas/Agents_API_ValidationErrorItem'
    Agents_API_ClusterMember:
      allOf:
      - $ref: '#/components/schemas/Agents_API_AgentBase'
      - type: object
        properties:
          memberId:
            type: string
            description: Unique ID of the cluster member
            example: '10'
            readOnly: true
          name:
            type: string
            description: Name of the cluster member
            example: Cluster member name
            readOnly: true
          errorDetails:
            type: array
            description: If an enterprise agent or a cluster member presents at least one error, the errors will be shown as an array of entries in the errorDetails field (Enterprise Agents and Enterprise Cluster members only)
            items:
              $ref: '#/components/schemas/Agents_API_ErrorDetail'
            readOnly: true
          lastSeen:
            type: string
            description: UTC last seen date (ISO date-time format).
            format: date-time
            example: '2022-07-17T22:00:54Z'
            readOnly: true
          agentState:
            $ref: '#/components/schemas/Agents_API_EnterpriseAgentState'
          targetForTests:
            type: string
            format: ipv4
            description: Test target IP address.
            example: 1.1.1.1
          serialNumber:
            $ref: '#/components/schemas/Agents_API_EnterpriseAgentSerialNumber'
          utilization:
            type: integer
            description: Shows overall utilization percentage (online Enterprise Agents and Enterprise Clusters only).
            example: 25
            readOnly: true
    Agents_API_AgentRequest:
      type: object
      properties:
        agentName:
          type: string
          description: Name of the agent.
          example: thousandeyes-stg-va-254
        enabled:
          type: boolean
          description: Flag indicating if the agent is enabled.
          example: true
        accountGroups:
          type: array
          description: Contains a list of account groups IDs. See `/accounts-groups` for a list of account IDs
          items:
            type: string
          example:
          - '1234'
          - '1'
        ipv6Policy:
          $ref: '#/components/schemas/Agents_API_AgentIpv6Policy'
        keepBrowserCache:
          type: boolean
          description: Flag indicating if the agent retains cache.
          example: true
        targetForTests:
          type: string
          format: ipv4
          description: Test target IP address.
          example: 1.1.1.1
        localResolutionPrefixes:
          type: array
          description: Public IP ranges for rDNS lookups. The range must be in CIDR notation; for example, 10.1.1.0/24. Maximum of 5 prefixes allowed (Enterprise Agents and Enterprise Agent clusters only).
          items:
            type: string
          example:
          - 10.2.3.3/24
          - 10.2.3.3/25
        tests:
          type: array
          description: Contains list of test IDs. See `/tests` to pull a list of available tests.
          items:
            type: string
          example:
          - '12313145'
          - '12345'
    Agents_API_EnterpriseAgent:
      allOf:
      - $ref: '#/components/schemas/Agents_API_AgentResponse'
      - $ref: '#/components/schemas/Agents_API_EnterpriseAgentData'
    Agents_API_ErrorDetailCode:
      type: string
      description: Code for the agent error.
      enum:
      - agent-version-outdated
      - browserbot-version-outdated
      - appliance-version-outdated
      - clock-offset
      - os-end-of-installation-support
      - os-end-of-support
      - os-end-of-life
      - nat-traversal-error
      example: agent-version-outdated
      readOnly: true
    Agents_API_Enabled:
      type: boolean
      description: Test is enabled.
      example: true
      default: true
    Agents_API_EnterpriseAgentDetail:
      allOf:
      - type: object
        required:
        - agentType
        properties:
          agentType:
            $ref: '#/components/schemas/Agents_API_EnterpriseAgentType'
          _links:
            $ref: '#/components/schemas/Agents_API_SelfLinks'
      - $ref: '#/components/schemas/Agents_API_SimpleEnterpriseAgent'
      - $ref: '#/components/schemas/Agents_API_EnterpriseAgentResponseExpands'
    Agents_API_AgentIpv6Policy:
      type: string
      description: IP version policy, (Enterprise Agents and Enterprise Clusters only)
      enum:
      - force-ipv4
      - prefer-ipv6
      - force-ipv6
      example: force-ipv4
    Agents_API_TestCreatedDate:
      type: string
      format: date-time
      description: UTC created date (ISO date-time format).
      example: '2022-07-17T22:00:54Z'
      readOnly: true
    Agents_API_SimpleAgent:
      type: object
      allOf:
      - $ref: '#/components/schemas/Agents_API_AgentBase'
      - type: object
        properties:
          agentId:
            type: string
            description: Unique ID of the agent.
            example: '281474976710706'
            readOnly: true
          agentName:
            type: string
            description: Name of the agent.
            example: thousandeyes-stg-va-254
          location:
            type: string
            description: Location of the agent.
            example: San Francisco Bay Area
            readOnly: true
          countryId:
            type: string
            description: 2-digit ISO country code
            example: US
            readOnly: true
          coordinates:
            $ref: '#/components/schemas/Agents_API_Coordinates'
          networkProviderInfo:
            allOf:
            - $ref: '#/components/schemas/Agents_API_NetworkProviderInfo'
            readOnly: true
            example:
              asn: 7018
              name: AT&T Services, Inc.
              type: isp
          enabled:
            type: boolean
            description: Flag indicating if the agent is enabled.
            example: true
          verifySslCertificates:
            type: boolean
            description: Flag indicating if has normal SSL operations or  if instead it's set to ignore SSL errors on browserbot-based tests.
            example: true
            readOnly: true
          prefix:
            type: string
            description: Prefix containing agents public IP address.
            example: 99.128.0.0/11
            readOnly: true
    Agents_API_Link:
      type: object
      description: A hyperlink from the containing resource to a URI.
      required:
      - href
      properties:
        href:
          type: string
          description: Its value is either a URI [RFC3986] or a URI template [RFC6570].
          example: https://api.thousandeyes.com/v7/link/to/resource/id
        templated:
          type: boolean
          description: Should be true when the link object's "href" property is a URI template.
        type:
          type: string
          description: Used as a hint to indicate the media type expected when dereferencing the target resource.
        deprecation:
          type: string
          description: Its presence indicates that the link is to be deprecated at a future date. Its value is a URL that should provide further information about the deprecation.
        name:
          type: string
          description: Its value may be used as a secondary key for selecting link objects that share the same relation type.
        profile:
          type: string
          description: A URI that hints about the profile of the target resource.
        title:
          type: string
          description: Intended for labelling the link with a human-readable identifier
        hreflang:
          type: string
          description: Indicates the language of the target resource
    Agents_API_TestLinks:
      type: object
      description: A list of links that can be accessed to get more information
      properties:
        self:
          $ref: '#/components/schemas/Agents_API_TestSelfLink'
        testResults:
          $ref: '#/components/schemas/Agents_API_TestResults'
      readOnly: true
    Agents_API_EnterpriseClusterAgentType:
      type: string
      description: Enterprise Cluster agent type.
      example: enterprise-cluster
      pattern: ^enterprise-cluster$
    Agents_API_AccountGroup:
      type: object
      properties:
        aid:
          $ref: '#/components/schemas/Agents_API_AccountGroupId'
        accountGroupName:
          type: string
          description: Account group name
          example: Account A
    Agents_API_ClusterMembers:
      type: array
      description: If an enterprise agent is clustered, detailed information about each cluster member will be shown as array entries in the clusterMembers field. This field is not shown for Enterprise Agents in standalone mode, or for Cloud Agents.
      items:
        $ref: '#/components/schemas/Agents_API_ClusterMember'
      readOnly: true
    Agents_API_NotificationRule:
      type: object
      properties:
        ruleId:
          type: string
          description: Agent notification rule ID
          example: '281474976710706'
          readOnly: true
        ruleName:
          type: string
          description: Name of the agent notification rule
          example: Default Agent Offline Notification
        expression:
          type: string
          description: Expression of agent notification rule
          example: ((lastContact >= 30 min))
        notifyOnClear:
          type: boolean
          description: Send notification when notification clears
          example: true
        isDefault:
          type: boolean
          description: Agent notification rule will be automatically included on all new Enterprise Agents.
          example: false
    Agents_API_EnterpriseAgentIpv6Policy:
      type: string
      description: IP version policy, (Enterprise Agents and Enterprise Clusters only)
      enum:
      - force-ipv4
      - prefer-ipv6
      - force-ipv6
      example: force-ipv4
    Agents_API_CloudAgentDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Agents_API_SimpleAgent'
      - type: object
        required:
        - agentType
        properties:
          agentType:
            $ref: '#/components/schemas/Agents_API_CloudAgentType'
          tests:
            type: array
            description: List of tests. See `/tests` for more information.
            items:
              $ref: '#/components/schemas/Agents_API_SimpleTest'
          labels:
            type: array
            description: List of labels - see `/labels` for more information.
            items:
              $ref: '#/components/schemas/Agents_API_AgentLabel'
            readOnly: true
          tags:
            type: array
            description: List of tags. See `/tags` for more information.
            items:
              $ref: '#/components/schemas/Agents_API_AgentTag'
            readOnly: true
          _links:
            $ref: '#/components/schemas/Agents_API_SelfLinks'
    Agents_API_TestSelfLink:
      allOf:
      - $ref: '#/components/schemas/Agents_API_Link'
      - description: Reference to the test.
        example:
          href: https://api.thousandeyes.com/v7/tests/{type}/281474976710706
    Agents_API_AgentTag:
      type: object
      readOnly: true
      properties:
        id:
          type: string
          description: Tag Id.
          example: 5aeab5d5-0d34-4d44-a7ac-fb440185295c
          format: uuid
        key:
          type: string
          description: Tag key, for example, "Location" or "Department".
          example: Location
        value:
          type: string
          description: Tag value, for example, "San Francisco" or "Engineering".
          example: San Francisco
    Agents_API_Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    Agents_API_AgentListExpand:
      type: string
      enum:
      - cluster-member
      - test
      - test-ids
    Agents_API_CloudEnterpriseAgent:
      anyOf:
      - $ref: '#/components/schemas/Agents_API_AgentResponse'
      - $ref: '#/components/schemas/Agents_API_EnterpriseAgent'
    Agents_API_SelfLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/Agents_API_Link'
    Agents_API_ValidationErrorItem:
      type: object
      properties:
        code:
          type: string
          description: (Optional) A unique error type/code that can be referenced in the documentation for further details.
        field:
          type: string
          description: Identifies the field that triggered this particular error.
        message:
          type: string
          description: A short, human-readable summary of the error.
    Agents_API_Coordinates:
      type: object
      description: Geographic coordinates for agent location.
      properties:
        latitude:
          type: number
          format: double
          description: The latitude of the agent location in decimal degrees
          example: 37.77493
          readOnly: true
        longitude:
          type: number
          format: double
          description: The longitude of the agent location in decimal degrees
          example: -122.41942
          readOnly: true
    Agents_API_EnterpriseAgentSerialNumber:
      type: string
      description: Serial number of an enterprise agent or cluster member device. This field is not available for Cloud Agents.
      example: FOC2218ABCD
      readOnly: true
    Agents_API_AgentDetails:
      oneOf:
      - $ref: '#/components/schemas/Agents_API_CloudAgentDetail'
      - $ref: '#/components/schemas/Agents_API_EnterpriseAgentDetail'
      - $ref: '#/components/schemas/Agents_API_EnterpriseAgentClusterDetail'
      discriminator:
        propertyName: agentType
        mapping:
          cloud: '#/components/schemas/Agents_API_CloudAgentDetail'
          enterprise: '#/components/schemas/Agents_API_EnterpriseAgentDetail'
          enterprise-cluster: '#/components/schemas/Agents_API_EnterpriseAgentClusterDetail'
    Agents_API_CloudEnterpriseAgentType:
      type: string
      description: Type of the agent.
      enum:
      - cloud
      - enterprise-cluster
      - enterprise
      example: enterprise-cluster
      readOnly: true
    Agents_API_TestResults:
      type: array
      description: Reference to the test results.
      items:
        $ref: '#/components/schemas/Agents_API_Link'
      example:
      - href: https://api.thousandeyes.com/v7/test-results/281474976710706/network
      - href: https://api.thousandeyes.com/v7/test-results/281474976710706/path-vis
    Agents_API_AgentResponse:
      allOf:
      - required:
        - agentType
        properties:
          agentType:
            $ref: '#/components/schemas/Agents_API_CloudEnterpriseAgentType'
      - $ref: '#/components/schemas/Agents_API_SimpleAgent'
    Agents_API_SimpleTest:
      description: Each test includes additional fields depending on its `type`. Refer `/tests/{type}` endpoint to know the set of fields returned by a given `type`.
      additionalProperties: true
      type: object
      properties:
        interval:
          $ref: '#/components/schemas/Agents_API_TestInterval'
        alertsEnabled:
          type: boolean
          description: Indicates if alerts are enabled.
          example: true
        enabled:
          $ref: '#/components/schemas/Agents_API_Enabled'
        createdBy:
          $ref: '#/components/schemas/Agents_API_TestCreatedBy'
        createdDate:
          $ref: '#/components/schemas/Agents_API_TestCreatedDate'
        description:
          type: string
          description: A description of the test.
          example: ThousandEyes Test
        liveShare:
          type: boolean
          description: Indicates if the test is shared with the account group.
          example: false
          readOnly: true
        modifiedBy:
          type: string
          description: User that modified the test.
          example: user@user.com
          readOnly: true
        modifiedDate:
          type: string
          format: date-time
          description: UTC last modification date (ISO date-time format).
          readOnly: true
          example: '2022-07-17T22:00:54Z'
        savedEvent:
          type: boolean
          description: 'Indicates if the test is a saved event.


            **Note**: **Saved Events** are now called **Private Snapshots** in the user interface. This change does not affect API.

            '
          readOnly: true
        testId:
          type: string
          description: Each test is assigned an unique ID; this is used to access test information and results from other endpoints.
          readOnly: true
          example: '281474976710706'
        testName:
          type: string
          description: The name of the test. Test name must be unique.
          example: ThousandEyes Test
        type:
          $ref: '#/components/schemas/Agents_API_TestType'
        _links:
          $ref: '#/components/schemas/Agents_API_TestLinks'
    Agents_API_TestType:
      type: string
      enum:
      - api
      - agent-to-agent
      - agent-to-server
      - bgp
      - http-server
      - page-load
      - web-transactions
      - ftp-server
      - dns-trace
      - dns-server
      - dnssec
      - sip-server
      - voice
      description: This is a read only value, as test type is implicit in the test creation url.
      readOnly: true
      example: agent-to-server
    Agents_API_EnterpriseAgentResponseExpands:
      type: object
      properties:
        testIds:
          $ref: '#/components/schemas/Agents_API_TestIds'
        tests:
          type: array
          description: List of tests. See `/tests` for more information.
          items:
            $ref: '#/components/schemas/Agents_API_SimpleTest'
        notificationRules:
          type: array
          description: List of notification rule objects configured on agent
          items:
            $ref: '#/components/schemas/Agents_API_NotificationRules'
        labels:
          type: array
          description: List of labels. See `/labels` for more information.
          items:
            $ref: '#/components/schemas/Agents_API_AgentLabel'
          readOnly: true
        tags:
          type: array
          description: List of tags. See `/tags` for more information.
          items:
            $ref: '#/components/schemas/Agents_API_AgentTag'
          readOnly: true
    Agents_API_TestInterval:
      type: integer
      enum:
      - 60
      - 120
      - 300
      - 600
      - 900
      - 1800
      - 3600
      description: Interval between test runs in seconds.
      default: 60
      example: 60
    Agents_API_AccountGroupId:
      type: string
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint.
      example: '1234'
    Agents_API_AgentLabel:
      type: object
      readOnly: true
      properties:
        labelId:
          type: string
          description: Label Id.
          example: '11'
        name:
          type: string
          description: Name of the label.
          example: Label name
    Agents_API_NotificationRules:
      type: object
      properties:
        agentAlertRules:
          type: array
          items:
            $ref: '#/components/schemas/Agents_API_NotificationRule'
          example:
          - ruleId: '281474976710706'
            ruleName: Default Agent Offline Notification
            expression: ((lastContact >= 30 min))
            notifyOnClear: true
            isDefault: false
          - ruleId: '281474976710709'
            ruleName: Test Rule
            expression: ((lastContact >= 40 min))
            notifyOnClear: true
            isDefault: true
    Agents_API_EnterpriseAgentState:
      type: string
      description: State of the agent.
      enum:
      - online
      - offline
      - disabled
      example: online
      readOnly: true
    Agents_API_UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    Agents_API_EnterpriseAgentType:
      type: string
      description: Enterprise agent type.
      example: enterprise
      pattern: ^enterprise$
    Agents_API_SimpleEnterpriseAgent:
      allOf:
      - $ref: '#/components/schemas/Agents_API_SimpleAgent'
      - $ref: '#/components/schemas/Agents_API_EnterpriseAgentData'
  responses:
    Agents_API_404:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Agents_API_Error'
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI or a wrong ID
            instance: /v7
    Agents_API_400:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Agents_API_ValidationError'
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Your request object contains invalid fields.
            instance: /v7
            errors:
            - code: AM-5432
              field: firstName
              message: firstName cannot have fancy characters
            - code: DASH-5622
              field: password
              message: Password cannot be blank
    Agents_API_500:
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Agents_API_Error'
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
    Agents_API_502:
      description: Bad Gateway
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Agents_API_Error'
    Agents_API_GeneralError:
      description: An error occurred
    Agents_API_403:
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Agents_API_Error'
    Agents_API_204:
      description: No content
    Agents_API_401:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Agents_API_UnauthorizedError'
    Agents_API_429:
      description: Exhausted rate limit for the organization
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Agents_API_Error'
  parameters:
    Agents_API_AgentTypes:
      name: agentTypes
      in: query
      style: form
      explode: false
      description: Specifies the type of agent to request.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/Agents_API_CloudEnterpriseAgentType'
        example:
        - enterprise
    Agents_API_TagKeys:
      name: tagKeys
      in: query
      style: form
      explode: false
      description: Specifies which tag keys to request from the agents.
      schema:
        type: array
        items:
          type: string
          example: myCustomTagKeyForAgent
    Agents_API_AgentId:
      name: agentId
      in: path
      description: Unique ID for the agent.
      example: '281474976710706'
      required: true
      schema:
        type: string
    Agents_API_Labels:
      name: labels
      in: query
      style: form
      explode: false
      description: Specifies the labels of the agents to request.
      schema:
        type: array
        items:
          type: string
        example:
        - myCustomLabeledAgent
    Agents_API_ExpandAgent:
      name: expand
      in: query
      style: form
      explode: false
      description: Optional parameter, off by default. Indicates which agent sub-resource to expand. For example, if you wish to expand the `clusterMembers` sub-resource, pass the `?expand=cluster-member` query.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/Agents_API_AgentListExpand'
        example:
        - cluster-member
    Agents_API_ExpandAgentDetails:
      name: expand
      in: query
      style: form
      explode: false
      description: Optional parameter, off by default. Indicates which agent sub-resource to expand. For example, if you wish to expand the `clusterMembers` sub-resource, pass the `?expand=cluster-member` query.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/Agents_API_AgentDetailsExpand'
        example:
        - cluster-member
    Agents_API_AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
  securitySchemes:
    Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Instant_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    ThousandEyes_for_OpenTelemetry_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Snapshots_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Usage_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Templates_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    BGP_Monitors_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Internet_Insights_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Tags_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Event_Detection_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agent_Labels_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Instant_Scheduled_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Emulation_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Dashboards_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Credentials_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Cloud_Insights_Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Autonomous_Systems_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    API_Token_Management_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Alerts_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Administrative_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
externalDocs:
  description: Find out more about ThousandEyes
  url: https://developer.thousandeyes.com/
x-tagGroups:
- name: Tests API
  tags:
  - Tests
  - Agent to Server Tests
  - Agent to Agent Tests
  - BGP Tests
  - DNS Server Tests
  - DNS Trace Tests
  - DNSSEC Tests
  - HTTP Server Tests
  - Page Load Tests
  - Web Transaction Tests
  - API Tests
  - FTP Server Tests
  - SIP Server Tests
  - Voice Tests
  - Path Visualization Interface Groups
- name: Test Results API
  tags:
  - Network Test Results
  - Web HTTP Server Test Results
  - Web Page Load Test Results
  - Web Transactions Test Results
  - API Test Results
  - Web FTP Server Test Results
  - DNS Trace Test Results
  - DNS Server Test Results
  - DNSSEC Test Results
  - Voice SIP Server Test Results
  - Voice RTP Server Test Results
  - Network BGP Test Results
- name: Instant Tests API
  tags:
  - Instant Tests
  - Agent to Agent Instant Tests
  - Agent to Server Instant Tests
  - DNS Server Instant Tests
  - DNS Trace Instant Tests
  - DNSSEC Instant Tests
  - HTTP Server Instant Tests
  - HTTP Page Load Instant Tests
  - Web Transaction Instant Tests
  - API Instant Tests
  - FTP Server Instant Tests
  - SIP Server Instant Tests
  - Voice Instant Tests
- name: ThousandEyes for OpenTelemetry API
  tags:
  - Streaming
- name: Test Snapshots API
  tags:
  - Test Snapshots
- name: Usage API
  tags:
  - Usage
  - Quotas
- name: Templates API
  tags:
  - Templates
- name: BGP Monitors API
  tags:
  - BGP monitors
- name: Internet Insights API
  tags:
  - Internet Insights Catalog Providers
  - Internet Insights Outages
- name: Tags API
  tags:
  - Tags
  - Tag Assignment
- name: Integrations API
  tags:
  - Credential Vault Operations
  - Operation Connectors
  - CyberArk Conjur Connectors
  - Webhook Operations
  - Generic Connectors
  - Panorama Connectors
- name: Event Detection API
  tags:
  - Events
- name: Endpoint Tests API
  tags:
  - Endpoint Scheduled Tests
  - Agent to Server Endpoint Scheduled Tests
  - HTTP Server Endpoint Scheduled Tests
  - Agent To Server Endpoint Dynamic Tests
  - Endpoint Real User Tests
- name: Endpoint Test Results API
  tags:
  - Network Endpoint Scheduled Test Results
  - HTTP Server Endpoint Scheduled Test Results
  - Network Dynamic Endpoint Test Results
  - Real User Endpoint Test Results
  - Local Network Endpoint Test Results
- name: Endpoint Agent Labels API
  tags:
  - Endpoint Agent Labels
- name: Endpoint Instant Scheduled Tests API
  tags:
  - Agent to Server Endpoint Instant Scheduled Tests
  - HTTP Server Endpoint Instant Scheduled Tests
  - Run Endpoint Instant Scheduled Tests
- name: Endpoint Agents API
  tags:
  - Endpoint Agents
  - Endpoint Agent Log Items
  - Endpoint Proxies
  - Endpoint Agents Transfer
- name: Emulation API
  tags:
  - Emulation
- name: Dashboards API
  tags:
  - Dashboards
  - Dashboard Snapshots
  - Dashboards Filters
- name: Credentials API
  tags:
  - Credentials
- name: Cloud Insights Integrations API
  tags:
  - Cloud Insights Integrations
  - Cloud Insights Integration Policy Settings
- name: Autonomous Systems API
  tags:
  - Autonomous Systems
  - Autonomous System Prefixes
- name: API Token Management API
  tags:
  - API Token
- name: Alerts API
  tags:
  - Alerts
  - Alert Rules
  - Alert Suppression Windows
- name: Agents API
  tags:
  - Cloud and Enterprise Agents
  - Local Problems
  - Enterprise Agent Cluster
  - Cloud and Enterprise Agent Notification Rules
  - Agent Proxies
  - Tests Assignment on Agents
- name: Administrative API
  tags:
  - Account Groups
  - Users
  - Roles
  - Permissions
  - User Events
