openapi: 3.2.0
info:
  version: 7.0.100
  title: ThousandEyes Internet Insights Outages API
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
tags:
- name: Internet Insights Outages
  x-displayName: Internet Insights Outages
paths:
  /internet-insights/outages/filter:
    post:
      tags:
      - Internet Insights Outages
      summary: List network and application outages
      description: 'Returns a list of network and application outages using a filter object. Advanced Filter persistance is not currently supported.


        Note: Support for pagination will be added in the future.


        ## Samples Queries with Different Filter Permutations


        ### Window

        ```

        curl --location --request POST ''https://api.thousandeyes.com/v7/internet-insights/outages/filter''

        --header ''Authorization: Bearer $token

        --header ''Accept-Encoding: application/gzip''

        --header ''Content-Type: application/json''

        --data-raw ''{

        "window" : "1d"

        }''

        ```


        ### Date Range

        ```

        curl --location --request POST ''https://api.thousandeyes.com/v7/internet-insights/outages/filter''

        --header ''Authorization: Bearer $token''

        --header ''Content-Type: application/json''

        --data-raw ''{

        "startDate": "2022-03-01T01:30:00Z",

        "endDate" : "2022-03-01T23:30:15Z"

        }''

        ```


        ### Date Range with Scope

        ```

        curl --location --request POST ''https://api.thousandeyes.com/v7/internet-insights/outages/filter''

        --header ''Authorization: Bearer $token''

        --header ''Content-Type: application/json''

        --data-raw ''{

        "startDate": "2022-03-01T01:30:00Z",

        "endDate" : "2022-03-01T23:30:15Z",

        "outageScope": "with-affected-test"

        }''

        ```

        ### Date Range with Network

        ```

        curl --location --request POST ''https://api.thousandeyes.com/v7/internet-insights/outages/filter''

        --header ''Authorization: Bearer $token''

        --header ''Content-Type: application/json''

        --data-raw ''{

        "startDate": "2022-03-01T01:30:00Z",

        "endDate" : "2022-03-01T23:30:15Z",

        "interfaceNetwork": ["Telianet"]

        }''

        ```


        ### Date Range with Application

        ```

        curl --location --request POST ''https://api.thousandeyes.com/v7/internet-insights/outages/filter''

        --header ''Authorization: Bearer $token''

        --header ''Content-Type: application/json''

        --data-raw ''{

        "startDate": "2022-03-01T01:30:00Z",

        "endDate" : "2022-03-01T23:30:15Z",

        "applicationName": ["Google"]

        }''

        ```

        ### Date Range with Provider

        ```

        curl --location --request POST ''https://api.thousandeyes.com/v7/internet-insights/outages/filter''

        --header ''Authorization: Bearer $token''

        --header ''Content-Type: application/json''

        --data-raw ''{

        "startDate": "2022-03-01T01:30:00Z",

        "endDate" : "2022-03-01T23:30:15Z",

        "providerName": ["Century Link", "Microsoft"]

        }''


        ```

        ### Date Range with Application and Scope

        ```

        curl --location --request POST ''https://api.thousandeyes.com/v7/internet-insights/outages/filter''

        --header ''Authorization: Bearer $token''

        --header ''Content-Type: application/json''

        --data-raw ''{

        "startDate": "2022-03-01T01:30:00Z",

        "endDate" : "2022-03-01T23:30:15Z",

        "outageScope": "all",

        "applicationName": ["Google"]

        }''

        ```'
      operationId: filterOutages
      parameters:
      - $ref: '#/components/parameters/Internet_Insights_API_AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Internet_Insights_API_ApiOutageFilter'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Internet_Insights_API_ApiOutagesResponse'
        '400':
          $ref: '#/components/responses/Internet_Insights_API_400'
        '401':
          $ref: '#/components/responses/Internet_Insights_API_401'
        '403':
          $ref: '#/components/responses/Internet_Insights_API_403'
        '404':
          $ref: '#/components/responses/Internet_Insights_API_404'
        '429':
          $ref: '#/components/responses/Internet_Insights_API_429'
        '500':
          $ref: '#/components/responses/Internet_Insights_API_500'
        '502':
          $ref: '#/components/responses/Internet_Insights_API_502'
        default:
          $ref: '#/components/responses/Internet_Insights_API_GeneralError'
      security:
      - Internet_Insights_API_BearerAuth: []
  /internet-insights/outages/net/{outageId}:
    get:
      tags:
      - Internet Insights Outages
      summary: Retrieve network outage
      description: Returns the details of a network outage.
      operationId: getNetworkOutage
      parameters:
      - name: outageId
        in: path
        required: true
        schema:
          type: string
          example: 694D8656960F34F76489BCE5E9BCD58EC53027462740D75F
      - $ref: '#/components/parameters/Internet_Insights_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Internet_Insights_API_ApiNetworkOutageDetails'
        '400':
          $ref: '#/components/responses/Internet_Insights_API_400'
        '401':
          $ref: '#/components/responses/Internet_Insights_API_401'
        '403':
          $ref: '#/components/responses/Internet_Insights_API_403'
        '404':
          $ref: '#/components/responses/Internet_Insights_API_404'
        '429':
          $ref: '#/components/responses/Internet_Insights_API_429'
        '500':
          $ref: '#/components/responses/Internet_Insights_API_500'
        '502':
          $ref: '#/components/responses/Internet_Insights_API_502'
        default:
          $ref: '#/components/responses/Internet_Insights_API_GeneralError'
      security:
      - Internet_Insights_API_BearerAuth: []
  /internet-insights/outages/app/{outageId}:
    get:
      tags:
      - Internet Insights Outages
      summary: Retrieve application outage
      description: Returns the details of an application outage.
      operationId: getAppOutage
      parameters:
      - name: outageId
        in: path
        required: true
        schema:
          type: string
          example: F73E24F17E4996923196826A208BB572508A8EB13BEE14B0
      - $ref: '#/components/parameters/Internet_Insights_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Internet_Insights_API_ApiApplicationOutageDetails'
        '400':
          $ref: '#/components/responses/Internet_Insights_API_400'
        '401':
          $ref: '#/components/responses/Internet_Insights_API_401'
        '403':
          $ref: '#/components/responses/Internet_Insights_API_403'
        '404':
          $ref: '#/components/responses/Internet_Insights_API_404'
        '429':
          $ref: '#/components/responses/Internet_Insights_API_429'
        '500':
          $ref: '#/components/responses/Internet_Insights_API_500'
        '502':
          $ref: '#/components/responses/Internet_Insights_API_502'
        default:
          $ref: '#/components/responses/Internet_Insights_API_GeneralError'
      security:
      - Internet_Insights_API_BearerAuth: []
components:
  schemas:
    Internet_Insights_API_ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/Internet_Insights_API_Error'
      - type: object
        properties:
          errors:
            type:
            - array
            - 'null'
            description: (Optional) When multiple errors occur, the details for each error are listed.
            items:
              $ref: '#/components/schemas/Internet_Insights_API_ValidationErrorItem'
    Internet_Insights_API_ApiApplicationOutageDetails:
      type: object
      properties:
        id:
          type: string
          description: The ID of the outage.
          example: 0CC4C4209887126DE42E92252FB43962CBB3193147F318EA
        providerName:
          type: string
          description: The name of the affected provider.
          example: Amazon Web Services
        providerType:
          type: string
          description: The type of the affected provider.
          example: SAAS
        applicationName:
          type: string
          description: The name of the affected application.
          example: Amazon Web Services
        startDate:
          type: string
          description: Date and time when the outage started.
          format: yyyy-MM-ddTHH:mm[:ss]Z
          example: '2023-01-27T20:50:51.256Z'
        startRoundId:
          type: integer
          description: Epoch time (seconds) when the outage started.
          format: int64
          example: 1674852600
        endDate:
          type: string
          description: Date and time when the outage ended.
          format: yyyy-MM-ddTHH:mm[:ss]Z
          example: '2023-01-27T20:53:51.256Z'
        endRoundId:
          type: integer
          description: Epoch time (seconds) when the outage ended.
          format: int64
          example: 1674852600
        duration:
          type: integer
          description: Duration of the outage in seconds.
          format: int64
          example: 180
        affectedTests:
          uniqueItems: true
          type: array
          description: List of affected tests.
          items:
            $ref: '#/components/schemas/Internet_Insights_API_InternetInsightsApiAffectedTest'
        affectedDomains:
          uniqueItems: true
          type: array
          description: List of affected domains.
          items:
            type: string
            example: amazon.com
        affectedAgents:
          uniqueItems: true
          type: array
          description: List of affected agents.
          items:
            $ref: '#/components/schemas/Internet_Insights_API_InternetInsightsApiAffectedAgent'
        errors:
          uniqueItems: true
          type: array
          description: List of errors.
          items:
            type: string
            example: HTTP_SERVER_TIMEOUT
        affectedLocations:
          uniqueItems: true
          type: array
          description: List of affected locations.
          items:
            $ref: '#/components/schemas/Internet_Insights_API_ApiApplicationOutageAffectedLocation'
        _links:
          $ref: '#/components/schemas/Internet_Insights_API_SelfLinks'
    Internet_Insights_API_ApiNetworkOutageDetails:
      type: object
      properties:
        id:
          type: string
          description: The ID of the outage.
          example: 8EF2760862C705783A2F8BCBAAABB44F28DBC670DBA3B610
        providerName:
          type: string
          description: The name of the affected provider.
          example: Rackspace
        providerType:
          type: string
          description: The type of the affected provider.
          example: IAAS
        networkName:
          type: string
          description: The affected network.
          example: Rackspace Hosting
        asn:
          type: integer
          description: ASN number
          example: 19994
        startDate:
          type: string
          description: Date and time when the outage started.
          format: yyyy-MM-ddTHH:mm[:ss]Z
          example: '2023-01-27T20:50:51.256Z'
        startRoundId:
          type: integer
          description: Epoch time (seconds) when the outage started.
          format: int64
          example: 1674852600
        endDate:
          type: string
          description: Date and time when the outage ended.
          format: yyyy-MM-ddTHH:mm[:ss]Z
          example: '2023-01-27T20:53:51.256Z'
        endRoundId:
          type: integer
          description: Epoch time (seconds) when the outage ended.
          format: int64
          example: 1674852600
        duration:
          type: integer
          description: Duration of the outage in seconds.
          format: int64
          example: 180
        affectedTests:
          uniqueItems: true
          type: array
          description: List of affected tests.
          items:
            $ref: '#/components/schemas/Internet_Insights_API_InternetInsightsApiAffectedTest'
        affectedDomains:
          uniqueItems: true
          type: array
          description: List of affected domains.
          items:
            type: string
            example: periodic-failure.com
        affectedAgents:
          uniqueItems: true
          type: array
          description: List of affected agents.
          items:
            $ref: '#/components/schemas/Internet_Insights_API_InternetInsightsApiAffectedAgent'
        affectedLocations:
          uniqueItems: true
          type: array
          description: List of affected locations.
          items:
            $ref: '#/components/schemas/Internet_Insights_API_ApiNetworkOutageAffectedLocation'
        _links:
          $ref: '#/components/schemas/Internet_Insights_API_SelfLinks'
    Internet_Insights_API_ApiOutageFilter:
      description: 'Advanced filter query used to filter the response. Can filter on: - outageScope (all, affected tests (e.g. my tests only)). - providerName - interfaceNetwork - applicationName - startDate, endDate - window'
      type: object
      properties:
        startDate:
          type: string
          description: Start of the time range. Must be paired with `endDate`.
          format: yyyy-MM-ddTHH:mm[:ss]Z
          example: '2022-03-01T01:30:00Z'
        endDate:
          type: string
          description: End of the time range. Must be paired with `startDate`.
          format: yyyy-MM-ddTHH:mm[:ss]Z
          example: '2022-03-01T23:30:15Z'
        window:
          type: string
          description: Specify a time period in the past for which to retrieve data. Alternative to specifying `startDate` and `endDate`.
          format: ^[0-9]+[smhdw]?
          example: 1d
        outageScope:
          $ref: '#/components/schemas/Internet_Insights_API_OutageScope'
        providerName:
          type: array
          description: The name used to identify the provider.
          example:
          - Telia
          - Amazon
          items:
            type: string
        applicationName:
          type: array
          description: The name to identify the application.
          example:
          - slack
          - facebook
          items:
            type: string
        interfaceNetwork:
          type: array
          description: The name of the ASN (Interface Network).
          items:
            type: string
      example:
        startDate: '2022-03-01T01:30:00Z'
        endDate: '2022-03-01T23:30:15Z'
        outageScope: all
        providerName:
        - Telia
        - Amazon
        interfaceNetwork:
        - Telianet
        - Cloudflare
        applicationName:
        - slack
        - facebook
    Internet_Insights_API_OutageLocation:
      type: string
      description: The affected location.
      example: Chicago, Illinois, US
    Internet_Insights_API_ApiOutagesResponse:
      type: object
      properties:
        outages:
          type: array
          description: List of application outages.
          items:
            $ref: '#/components/schemas/Internet_Insights_API_ApiOutage'
        _links:
          $ref: '#/components/schemas/Internet_Insights_API_SelfLinks'
    Internet_Insights_API_Link:
      type: object
      description: A hyperlink from the containing resource to a URI.
      required:
      - href
      properties:
        href:
          type: string
          description: Its value is either a URI [RFC3986] or a URI template [RFC6570].
          example: https://api.thousandeyes.com/v7/link/to/resource/id
        templated:
          type: boolean
          description: Should be true when the link object's "href" property is a URI template.
        type:
          type: string
          description: Used as a hint to indicate the media type expected when dereferencing the target resource.
        deprecation:
          type: string
          description: Its presence indicates that the link is to be deprecated at a future date. Its value is a URL that should provide further information about the deprecation.
        name:
          type: string
          description: Its value may be used as a secondary key for selecting link objects that share the same relation type.
        profile:
          type: string
          description: A URI that hints about the profile of the target resource.
        title:
          type: string
          description: Intended for labelling the link with a human-readable identifier
        hreflang:
          type: string
          description: Indicates the language of the target resource
    Internet_Insights_API_InternetInsightsApiAffectedAgent:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 11
        name:
          type: string
          example: London, England
    Internet_Insights_API_UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    Internet_Insights_API_Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    Internet_Insights_API_ApiApplicationOutageAffectedLocation:
      type: object
      properties:
        location:
          $ref: '#/components/schemas/Internet_Insights_API_OutageLocation'
        affectedServers:
          type: array
          description: The number of affected servers in this location.
          items:
            $ref: '#/components/schemas/Internet_Insights_API_ApiApplicationOutageAffectedServer'
    Internet_Insights_API_SelfLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/Internet_Insights_API_Link'
    Internet_Insights_API_ApiApplicationOutageAffectedServer:
      type: object
      properties:
        domain:
          type: string
          example: amazon.com
        prefix:
          type: string
          example: 123.176.185.0/23
    Internet_Insights_API_OutageScope:
      type: string
      description: Scope of the outage
      enum:
      - all
      - with-affected-test
    Internet_Insights_API_ValidationErrorItem:
      type: object
      properties:
        code:
          type: string
          description: (Optional) A unique error type/code that can be referenced in the documentation for further details.
        field:
          type: string
          description: Identifies the field that triggered this particular error.
        message:
          type: string
          description: A short, human-readable summary of the error.
    Internet_Insights_API_ApiOutage:
      type: object
      properties:
        id:
          type: string
          description: The ID of the outage.
          example: xxxxxxxxxxxxxxxxxx1
        type:
          type: string
          description: The type of outage e.g. app.
          example: app
        providerName:
          type: string
          description: The name of the affected provider.
          example: Google
        providerType:
          type: string
          description: The type of the affected provider.
          example: SAAS
        name:
          type: string
          description: The name of the affected application.
          example: Google
        startDate:
          type: string
          description: Date and time when the outage started.
          format: yyyy-MM-ddTHH:mm[:ss]Z
          example: '2022-03-01T23:31:11Z'
        startRoundId:
          type: integer
          description: Epoch time (seconds) when the outage started.
          format: int64
          example: 1646177400
        endDate:
          type: string
          format: yyyy-MM-ddTHH:mm[:ss]Z
          description: Date and time when the outage ended.
          example: '2022-03-01T23:31:11Z'
        endRoundId:
          type: integer
          description: Epoch time (seconds) when the outage ended.
          format: int64
          example: 1646177700
        duration:
          type: integer
          description: Duration of the outage (seconds)
          format: int64
          example: 214
        affectedTestsCount:
          type: integer
          description: The number of affected tests
          format: int32
          example: 1
        affectedServersCount:
          type: integer
          description: The number of affected servers
          format: int32
          example: 2
        affectedLocationsCount:
          type: integer
          description: The number of affected locations.
          format: int32
          example: 1
        affectedInterfacesCount:
          type: integer
          description: The number of affected interfaces.
          format: int32
          example: 1
        asn:
          type: integer
          description: ASN number.
          example: 19994
        _links:
          $ref: '#/components/schemas/Internet_Insights_API_SelfLinks'
      description: List of outages.
    Internet_Insights_API_ApiNetworkOutageAffectedLocation:
      type: object
      properties:
        location:
          $ref: '#/components/schemas/Internet_Insights_API_OutageLocation'
        affectedInterfaces:
          type: array
          description: The affected interfaces in this location.
          items:
            type: string
            example: 50.51.52.53
    Internet_Insights_API_InternetInsightsApiAffectedTest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 5
        name:
          type: string
          example: amazon-test2
  responses:
    Internet_Insights_API_502:
      description: Bad Gateway
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Internet_Insights_API_Error'
    Internet_Insights_API_500:
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Internet_Insights_API_Error'
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
    Internet_Insights_API_403:
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Internet_Insights_API_Error'
    Internet_Insights_API_GeneralError:
      description: An error occurred
    Internet_Insights_API_400:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Internet_Insights_API_ValidationError'
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Your request object contains invalid fields.
            instance: /v7
            errors:
            - code: AM-5432
              field: firstName
              message: firstName cannot have fancy characters
            - code: DASH-5622
              field: password
              message: Password cannot be blank
    Internet_Insights_API_429:
      description: Exhausted rate limit for the organization
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Internet_Insights_API_Error'
    Internet_Insights_API_401:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Internet_Insights_API_UnauthorizedError'
    Internet_Insights_API_404:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Internet_Insights_API_Error'
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI or a wrong ID
            instance: /v7
  parameters:
    Internet_Insights_API_AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
  securitySchemes:
    Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Instant_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    ThousandEyes_for_OpenTelemetry_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Snapshots_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Usage_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Templates_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    BGP_Monitors_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Internet_Insights_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Tags_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Event_Detection_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agent_Labels_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Instant_Scheduled_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Emulation_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Dashboards_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Credentials_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Cloud_Insights_Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Autonomous_Systems_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    API_Token_Management_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Alerts_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Administrative_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
externalDocs:
  description: Find out more about ThousandEyes
  url: https://developer.thousandeyes.com/
x-tagGroups:
- name: Tests API
  tags:
  - Tests
  - Agent to Server Tests
  - Agent to Agent Tests
  - BGP Tests
  - DNS Server Tests
  - DNS Trace Tests
  - DNSSEC Tests
  - HTTP Server Tests
  - Page Load Tests
  - Web Transaction Tests
  - API Tests
  - FTP Server Tests
  - SIP Server Tests
  - Voice Tests
  - Path Visualization Interface Groups
- name: Test Results API
  tags:
  - Network Test Results
  - Web HTTP Server Test Results
  - Web Page Load Test Results
  - Web Transactions Test Results
  - API Test Results
  - Web FTP Server Test Results
  - DNS Trace Test Results
  - DNS Server Test Results
  - DNSSEC Test Results
  - Voice SIP Server Test Results
  - Voice RTP Server Test Results
  - Network BGP Test Results
- name: Instant Tests API
  tags:
  - Instant Tests
  - Agent to Agent Instant Tests
  - Agent to Server Instant Tests
  - DNS Server Instant Tests
  - DNS Trace Instant Tests
  - DNSSEC Instant Tests
  - HTTP Server Instant Tests
  - HTTP Page Load Instant Tests
  - Web Transaction Instant Tests
  - API Instant Tests
  - FTP Server Instant Tests
  - SIP Server Instant Tests
  - Voice Instant Tests
- name: ThousandEyes for OpenTelemetry API
  tags:
  - Streaming
- name: Test Snapshots API
  tags:
  - Test Snapshots
- name: Usage API
  tags:
  - Usage
  - Quotas
- name: Templates API
  tags:
  - Templates
- name: BGP Monitors API
  tags:
  - BGP monitors
- name: Internet Insights API
  tags:
  - Internet Insights Catalog Providers
  - Internet Insights Outages
- name: Tags API
  tags:
  - Tags
  - Tag Assignment
- name: Integrations API
  tags:
  - Credential Vault Operations
  - Operation Connectors
  - CyberArk Conjur Connectors
  - Webhook Operations
  - Generic Connectors
  - Panorama Connectors
- name: Event Detection API
  tags:
  - Events
- name: Endpoint Tests API
  tags:
  - Endpoint Scheduled Tests
  - Agent to Server Endpoint Scheduled Tests
  - HTTP Server Endpoint Scheduled Tests
  - Agent To Server Endpoint Dynamic Tests
  - Endpoint Real User Tests
- name: Endpoint Test Results API
  tags:
  - Network Endpoint Scheduled Test Results
  - HTTP Server Endpoint Scheduled Test Results
  - Network Dynamic Endpoint Test Results
  - Real User Endpoint Test Results
  - Local Network Endpoint Test Results
- name: Endpoint Agent Labels API
  tags:
  - Endpoint Agent Labels
- name: Endpoint Instant Scheduled Tests API
  tags:
  - Agent to Server Endpoint Instant Scheduled Tests
  - HTTP Server Endpoint Instant Scheduled Tests
  - Run Endpoint Instant Scheduled Tests
- name: Endpoint Agents API
  tags:
  - Endpoint Agents
  - Endpoint Agent Log Items
  - Endpoint Proxies
  - Endpoint Agents Transfer
- name: Emulation API
  tags:
  - Emulation
- name: Dashboards API
  tags:
  - Dashboards
  - Dashboard Snapshots
  - Dashboards Filters
- name: Credentials API
  tags:
  - Credentials
- name: Cloud Insights Integrations API
  tags:
  - Cloud Insights Integrations
  - Cloud Insights Integration Policy Settings
- name: Autonomous Systems API
  tags:
  - Autonomous Systems
  - Autonomous System Prefixes
- name: API Token Management API
  tags:
  - API Token
- name: Alerts API
  tags:
  - Alerts
  - Alert Rules
  - Alert Suppression Windows
- name: Agents API
  tags:
  - Cloud and Enterprise Agents
  - Local Problems
  - Enterprise Agent Cluster
  - Cloud and Enterprise Agent Notification Rules
  - Agent Proxies
  - Tests Assignment on Agents
- name: Administrative API
  tags:
  - Account Groups
  - Users
  - Roles
  - Permissions
  - User Events
