openapi: 3.2.0
info:
  version: 7.0.100
  title: ThousandEyes Alert Rules API
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
tags:
- name: Alert Rules
  x-displayName: Alert Rules
paths:
  /alerts/rules:
    get:
      tags:
      - Alert Rules
      summary: List alert rules
      operationId: getAlertsRules
      description: Returns a list of alert rules. Default rules for each test type are indicated with a boolean response (true or false); these default alert rules automatically apply to their respective test types. This endpoint is limited to alert rules for Network & App Synthetics tests and Routing tests.
      parameters:
      - $ref: '#/components/parameters/Alerts_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Alerts_API_Rules'
        '401':
          $ref: '#/components/responses/Alerts_API_401'
        '403':
          $ref: '#/components/responses/Alerts_API_403'
        '404':
          $ref: '#/components/responses/Alerts_API_404'
        '429':
          $ref: '#/components/responses/Alerts_API_429'
        '500':
          $ref: '#/components/responses/Alerts_API_500'
      security:
      - Alerts_API_BearerAuth: []
    post:
      tags:
      - Alert Rules
      summary: Create alert rule
      operationId: createAlertRule
      description: 'Creates a new alert rule in your account, using the provided POST data. This endpoint is limited to alert rules for Network & App Synthetics tests and Routing tests. The `Edit alert rules` permission is required to create an alert rule.

        Note: Assigning an alert rule to a test during creation requires the `Edit tests` permission.'
      parameters:
      - $ref: '#/components/parameters/Alerts_API_AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alerts_API_RuleDetailUpdate'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Alerts_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Alerts_API_Rule'
        '400':
          $ref: '#/components/responses/Alerts_API_400'
        '401':
          $ref: '#/components/responses/Alerts_API_401'
        '403':
          $ref: '#/components/responses/Alerts_API_403'
        '404':
          $ref: '#/components/responses/Alerts_API_404'
        '429':
          $ref: '#/components/responses/Alerts_API_429'
        '500':
          $ref: '#/components/responses/Alerts_API_500'
      security:
      - Alerts_API_BearerAuth: []
  /alerts/rules/{ruleId}:
    get:
      tags:
      - Alert Rules
      summary: Retrieve alert rule
      operationId: getAlertRule
      description: Returns detailed information about an alert rule using the `ruleId`. This endpoint is limited to alert rules for Network & App Synthetics tests and Routing tests. If the `ruleId` doesn’t exist or is inaccessible by your account, an empty response is returned.
      parameters:
      - $ref: '#/components/parameters/Alerts_API_RuleId'
      - $ref: '#/components/parameters/Alerts_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Alerts_API_RuleDetail'
        '401':
          $ref: '#/components/responses/Alerts_API_401'
        '403':
          $ref: '#/components/responses/Alerts_API_403'
        '404':
          $ref: '#/components/responses/Alerts_API_404'
        '429':
          $ref: '#/components/responses/Alerts_API_429'
        '500':
          $ref: '#/components/responses/Alerts_API_500'
      security:
      - Alerts_API_BearerAuth: []
    put:
      tags:
      - Alert Rules
      summary: Update alert rule
      operationId: updateAlertRule
      description: 'Modifies an existing alert rule in your account, using the provided POST data. This endpoint is limited to alert rules for Network & App Synthetics tests and Routing tests. The `Edit alert rules` permission is required to modify an alert rule.


        Note: Assigning an alert rule to a test during creation requires the `Edit tests` permission.'
      parameters:
      - $ref: '#/components/parameters/Alerts_API_RuleId'
      - $ref: '#/components/parameters/Alerts_API_AccountGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alerts_API_RuleDetailUpdate'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Alerts_API_Rule'
        '400':
          $ref: '#/components/responses/Alerts_API_400'
        '401':
          $ref: '#/components/responses/Alerts_API_401'
        '403':
          $ref: '#/components/responses/Alerts_API_403'
        '404':
          $ref: '#/components/responses/Alerts_API_404'
        '429':
          $ref: '#/components/responses/Alerts_API_429'
        '500':
          $ref: '#/components/responses/Alerts_API_500'
      security:
      - Alerts_API_BearerAuth: []
    delete:
      tags:
      - Alert Rules
      summary: Delete alert rule
      operationId: deleteAlertRule
      description: Deletes an alert rule from your account. Users must have both `Edit alert rules` and `Edit tests` permissions, especially if the rule is linked to any tests. Without these permissions, an error occurs. This endpoint is limited to alert rules for Network & App Synthetics tests and Routing tests.
      parameters:
      - $ref: '#/components/parameters/Alerts_API_AccountGroupId'
      - $ref: '#/components/parameters/Alerts_API_RuleId'
      responses:
        '204':
          $ref: '#/components/responses/Alerts_API_204'
        '400':
          $ref: '#/components/responses/Alerts_API_400'
        '401':
          $ref: '#/components/responses/Alerts_API_401'
        '403':
          $ref: '#/components/responses/Alerts_API_403'
        '404':
          $ref: '#/components/responses/Alerts_API_404'
        '429':
          $ref: '#/components/responses/Alerts_API_429'
        '500':
          $ref: '#/components/responses/Alerts_API_500'
      security:
      - Alerts_API_BearerAuth: []
components:
  schemas:
    Alerts_API_AlertDirection:
      type: string
      enum:
      - to-target
      - from-target
      - bidirectional
      description: Direction for applicable alert types (eg. path trace, End-to-End (Agent) etc.)
      example: to-target
    Alerts_API_NotificationCustomWebhook:
      type: object
      description: Custom webhook notification.
      properties:
        integrationId:
          type: string
          format: uuid
          description: Integration ID.
          example: 6e069ae9-8537-4120-b988-61bf8e0d8b87
        integrationType:
          $ref: '#/components/schemas/Alerts_API_CustomWebhookIntegrationType'
        integrationName:
          type: string
          description: User-configured name of the integration.
          example: My webhook
        target:
          type: string
          description: Webhook target URL.
          example: https://example.com/test/webhooks/notifications
    Alerts_API_Link:
      type: object
      description: A hyperlink from the containing resource to a URI.
      required:
      - href
      properties:
        href:
          type: string
          description: Its value is either a URI [RFC3986] or a URI template [RFC6570].
          example: https://api.thousandeyes.com/v7/link/to/resource/id
        templated:
          type: boolean
          description: Should be true when the link object's "href" property is a URI template.
        type:
          type: string
          description: Used as a hint to indicate the media type expected when dereferencing the target resource.
        deprecation:
          type: string
          description: Its presence indicates that the link is to be deprecated at a future date. Its value is a URL that should provide further information about the deprecation.
        name:
          type: string
          description: Its value may be used as a secondary key for selecting link objects that share the same relation type.
        profile:
          type: string
          description: A URI that hints about the profile of the target resource.
        title:
          type: string
          description: Intended for labelling the link with a human-readable identifier
        hreflang:
          type: string
          description: Indicates the language of the target resource
    Alerts_API_AlertGroupType:
      type: string
      description: Category of alert type based on the application or network layer and source of the test.
      enum:
      - bgp
      - browser-session
      - cloud-enterprise
      - endpoint
      example: endpoint
    Alerts_API_NotificationThirdParty:
      type: object
      description: Webhook notification.
      properties:
        integrationId:
          type: string
          description: Integration ID.
          example: sl-101
        integrationType:
          $ref: '#/components/schemas/Alerts_API_ThirdPartyIntegrationType'
    Alerts_API_RuleDetailUpdate:
      allOf:
      - $ref: '#/components/schemas/Alerts_API_BaseRule'
      - type: object
        properties:
          notifications:
            $ref: '#/components/schemas/Alerts_API_AlertNotification'
          testIds:
            $ref: '#/components/schemas/Alerts_API_RuleTestIds'
    Alerts_API_AlertTestType:
      type: string
      enum:
      - api
      - agent-to-agent
      - agent-to-server
      - bgp
      - http-server
      - page-load
      - web-transactions
      - ftp-server
      - dns-trace
      - dns-server
      - dnssec
      - sip-server
      - voice
      - endpoint-http-server
      - endpoint-network-server
      - endpoint-path-trace
      description: Valid Alert Types for which to return test links.
      readOnly: true
      example: agent-to-server
    Alerts_API_SelfLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/Alerts_API_Link'
    Alerts_API_CustomWebhookIntegrationType:
      type: string
      description: Integration type.
      example: custom-webhook
      enum:
      - custom-webhook
    Alerts_API_RuleDetail:
      allOf:
      - $ref: '#/components/schemas/Alerts_API_BaseRule'
      - type: object
        properties:
          notifications:
            $ref: '#/components/schemas/Alerts_API_AlertNotification'
          tests:
            type: array
            items:
              $ref: '#/components/schemas/Alerts_API_AlertSimpleTest'
            readOnly: true
          testIds:
            type: array
            description: Array of test IDs to link to alert rule (get `testId` from `/tests` endpoint).
            readOnly: true
            items:
              type: string
            example:
            - '281474976710706'
            - '271659'
          _links:
            $ref: '#/components/schemas/Alerts_API_SelfLinks'
    Alerts_API_Enabled:
      type: boolean
      description: Test is enabled.
      example: true
      default: true
    Alerts_API_NotificationWebhook:
      type: object
      description: Webhook notification.
      properties:
        integrationId:
          type: string
          description: Integration ID.
          example: wb-201
        integrationType:
          $ref: '#/components/schemas/Alerts_API_WebhookIntegrationType'
        integrationName:
          description: Name of the integration, configured by the user.
          example: My webhook
          type: string
        target:
          description: Webhook target URL.
          example: https://example.com/test/webhooks/notifications
          type: string
    Alerts_API_NotificationEmail:
      type: object
      description: Email notifications.
      properties:
        recipients:
          type: array
          description: An array containing the email addresses to receive notifications.
          items:
            type: string
          example:
          - noreply@thousandeyes.com
        message:
          type: string
          description: Custom text included in alert email notifications sent to recipients.
          example: Notification message
    Alerts_API_TestResults:
      type: array
      description: Reference to the test results.
      items:
        $ref: '#/components/schemas/Alerts_API_Link'
      example:
      - href: https://api.thousandeyes.com/v7/test-results/281474976710706/network
      - href: https://api.thousandeyes.com/v7/test-results/281474976710706/path-vis
    Alerts_API_AlertSimpleTest:
      description: Each test includes additional fields depending on its `type`. Refer `/tests/{type}` endpoint to know the set of fields returned by a given `type`.
      additionalProperties: true
      type: object
      properties:
        interval:
          $ref: '#/components/schemas/Alerts_API_TestInterval'
        alertsEnabled:
          type: boolean
          description: Indicates if alerts are enabled.
          example: true
        enabled:
          $ref: '#/components/schemas/Alerts_API_Enabled'
        createdBy:
          $ref: '#/components/schemas/Alerts_API_TestCreatedBy'
        createdDate:
          $ref: '#/components/schemas/Alerts_API_TestCreatedDate'
        description:
          type: string
          description: A description of the test.
          example: ThousandEyes Test
        liveShare:
          type: boolean
          description: Indicates if the test is shared with the account group.
          example: false
          readOnly: true
        modifiedBy:
          type: string
          description: User that modified the test.
          example: user@user.com
          readOnly: true
        modifiedDate:
          type: string
          format: date-time
          description: UTC last modification date (ISO date-time format).
          readOnly: true
          example: '2022-07-17T22:00:54Z'
        savedEvent:
          type: boolean
          description: 'Indicates if the test is a saved event.

            **Note**: **Saved Events** are now called **Private Snapshots** in the user interface. This change does not affect API.'
          readOnly: true
        testId:
          type: string
          description: Each test is assigned an unique ID; this is used to access test information and results from other endpoints.
          readOnly: true
          example: '281474976710706'
        testName:
          type: string
          description: The name of the test. Test name must be unique.
          example: ThousandEyes Test
        type:
          $ref: '#/components/schemas/Alerts_API_AlertTestType'
        _links:
          $ref: '#/components/schemas/Alerts_API_TestLinks'
    Alerts_API_AlertRoundsViolationMode:
      type: string
      description: '`exact` requires the same agents to meet the threshold in consecutive rounds. `auto` is only enabled for CEA and Endpoint Scheduled test rules. The default is `any`.'
      enum:
      - exact
      - any
      - auto
      example: exact
      readOnly: true
    Alerts_API_TestInterval:
      type: integer
      enum:
      - 60
      - 120
      - 300
      - 600
      - 900
      - 1800
      - 3600
      description: Interval between test runs in seconds.
      default: 60
      example: 60
    Alerts_API_TestSelfLink:
      allOf:
      - $ref: '#/components/schemas/Alerts_API_Link'
      - description: Reference to the test.
        example:
          href: https://api.thousandeyes.com/v7/tests/{type}/281474976710706
    Alerts_API_RuleTestIds:
      type: array
      description: Array of test IDs to link to alert rule (get `testId` from `/tests` endpoint).
      items:
        type: string
      example:
      - '281474976710706'
      - '271659'
    Alerts_API_WebhookIntegrationType:
      type: string
      description: Integration type.
      example: webhook
      enum:
      - webhook
    Alerts_API_AlertNotification:
      type: object
      description: Alert notification object. See Alert notification integrations.
      properties:
        email:
          $ref: '#/components/schemas/Alerts_API_NotificationEmail'
        thirdParty:
          type: array
          description: Third party notifications.
          items:
            $ref: '#/components/schemas/Alerts_API_NotificationThirdParty'
        webhook:
          type: array
          description: Webhook notifications.
          items:
            $ref: '#/components/schemas/Alerts_API_NotificationWebhook'
        customWebhook:
          type: array
          description: Custom webhook notifications.
          items:
            $ref: '#/components/schemas/Alerts_API_NotificationCustomWebhook'
    Alerts_API_Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    Alerts_API_BaseRule:
      type: object
      required:
      - ruleName
      - expression
      - alertType
      - roundsViolatingOutOf
      properties:
        ruleId:
          $ref: '#/components/schemas/Alerts_API_RuleId'
        ruleName:
          type: string
          description: Name of the alert rule.
          example: The End of the Internet
        expression:
          type: string
          description: The expression of the alert rule.
          example: ((hops((hopDelay >= 100 ms))))
        description:
          type: string
          description: A description of the alert rule.
          example: A rule description string
        direction:
          $ref: '#/components/schemas/Alerts_API_AlertDirection'
        notifyOnClear:
          type: boolean
          description: Send notification when alert clears.
          example: true
        isDefault:
          type: boolean
          description: If set to `true`, this alert rule becomes the default for its test type and is automatically applied to newly created tests with relevant metrics. Only one default alert rule is allowed per test type.
          example: true
        alertType:
          $ref: '#/components/schemas/Alerts_API_AlertType'
        alertGroupType:
          $ref: '#/components/schemas/Alerts_API_AlertGroupType'
        minimumSources:
          type: integer
          description: The minimum number of agents or monitors that must meet the specified criteria to trigger the alert.
          example: 10
        minimumSourcesPct:
          type: integer
          description: The minimum percentage of all assigned agents or monitors that must meet the specified criteria to trigger the alert.
          example: 99
        roundsViolatingMode:
          $ref: '#/components/schemas/Alerts_API_AlertRoundsViolationMode'
        roundsViolatingOutOf:
          type: integer
          description: Specifies the divisor (y value) in the “X of Y times” condition.
          example: 5
        roundsViolatingRequired:
          type: integer
          description: Specifies the numerator (x value) in the “X of Y times” condition.
          example: 2
        includeCoveredPrefixes:
          type: boolean
          description: Set true to include covered prefixes in the BGP alert rule. Only applicable to BGP alert rules.
          example: true
        sensitivityLevel:
          $ref: '#/components/schemas/Alerts_API_SensitivityLevel'
        severity:
          $ref: '#/components/schemas/Alerts_API_Severity'
        endpointAgentIds:
          description: An array of endpoint agent IDs associated with the rule (get `id` from `/endpoint/agents` API). This is applicable when `alertGroupType` is `browser-session`.
          type: array
          items:
            description: Unique ID of the agent.
            type: string
            example: '281474976710706'
        endpointLabelIds:
          description: An array of label IDs used to assign specific Endpoint Agents to the test (get `id` from `/endpoint/labels`). This is applicable when `alertGroupType` is `browser-session`.
          type: array
          items:
            description: An Endpoint label ID.
            type: string
            example: '123456'
        visitedSitesFilter:
          description: A list of website domains visited during the session. This is applicable when `alertGroupType` is `browser-session`.
          type: array
          items:
            type: string
          example:
          - app.thousandeyes.com
    Alerts_API_Severity:
      type: string
      description: The severity of the alert.
      enum:
      - info
      - major
      - minor
      - critical
      - unknown
      example: major
    Alerts_API_TestCreatedBy:
      type: string
      description: User that created the test.
      example: user@user.com
      readOnly: true
    Alerts_API_TestCreatedDate:
      type: string
      format: date-time
      description: UTC created date (ISO date-time format).
      example: '2022-07-17T22:00:54Z'
      readOnly: true
    Alerts_API_SensitivityLevel:
      type: string
      description: Used when `roundsViolatingMode` is set to `auto`. The default is `medium`. Higher sensitivity increases the likelihood of triggering alerts.
      enum:
      - high
      - medium
      - low
      example: medium
      readOnly: true
    Alerts_API_ValidationErrorItem:
      type: object
      properties:
        code:
          type: string
          description: (Optional) A unique error type/code that can be referenced in the documentation for further details.
        field:
          type: string
          description: Identifies the field that triggered this particular error.
        message:
          type: string
          description: A short, human-readable summary of the error.
    Alerts_API_Rules:
      type: object
      properties:
        alertRules:
          type: array
          items:
            $ref: '#/components/schemas/Alerts_API_BaseRule'
        _links:
          $ref: '#/components/schemas/Alerts_API_SelfLinks'
    Alerts_API_RuleId:
      type: string
      description: Unique ID of the rule.
      example: '127094'
      readOnly: true
    Alerts_API_UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    Alerts_API_TestLinks:
      type: object
      description: A list of links that can be accessed to get more information
      properties:
        self:
          $ref: '#/components/schemas/Alerts_API_TestSelfLink'
        testResults:
          $ref: '#/components/schemas/Alerts_API_TestResults'
      readOnly: true
    Alerts_API_AlertType:
      type: string
      description: Type of alert being triggered. In multi-layered tests, this value represents the layer the alert relates to. See [Alert Details](https://developer.cisco.com/docs/thousandeyes/retrieve-alert-details/) documentation for a list of possible values
      example: http-server
      enum:
      - page-load
      - http-server
      - end-to-end-server
      - end-to-end-agent
      - voice
      - dns-server
      - dns-trace
      - dnssec
      - bgp
      - path-trace
      - ftp
      - sip-server
      - transactions
      - web-transactions
      - agent
      - network-outage
      - application-outage
      - device-device
      - device-interface
      - endpoint-network-server
      - endpoint-http-server
      - endpoint-path-trace
      - endpoint-browser-sessions-agent
      - endpoint-browser-sessions-application
      - api
      - web-transaction
      - unknown
    Alerts_API_Rule:
      allOf:
      - $ref: '#/components/schemas/Alerts_API_RuleDetailUpdate'
      - type: object
        properties:
          _links:
            $ref: '#/components/schemas/Alerts_API_SelfLinks'
    Alerts_API_ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/Alerts_API_Error'
      - type: object
        properties:
          errors:
            type:
            - array
            - 'null'
            description: (Optional) When multiple errors occur, the details for each error are listed.
            items:
              $ref: '#/components/schemas/Alerts_API_ValidationErrorItem'
    Alerts_API_ThirdPartyIntegrationType:
      type: string
      description: Integration type.
      example: slack
      enum:
      - pager-duty
      - slack
      - app-dynamics
      - service-now
  responses:
    Alerts_API_400:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Alerts_API_ValidationError'
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Your request object contains invalid fields.
            instance: /v7
            errors:
            - code: AM-5432
              field: firstName
              message: firstName cannot have fancy characters
            - code: DASH-5622
              field: password
              message: Password cannot be blank
    Alerts_API_429:
      description: Exhausted rate limit for the organization
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Alerts_API_Error'
    Alerts_API_500:
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Alerts_API_Error'
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
    Alerts_API_204:
      description: No content
    Alerts_API_403:
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Alerts_API_Error'
    Alerts_API_404:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Alerts_API_Error'
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI or a wrong ID
            instance: /v7
    Alerts_API_401:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Alerts_API_UnauthorizedError'
  parameters:
    Alerts_API_RuleId:
      name: ruleId
      in: path
      description: Unique alert rule ID.
      example: '127094'
      required: true
      schema:
        type: string
    Alerts_API_AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
  headers:
    Alerts_API_Location:
      schema:
        type: string
        format: uri
        example: https://api.thousandeyes.com/v7/link/to/resource/id
      description: The absolute path to created resource.
  securitySchemes:
    Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Instant_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    ThousandEyes_for_OpenTelemetry_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Snapshots_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Usage_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Templates_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    BGP_Monitors_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Internet_Insights_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Tags_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Event_Detection_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agent_Labels_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Instant_Scheduled_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Emulation_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Dashboards_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Credentials_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Cloud_Insights_Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Autonomous_Systems_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    API_Token_Management_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Alerts_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Administrative_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
externalDocs:
  description: Find out more about ThousandEyes
  url: https://developer.thousandeyes.com/
x-tagGroups:
- name: Tests API
  tags:
  - Tests
  - Agent to Server Tests
  - Agent to Agent Tests
  - BGP Tests
  - DNS Server Tests
  - DNS Trace Tests
  - DNSSEC Tests
  - HTTP Server Tests
  - Page Load Tests
  - Web Transaction Tests
  - API Tests
  - FTP Server Tests
  - SIP Server Tests
  - Voice Tests
  - Path Visualization Interface Groups
- name: Test Results API
  tags:
  - Network Test Results
  - Web HTTP Server Test Results
  - Web Page Load Test Results
  - Web Transactions Test Results
  - API Test Results
  - Web FTP Server Test Results
  - DNS Trace Test Results
  - DNS Server Test Results
  - DNSSEC Test Results
  - Voice SIP Server Test Results
  - Voice RTP Server Test Results
  - Network BGP Test Results
- name: Instant Tests API
  tags:
  - Instant Tests
  - Agent to Agent Instant Tests
  - Agent to Server Instant Tests
  - DNS Server Instant Tests
  - DNS Trace Instant Tests
  - DNSSEC Instant Tests
  - HTTP Server Instant Tests
  - HTTP Page Load Instant Tests
  - Web Transaction Instant Tests
  - API Instant Tests
  - FTP Server Instant Tests
  - SIP Server Instant Tests
  - Voice Instant Tests
- name: ThousandEyes for OpenTelemetry API
  tags:
  - Streaming
- name: Test Snapshots API
  tags:
  - Test Snapshots
- name: Usage API
  tags:
  - Usage
  - Quotas
- name: Templates API
  tags:
  - Templates
- name: BGP Monitors API
  tags:
  - BGP monitors
- name: Internet Insights API
  tags:
  - Internet Insights Catalog Providers
  - Internet Insights Outages
- name: Tags API
  tags:
  - Tags
  - Tag Assignment
- name: Integrations API
  tags:
  - Credential Vault Operations
  - Operation Connectors
  - CyberArk Conjur Connectors
  - Webhook Operations
  - Generic Connectors
  - Panorama Connectors
- name: Event Detection API
  tags:
  - Events
- name: Endpoint Tests API
  tags:
  - Endpoint Scheduled Tests
  - Agent to Server Endpoint Scheduled Tests
  - HTTP Server Endpoint Scheduled Tests
  - Agent To Server Endpoint Dynamic Tests
  - Endpoint Real User Tests
- name: Endpoint Test Results API
  tags:
  - Network Endpoint Scheduled Test Results
  - HTTP Server Endpoint Scheduled Test Results
  - Network Dynamic Endpoint Test Results
  - Real User Endpoint Test Results
  - Local Network Endpoint Test Results
- name: Endpoint Agent Labels API
  tags:
  - Endpoint Agent Labels
- name: Endpoint Instant Scheduled Tests API
  tags:
  - Agent to Server Endpoint Instant Scheduled Tests
  - HTTP Server Endpoint Instant Scheduled Tests
  - Run Endpoint Instant Scheduled Tests
- name: Endpoint Agents API
  tags:
  - Endpoint Agents
  - Endpoint Agent Log Items
  - Endpoint Proxies
  - Endpoint Agents Transfer
- name: Emulation API
  tags:
  - Emulation
- name: Dashboards API
  tags:
  - Dashboards
  - Dashboard Snapshots
  - Dashboards Filters
- name: Credentials API
  tags:
  - Credentials
- name: Cloud Insights Integrations API
  tags:
  - Cloud Insights Integrations
  - Cloud Insights Integration Policy Settings
- name: Autonomous Systems API
  tags:
  - Autonomous Systems
  - Autonomous System Prefixes
- name: API Token Management API
  tags:
  - API Token
- name: Alerts API
  tags:
  - Alerts
  - Alert Rules
  - Alert Suppression Windows
- name: Agents API
  tags:
  - Cloud and Enterprise Agents
  - Local Problems
  - Enterprise Agent Cluster
  - Cloud and Enterprise Agent Notification Rules
  - Agent Proxies
  - Tests Assignment on Agents
- name: Administrative API
  tags:
  - Account Groups
  - Users
  - Roles
  - Permissions
  - User Events
