openapi: 3.2.0
info:
  version: 7.0.100
  title: ThousandEyes Events API
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
tags:
- name: Events
  x-displayName: Events
paths:
  /events:
    get:
      tags:
      - Events
      summary: List events
      operationId: getEvents
      description: 'Retrieves a list of events within the specified time window. If no events are active during the specified time range, an empty response is returned. **Note**: You must provide either a time window using the `window` parameter or specify `startDate` and `endDate`.'
      parameters:
      - $ref: '#/components/parameters/Event_Detection_API_AccountGroupId'
      - $ref: '#/components/parameters/Event_Detection_API_Window'
      - $ref: '#/components/parameters/Event_Detection_API_StartDateParameter'
      - $ref: '#/components/parameters/Event_Detection_API_EndDateParameter'
      - $ref: '#/components/parameters/Event_Detection_API_PaginationMax'
      - $ref: '#/components/parameters/Event_Detection_API_PaginationCursor'
      - $ref: '#/components/parameters/Event_Detection_API_OngoingEventsParameter'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Event_Detection_API_Events'
        '400':
          $ref: '#/components/responses/Event_Detection_API_400'
        '401':
          $ref: '#/components/responses/Event_Detection_API_401'
        '403':
          $ref: '#/components/responses/Event_Detection_API_403'
        '404':
          $ref: '#/components/responses/Event_Detection_API_404'
        '429':
          $ref: '#/components/responses/Event_Detection_API_429'
        '500':
          $ref: '#/components/responses/Event_Detection_API_500'
        '502':
          $ref: '#/components/responses/Event_Detection_API_502'
        default:
          $ref: '#/components/responses/Event_Detection_API_GeneralError'
      security:
      - Event_Detection_API_BearerAuth: []
  /events/{id}:
    get:
      tags:
      - Events
      summary: Retrieve event
      operationId: getEvent
      description: Returns detailed information about an event using its ID.
      parameters:
      - $ref: '#/components/parameters/Event_Detection_API_EventId'
      - $ref: '#/components/parameters/Event_Detection_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Event_Detection_API_EventDetail'
        '401':
          $ref: '#/components/responses/Event_Detection_API_401'
        '403':
          $ref: '#/components/responses/Event_Detection_API_403'
        '404':
          $ref: '#/components/responses/Event_Detection_API_404'
        '429':
          $ref: '#/components/responses/Event_Detection_API_429'
        '500':
          $ref: '#/components/responses/Event_Detection_API_500'
        '502':
          $ref: '#/components/responses/Event_Detection_API_502'
        default:
          $ref: '#/components/responses/Event_Detection_API_GeneralError'
      security:
      - Event_Detection_API_BearerAuth: []
components:
  schemas:
    Event_Detection_API_DnsNameEventType:
      type: string
      description: DNS name event type.
      example: dns-name
      pattern: ^dns-name$
    Event_Detection_API_DnsNameEventGrouping:
      type: object
      properties:
        domainNameSuffix:
          type: string
          description: Domain name suffix (for dns-name events).
          example: webex.com
          readOnly: true
    Event_Detection_API_ProxyEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_ProxyEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_ProxyEventGrouping'
    Event_Detection_API_NetworkEventType:
      type: string
      description: Network event type.
      example: network
      pattern: ^network$
    Event_Detection_API_ProxyEventGrouping:
      type: object
      properties:
        proxy:
          type: string
          description: Proxy name or IP (for proxy events).
          example: my.proxy.com
          readOnly: true
    Event_Detection_API_ApplicationEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_ApplicationEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_ApplicationEventGrouping'
    Event_Detection_API_EventEndDate:
      type:
      - string
      - 'null'
      format: date-time
      description: The end date and time (in UTC, ISO 8601 format) when the event was resolved (due to timeout). This value is null for "ongoing" (active) events and is populated once the event is resolved.
      example: '2020-04-23T13:43:16Z'
      readOnly: true
    Event_Detection_API_EventState:
      type: string
      description: Indicates the state of the event, whether it is ongoing (active) or has been resolved.
      enum:
      - active
      - resolved
      example: resolved
      readOnly: true
    Event_Detection_API_EndDate:
      type: string
      format: date-time
      example: '2022-07-18T22:00:54Z'
      description: (Optional) When passing `window` or `endDate` parameter,  the client will also receive the `endDate` field indicating the UTC end date of the data's time range being retrieved  (ISO date-time format).
      readOnly: true
    Event_Detection_API_VpnEventGrouping:
      type: object
      properties:
        vpnType:
          type: string
          description: VPN type (for vpn events).
          example: CiscoAnyConnect
          readOnly: true
        vpnServerIpAddress:
          type: string
          description: VPN server IP address (for vpn events).
          example: 10.0.0.1
          readOnly: true
    Event_Detection_API_TargetNetworkEventType:
      type: string
      description: Target network event type.
      example: target-network
      pattern: ^target-network$
    Event_Detection_API_Link:
      type: object
      description: A hyperlink from the containing resource to a URI.
      required:
      - href
      properties:
        href:
          type: string
          description: Its value is either a URI [RFC3986] or a URI template [RFC6570].
          example: https://api.thousandeyes.com/v7/link/to/resource/id
        templated:
          type: boolean
          description: Should be true when the link object's "href" property is a URI template.
        type:
          type: string
          description: Used as a hint to indicate the media type expected when dereferencing the target resource.
        deprecation:
          type: string
          description: Its presence indicates that the link is to be deprecated at a future date. Its value is a URL that should provide further information about the deprecation.
        name:
          type: string
          description: Its value may be used as a secondary key for selecting link objects that share the same relation type.
        profile:
          type: string
          description: A URI that hints about the profile of the target resource.
        title:
          type: string
          description: Intended for labelling the link with a human-readable identifier
        hreflang:
          type: string
          description: Indicates the language of the target resource
    Event_Detection_API_EventDetailBase:
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_SimpleEventDetail'
      - type: object
        properties:
          aid:
            $ref: '#/components/schemas/Event_Detection_API_AccountGroupId'
          summary:
            type: string
            description: A brief summary describing the cause of the event.
            example: Significant number of issues detected with 66.29.146.15
            readOnly: true
          agentType:
            $ref: '#/components/schemas/Event_Detection_API_EventAgentType'
          affectedTests:
            $ref: '#/components/schemas/Event_Detection_API_AffectedTests'
          affectedTargets:
            $ref: '#/components/schemas/Event_Detection_API_AffectedTargets'
          affectedAgents:
            $ref: '#/components/schemas/Event_Detection_API_AffectedAgents'
          cause:
            $ref: '#/components/schemas/Event_Detection_API_Cause'
          _links:
            $ref: '#/components/schemas/Event_Detection_API_SelfLinks'
    Event_Detection_API_AgentEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_AgentEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_AgentEventGrouping'
    Event_Detection_API_EventDetail:
      oneOf:
      - $ref: '#/components/schemas/Event_Detection_API_TargetEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_TargetNetworkEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_ProxyEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_DnsEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_AgentLocalEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_NetworkEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_NetworkPopEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_AgentEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_ApplicationEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_WirelessEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_GatewayEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_DnsServerEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_DnsNameEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_VpnEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_AgentBranchEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_DomainEventDetail'
      - $ref: '#/components/schemas/Event_Detection_API_NameServerEventDetail'
      discriminator:
        propertyName: type
        mapping:
          target: '#/components/schemas/Event_Detection_API_TargetEventDetail'
          target-network: '#/components/schemas/Event_Detection_API_TargetNetworkEventDetail'
          proxy: '#/components/schemas/Event_Detection_API_ProxyEventDetail'
          dns: '#/components/schemas/Event_Detection_API_DnsEventDetail'
          agent-local: '#/components/schemas/Event_Detection_API_AgentLocalEventDetail'
          network: '#/components/schemas/Event_Detection_API_NetworkEventDetail'
          network-pop: '#/components/schemas/Event_Detection_API_NetworkPopEventDetail'
          agent: '#/components/schemas/Event_Detection_API_AgentEventDetail'
          application: '#/components/schemas/Event_Detection_API_ApplicationEventDetail'
          wireless: '#/components/schemas/Event_Detection_API_WirelessEventDetail'
          gateway: '#/components/schemas/Event_Detection_API_GatewayEventDetail'
          dns-server: '#/components/schemas/Event_Detection_API_DnsServerEventDetail'
          dns-name: '#/components/schemas/Event_Detection_API_DnsNameEventDetail'
          vpn: '#/components/schemas/Event_Detection_API_VpnEventDetail'
          agent-branch: '#/components/schemas/Event_Detection_API_AgentBranchEventDetail'
          domain: '#/components/schemas/Event_Detection_API_DomainEventDetail'
          name-server: '#/components/schemas/Event_Detection_API_NameServerEventDetail'
    Event_Detection_API_NameServerEventType:
      type: string
      description: Name server event type.
      example: name-server
      pattern: ^name-server$
    Event_Detection_API_EventAffectedAgentType:
      type: string
      description: Type of the affected agent.
      enum:
      - cloud
      - enterprise-cluster
      - enterprise
      - enterprise-lite
      - enterprise-pulse
      - enterprise-csc
      example: enterprise
      readOnly: true
    Event_Detection_API_ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_Error'
      - type: object
        properties:
          errors:
            type:
            - array
            - 'null'
            description: (Optional) When multiple errors occur, the details for each error are listed.
            items:
              $ref: '#/components/schemas/Event_Detection_API_ValidationErrorItem'
    Event_Detection_API_AffectedCount:
      type: object
      properties:
        total:
          type: integer
          description: The total number affected.
          example: 5
          readOnly: true
        inAccountGroup:
          type: integer
          description: Indicates if in the affected account group.
          example: 2
          readOnly: true
    Event_Detection_API_AccountGroupId:
      type: string
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint.
      example: '1234'
    Event_Detection_API_DnsServerEventGrouping:
      type: object
      properties:
        ipAddress:
          type: string
          description: DNS server IP address (for dns-server events).
          example: 8.8.8.8
          readOnly: true
    Event_Detection_API_GatewayEventType:
      type: string
      description: Gateway event type.
      example: gateway
      pattern: ^gateway$
    Event_Detection_API_ValidationErrorItem:
      type: object
      properties:
        code:
          type: string
          description: (Optional) A unique error type/code that can be referenced in the documentation for further details.
        field:
          type: string
          description: Identifies the field that triggered this particular error.
        message:
          type: string
          description: A short, human-readable summary of the error.
    Event_Detection_API_NetworkPopEventType:
      type: string
      description: Network pop event type.
      example: network-pop
      pattern: ^network-pop$
    Event_Detection_API_AgentBranchEventType:
      type: string
      description: Agent branch event type.
      example: agent-branch
      pattern: ^agent-branch$
    Event_Detection_API_WirelessEventType:
      type: string
      description: Wireless event type.
      example: wireless
      pattern: ^wireless$
    Event_Detection_API_EventAgentType:
      type: string
      description: Specifies the agent type associated with the event. Allowed values are `cloud-enterprise-agent` and `endpoint-agent`.
      enum:
      - cloud-enterprise-agent
      - endpoint-agent
      example: cloud-enterprise-agent
      readOnly: true
    Event_Detection_API_AgentEventType:
      type: string
      description: Agent event type.
      example: agent
      pattern: ^agent$
    Event_Detection_API_DnsServerEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_DnsServerEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_DnsServerEventGrouping'
    Event_Detection_API_ProxyEventType:
      type: string
      description: Proxy event type.
      example: proxy
      pattern: ^proxy$
    Event_Detection_API_Cause:
      uniqueItems: true
      type: array
      description: The cause of the error.
      items:
        type: string
      example:
      - Network Loss and/or High RTT
    Event_Detection_API_EventStartDate:
      type: string
      format: date-time
      description: The start date and time (in UTC, ISO 8601 format) when the event was first detected.
      example: '2020-04-23T13:43:16Z'
      readOnly: true
    Event_Detection_API_DnsEventGrouping:
      type: object
      properties:
        rootDomain:
          type: string
          description: Root domain name (for dns events).
          example: thousandeyes.com
          readOnly: true
    Event_Detection_API_EventApiAffectedTest:
      type: object
      properties:
        testId:
          type: string
          description: The ID of the affected test.
          example: '226770'
          readOnly: true
        testType:
          $ref: '#/components/schemas/Event_Detection_API_TestType'
        name:
          type: string
          description: The test name as configured in the test settings.
          example: Google test
          readOnly: true
        affectedTargetIds:
          type: array
          description: An array of unique target IDs contributed data points which generated the signal for the event.
          items:
            type: string
          example:
          - '123'
          - '1234'
        affectedAgentIds:
          type: array
          description: An array of unique agent IDs that contributed data points which generated the signal for the event.
          items:
            type: string
          example:
          - '2954'
          - '2953'
        _links:
          $ref: '#/components/schemas/Event_Detection_API_EventTestLinks'
    Event_Detection_API_AgentEventGrouping:
      type: object
      properties:
        agentId:
          type: string
          description: Agent identifier (for agent events). Represents the machine ID for Endpoint Agents or the virtual agent ID for Cloud and Enterprise Agents'.
          example: '3379'
          readOnly: true
    Event_Detection_API_GatewayEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_GatewayEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_GatewayEventGrouping'
    Event_Detection_API_AgentLocalEventGrouping:
      type: object
      properties:
        agentId:
          type: string
          description: Numeric Agent ID (for agent-local events).
          example: '123456'
          readOnly: true
    Event_Detection_API_VpnEventType:
      type: string
      description: VPN event type.
      example: vpn
      pattern: ^vpn$
    Event_Detection_API_SimpleEventDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: A unique ID for each event.
          example: e9c3bf02-a48c-4aa8-9e5f-898800d6f569
          readOnly: true
        typeName:
          type: string
          description: Event type name. Examples include, Local Agent Issue, Network Path Issue, Network Outage, DNS Issue, Server Issue, and Proxy Issue.
          example: Network Issue
          readOnly: true
        state:
          $ref: '#/components/schemas/Event_Detection_API_EventState'
        startDate:
          $ref: '#/components/schemas/Event_Detection_API_EventStartDate'
        endDate:
          $ref: '#/components/schemas/Event_Detection_API_EventEndDate'
        severity:
          $ref: '#/components/schemas/Event_Detection_API_EventAlertSeverity'
    Event_Detection_API_TargetEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_TargetEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_TargetEventGrouping'
    Event_Detection_API_DnsEventType:
      type: string
      description: DNS event type.
      example: dns
      pattern: ^dns$
    Event_Detection_API_EventApiAffectedAgent:
      type: object
      properties:
        agentId:
          type: string
          description: The ID of the virtual agent.
          example: '2954'
          readOnly: true
        type:
          $ref: '#/components/schemas/Event_Detection_API_EventAffectedAgentType'
        name:
          type: string
          description: The name of the agent as defined in settings.
          example: São Paulo, Brazil - agent
          readOnly: true
        location:
          type: string
          description: The name of the agent's location.
          example: São Paulo, Brazil
          readOnly: true
        countryCode:
          type: string
          description: The country code of the agent's location .
          example: BR
          readOnly: true
        affectedTargetIds:
          type: array
          description: An array of unique target IDs that contributed data points which generated the signal for the event.
          items:
            type: string
          example:
          - '123'
          - '1234'
        affectedTestIds:
          type: array
          description: An array of unique agent IDs that contributed data points which generated the signal for the event.
          items:
            type: string
          example:
          - '2954'
          - '2953'
        _links:
          $ref: '#/components/schemas/Event_Detection_API_AgentLinks'
    Event_Detection_API_NameServerEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_NameServerEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_NameServerEventGrouping'
    Event_Detection_API_EventTestLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        test:
          $ref: '#/components/schemas/Event_Detection_API_Link'
    Event_Detection_API_Events:
      type: object
      properties:
        aid:
          $ref: '#/components/schemas/Event_Detection_API_AccountGroupId'
        startDate:
          $ref: '#/components/schemas/Event_Detection_API_StartDate'
        endDate:
          $ref: '#/components/schemas/Event_Detection_API_EndDate'
        events:
          x-paginated-items: true
          type: array
          items:
            $ref: '#/components/schemas/Event_Detection_API_Event'
        _links:
          $ref: '#/components/schemas/Event_Detection_API_PaginationNextAndSelfLinks'
    Event_Detection_API_WirelessEventGrouping:
      type: object
      properties:
        ssid:
          type: string
          description: Wireless network SSID (for wireless events).
          example: CorpWiFi
          readOnly: true
        bssid:
          type: string
          description: Wireless network BSSID (for wireless events).
          example: 08:c7:f5:ac:34:88
          readOnly: true
    Event_Detection_API_AffectedAgents:
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_AffectedCount'
      - type: object
        properties:
          agents:
            uniqueItems: true
            type: array
            description: List of affected agents.
            items:
              $ref: '#/components/schemas/Event_Detection_API_EventApiAffectedAgent'
    Event_Detection_API_TargetEventGrouping:
      type: object
      properties:
        target:
          type: string
          description: Target name (for target events).
          example: google.com
          readOnly: true
    Event_Detection_API_TargetEventType:
      type: string
      description: Target event type.
      example: target
      pattern: ^target$
    Event_Detection_API_StartDate:
      type: string
      format: date-time
      example: '2022-07-17T22:00:54Z'
      description: (Optional) When passing `window` or `startDate` parameter,  the client will also receive the `startDate` field indicating the UTC start date of the data's time range being retrieved  (ISO date-time format).
      readOnly: true
    Event_Detection_API_Event:
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_SimpleEventDetail'
      - type: object
        properties:
          title:
            type: string
            description: Event title
            example: Affecting destinations in google.com
            readOnly: true
          type:
            $ref: '#/components/schemas/Event_Detection_API_EventType'
          agentType:
            $ref: '#/components/schemas/Event_Detection_API_EventAgentType'
          affectedTests:
            $ref: '#/components/schemas/Event_Detection_API_AffectedCount'
          affectedTargets:
            $ref: '#/components/schemas/Event_Detection_API_AffectedCount'
          affectedAgents:
            $ref: '#/components/schemas/Event_Detection_API_AffectedCount'
          _links:
            $ref: '#/components/schemas/Event_Detection_API_SelfLinks'
    Event_Detection_API_AffectedTargets:
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_AffectedCount'
      - type: object
        properties:
          targets:
            uniqueItems: true
            type: array
            description: List of affected targets.
            items:
              $ref: '#/components/schemas/Event_Detection_API_ApiAffectedTarget'
    Event_Detection_API_GatewayEventGrouping:
      type: object
      properties:
        ipAddress:
          type: string
          description: Gateway IP address (for gateway events).
          example: 192.168.1.1
          readOnly: true
        macAddress:
          type: string
          description: Gateway MAC address (for gateway events).
          example: 08:c7:f5:ac:34:88
          readOnly: true
    Event_Detection_API_AgentBranchEventGrouping:
      type: object
      properties:
        asn:
          type: integer
          description: AS number of the agent's network (for agent-branch events).
          example: 1234
          readOnly: true
        asnCity:
          type: string
          description: City associated with the agent's AS (for agent-branch events).
          example: San Francisco
          readOnly: true
    Event_Detection_API_NetworkEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_NetworkEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_NetworkEventGrouping'
    Event_Detection_API_TargetNetworkEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_TargetNetworkEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_TargetNetworkEventGrouping'
    Event_Detection_API_TestType:
      type: string
      enum:
      - api
      - agent-to-agent
      - agent-to-server
      - bgp
      - http-server
      - page-load
      - web-transactions
      - ftp-server
      - dns-trace
      - dns-server
      - dnssec
      - sip-server
      - voice
      description: This is a read only value, as test type is implicit in the test creation url.
      readOnly: true
      example: agent-to-server
    Event_Detection_API_AgentLinks:
      type: object
      description: A links object containing the agent link.
      readOnly: true
      properties:
        agent:
          $ref: '#/components/schemas/Event_Detection_API_Link'
    Event_Detection_API_EventType:
      type: string
      description: Specifies the event type in a machine-readable and backwards-compatible format, such as `agent` or `target`.
      enum:
      - agent-local
      - network-pop
      - network
      - dns
      - target
      - target-network
      - proxy
      - agent
      - application
      - wireless
      - gateway
      - dns-server
      - dns-name
      - vpn
      - agent-branch
      - domain
      - name-server
      example: target
      readOnly: true
    Event_Detection_API_PaginationNextAndSelfLinks:
      type: object
      description: A links object containing pagination-related links, including only next and self.
      properties:
        next:
          $ref: '#/components/schemas/Event_Detection_API_Link'
        self:
          $ref: '#/components/schemas/Event_Detection_API_Link'
    Event_Detection_API_NetworkPopEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_NetworkPopEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_NetworkEventGrouping'
    Event_Detection_API_SelfLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/Event_Detection_API_Link'
    Event_Detection_API_Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    Event_Detection_API_WirelessEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_WirelessEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_WirelessEventGrouping'
    Event_Detection_API_EventAlertSeverity:
      type: string
      description: The severity of the alert.
      enum:
      - high
      - medium
      - low
      - unknown
      example: medium
    Event_Detection_API_AgentBranchEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_AgentBranchEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_AgentBranchEventGrouping'
    Event_Detection_API_ApplicationEventGrouping:
      type: object
      properties:
        fqdn:
          type: string
          description: Fully qualified domain name of the application (for application events).
          example: teams.microsoft.com
          readOnly: true
    Event_Detection_API_UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    Event_Detection_API_AgentLocalEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_AgentLocalEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_AgentLocalEventGrouping'
    Event_Detection_API_DomainEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_DomainEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_DomainEventGrouping'
    Event_Detection_API_DnsEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_DnsEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_DnsEventGrouping'
    Event_Detection_API_AffectedTests:
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_AffectedCount'
      - type: object
        properties:
          tests:
            uniqueItems: true
            type: array
            description: List of affected tests.
            items:
              $ref: '#/components/schemas/Event_Detection_API_EventApiAffectedTest'
    Event_Detection_API_ApplicationEventType:
      type: string
      description: Application event type.
      example: application
      pattern: ^application$
    Event_Detection_API_ApiAffectedTarget:
      type: object
      properties:
        serverId:
          type: string
          description: The ID of the target server.
          example: '123'
          readOnly: true
        name:
          type: string
          description: The target name as configured in the test settings.
          example: google.com
          readOnly: true
        ip:
          type: string
          description: The target server IP resolved by the agent. Depending on the failure type, the IP may not be present. For example, if the agent failed to resolve it or if the requests were routed through the proxy.
          example: 216.239.32.10
          readOnly: true
        affectedTestIds:
          type: array
          description: An array of unique test IDs that contributed data points which generated the signal for the event.
          items:
            type: string
          example:
          - '123'
          - '1234'
        affectedAgentIds:
          type: array
          description: An array of unique agent IDs that contributed data points which generated the signal for the event.
          items:
            type: string
          example:
          - '2954'
          - '2953'
    Event_Detection_API_VpnEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_VpnEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_VpnEventGrouping'
    Event_Detection_API_TargetNetworkEventGrouping:
      type: object
      properties:
        prefix:
          type: string
          description: Prefix value for target-network events.
          example: 0.0.0.0/0
          readOnly: true
    Event_Detection_API_DomainEventType:
      type: string
      description: Domain event type.
      example: domain
      pattern: ^domain$
    Event_Detection_API_DnsServerEventType:
      type: string
      description: DNS server event type.
      example: dns-server
      pattern: ^dns-server$
    Event_Detection_API_AgentLocalEventType:
      type: string
      description: Agent local event type.
      example: agent-local
      pattern: ^agent-local$
    Event_Detection_API_NameServerEventGrouping:
      type: object
      properties:
        serverName:
          type: string
          description: Name server hostname (for name-server events).
          example: ns1.example.com
          readOnly: true
    Event_Detection_API_DomainEventGrouping:
      type: object
      properties:
        fqdn:
          type: string
          description: Fully qualified domain name (for domain events).
          example: teams.microsoft.com
          readOnly: true
    Event_Detection_API_NetworkEventGrouping:
      type: object
      properties:
        sourceAsn:
          type: integer
          description: AS number of the source network (for network-pop and network events).
          example: 1234
          readOnly: true
        destAsn:
          type: integer
          description: AS number of the destination network (for network events).
          example: 4321
          readOnly: true
        sourceCountryCode:
          type: string
          description: The source network's country code (for network-pop and network events).
          example: US
          readOnly: true
    Event_Detection_API_DnsNameEventDetail:
      type: object
      allOf:
      - $ref: '#/components/schemas/Event_Detection_API_EventDetailBase'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/Event_Detection_API_DnsNameEventType'
          grouping:
            $ref: '#/components/schemas/Event_Detection_API_DnsNameEventGrouping'
  parameters:
    Event_Detection_API_Window:
      name: window
      in: query
      description: 'A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.

        For a precise date range, use `startDate` and `endDate`.'
      schema:
        type: string
        pattern: ^\d+(?:[smhdw]{1})?$
        example: 12h
    Event_Detection_API_EventId:
      name: id
      in: path
      description: Unique event ID.
      example: e9c3bf02-a48c-4aa8-9e5f-898800d6f569
      required: true
      schema:
        type: string
        format: uuid
    Event_Detection_API_StartDateParameter:
      name: startDate
      in: query
      description: Use with the `endDate` parameter. Include the complete time (hours, minutes, and seconds) in UTC time zone, following the ISO 8601 date-time format. See the example for reference. Please note that this parameter can't be used with `window`.
      schema:
        type: string
        format: date-time
        example: '2022-07-17T22:00:54Z'
    Event_Detection_API_OngoingEventsParameter:
      name: ongoing
      in: query
      description: When set to `true`, only ongoing (active) events whose start date is within the specified time window are included in the response. When set to `false`, ongoing events are excluded from the response. If not set, both ongoing and concluded events appear in the response.
      schema:
        type: boolean
        example: true
    Event_Detection_API_AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
    Event_Detection_API_PaginationMax:
      name: max
      in: query
      description: (Optional) Maximum number of objects to return.
      schema:
        type: integer
        example: 5
    Event_Detection_API_PaginationCursor:
      name: cursor
      in: query
      example: null
      description: (Optional) Opaque cursor used for pagination. Clients should use `next` value from `_links` instead of this parameter.
      schema:
        type: string
        example: null
    Event_Detection_API_EndDateParameter:
      name: endDate
      in: query
      description: Defaults to current time the request is made. Use with the `startDate` parameter. Include the complete time (hours, minutes, and seconds) in UTC time zone, following the ISO 8601 date-time format. See the example for reference. Please note that this parameter can't be used with `window`.
      schema:
        type: string
        format: date-time
        example: '2022-07-18T22:00:54Z'
  responses:
    Event_Detection_API_502:
      description: Bad Gateway
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Event_Detection_API_Error'
    Event_Detection_API_500:
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Event_Detection_API_Error'
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
    Event_Detection_API_400:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Event_Detection_API_ValidationError'
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Your request object contains invalid fields.
            instance: /v7
            errors:
            - code: AM-5432
              field: firstName
              message: firstName cannot have fancy characters
            - code: DASH-5622
              field: password
              message: Password cannot be blank
    Event_Detection_API_403:
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Event_Detection_API_Error'
    Event_Detection_API_429:
      description: Exhausted rate limit for the organization
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Event_Detection_API_Error'
    Event_Detection_API_401:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Event_Detection_API_UnauthorizedError'
    Event_Detection_API_GeneralError:
      description: An error occurred
    Event_Detection_API_404:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Event_Detection_API_Error'
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI or a wrong ID
            instance: /v7
  securitySchemes:
    Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Instant_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    ThousandEyes_for_OpenTelemetry_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Snapshots_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Usage_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Templates_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    BGP_Monitors_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Internet_Insights_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Tags_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Event_Detection_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agent_Labels_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Instant_Scheduled_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Emulation_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Dashboards_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Credentials_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Cloud_Insights_Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Autonomous_Systems_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    API_Token_Management_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Alerts_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Administrative_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
externalDocs:
  description: Find out more about ThousandEyes
  url: https://developer.thousandeyes.com/
x-tagGroups:
- name: Tests API
  tags:
  - Tests
  - Agent to Server Tests
  - Agent to Agent Tests
  - BGP Tests
  - DNS Server Tests
  - DNS Trace Tests
  - DNSSEC Tests
  - HTTP Server Tests
  - Page Load Tests
  - Web Transaction Tests
  - API Tests
  - FTP Server Tests
  - SIP Server Tests
  - Voice Tests
  - Path Visualization Interface Groups
- name: Test Results API
  tags:
  - Network Test Results
  - Web HTTP Server Test Results
  - Web Page Load Test Results
  - Web Transactions Test Results
  - API Test Results
  - Web FTP Server Test Results
  - DNS Trace Test Results
  - DNS Server Test Results
  - DNSSEC Test Results
  - Voice SIP Server Test Results
  - Voice RTP Server Test Results
  - Network BGP Test Results
- name: Instant Tests API
  tags:
  - Instant Tests
  - Agent to Agent Instant Tests
  - Agent to Server Instant Tests
  - DNS Server Instant Tests
  - DNS Trace Instant Tests
  - DNSSEC Instant Tests
  - HTTP Server Instant Tests
  - HTTP Page Load Instant Tests
  - Web Transaction Instant Tests
  - API Instant Tests
  - FTP Server Instant Tests
  - SIP Server Instant Tests
  - Voice Instant Tests
- name: ThousandEyes for OpenTelemetry API
  tags:
  - Streaming
- name: Test Snapshots API
  tags:
  - Test Snapshots
- name: Usage API
  tags:
  - Usage
  - Quotas
- name: Templates API
  tags:
  - Templates
- name: BGP Monitors API
  tags:
  - BGP monitors
- name: Internet Insights API
  tags:
  - Internet Insights Catalog Providers
  - Internet Insights Outages
- name: Tags API
  tags:
  - Tags
  - Tag Assignment
- name: Integrations API
  tags:
  - Credential Vault Operations
  - Operation Connectors
  - CyberArk Conjur Connectors
  - Webhook Operations
  - Generic Connectors
  - Panorama Connectors
- name: Event Detection API
  tags:
  - Events
- name: Endpoint Tests API
  tags:
  - Endpoint Scheduled Tests
  - Agent to Server Endpoint Scheduled Tests
  - HTTP Server Endpoint Scheduled Tests
  - Agent To Server Endpoint Dynamic Tests
  - Endpoint Real User Tests
- name: Endpoint Test Results API
  tags:
  - Network Endpoint Scheduled Test Results
  - HTTP Server Endpoint Scheduled Test Results
  - Network Dynamic Endpoint Test Results
  - Real User Endpoint Test Results
  - Local Network Endpoint Test Results
- name: Endpoint Agent Labels API
  tags:
  - Endpoint Agent Labels
- name: Endpoint Instant Scheduled Tests API
  tags:
  - Agent to Server Endpoint Instant Scheduled Tests
  - HTTP Server Endpoint Instant Scheduled Tests
  - Run Endpoint Instant Scheduled Tests
- name: Endpoint Agents API
  tags:
  - Endpoint Agents
  - Endpoint Agent Log Items
  - Endpoint Proxies
  - Endpoint Agents Transfer
- name: Emulation API
  tags:
  - Emulation
- name: Dashboards API
  tags:
  - Dashboards
  - Dashboard Snapshots
  - Dashboards Filters
- name: Credentials API
  tags:
  - Credentials
- name: Cloud Insights Integrations API
  tags:
  - Cloud Insights Integrations
  - Cloud Insights Integration Policy Settings
- name: Autonomous Systems API
  tags:
  - Autonomous Systems
  - Autonomous System Prefixes
- name: API Token Management API
  tags:
  - API Token
- name: Alerts API
  tags:
  - Alerts
  - Alert Rules
  - Alert Suppression Windows
- name: Agents API
  tags:
  - Cloud and Enterprise Agents
  - Local Problems
  - Enterprise Agent Cluster
  - Cloud and Enterprise Agent Notification Rules
  - Agent Proxies
  - Tests Assignment on Agents
- name: Administrative API
  tags:
  - Account Groups
  - Users
  - Roles
  - Permissions
  - User Events
