openapi: 3.2.0
info:
  version: 7.0.100
  title: ThousandEyes Alert Suppression Windows API
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
tags:
- name: Alert Suppression Windows
  x-displayName: Alert Suppression Windows
paths:
  /alert-suppression-windows:
    get:
      tags:
      - Alert Suppression Windows
      summary: List alert suppression windows
      operationId: getAlertSuppressionWindows
      description: Returns a list of all alert suppression windows configured in your account group.
      parameters:
      - $ref: '#/components/parameters/Alerts_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Alerts_API_AlertSuppressionWindows'
        '401':
          $ref: '#/components/responses/Alerts_API_401'
        '403':
          $ref: '#/components/responses/Alerts_API_403'
        '404':
          $ref: '#/components/responses/Alerts_API_404'
        '429':
          $ref: '#/components/responses/Alerts_API_429'
        '500':
          $ref: '#/components/responses/Alerts_API_500'
      security:
      - Alerts_API_BearerAuth: []
    post:
      tags:
      - Alert Suppression Windows
      summary: Create alert suppression window
      operationId: createAlertSuppressionWindow
      description: Creates a new alert suppression window in ThousandEyes, using the provided POST data. Only Account Admins can create alert suppression windows.
      parameters:
      - $ref: '#/components/parameters/Alerts_API_AccountGroupId'
      - $ref: '#/components/parameters/Alerts_API_ExpandAlert'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alerts_API_AlertSuppressionWindowRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Alerts_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Alerts_API_AlertSuppressionWindowDetail'
        '400':
          $ref: '#/components/responses/Alerts_API_400'
        '401':
          $ref: '#/components/responses/Alerts_API_401'
        '403':
          $ref: '#/components/responses/Alerts_API_403'
        '404':
          $ref: '#/components/responses/Alerts_API_404'
        '429':
          $ref: '#/components/responses/Alerts_API_429'
        '500':
          $ref: '#/components/responses/Alerts_API_500'
      security:
      - Alerts_API_BearerAuth: []
  /alert-suppression-windows/{windowId}:
    get:
      tags:
      - Alert Suppression Windows
      summary: Retrieve alert suppression window
      operationId: getAlertSuppressionWindow
      description: Returns detailed information about an alert suppression window configured in your account group.
      parameters:
      - $ref: '#/components/parameters/Alerts_API_WindowId'
      - $ref: '#/components/parameters/Alerts_API_AccountGroupId'
      - $ref: '#/components/parameters/Alerts_API_ExpandAlert'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Alerts_API_AlertSuppressionWindowDetail'
        '401':
          $ref: '#/components/responses/Alerts_API_401'
        '403':
          $ref: '#/components/responses/Alerts_API_403'
        '404':
          $ref: '#/components/responses/Alerts_API_404'
        '429':
          $ref: '#/components/responses/Alerts_API_429'
        '500':
          $ref: '#/components/responses/Alerts_API_500'
      security:
      - Alerts_API_BearerAuth: []
    put:
      tags:
      - Alert Suppression Windows
      summary: Update alert suppression window
      operationId: updateAlertSuppressionWindow
      description: Updates an alert suppression window in ThousandEyes, using the provided POST data. Only Account Admins can update alert suppression windows.
      parameters:
      - $ref: '#/components/parameters/Alerts_API_WindowId'
      - $ref: '#/components/parameters/Alerts_API_AccountGroupId'
      - $ref: '#/components/parameters/Alerts_API_ExpandAlert'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alerts_API_AlertSuppressionWindowRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Alerts_API_AlertSuppressionWindowDetail'
        '400':
          $ref: '#/components/responses/Alerts_API_400'
        '401':
          $ref: '#/components/responses/Alerts_API_401'
        '403':
          $ref: '#/components/responses/Alerts_API_403'
        '404':
          $ref: '#/components/responses/Alerts_API_404'
        '429':
          $ref: '#/components/responses/Alerts_API_429'
        '500':
          $ref: '#/components/responses/Alerts_API_500'
      security:
      - Alerts_API_BearerAuth: []
    delete:
      tags:
      - Alert Suppression Windows
      summary: Delete alert suppression window
      operationId: deleteAlertSuppressionWindow
      description: Deletes an alert suppression window.
      parameters:
      - $ref: '#/components/parameters/Alerts_API_WindowId'
      - $ref: '#/components/parameters/Alerts_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Alerts_API_204'
        '400':
          $ref: '#/components/responses/Alerts_API_400'
        '401':
          $ref: '#/components/responses/Alerts_API_401'
        '403':
          $ref: '#/components/responses/Alerts_API_403'
        '404':
          $ref: '#/components/responses/Alerts_API_404'
        '429':
          $ref: '#/components/responses/Alerts_API_429'
        '500':
          $ref: '#/components/responses/Alerts_API_500'
      security:
      - Alerts_API_BearerAuth: []
components:
  schemas:
    Alerts_API_EndRepeat:
      type: object
      description: End repeat options.
      properties:
        type:
          $ref: '#/components/schemas/Alerts_API_EndRepeatType'
        count:
          type: integer
          description: End repeat after number of occurrences, only valid with count type option.
          example: 3
        date:
          type: string
          format: date
          description: End repeat after specific date, only valid with date type option (ISO date format).
          example: '2017-07-01'
    Alerts_API_Link:
      type: object
      description: A hyperlink from the containing resource to a URI.
      required:
      - href
      properties:
        href:
          type: string
          description: Its value is either a URI [RFC3986] or a URI template [RFC6570].
          example: https://api.thousandeyes.com/v7/link/to/resource/id
        templated:
          type: boolean
          description: Should be true when the link object's "href" property is a URI template.
        type:
          type: string
          description: Used as a hint to indicate the media type expected when dereferencing the target resource.
        deprecation:
          type: string
          description: Its presence indicates that the link is to be deprecated at a future date. Its value is a URL that should provide further information about the deprecation.
        name:
          type: string
          description: Its value may be used as a secondary key for selecting link objects that share the same relation type.
        profile:
          type: string
          description: A URI that hints about the profile of the target resource.
        title:
          type: string
          description: Intended for labelling the link with a human-readable identifier
        hreflang:
          type: string
          description: Indicates the language of the target resource
    Alerts_API_SimpleTest:
      description: Each test includes additional fields depending on its `type`. Refer `/tests/{type}` endpoint to know the set of fields returned by a given `type`.
      additionalProperties: true
      type: object
      properties:
        interval:
          $ref: '#/components/schemas/Alerts_API_TestInterval'
        alertsEnabled:
          type: boolean
          description: Indicates if alerts are enabled.
          example: true
        enabled:
          $ref: '#/components/schemas/Alerts_API_Enabled'
        createdBy:
          $ref: '#/components/schemas/Alerts_API_TestCreatedBy'
        createdDate:
          $ref: '#/components/schemas/Alerts_API_TestCreatedDate'
        description:
          type: string
          description: A description of the test.
          example: ThousandEyes Test
        liveShare:
          type: boolean
          description: Indicates if the test is shared with the account group.
          example: false
          readOnly: true
        modifiedBy:
          type: string
          description: User that modified the test.
          example: user@user.com
          readOnly: true
        modifiedDate:
          type: string
          format: date-time
          description: UTC last modification date (ISO date-time format).
          readOnly: true
          example: '2022-07-17T22:00:54Z'
        savedEvent:
          type: boolean
          description: 'Indicates if the test is a saved event.


            **Note**: **Saved Events** are now called **Private Snapshots** in the user interface. This change does not affect API.

            '
          readOnly: true
        testId:
          type: string
          description: Each test is assigned an unique ID; this is used to access test information and results from other endpoints.
          readOnly: true
          example: '281474976710706'
        testName:
          type: string
          description: The name of the test. Test name must be unique.
          example: ThousandEyes Test
        type:
          $ref: '#/components/schemas/Alerts_API_TestType'
        _links:
          $ref: '#/components/schemas/Alerts_API_TestLinks'
    Alerts_API_SelfLinks:
      type: object
      description: A links object containing the self link.
      readOnly: true
      properties:
        self:
          $ref: '#/components/schemas/Alerts_API_Link'
    Alerts_API_Enabled:
      type: boolean
      description: Test is enabled.
      example: true
      default: true
    Alerts_API_AlertSuppressionWindowDetail:
      allOf:
      - $ref: '#/components/schemas/Alerts_API_AlertSuppressionWindow'
      - type: object
        properties:
          tests:
            type: array
            description: List of tests assigned to the alert suppression window.
            items:
              $ref: '#/components/schemas/Alerts_API_SimpleTest'
    Alerts_API_TestResults:
      type: array
      description: Reference to the test results.
      items:
        $ref: '#/components/schemas/Alerts_API_Link'
      example:
      - href: https://api.thousandeyes.com/v7/test-results/281474976710706/network
      - href: https://api.thousandeyes.com/v7/test-results/281474976710706/path-vis
    Alerts_API_TestType:
      type: string
      enum:
      - api
      - agent-to-agent
      - agent-to-server
      - bgp
      - http-server
      - page-load
      - web-transactions
      - ftp-server
      - dns-trace
      - dns-server
      - dnssec
      - sip-server
      - voice
      description: This is a read only value, as test type is implicit in the test creation url.
      readOnly: true
      example: agent-to-server
    Alerts_API_TestInterval:
      type: integer
      enum:
      - 60
      - 120
      - 300
      - 600
      - 900
      - 1800
      - 3600
      description: Interval between test runs in seconds.
      default: 60
      example: 60
    Alerts_API_TestSelfLink:
      allOf:
      - $ref: '#/components/schemas/Alerts_API_Link'
      - description: Reference to the test.
        example:
          href: https://api.thousandeyes.com/v7/tests/{type}/281474976710706
    Alerts_API_Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    Alerts_API_DaysOfWeek:
      type: string
      description: Specifies the day to activate the alert suppression window. Applicable only when `intervalType` is set to `week`.
      enum:
      - sun
      - mon
      - tue
      - wed
      - thu
      - fri
      - sat
      example: sun
    Alerts_API_TestCreatedBy:
      type: string
      description: User that created the test.
      example: user@user.com
      readOnly: true
    Alerts_API_Repeat:
      type: object
      description: Repeat options.
      properties:
        type:
          $ref: '#/components/schemas/Alerts_API_RepeatType'
        intervalType:
          $ref: '#/components/schemas/Alerts_API_IntervalType'
        intervalLength:
          type: integer
          description: Number of `intervalTypes` to wait before reactivating the alert suppression window.
          example: 2
        daysOfWeek:
          type: array
          items:
            $ref: '#/components/schemas/Alerts_API_DaysOfWeek'
    Alerts_API_TestCreatedDate:
      type: string
      format: date-time
      description: UTC created date (ISO date-time format).
      example: '2022-07-17T22:00:54Z'
      readOnly: true
    Alerts_API_BaseAlertSuppressionWindow:
      type: object
      description: Alert suppression window.
      properties:
        alertSuppressionWindowId:
          type: string
          description: Unique ID of the alert suppression window.
          example: '2411'
          readOnly: true
        name:
          type: string
          description: Name of the alert suppression window.
          example: Monthly maintenance
        isEnabled:
          type: boolean
          description: Set to `false` for `disabled`, `true` for `enabled`.
          example: false
        status:
          $ref: '#/components/schemas/Alerts_API_AlertSuppressionWindowState'
        startDate:
          type: string
          format: date-time
          description: The date/time when the alert suppression window starts (ISO date-time format).
          example: '2017-07-01T05:00:00Z'
        duration:
          type: integer
          description: Duration in seconds the suppression window is active.
          example: 0
        repeat:
          $ref: '#/components/schemas/Alerts_API_Repeat'
        endRepeat:
          $ref: '#/components/schemas/Alerts_API_EndRepeat'
    Alerts_API_ValidationErrorItem:
      type: object
      properties:
        code:
          type: string
          description: (Optional) A unique error type/code that can be referenced in the documentation for further details.
        field:
          type: string
          description: Identifies the field that triggered this particular error.
        message:
          type: string
          description: A short, human-readable summary of the error.
    Alerts_API_ExpandAlertTestOptions:
      type: string
      enum:
      - test
    Alerts_API_AlertSuppressionWindowRequest:
      allOf:
      - $ref: '#/components/schemas/Alerts_API_BaseAlertSuppressionWindow'
      - type: object
        properties:
          testIds:
            type: array
            description: List of test IDs to assign to the alert suppression window.
            items:
              type: string
              example: '71687'
    Alerts_API_UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    Alerts_API_AlertSuppressionWindowState:
      type: string
      enum:
      - active
      - inactive
      - ended
      description: Indicates the current status of the suppression window.
      example: ended
      readOnly: true
    Alerts_API_RepeatType:
      type: string
      description: Repeat options type.
      enum:
      - day
      - week
      - month
      - custom
      example: week
    Alerts_API_AlertSuppressionWindows:
      type: object
      description: Alert suppression windows.
      properties:
        alertSuppressionWindows:
          type: array
          items:
            $ref: '#/components/schemas/Alerts_API_AlertSuppressionWindow'
        _links:
          $ref: '#/components/schemas/Alerts_API_SelfLinks'
    Alerts_API_AlertSuppressionWindow:
      allOf:
      - $ref: '#/components/schemas/Alerts_API_BaseAlertSuppressionWindow'
      - type: object
        properties:
          _links:
            $ref: '#/components/schemas/Alerts_API_SelfLinks'
    Alerts_API_TestLinks:
      type: object
      description: A list of links that can be accessed to get more information
      properties:
        self:
          $ref: '#/components/schemas/Alerts_API_TestSelfLink'
        testResults:
          $ref: '#/components/schemas/Alerts_API_TestResults'
      readOnly: true
    Alerts_API_ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/Alerts_API_Error'
      - type: object
        properties:
          errors:
            type:
            - array
            - 'null'
            description: (Optional) When multiple errors occur, the details for each error are listed.
            items:
              $ref: '#/components/schemas/Alerts_API_ValidationErrorItem'
    Alerts_API_EndRepeatType:
      type: string
      description: End repeat options type.
      enum:
      - count
      - never
      - date
      example: never
    Alerts_API_IntervalType:
      type: string
      description: Repeat options interval type
      enum:
      - day
      - week
      - month
      example: day
  responses:
    Alerts_API_429:
      description: Exhausted rate limit for the organization
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Alerts_API_Error'
    Alerts_API_400:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Alerts_API_ValidationError'
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Your request object contains invalid fields.
            instance: /v7
            errors:
            - code: AM-5432
              field: firstName
              message: firstName cannot have fancy characters
            - code: DASH-5622
              field: password
              message: Password cannot be blank
    Alerts_API_500:
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Alerts_API_Error'
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
    Alerts_API_204:
      description: No content
    Alerts_API_403:
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Alerts_API_Error'
    Alerts_API_404:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Alerts_API_Error'
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI or a wrong ID
            instance: /v7
    Alerts_API_401:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Alerts_API_UnauthorizedError'
  parameters:
    Alerts_API_ExpandAlert:
      name: expand
      in: query
      style: form
      explode: false
      description: Optional parameter on whether or not to expand alert related resources.  Without this parameter, there's no default expansion. For example, to expand the "tests" resource, use the `?expand=test` query.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/Alerts_API_ExpandAlertTestOptions'
        example:
        - test
    Alerts_API_AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
    Alerts_API_WindowId:
      name: windowId
      in: path
      description: Unique window ID.
      example: '2411'
      required: true
      schema:
        type: string
  headers:
    Alerts_API_Location:
      schema:
        type: string
        format: uri
        example: https://api.thousandeyes.com/v7/link/to/resource/id
      description: The absolute path to created resource.
  securitySchemes:
    Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Instant_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    ThousandEyes_for_OpenTelemetry_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Test_Snapshots_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Usage_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Templates_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    BGP_Monitors_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Internet_Insights_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Tags_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Event_Detection_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Test_Results_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agent_Labels_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Instant_Scheduled_Tests_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Endpoint_Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Emulation_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Dashboards_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Credentials_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Cloud_Insights_Integrations_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Autonomous_Systems_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    API_Token_Management_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Alerts_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Agents_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
    Administrative_API_BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
externalDocs:
  description: Find out more about ThousandEyes
  url: https://developer.thousandeyes.com/
x-tagGroups:
- name: Tests API
  tags:
  - Tests
  - Agent to Server Tests
  - Agent to Agent Tests
  - BGP Tests
  - DNS Server Tests
  - DNS Trace Tests
  - DNSSEC Tests
  - HTTP Server Tests
  - Page Load Tests
  - Web Transaction Tests
  - API Tests
  - FTP Server Tests
  - SIP Server Tests
  - Voice Tests
  - Path Visualization Interface Groups
- name: Test Results API
  tags:
  - Network Test Results
  - Web HTTP Server Test Results
  - Web Page Load Test Results
  - Web Transactions Test Results
  - API Test Results
  - Web FTP Server Test Results
  - DNS Trace Test Results
  - DNS Server Test Results
  - DNSSEC Test Results
  - Voice SIP Server Test Results
  - Voice RTP Server Test Results
  - Network BGP Test Results
- name: Instant Tests API
  tags:
  - Instant Tests
  - Agent to Agent Instant Tests
  - Agent to Server Instant Tests
  - DNS Server Instant Tests
  - DNS Trace Instant Tests
  - DNSSEC Instant Tests
  - HTTP Server Instant Tests
  - HTTP Page Load Instant Tests
  - Web Transaction Instant Tests
  - API Instant Tests
  - FTP Server Instant Tests
  - SIP Server Instant Tests
  - Voice Instant Tests
- name: ThousandEyes for OpenTelemetry API
  tags:
  - Streaming
- name: Test Snapshots API
  tags:
  - Test Snapshots
- name: Usage API
  tags:
  - Usage
  - Quotas
- name: Templates API
  tags:
  - Templates
- name: BGP Monitors API
  tags:
  - BGP monitors
- name: Internet Insights API
  tags:
  - Internet Insights Catalog Providers
  - Internet Insights Outages
- name: Tags API
  tags:
  - Tags
  - Tag Assignment
- name: Integrations API
  tags:
  - Credential Vault Operations
  - Operation Connectors
  - CyberArk Conjur Connectors
  - Webhook Operations
  - Generic Connectors
  - Panorama Connectors
- name: Event Detection API
  tags:
  - Events
- name: Endpoint Tests API
  tags:
  - Endpoint Scheduled Tests
  - Agent to Server Endpoint Scheduled Tests
  - HTTP Server Endpoint Scheduled Tests
  - Agent To Server Endpoint Dynamic Tests
  - Endpoint Real User Tests
- name: Endpoint Test Results API
  tags:
  - Network Endpoint Scheduled Test Results
  - HTTP Server Endpoint Scheduled Test Results
  - Network Dynamic Endpoint Test Results
  - Real User Endpoint Test Results
  - Local Network Endpoint Test Results
- name: Endpoint Agent Labels API
  tags:
  - Endpoint Agent Labels
- name: Endpoint Instant Scheduled Tests API
  tags:
  - Agent to Server Endpoint Instant Scheduled Tests
  - HTTP Server Endpoint Instant Scheduled Tests
  - Run Endpoint Instant Scheduled Tests
- name: Endpoint Agents API
  tags:
  - Endpoint Agents
  - Endpoint Agent Log Items
  - Endpoint Proxies
  - Endpoint Agents Transfer
- name: Emulation API
  tags:
  - Emulation
- name: Dashboards API
  tags:
  - Dashboards
  - Dashboard Snapshots
  - Dashboards Filters
- name: Credentials API
  tags:
  - Credentials
- name: Cloud Insights Integrations API
  tags:
  - Cloud Insights Integrations
  - Cloud Insights Integration Policy Settings
- name: Autonomous Systems API
  tags:
  - Autonomous Systems
  - Autonomous System Prefixes
- name: API Token Management API
  tags:
  - API Token
- name: Alerts API
  tags:
  - Alerts
  - Alert Rules
  - Alert Suppression Windows
- name: Agents API
  tags:
  - Cloud and Enterprise Agents
  - Local Problems
  - Enterprise Agent Cluster
  - Cloud and Enterprise Agent Notification Rules
  - Agent Proxies
  - Tests Assignment on Agents
- name: Administrative API
  tags:
  - Account Groups
  - Users
  - Roles
  - Permissions
  - User Events
