openapi: 3.0.1
security:
- BearerAuth: []
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
info:
  version: 7.0.100
  title: Instant Tests API
  description: 'The Instant Tests API operations lets you create and run new instant tests. You will need to be an Account
    Admin.


    The response does not include the immediate test results. Use the Test Results endpoints to get test results after creating
    and executing an instant test. You can find the URLs for these endpoints in the _links section of the test definition
    that is returned when you create the instant test.

    '
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet
      CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
externalDocs:
  description: Find out more about Instant Tests.
  url: https://docs.thousandeyes.com/product-documentation/internet-and-wan-monitoring/tests/working-with-instant-tests
tags:
- name: Instant Tests
- name: Agent to Agent Instant Tests
- name: Agent to Server Instant Tests
- name: DNS Server Instant Tests
- name: DNS Trace Instant Tests
- name: DNSSEC Instant Tests
- name: HTTP Server Instant Tests
- name: HTTP Page Load Instant Tests
- name: Web Transaction Instant Tests
- name: API Instant Tests
- name: FTP Server Instant Tests
- name: SIP Server Instant Tests
- name: Voice Instant Tests
paths:
  /tests/{testId}/run:
    post:
      tags:
      - Instant Tests
      summary: Run instant test
      operationId: runInstantTest
      description: Run an existing instant test.
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - name: testId
        in: path
        description: Identifier for the instant test you wish to rerun.
        required: true
        schema:
          type: string
          example: '105'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
  /tests/agent-to-agent/instant:
    post:
      tags:
      - Agent to Agent Instant Tests
      summary: Create agent-to-agent instant test
      operationId: createAgentToAgentInstantTest
      description: Creates and runs a new agent-to-agent instant test.
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/ExpandInstantTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentToAgentInstantTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AgentToAgentInstantTestResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
  /tests/agent-to-server/instant:
    post:
      tags:
      - Agent to Server Instant Tests
      summary: Create agent-to-server instant test
      operationId: createAgentToServerInstantTest
      description: Creates and runs a new agent-to-server instant test.
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/ExpandInstantTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentToServerInstantTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AgentToServerInstantTestResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
  /tests/dns-server/instant:
    post:
      tags:
      - DNS Server Instant Tests
      summary: Create DNS server instant test
      operationId: createDnsServerInstantTest
      description: Creates and runs a new DNS server instant test.
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/ExpandInstantTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsServerInstantTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DnsServerInstantTestResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
  /tests/dns-trace/instant:
    post:
      tags:
      - DNS Trace Instant Tests
      summary: Create DNS trace instant test
      operationId: createDnsTraceInstantTest
      description: Creates and runs a new DNS trace instant test.
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/ExpandInstantTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsTraceInstantTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DnsTraceInstantTestResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
  /tests/dnssec/instant:
    post:
      tags:
      - DNSSEC Instant Tests
      summary: Create DNSSEC instant test
      operationId: createDnsSecInstantTest
      description: Creates and runs a new DNSSEC instant test.
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/ExpandInstantTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsSecInstantTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DnsSecInstantTestResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
  /tests/http-server/instant:
    post:
      tags:
      - HTTP Server Instant Tests
      summary: Create HTTP server instant test
      operationId: createHttpServerInstantTest
      description: Creates and runs a new HTTP server instant test.
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/ExpandInstantTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HttpServerInstantTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/HttpServerInstantTestResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
  /tests/page-load/instant:
    post:
      tags:
      - HTTP Page Load Instant Tests
      summary: Create HTTP page load instant test
      operationId: createPageLoadInstantTest
      description: Creates and runs a new HTTP page load instant test.
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/ExpandInstantTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageLoadInstantTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PageLoadInstantTestResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
  /tests/web-transactions/instant:
    post:
      tags:
      - Web Transaction Instant Tests
      summary: Create web transactions instant test
      operationId: createWebTransactionInstantTest
      description: Creates and runs a new Web transactions instant test.
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/ExpandInstantTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebTransactionInstantTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/WebTransactionInstantTestResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
  /tests/api/instant:
    post:
      tags:
      - API Instant Tests
      summary: Create API instant test
      operationId: createApiInstantTest
      description: Creates and runs a new API instant test.
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/ExpandInstantTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiInstantTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiInstantTestResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
  /tests/ftp-server/instant:
    post:
      tags:
      - FTP Server Instant Tests
      summary: Create FTP server instant test
      operationId: createFtpServerInstantTest
      description: Creates and runs a new FTP server instant test.
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/ExpandInstantTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FtpServerInstantTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/FtpServerInstantTestResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
  /tests/sip-server/instant:
    post:
      tags:
      - SIP Server Instant Tests
      summary: Create SIP server instant test
      operationId: createSipServerInstantTest
      description: Creates and runs a new SIP server instant test.
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/ExpandInstantTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SipServerInstantTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/SipServerInstantTestResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
  /tests/voice/instant:
    post:
      tags:
      - Voice Instant Tests
      summary: Create voice instant test
      operationId: createVoiceInstantTest
      description: Creates and runs a voice instant test.
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/ExpandInstantTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceInstantTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/VoiceInstantTestResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
        default:
          $ref: '#/components/responses/GeneralError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
  schemas:
    TestAgent:
      type: object
      properties:
        agentId:
          type: string
          description: Identifier for the agent (get `agentId` from `/agents` endpoint).
        sourceIpAddress:
          type: string
          description: IP address from the agent's `ipAddresses` field (get `ipAddresses` from `/agents` endpoint). Used for
            interface selection.
      example:
        agentId: '125'
        sourceIpAddress: 1.1.1.1
    InstantTestRequest:
      type: object
      properties:
        labels:
          type: array
          description: A list of test label identifiers (get `labelId` from `/labels` endpoint).
          writeOnly: true
          readOnly: false
          items:
            type: string
          example:
          - '9842'
          - '1283'
        tags:
          type: array
          description: A list of test tag identifiers (get `id` from `/tags` endpoint).
          writeOnly: true
          readOnly: false
          items:
            type: string
            example: c6b78e57-81a2-4c5f-a11a-d96c3c664d55
        sharedWithAccounts:
          type: array
          description: A list of account group identifiers that the test is shared with (get `aid` from `/account-groups`
            endpoint).
          writeOnly: true
          readOnly: false
          items:
            type: string
          example:
          - '1234'
          - '12345'
        agents:
          type: array
          description: A list of objects with `agentId` (required) and `sourceIpAddress` (optional).
          items:
            $ref: '#/components/schemas/TestAgent'
      required:
      - agents
    AgentToAgentInstantTestRequest:
      allOf:
      - $ref: '#/components/schemas/UnexpandedInstantTest'
      - $ref: '#/components/schemas/AgentToAgentProperties'
      - $ref: '#/components/schemas/InstantTestRequest'
    AgentToAgentInstantTestResponse:
      allOf:
      - $ref: '#/components/schemas/AgentToAgentInstantTest'
      - type: object
        properties:
          agents:
            $ref: '#/components/schemas/TestAgentsResponse'
    AgentToServerInstantTestRequest:
      allOf:
      - $ref: '#/components/schemas/UnexpandedInstantTest'
      - $ref: '#/components/schemas/AgentToServerProperties'
      - $ref: '#/components/schemas/InstantTestRequest'
    AgentToServerInstantTestResponse:
      allOf:
      - $ref: '#/components/schemas/AgentToServerInstantTest'
      - type: object
        properties:
          agents:
            $ref: '#/components/schemas/TestAgentsResponse'
    DnsServerInstantTestRequest:
      allOf:
      - $ref: '#/components/schemas/UnexpandedInstantTest'
      - $ref: '#/components/schemas/DnsServerRequestProperties'
      - $ref: '#/components/schemas/InstantTestRequest'
    DnsServerInstantTestResponse:
      allOf:
      - $ref: '#/components/schemas/DnsServerInstantTest'
      - type: object
        properties:
          agents:
            $ref: '#/components/schemas/TestAgentsResponse'
    DnsTraceInstantTestRequest:
      allOf:
      - $ref: '#/components/schemas/UnexpandedInstantTest'
      - $ref: '#/components/schemas/DnsTraceProperties'
      - $ref: '#/components/schemas/InstantTestRequest'
    DnsTraceInstantTestResponse:
      allOf:
      - $ref: '#/components/schemas/DnsTraceInstantTest'
      - type: object
        properties:
          agents:
            $ref: '#/components/schemas/TestAgentsResponse'
    DnsSecInstantTestRequest:
      allOf:
      - $ref: '#/components/schemas/UnexpandedInstantTest'
      - $ref: '#/components/schemas/DnsSecProperties'
      - $ref: '#/components/schemas/InstantTestRequest'
    DnsSecInstantTestResponse:
      allOf:
      - $ref: '#/components/schemas/DnsSecInstantTest'
      - type: object
        properties:
          agents:
            $ref: '#/components/schemas/TestAgentsResponse'
    HttpServerInstantTestRequest:
      allOf:
      - $ref: '#/components/schemas/UnexpandedInstantTest'
      - $ref: '#/components/schemas/HttpServerProperties'
      - $ref: '#/components/schemas/InstantTestRequest'
    HttpServerInstantTestResponse:
      allOf:
      - $ref: '#/components/schemas/HttpServerInstantTest'
      - type: object
        properties:
          agents:
            $ref: '#/components/schemas/TestAgentsResponse'
    PageLoadInstantTestRequest:
      allOf:
      - $ref: '#/components/schemas/UnexpandedInstantTest'
      - $ref: '#/components/schemas/PageLoadProperties'
      - $ref: '#/components/schemas/InstantTestRequest'
    PageLoadInstantTestResponse:
      allOf:
      - $ref: '#/components/schemas/PageLoadInstantTest'
      - type: object
        properties:
          agents:
            $ref: '#/components/schemas/TestAgentsResponse'
    WebTransactionInstantTestRequest:
      allOf:
      - $ref: '#/components/schemas/UnexpandedInstantTest'
      - $ref: '#/components/schemas/WebTransactionProperties'
      - $ref: '#/components/schemas/InstantTestRequest'
      - type: object
        properties:
          credentials:
            $ref: '#/components/schemas/TestCredentials'
    WebTransactionInstantTestResponse:
      allOf:
      - $ref: '#/components/schemas/WebTransactionInstantTest'
      - type: object
        properties:
          agents:
            $ref: '#/components/schemas/TestAgentsResponse'
    ApiInstantTestRequest:
      allOf:
      - $ref: '#/components/schemas/UnexpandedInstantTest'
      - $ref: '#/components/schemas/ApiProperties'
      - $ref: '#/components/schemas/InstantTestRequest'
      - type: object
        properties:
          credentials:
            $ref: '#/components/schemas/TestCredentials'
          vaultCredentials:
            type: array
            description: List of credential IDs that are stored in an external vault.
            items:
              $ref: '#/components/schemas/TestVaultCredential'
    ApiInstantTestResponse:
      allOf:
      - $ref: '#/components/schemas/ApiInstantTest'
      - type: object
        properties:
          agents:
            $ref: '#/components/schemas/TestAgentsResponse'
    FtpServerInstantTestRequest:
      required:
      - password
      allOf:
      - $ref: '#/components/schemas/UnexpandedInstantTest'
      - $ref: '#/components/schemas/FtpServerProperties'
      - $ref: '#/components/schemas/InstantTestRequest'
    FtpServerInstantTestResponse:
      allOf:
      - $ref: '#/components/schemas/FtpServerInstantTest'
      - type: object
        properties:
          agents:
            $ref: '#/components/schemas/TestAgentsResponse'
    SipServerInstantTestRequest:
      allOf:
      - $ref: '#/components/schemas/UnexpandedInstantTest'
      - $ref: '#/components/schemas/SipServerProperties'
      - $ref: '#/components/schemas/InstantTestRequest'
      - type: object
        required:
        - targetSipCredentials
        properties:
          targetSipCredentials:
            $ref: '#/components/schemas/TestSipCredentials'
    SipServerInstantTestResponse:
      allOf:
      - $ref: '#/components/schemas/SipServerInstantTest'
      - $ref: '#/components/schemas/TestSipCredentials'
      - type: object
        properties:
          agents:
            $ref: '#/components/schemas/TestAgentsResponse'
    VoiceInstantTestRequest:
      allOf:
      - $ref: '#/components/schemas/UnexpandedInstantTest'
      - $ref: '#/components/schemas/VoiceProperties'
      - $ref: '#/components/schemas/InstantTestRequest'
    VoiceInstantTestResponse:
      allOf:
      - $ref: '#/components/schemas/VoiceInstantTest'
      - type: object
        properties:
          agents:
            $ref: '#/components/schemas/TestAgentsResponse'
    ExpandInstantTestOptions:
      type: string
      enum:
      - agent
      - label
      - tag
      - shared-with-account
      example: agent
    UnauthorizedError:
      type: object
      properties:
        error:
          type: string
          example: invalid_token
        error_description:
          type: string
          example: Invalid access token
    Error:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type. When this member is not present, its value is assumed
            to be "about:blank".
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
    ValidationErrorItem:
      type: object
      properties:
        code:
          type: string
          description: (Optional) A unique error type/code that can be referenced in the documentation for further details.
        field:
          type: string
          description: Identifies the field that triggered this particular error.
        message:
          type: string
          description: A short, human-readable summary of the error.
    ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        properties:
          errors:
            nullable: true
            type: array
            description: (Optional) When multiple errors occur, the details for each error are listed.
            items:
              $ref: '#/components/schemas/ValidationErrorItem'
    TestCreatedBy:
      type: string
      description: User that created the test.
      example: user@user.com
      readOnly: true
    TestCreatedDate:
      type: string
      format: date-time
      description: UTC created date (ISO date-time format).
      example: '2022-07-17T22:00:54Z'
      readOnly: true
    TestType:
      type: string
      enum:
      - api
      - agent-to-agent
      - agent-to-server
      - bgp
      - http-server
      - page-load
      - web-transactions
      - ftp-server
      - dns-trace
      - dns-server
      - dnssec
      - sip-server
      - voice
      description: This is a read only value, as test type is implicit in the test creation url.
      readOnly: true
      example: agent-to-server
    Link:
      type: object
      description: A hyperlink from the containing resource to a URI.
      required:
      - href
      properties:
        href:
          type: string
          description: Its value is either a URI [RFC3986] or a URI template [RFC6570].
          example: https://api.thousandeyes.com/v7/link/to/resource/id
        templated:
          type: boolean
          description: Should be true when the link object's "href" property is a URI template.
        type:
          type: string
          description: Used as a hint to indicate the media type expected when dereferencing the target resource.
        deprecation:
          type: string
          description: Its presence indicates that the link is to be deprecated at a future date. Its value is a URL that
            should provide further information about the deprecation.
        name:
          type: string
          description: Its value may be used as a secondary key for selecting link objects that share the same relation type.
        profile:
          type: string
          description: A URI that hints about the profile of the target resource.
        title:
          type: string
          description: Intended for labelling the link with a human-readable identifier
        hreflang:
          type: string
          description: Indicates the language of the target resource
    TestSelfLink:
      allOf:
      - $ref: '#/components/schemas/Link'
      - description: Reference to the test.
        example:
          href: https://api.thousandeyes.com/v7/tests/{type}/281474976710706
    TestResults:
      type: array
      description: Reference to the test results.
      items:
        $ref: '#/components/schemas/Link'
      example:
      - href: https://api.thousandeyes.com/v7/test-results/281474976710706/network
      - href: https://api.thousandeyes.com/v7/test-results/281474976710706/path-vis
    TestLinks:
      type: object
      description: A list of links that can be accessed to get more information
      properties:
        self:
          $ref: '#/components/schemas/TestSelfLink'
        testResults:
          $ref: '#/components/schemas/TestResults'
      readOnly: true
    UnexpandedInstantTest:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/TestCreatedBy'
        createdDate:
          $ref: '#/components/schemas/TestCreatedDate'
        description:
          type: string
          description: A description of the test.
          example: ThousandEyes Test
        liveShare:
          type: boolean
          description: Indicates if the test is shared with the account group.
          example: false
          readOnly: true
        modifiedBy:
          type: string
          description: User that modified the test.
          example: user@user.com
          readOnly: true
        modifiedDate:
          type: string
          format: date-time
          description: UTC last modification date (ISO date-time format).
          readOnly: true
          example: '2022-07-17T22:00:54Z'
        savedEvent:
          type: boolean
          description: 'Indicates if the test is a saved event.


            **Note**: **Saved Events** are now called **Private Snapshots** in the user interface. This change does not affect
            API.

            '
          readOnly: true
        testId:
          type: string
          description: Each test is assigned an unique ID; this is used to access test information and results from other
            endpoints.
          readOnly: true
          example: '281474976710706'
        testName:
          type: string
          description: The name of the test. Test name must be unique.
          example: ThousandEyes Test
        type:
          $ref: '#/components/schemas/TestType'
        _links:
          $ref: '#/components/schemas/TestLinks'
    TestDirection:
      type: string
      enum:
      - to-target
      - from-target
      - bidirectional
      description: Direction of the test, which affects how results are shown.
      default: to-target
      example: to-target
    TestDscp:
      type: string
      description: DSCP label.
      readOnly: true
      example: Best Effort (DSCP 0)
    TestDscpId:
      type: string
      enum:
      - '0'
      - '8'
      - '16'
      - '24'
      - '32'
      - '40'
      - '48'
      - '56'
      - '10'
      - '12'
      - '14'
      - '18'
      - '20'
      - '22'
      - '26'
      - '28'
      - '30'
      - '34'
      - '36'
      - '38'
      - '46'
      - '44'
      description: DSCP ID [to see list for acceptable values](https://docs.thousandeyes.com/product-documentation/tests/dscp-options-in-network-tests)
      default: '0'
      example: '0'
    TestNumPathTraces:
      type: integer
      minimum: 1
      maximum: 10
      description: Number of path traces executed by the agent.
      default: 3
      example: 3
    TestPathTraceMode:
      type: string
      enum:
      - classic
      - in-session
      description: Select `inSession` to perform the path trace within a TCP session.
      default: classic
      example: classic
    TestPort:
      type: integer
      minimum: 1
      maximum: 65535
      description: Target port.
      default: 49153
      example: 49153
    AgentToAgentTestProtocol:
      type: string
      enum:
      - tcp
      - udp
      default: tcp
      example: tcp
    TestRandomizedStartTime:
      type: boolean
      description: Indicates whether agents should randomize the start time in each test round.
      default: false
      example: false
    TestFixedPacketRate:
      type: integer
      minimum: 0
      maximum: 100
      description: Sets packets rate sent to measure the network in packets per second.
      example: 50
    AgentToAgentProperties:
      type: object
      required:
      - targetAgentId
      properties:
        direction:
          $ref: '#/components/schemas/TestDirection'
        dscp:
          $ref: '#/components/schemas/TestDscp'
        dscpId:
          $ref: '#/components/schemas/TestDscpId'
        mss:
          type: integer
          minimum: 20
          maximum: 1400
          description: Maximum segment size, in bytes.
          example: 100
        numPathTraces:
          $ref: '#/components/schemas/TestNumPathTraces'
        pathTraceMode:
          $ref: '#/components/schemas/TestPathTraceMode'
        port:
          $ref: '#/components/schemas/TestPort'
        protocol:
          $ref: '#/components/schemas/AgentToAgentTestProtocol'
        randomizedStartTime:
          $ref: '#/components/schemas/TestRandomizedStartTime'
        targetAgentId:
          type: string
          description: '`agentId` of the target agent for the test.'
          example: '2954'
        throughputMeasurements:
          type: boolean
          description: Enable or disable throughput measurements. Throughput measurements cannot be enabled when the source
            or target of the test is a cloud agent.
          default: false
          example: false
        throughputDuration:
          type: integer
          minimum: 5000
          maximum: 30000
          description: The throughput duration.
          default: 10000
          example: 10000
        throughputRate:
          type: integer
          minimum: 8
          maximum: 1000
          description: The throughput rate, only applicable for UDP protocol.
          example: 10
        fixedPacketRate:
          $ref: '#/components/schemas/TestFixedPacketRate'
        type:
          type: string
          example: agent-to-agent
          readOnly: true
    TestLabel:
      type: object
      properties:
        labelId:
          type: string
          description: Label ID.
        name:
          type: string
          description: Name of the label.
        isBuiltin:
          type: boolean
          description: Value indicating if the label in question is BuiltIn (Account Admin, Organization Admin, Regular User).
      example:
        labelId: '961'
        name: Artem label
        isBuiltin: false
    TestLabels:
      type: array
      description: Labels to which the test is assigned. This field is not returned for Instant Tests.
      readOnly: true
      items:
        $ref: '#/components/schemas/TestLabel'
    TestTag:
      type: object
      readOnly: true
      properties:
        id:
          type: string
          description: Unique tag ID.
          example: 5aeab5d5-0d34-4d44-a7ac-fb440185295c
          format: uuid
        key:
          type: string
          description: Tag key. For example, "Location" or "Department".
          example: Location
        value:
          type: string
          description: Tag value. For example, "San Francisco" or "Engineering".
          example: San Francisco
    TestTags:
      type: array
      description: Tags assigned to the test. Returned only when `expand=tag` is specified. This field is not returned for
        Instant Tests. For more information, see `/tags`.
      readOnly: true
      items:
        $ref: '#/components/schemas/TestTag'
    SharedWithAccount:
      type: object
      properties:
        aid:
          type: string
          description: Account group ID.
          example: '1234'
        name:
          type: string
          description: Account group name.
          example: Account name
    TestSharedAccounts:
      type: array
      readOnly: true
      items:
        $ref: '#/components/schemas/SharedWithAccount'
    InstantTest:
      allOf:
      - $ref: '#/components/schemas/UnexpandedInstantTest'
      - type: object
        properties:
          labels:
            $ref: '#/components/schemas/TestLabels'
          tags:
            $ref: '#/components/schemas/TestTags'
          sharedWithAccounts:
            $ref: '#/components/schemas/TestSharedAccounts'
    AgentToAgentInstantTest:
      allOf:
      - $ref: '#/components/schemas/InstantTest'
      - $ref: '#/components/schemas/AgentToAgentProperties'
    CloudEnterpriseAgentType:
      type: string
      description: Type of the agent.
      enum:
      - cloud
      - enterprise-cluster
      - enterprise
      example: enterprise-cluster
      readOnly: true
    AgentBase:
      type: object
      properties:
        ipAddresses:
          type: array
          description: Array of private IP addresses.
          readOnly: true
          items:
            type: string
          example:
          - 99.139.65.220
          - 9bbd:8a0a:a257:5876:288b:6cb2:3f36:64ce
        publicIpAddresses:
          type: array
          description: Array of public IP addresses.
          readOnly: true
          items:
            type: string
          example:
          - 192.168.1.78
          - f9b2:3a21:f25c:d300:03f4:586d:f8d6:4e1c
        network:
          type: string
          description: Network (including ASN) of agent’s public IP.
          example: AT&T Services, Inc. (AS 7018)
          readOnly: true
    Coordinates:
      type: object
      description: Geographic coordinates for agent location.
      properties:
        latitude:
          type: number
          format: double
          description: The latitude of the agent location in decimal degrees
          example: 37.77493
          readOnly: true
        longitude:
          type: number
          format: double
          description: The longitude of the agent location in decimal degrees
          example: -122.41942
          readOnly: true
    NetworkProviderType:
      type: string
      description: Classification of the agent's network provider.
      enum:
      - unknown
      - isp
      - cdn
      - stub
      - cloud-provider
      - carrier
      example: isp
      readOnly: true
    NetworkProviderInfo:
      type: object
      description: Information about the network provider that owns the agent's public IP prefix.
      readOnly: true
      properties:
        asn:
          type: integer
          format: int64
          description: Autonomous System Number (ASN) announcing the agent's public IP prefix.
          example: 7018
          readOnly: true
        name:
          type: string
          description: Name of the network provider organization.
          example: AT&T Services, Inc.
          readOnly: true
        type:
          $ref: '#/components/schemas/NetworkProviderType'
    SimpleAgent:
      type: object
      allOf:
      - $ref: '#/components/schemas/AgentBase'
      - type: object
        properties:
          agentId:
            type: string
            description: Unique ID of the agent.
            example: '281474976710706'
            readOnly: true
          agentName:
            type: string
            description: Name of the agent.
            example: thousandeyes-stg-va-254
          location:
            type: string
            description: Location of the agent.
            example: San Francisco Bay Area
            readOnly: true
          countryId:
            type: string
            description: 2-digit ISO country code
            example: US
            readOnly: true
          coordinates:
            $ref: '#/components/schemas/Coordinates'
          networkProviderInfo:
            allOf:
            - $ref: '#/components/schemas/NetworkProviderInfo'
            readOnly: true
            example:
              asn: 7018
              name: AT&T Services, Inc.
              type: isp
          enabled:
            type: boolean
            description: Flag indicating if the agent is enabled.
            example: true
          verifySslCertificates:
            type: boolean
            description: Flag indicating if has normal SSL operations or  if instead it's set to ignore SSL errors on browserbot-based
              tests.
            example: true
            readOnly: true
          prefix:
            type: string
            description: Prefix containing agents public IP address.
            example: 99.128.0.0/11
            readOnly: true
    AgentResponse:
      allOf:
      - required:
        - agentType
        properties:
          agentType:
            $ref: '#/components/schemas/CloudEnterpriseAgentType'
      - $ref: '#/components/schemas/SimpleAgent'
    TestAgentsResponse:
      type: array
      description: Contains list of agents.
      items:
        $ref: '#/components/schemas/AgentResponse'
    TestBandwidthMeasurements:
      type: boolean
      description: Set to `true` to enable bandwidth measurements, only applies to Enterprise agents assigned to the test.
      example: true
    TestMtuMeasurements:
      type: boolean
      description: Set `true` to measure MTU sizes on network from agents to the target.
      example: false
    TestProbeMode:
      type: string
      enum:
      - auto
      - sack
      - syn
      description: Probe mode used by network test, only valid when the protocol is set to TCP.
      default: auto
      example: auto
    TestProtocol:
      type: string
      enum:
      - tcp
      - icmp
      - udp
      description: Protocol used by dependent network tests (end-to-end, path trace, PMTUD).
      default: tcp
      example: tcp
    TestIpv6Policy:
      type: string
      enum:
      - force-ipv4
      - prefer-ipv6
      - force-ipv6
      - use-agent-policy
      description: IP version policy. Overrides the IPv6 policy configured at the agent level.
      default: use-agent-policy
      example: use-agent-policy
    AgentToServerWritablePropertyFields:
      type: object
      properties:
        bandwidthMeasurements:
          $ref: '#/components/schemas/TestBandwidthMeasurements'
        continuousMode:
          type: boolean
          description: "To enable continuous monitoring, set this parameter to `true` to. \nWhen continuous monitoring is\
            \ enabled, the following actions occur:\n* `fixedPacketRate` is enforced\n* `bandwidthMeasurements` are disabled\n\
            * If the `protocol` is set to `tcp`, `probeMode` is set to `syn`.\n"
          example: false
        fixedPacketRate:
          type: integer
          minimum: 0
          maximum: 100
          description: If continuousMode is `false`, set the fixedPacketRate to a value between 10-100. If `continuousMode`
            is `true`, set the `fixedPacketRate` to `1`
          example: 25
        mtuMeasurements:
          $ref: '#/components/schemas/TestMtuMeasurements'
        numPathTraces:
          $ref: '#/components/schemas/TestNumPathTraces'
        pathTraceMode:
          $ref: '#/components/schemas/TestPathTraceMode'
        probeMode:
          $ref: '#/components/schemas/TestProbeMode'
        protocol:
          $ref: '#/components/schemas/TestProtocol'
        randomizedStartTime:
          $ref: '#/components/schemas/TestRandomizedStartTime'
        server:
          type: string
          description: The target name or IP address. If a port is set for the test, it is appended to the target name or
            IP address using a colon.
          example: www.thousandeyes.com:80
        dscp:
          $ref: '#/components/schemas/TestDscp'
        dscpId:
          $ref: '#/components/schemas/TestDscpId'
        ipv6Policy:
          $ref: '#/components/schemas/TestIpv6Policy'
        pingPayloadSize:
          type: integer
          minimum: 0
          maximum: 1400
          description: Payload size (not total packet size) for the end-to-end metric's probes, ping payload size allows values
            from 0 to 1400 bytes. When set to null, payload sizes are 0 bytes for ICMP-based tests and 1 byte for TCP-based
            tests.
        networkMeasurements:
          type: boolean
          description: View packet loss in 1-second intervals. This is only available for 1-minute interval tests. Set to
            `true` to enable network measurements.
          default: false
          example: false
    AgentToServerTestType:
      type: string
      example: agent-to-server
      readOnly: true
    AgentToServerProperties:
      allOf:
      - $ref: '#/components/schemas/AgentToServerWritablePropertyFields'
      - type: object
        properties:
          type:
            $ref: '#/components/schemas/AgentToServerTestType'
        required:
        - server
    AgentToServerInstantTest:
      allOf:
      - $ref: '#/components/schemas/InstantTest'
      - $ref: '#/components/schemas/AgentToServerProperties'
    TestDnsTransportProtocol:
      type: string
      enum:
      - udp
      - tcp
      description: Transport protocol used for DNS requests.
      default: udp
      example: udp
    TestDomain:
      type: string
      description: The target record for the test, with the record type suffixed. If no record type is specified, the test
        defaults to an ANY record.
      example: www.thousandeyes.com
    TestNetworkMeasurements:
      type: boolean
      description: Enable or disable network measurements. Set to true to enable or false to disable network measurements.
      default: true
      example: true
    DnsQueryClass:
      type: string
      enum:
      - in
      - ch
      description: Domain class used by this test. 'in' stands for Internet, while 'ch' stands for Chaos.
      example: in
    DnsServerRequestProperties:
      type: object
      required:
      - domain
      - dnsServers
      properties:
        bandwidthMeasurements:
          $ref: '#/components/schemas/TestBandwidthMeasurements'
        dnsServers:
          type: array
          description: A list of DNS server FQDN.
          writeOnly: true
          readOnly: false
          items:
            type: string
          example:
          - dns-example.net
          - 8.8.8.8
        dnsTransportProtocol:
          $ref: '#/components/schemas/TestDnsTransportProtocol'
        domain:
          $ref: '#/components/schemas/TestDomain'
        mtuMeasurements:
          $ref: '#/components/schemas/TestMtuMeasurements'
        networkMeasurements:
          $ref: '#/components/schemas/TestNetworkMeasurements'
        numPathTraces:
          $ref: '#/components/schemas/TestNumPathTraces'
        pathTraceMode:
          $ref: '#/components/schemas/TestPathTraceMode'
        probeMode:
          $ref: '#/components/schemas/TestProbeMode'
        protocol:
          $ref: '#/components/schemas/TestProtocol'
        randomizedStartTime:
          $ref: '#/components/schemas/TestRandomizedStartTime'
        recursiveQueries:
          type: boolean
          description: Set true to run query with RD (recursion desired) flag enabled.
          example: true
        ipv6Policy:
          $ref: '#/components/schemas/TestIpv6Policy'
        fixedPacketRate:
          $ref: '#/components/schemas/TestFixedPacketRate'
        dnsQueryClass:
          $ref: '#/components/schemas/DnsQueryClass'
        type:
          type: string
          example: dns-server
          readOnly: true
    TestDnsServer:
      type: object
      properties:
        serverId:
          type: string
          description: Unique identifier of the DNS server.
          example: '1447'
        serverName:
          type: string
          description: Fully qualified domain name (FQDN) of DNS server.
          example: dns-example.net
    DnsServerProperties:
      type: object
      required:
      - domain
      - dnsServers
      properties:
        bandwidthMeasurements:
          $ref: '#/components/schemas/TestBandwidthMeasurements'
        dnsServers:
          type: array
          items:
            $ref: '#/components/schemas/TestDnsServer'
        dnsTransportProtocol:
          $ref: '#/components/schemas/TestDnsTransportProtocol'
        domain:
          $ref: '#/components/schemas/TestDomain'
        mtuMeasurements:
          $ref: '#/components/schemas/TestMtuMeasurements'
        networkMeasurements:
          $ref: '#/components/schemas/TestNetworkMeasurements'
        numPathTraces:
          $ref: '#/components/schemas/TestNumPathTraces'
        pathTraceMode:
          $ref: '#/components/schemas/TestPathTraceMode'
        probeMode:
          $ref: '#/components/schemas/TestProbeMode'
        protocol:
          $ref: '#/components/schemas/TestProtocol'
        randomizedStartTime:
          $ref: '#/components/schemas/TestRandomizedStartTime'
        recursiveQueries:
          type: boolean
          description: Set true to run query with RD (recursion desired) flag enabled.
          example: true
        ipv6Policy:
          $ref: '#/components/schemas/TestIpv6Policy'
        fixedPacketRate:
          $ref: '#/components/schemas/TestFixedPacketRate'
        dnsQueryClass:
          $ref: '#/components/schemas/DnsQueryClass'
        type:
          type: string
          example: dns-server
          readOnly: true
    DnsServerInstantTest:
      allOf:
      - $ref: '#/components/schemas/InstantTest'
      - $ref: '#/components/schemas/DnsServerProperties'
    DnsTraceProperties:
      type: object
      required:
      - domain
      properties:
        dnsTransportProtocol:
          $ref: '#/components/schemas/TestDnsTransportProtocol'
        domain:
          $ref: '#/components/schemas/TestDomain'
        dnsQueryClass:
          $ref: '#/components/schemas/DnsQueryClass'
        randomizedStartTime:
          $ref: '#/components/schemas/TestRandomizedStartTime'
        type:
          type: string
          example: dns-trace
          readOnly: true
    DnsTraceInstantTest:
      allOf:
      - $ref: '#/components/schemas/InstantTest'
      - $ref: '#/components/schemas/DnsTraceProperties'
    DnsSecProperties:
      type: object
      required:
      - domain
      properties:
        domain:
          $ref: '#/components/schemas/TestDomain'
        dnsQueryClass:
          $ref: '#/components/schemas/DnsQueryClass'
        randomizedStartTime:
          $ref: '#/components/schemas/TestRandomizedStartTime'
        type:
          type: string
          example: dnssec
          readOnly: true
    DnsSecInstantTest:
      allOf:
      - $ref: '#/components/schemas/InstantTest'
      - $ref: '#/components/schemas/DnsSecProperties'
    TestAuthType:
      type: string
      description: HTTP authentication type.
      enum:
      - none
      - basic
      - ntlm
      - kerberos
      - oauth
      default: none
      example: none
    AgentInterfaces:
      type: object
      properties:
        ipAddress:
          type: string
          example: 192.1.1.0
          description: IP address of the agent interface.
        agentId:
          type: string
          description: The agent ID of the enterprise agent for the test.
          example: '2954'
    TestClientCertificate:
      type: string
      description: String representation (containing newline characters) of client certificate, the private key must be placed
        first, then the certificate.
      example: 'REDACTED_PRIVATE_KEY_EXAMPLE

        -----BEGIN CERTIFICATE-----

        MIICUTCCAfugAwIBAgIBADANBgkqhkiG9w0BAQQFADBXMQswCQYDVQQGEwJDTjEL

        -----END CERTIFICATE-----

        '
    TestCustomHeaders:
      type: object
      properties:
        root:
          type: object
          description: Use these HTTP headers for root server request.
          additionalProperties:
            type: string
        domains:
          type: object
          description: Use these HTTP headers for the specified domains.
          additionalProperties:
            type: object
            additionalProperties:
              type: string
        all:
          type: object
          description: Use these HTTP headers for all domains.
          additionalProperties:
            type: string
      example:
        root:
          header1: value1
        domains:
          domain1.com:
            header2: value2
        all:
          header3: value3
    TestDesiredStatusCode:
      type: string
      description: Specify the HTTP status code value that indicates a successful response. The default value accepts any
        2xx or 3xx status code.
      default: default
      example: '200'
    TestDistributedTracing:
      type: boolean
      description: Adds distributed tracing headers to API requests using B3 and W3C standards.
      example: false
    TestHttpTargetTime:
      type: integer
      minimum: 100
      maximum: 5000
      description: Target time for HTTP server completion, specified in milliseconds.
      example: 100
    TestHttpTimeLimit:
      type: integer
      minimum: 5
      maximum: 60
      description: HTTP time limit in seconds.
      default: 5
      example: 5
    TestHttpVersion:
      type: integer
      minimum: 1
      maximum: 2
      description: HTTP protocol version. Set to '2' to prefer HTTP/2, or '1' to use only HTTP/1.1.
      default: 2
      example: 2
    TestIncludeHeaders:
      type: boolean
      description: Set to `true` to capture response headers for objects loaded by the test.
      default: true
      example: true
    TestUrl:
      type: string
      description: Target for the test.
      example: www.thousandeyes.com
    RequestMethod:
      type: string
      enum:
      - get
      - post
      description: HTTP request method.
      example: get
    OAuthAuthType:
      type: string
      description: HTTP authentication type used for the OAuth request.
      enum:
      - none
      - basic
      - ntlm
      default: none
      example: none
    OAuth:
      type: object
      properties:
        testUrl:
          $ref: '#/components/schemas/TestUrl'
        requestMethod:
          $ref: '#/components/schemas/RequestMethod'
        postBody:
          type: string
          description: Enter the OAuth body for the HTTP POST request in this field when using OAuth as the authentication
            mechanism. No special escaping is required. The value is saved only when `requestMethod` is set to `post`.
        headers:
          type: string
          description: Request headers used for OAuth.
        authType:
          $ref: '#/components/schemas/OAuthAuthType'
        username:
          type: string
          description: OAuth username
        password:
          type: string
          description: OAuth password
          writeOnly: true
      description: Use this only if you want to use OAuth as the authentication mechanism.
      example:
        testUrl: https://api.thousandeyes.com/v7/status
        requestMethod: post
        postBody: 'client_id: ************'
        headers: 'Authorization: Basic ************'
        authType: none
        username: user123
        password: '*******'
    TestPassword:
      type: string
      description: Password for Basic/NTLM authentication.
      example: password
      writeOnly: true
    TestSslVersion:
      type: string
      description: Reflects the verbose SSL protocol version used by a test.
      readOnly: true
      example: Auto
    TestSslVersionId:
      type: string
      description: 'SSL version options:


        * Use ''0'' for automatic selection.

        * Use ''3'' for SSLv3.

        * Use ''4'' for TLS v1.0.

        * Use ''5'' for TLS v1.1.

        * Use ''6'' for TLS v1.2.

        * Use ''7'' for TLS v1.3.

        '
      enum:
      - '0'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      default: '0'
      example: '0'
    TestUseNtlm:
      type: boolean
      description: Set to true to use NTLM, false to use Basic Authentication. Requires username and password to be set.
      example: false
    TestUserAgent:
      type: string
      description: User-agent string to be provided during the test.
      example: curl
    TestUsername:
      type: string
      description: Username for Basic/NTLM authentication.
      example: username
    TestVerifyCertificate:
      type: boolean
      description: Ignore or acknowledge certificate errors. Set to false to ignore certificate errors.
      default: false
      example: false
    TestAllowUnsafeLegacyRenegotiation:
      type: boolean
      description: Allows TLS renegotiation with servers not supporting RFC 5746. Default Set to true to allow unsafe legacy
        renegotiation.
      default: true
      example: true
    TestFollowRedirects:
      type: boolean
      description: To disable following HTTP/301 or HTTP/302 redirect directives, set this parameter to `false`.
      default: true
      example: true
    TestOverrideAgentProxy:
      type: boolean
      description: Flag indicating if a proxy other than the default should be used. To override the default proxy for agents,
        set to `true` and specify a value for `overrideProxyId`.
      default: false
      example: false
    TestOverrideProxyId:
      type: string
      description: ID of the proxy to be used if the default proxy is overridden.
      example: '281474976710706'
    TestCollectProxyNetworkData:
      type: boolean
      description: Indicates whether network data to the proxy should be collected.
      default: false
      example: false
    TestVaultCredentialTarget:
      type: string
      enum:
      - username
      - password
      - script
      description: The target setting that the credential should be used for.
      example: username
    TestVaultCredential:
      type: object
      properties:
        secretId:
          type: string
          description: UUID of the configured secret.
          example: f27e85b2-318b-4145-b5aa-c9dc8d8b0819
        target:
          $ref: '#/components/schemas/TestVaultCredentialTarget'
    HttpServerBaseProperties:
      type: object
      properties:
        authType:
          $ref: '#/components/schemas/TestAuthType'
        agentInterfaces:
          $ref: '#/components/schemas/AgentInterfaces'
        bandwidthMeasurements:
          $ref: '#/components/schemas/TestBandwidthMeasurements'
        clientCertificate:
          $ref: '#/components/schemas/TestClientCertificate'
        contentRegex:
          type: string
          description: Content regex, this field does not require escaping.
          example: (regex)+
        customHeaders:
          $ref: '#/components/schemas/TestCustomHeaders'
        desiredStatusCode:
          $ref: '#/components/schemas/TestDesiredStatusCode'
        distributedTracing:
          $ref: '#/components/schemas/TestDistributedTracing'
        downloadLimit:
          type: integer
          description: Specifies maximum number of bytes to download from the target object.
          example: 2048
        dnsOverride:
          type: string
          format: ipv4
          description: IP address to use for DNS override.
          example: 8.8.8.8
        httpTargetTime:
          $ref: '#/components/schemas/TestHttpTargetTime'
        httpTimeLimit:
          $ref: '#/components/schemas/TestHttpTimeLimit'
        httpVersion:
          $ref: '#/components/schemas/TestHttpVersion'
        includeHeaders:
          $ref: '#/components/schemas/TestIncludeHeaders'
        mtuMeasurements:
          $ref: '#/components/schemas/TestMtuMeasurements'
        networkMeasurements:
          $ref: '#/components/schemas/TestNetworkMeasurements'
        numPathTraces:
          $ref: '#/components/schemas/TestNumPathTraces'
        oAuth:
          $ref: '#/components/schemas/OAuth'
        password:
          $ref: '#/components/schemas/TestPassword'
        pathTraceMode:
          $ref: '#/components/schemas/TestPathTraceMode'
        probeMode:
          $ref: '#/components/schemas/TestProbeMode'
        protocol:
          $ref: '#/components/schemas/TestProtocol'
        sslVersion:
          $ref: '#/components/schemas/TestSslVersion'
        sslVersionId:
          $ref: '#/components/schemas/TestSslVersionId'
        url:
          $ref: '#/components/schemas/TestUrl'
        useNtlm:
          $ref: '#/components/schemas/TestUseNtlm'
        userAgent:
          $ref: '#/components/schemas/TestUserAgent'
        username:
          $ref: '#/components/schemas/TestUsername'
        verifyCertificate:
          $ref: '#/components/schemas/TestVerifyCertificate'
        allowUnsafeLegacyRenegotiation:
          $ref: '#/components/schemas/TestAllowUnsafeLegacyRenegotiation'
        followRedirects:
          $ref: '#/components/schemas/TestFollowRedirects'
        fixedPacketRate:
          $ref: '#/components/schemas/TestFixedPacketRate'
        overrideAgentProxy:
          $ref: '#/components/schemas/TestOverrideAgentProxy'
        overrideProxyId:
          $ref: '#/components/schemas/TestOverrideProxyId'
        collectProxyNetworkData:
          $ref: '#/components/schemas/TestCollectProxyNetworkData'
        vaultCredentials:
          type: array
          description: List of credential IDs that are stored in an external vault.
          items:
            $ref: '#/components/schemas/TestVaultCredential'
    TestHeaders:
      type: array
      description: HTTP request headers used.
      items:
        type: string
      example:
      - 'header1: value1'
      - 'header2: value2'
    TestHttpType:
      type: string
      example: http-server
      readOnly: true
    HttpServerProperties:
      allOf:
      - $ref: '#/components/schemas/HttpServerBaseProperties'
      - type: object
        required:
        - url
        properties:
          headers:
            $ref: '#/components/schemas/TestHeaders'
          downloadLimit:
            type: integer
            description: Specifies maximum number of bytes to download from the target object.
            example: 2048
          dnsOverride:
            type: string
            format: ipv4
            description: IP address to use for DNS override.
            example: 8.8.8.8
          randomizedStartTime:
            $ref: '#/components/schemas/TestRandomizedStartTime'
          requestMethod:
            $ref: '#/components/schemas/RequestMethod'
          postBody:
            type: string
            description: Enter the body for the HTTP POST request in this field. No special escaping is required. If content
              is provided and `requestMethod` is not specified, `requestMethod` is automatically set to `post`.
            example: '{ "example" : "value"}'
          ipv6Policy:
            $ref: '#/components/schemas/TestIpv6Policy'
          type:
            $ref: '#/components/schemas/TestHttpType'
    HttpServerInstantTest:
      allOf:
      - $ref: '#/components/schemas/InstantTest'
      - $ref: '#/components/schemas/HttpServerProperties'
    TestPageLoadTimeLimit:
      type: integer
      description: Page load time limit. Must be larger than the `httpTimeLimit`.
      minimum: 5
      maximum: 60
      default: 10
      example: 10
    TestBlockDomains:
      type: string
      description: Domains or full object URLs to be excluded from metrics and waterfall data for transaction tests.
      example: domain.com/
    TestDisableScreenshot:
      type: boolean
      description: Enables or disables screenshots on error. Set true to not capture
      default: false
      example: false
    TestAllowMicAndCamera:
      type: boolean
      description: Set true allow the use of a fake mic and camera in the browser.
      default: false
      example: false
    TestAllowGeolocation:
      type: boolean
      description: Set true to use the agent’s geolocation by the web page.
      default: false
      example: false
    TestBrowserLanguage:
      type: string
      description: Set one of the available browser language that you want to use to configure the browser.
      example: en-US
    TestChromeOptions:
      type: string
      description: Command-line options passed to Chrome when running the test.
      default: ''
      example: --disable-gpu
    TestChromePolicies:
      type: string
      description: JSON string of Chrome policy settings to apply.
      default: '{}'
      example: '{"ProxyMode":"direct"}'
    TestChromiumTrack:
      type: string
      enum:
      - stable
      - latest
      description: '* `stable`: Uses the default Chromium version.

        * `latest`: Uses the newest Chromium version available from ThousandEyes as soon as it is available. Performance may
        differ from tests using the default Chromium version.

        '
      default: stable
      example: stable
    TestPageLoadingStrategy:
      type: string
      enum:
      - normal
      - eager
      - none
      description: "* `normal`: The test waits until the entire page is fully loaded, including the downloading and parsing\
        \ of HTML content as well as all associated resources, before advancing to the next action in the transaction test\
        \ script. \n* `eager`: The test waits for the DOMContentLoaded event, indicating that HTML content is downloaded and\
        \ parsed, and the document reaches the \"interactive\" readiness state, before proceeding to the next action in the\
        \ test script.\n* `none`: The test only waits for the download of HTML content. Once the HTML is downloaded, the test\
        \ continues to the next action in the transaction test script without waiting for additional resources.\n"
      default: normal
      example: normal
    TestPageLoadType:
      type: string
      example: page-load
      readOnly: true
    TestIdentifyAgentTrafficWithUserAgent:
      type: boolean
      description: 'Determines how agent traffic is identified:


        * `false`: Adds the `x-thousandeyes-agent: yes` header.

        * `true`: Appends `(ThousandEyes Agent)` to the `user-agent` header.


        For more information, see [Notes on Agent ID Strategy](https://docs.thousandeyes.com/product-documentation/browser-synthetics/test-settings-page-load-transaction#notes-on-agent-id-strategy).

        '
      example: false
      default: false
    PageLoadProperties:
      allOf:
      - $ref: '#/components/schemas/HttpServerBaseProperties'
      - type: object
        required:
        - url
        properties:
          emulatedDeviceId:
            type: string
            description: ID of the emulated device, if one was given when the test was created.
            example: '2'
          pageLoadTargetTime:
            type: integer
            description: Target time for page load completion, specified in seconds and cannot exceed the `pageLoadTimeLimit`.
            minimum: 1
            maximum: 60
            example: 10
          pageLoadTimeLimit:
            $ref: '#/components/schemas/TestPageLoadTimeLimit'
          blockDomains:
            $ref: '#/components/schemas/TestBlockDomains'
          disableScreenshot:
            $ref: '#/components/schemas/TestDisableScreenshot'
          allowMicAndCamera:
            $ref: '#/components/schemas/TestAllowMicAndCamera'
          allowGeolocation:
            $ref: '#/components/schemas/TestAllowGeolocation'
          browserLanguage:
            $ref: '#/components/schemas/TestBrowserLanguage'
          chromeOptions:
            $ref: '#/components/schemas/TestChromeOptions'
          chromePolicies:
            $ref: '#/components/schemas/TestChromePolicies'
          chromiumTrack:
            $ref: '#/components/schemas/TestChromiumTrack'
          pageLoadingStrategy:
            $ref: '#/components/schemas/TestPageLoadingStrategy'
          distributedTracing:
            $ref: '#/components/schemas/TestDistributedTracing'
          randomizedStartTime:
            $ref: '#/components/schemas/TestRandomizedStartTime'
          type:
            $ref: '#/components/schemas/TestPageLoadType'
          identifyAgentTrafficWithUserAgent:
            $ref: '#/components/schemas/TestIdentifyAgentTrafficWithUserAgent'
    PageLoadInstantTest:
      allOf:
      - $ref: '#/components/schemas/InstantTest'
      - $ref: '#/components/schemas/PageLoadProperties'
    TestWebTransactionTimeLimit:
      type: integer
      description: Time limit for transaction in seconds.
      minimum: 5
      maximum: 180
      default: 30
      example: 30
    TestWebTransactionType:
      type: string
      example: web-transactions
      readOnly: true
    WebTransactionProperties:
      allOf:
      - $ref: '#/components/schemas/HttpServerBaseProperties'
      - type: object
        required:
        - transactionScript
        - url
        properties:
          emulatedDeviceId:
            type: string
            description: ID of the emulated device, if specified when the test was created.
            example: '2'
          targetTime:
            type: integer
            description: Target completion time, in seconds. Defaults to 10. Cannot exceed the `timeLimit` value.
            minimum: 1
            maximum: 180
            default: 10
            example: 1
          timeLimit:
            $ref: '#/components/schemas/TestWebTransactionTimeLimit'
          transactionScript:
            type: string
            description: JavaScript of a web transaction test. Quotes must be escaped (precede " characters with \ ).
            example: if (true) { return true; }
          flagCollectConsoleLogs:
            type: boolean
            description: Whether to collect console logs during script execution.
            default: false
            example: false
          blockDomains:
            $ref: '#/components/schemas/TestBlockDomains'
          disableScreenshot:
            $ref: '#/components/schemas/TestDisableScreenshot'
          allowMicAndCamera:
            $ref: '#/components/schemas/TestAllowMicAndCamera'
          allowGeolocation:
            $ref: '#/components/schemas/TestAllowGeolocation'
          browserLanguage:
            $ref: '#/components/schemas/TestBrowserLanguage'
          chromeOptions:
            $ref: '#/components/schemas/TestChromeOptions'
          chromePolicies:
            $ref: '#/components/schemas/TestChromePolicies'
          chromiumTrack:
            $ref: '#/components/schemas/TestChromiumTrack'
          pageLoadingStrategy:
            $ref: '#/components/schemas/TestPageLoadingStrategy'
          distributedTracing:
            $ref: '#/components/schemas/TestDistributedTracing'
          randomizedStartTime:
            $ref: '#/components/schemas/TestRandomizedStartTime'
          type:
            $ref: '#/components/schemas/TestWebTransactionType'
          identifyAgentTrafficWithUserAgent:
            $ref: '#/components/schemas/TestIdentifyAgentTrafficWithUserAgent'
    TestCredentials:
      type: array
      description: Contains a list of credential IDs (get `credentialId` from `/credentials` endpoint).
      items:
        type: string
      example:
      - '3247'
      - '1051'
    WebTransactionInstantTest:
      allOf:
      - $ref: '#/components/schemas/InstantTest'
      - $ref: '#/components/schemas/WebTransactionProperties'
      - type: object
        properties:
          credentials:
            $ref: '#/components/schemas/TestCredentials'
    ApiPredefinedVariable:
      type: object
      properties:
        name:
          type: string
          description: Variable name. Must be unique.
          example: myUsername
        value:
          type: string
          description: Variable value, will be treated as string.
          example: ThousandEyesAccountUserName
    ApiRequestAssertionName:
      type: string
      enum:
      - status-code
      - response-body
      description: Set to `status-code` to assert the response status code. Set to `response-body` to assert data is present
        in the response body. Use `ApiRequestAssertion` to set the value for the assertion.
      example: status-code
    ApiRequestAssertionOperator:
      type: string
      enum:
      - is
      - is-not
      - includes
      - not-includes
      - matches
      - not-matches
      description: If `name = status-code``, accepted values are [is, is-not]. If `name = response-body``, accepted values
        are [includes, not-includes, matches, not-matches]`.
      example: is
    ApiRequestAssertion:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/ApiRequestAssertionName'
        operator:
          $ref: '#/components/schemas/ApiRequestAssertionOperator'
        value:
          type: string
          description: The value of the assertion. If name = `status-code`, the status code to assert. If name = `response-body`,
            the lookup value to assert.
          example: 200
    ApiRequestAuthType:
      type: string
      enum:
      - none
      - basic
      - bearer-token
      - oauth2
      description: Will override the Authorization request header.
      default: none
      example: none
    ApiClientAuthentication:
      type: string
      description: The OAuth2 client authentication location type.
      enum:
      - basic-auth-header
      - in-body
      example: basic-auth-header
    ApiRequestHeader:
      type: object
      properties:
        key:
          type: string
          description: Request header key.
          example: x-custom-header
        value:
          type: string
          description: Request header value. Supports variables `{{variableName}}`.
          example: keep-alive
    ApiRequestMethod:
      type: string
      description: HTTP request method.
      enum:
      - get
      - post
      - put
      - delete
      - patch
      example: get
    ApiRequestVariable:
      type: object
      properties:
        name:
          type: string
          description: Variable name
          example: myTestName
        value:
          type: string
          description: The JSON path of data within the Response Body to assign to this variable.
          example: tests[0].name
    ApiRequest:
      type: object
      required:
      - name
      - url
      properties:
        assertions:
          type: array
          description: List of assertion objects.
          items:
            $ref: '#/components/schemas/ApiRequestAssertion'
        authType:
          $ref: '#/components/schemas/ApiRequestAuthType'
        bearerToken:
          type: string
          writeOnly: true
          description: The bearer token if `authType = bearer-token`.
          example: abcd-1234-...
        body:
          type: string
          description: POST/PUT request body. Must be in JSON format.
        clientAuthentication:
          $ref: '#/components/schemas/ApiClientAuthentication'
        clientId:
          type: string
          description: The application ID used when `authType` is set to "oauth2".
          writeOnly: true
          example: client-id
        clientSecret:
          type: string
          description: The private client secret used when `authType` is set to "oauth2".
          writeOnly: true
          example: client-secret
        collectApiResponse:
          type: boolean
          description: Set to `true` if API response body should be collected and saved. Set to `false` if API response body
            should not be saved.
          default: true
          example: true
        headers:
          type: array
          description: Array of API Request Header objects.
          items:
            $ref: '#/components/schemas/ApiRequestHeader'
        method:
          $ref: '#/components/schemas/ApiRequestMethod'
        name:
          type: string
          description: API step name, must be unique.
          example: Step 1
        password:
          type: string
          writeOnly: true
          description: The password if `authType = basic`.
          example: basic_pw123
        scope:
          type: string
          description: Application-specific scope values for the access token when `authType` is "oauth2".
          example: read, write, deploy
        tokenUrl:
          type: string
          description: The endpoint used to request the access token when `authType` is "oauth2".
          example: https://id.cisco.com/oauth2/default/v1/token
        url:
          type: string
          description: Request url. Supports variables in the format `{{variableName}}`.
          example: https://api.thousandeyes.com/v7/status
        username:
          type: string
          description: The username if `authType = basic`.
          example: ThousandEyesUserName
        variables:
          type: array
          description: Array of API post request variable objects.
          items:
            $ref: '#/components/schemas/ApiRequestVariable'
        verifyCertificate:
          $ref: '#/components/schemas/TestVerifyCertificate'
        waitTimeMs:
          type: integer
          description: Post request delay before executing the next API requests, in milliseconds.
          example: 0
    ApiProperties:
      type: object
      required:
      - requests
      - url
      properties:
        clientCertificate:
          $ref: '#/components/schemas/TestClientCertificate'
        clientCertDomainsAllowList:
          type: string
          example: www.thousandeyes.com
          description: Comma separated list of domains to send the client certificate.
        collectProxyNetworkData:
          $ref: '#/components/schemas/TestCollectProxyNetworkData'
        distributedTracing:
          $ref: '#/components/schemas/TestDistributedTracing'
        followRedirects:
          $ref: '#/components/schemas/TestFollowRedirects'
        mtuMeasurements:
          $ref: '#/components/schemas/TestMtuMeasurements'
        networkMeasurements:
          $ref: '#/components/schemas/TestNetworkMeasurements'
        numPathTraces:
          $ref: '#/components/schemas/TestNumPathTraces'
        overrideAgentProxy:
          $ref: '#/components/schemas/TestOverrideAgentProxy'
        overrideProxyId:
          $ref: '#/components/schemas/TestOverrideProxyId'
        pathTraceMode:
          $ref: '#/components/schemas/TestPathTraceMode'
        predefinedVariables:
          type: array
          items:
            $ref: '#/components/schemas/ApiPredefinedVariable'
        probeMode:
          $ref: '#/components/schemas/TestProbeMode'
        protocol:
          $ref: '#/components/schemas/TestProtocol'
        randomizedStartTime:
          $ref: '#/components/schemas/TestRandomizedStartTime'
        requests:
          type: array
          items:
            $ref: '#/components/schemas/ApiRequest'
        sslVersionId:
          $ref: '#/components/schemas/TestSslVersionId'
        targetTime:
          type: integer
          description: Target time for completion metric, defaults to 50% of time limit specified in seconds. (0 means default
            behavior)
          minimum: 0
          maximum: 60
          example: 1
        timeLimit:
          type: integer
          description: Time limit for transaction in seconds. Exceeding this limit will result in a Timeout error.
          minimum: 5
          maximum: 180
          default: 30
        type:
          type: string
          example: api
          readOnly: true
        url:
          $ref: '#/components/schemas/TestUrl'
    ApiInstantTest:
      allOf:
      - $ref: '#/components/schemas/InstantTest'
      - $ref: '#/components/schemas/ApiProperties'
      - type: object
        properties:
          credentials:
            $ref: '#/components/schemas/TestCredentials'
          vaultCredentials:
            type: array
            description: List of credential IDs that are stored in an external vault.
            items:
              $ref: '#/components/schemas/TestVaultCredential'
    FtpServerRequestType:
      type: string
      enum:
      - download
      - upload
      - list
      description: Set the type of activity for the test.
      example: download
    FtpServerProperties:
      type: object
      required:
      - requestType
      - url
      - username
      properties:
        bandwidthMeasurements:
          $ref: '#/components/schemas/TestBandwidthMeasurements'
        downloadLimit:
          type: integer
          description: Specify maximum number of bytes to download from the target object.
          example: 1048576
        ftpTargetTime:
          type: integer
          description: Target time for operation completion; specified in milliseconds.
          minimum: 1000
          maximum: 6000
        ftpTimeLimit:
          type: integer
          description: Set the time limit for the test in seconds.
          minimum: 10
          maximum: 60
          default: 10
          example: 10
        mtuMeasurements:
          $ref: '#/components/schemas/TestMtuMeasurements'
        networkMeasurements:
          $ref: '#/components/schemas/TestNetworkMeasurements'
        numPathTraces:
          $ref: '#/components/schemas/TestNumPathTraces'
        password:
          $ref: '#/components/schemas/TestPassword'
        pathTraceMode:
          $ref: '#/components/schemas/TestPathTraceMode'
        probeMode:
          $ref: '#/components/schemas/TestProbeMode'
        protocol:
          $ref: '#/components/schemas/TestProtocol'
        randomizedStartTime:
          $ref: '#/components/schemas/TestRandomizedStartTime'
        requestType:
          $ref: '#/components/schemas/FtpServerRequestType'
        url:
          $ref: '#/components/schemas/TestUrl'
        useActiveFtp:
          type: boolean
          description: Explicitly set the flag to use active FTP.
          default: false
          example: false
        useExplicitFtps:
          type: boolean
          description: Use explicit FTPS (ftp over SSL). By default, tests will autodetect when it is appropriate to use FTPS.
          example: false
        username:
          $ref: '#/components/schemas/TestUsername'
        fixedPacketRate:
          $ref: '#/components/schemas/TestFixedPacketRate'
        ipv6Policy:
          $ref: '#/components/schemas/TestIpv6Policy'
        type:
          type: string
          example: ftp-server
          readOnly: true
    FtpServerInstantTest:
      allOf:
      - $ref: '#/components/schemas/InstantTest'
      - $ref: '#/components/schemas/FtpServerProperties'
    SipServerProperties:
      type: object
      required:
      - port
      - targetSipCredentials
      properties:
        mtuMeasurements:
          $ref: '#/components/schemas/TestMtuMeasurements'
        networkMeasurements:
          $ref: '#/components/schemas/TestNetworkMeasurements'
        numPathTraces:
          $ref: '#/components/schemas/TestNumPathTraces'
        optionsRegex:
          type: string
          description: Options regex, this field does not require escaping.
          example:
          - a-z
        pathTraceMode:
          $ref: '#/components/schemas/TestPathTraceMode'
        probeMode:
          $ref: '#/components/schemas/TestProbeMode'
        randomizedStartTime:
          $ref: '#/components/schemas/TestRandomizedStartTime'
        registerEnabled:
          type: boolean
          description: Set to true to perform SIP registration on the test target with the SIP REGISTER command.
          default: false
          example: false
        sipTargetTime:
          type: integer
          minimum: 100
          maximum: 5000
          description: Target time for test completion in milliseconds.
          example: 1000
        sipTimeLimit:
          type: integer
          minimum: 5
          maximum: 10
          description: Time limit in milliseconds.
          default: 5
          example: 5
        fixedPacketRate:
          $ref: '#/components/schemas/TestFixedPacketRate'
        ipv6Policy:
          $ref: '#/components/schemas/TestIpv6Policy'
        type:
          type: string
          example: sip-server
          readOnly: true
    TestSipAuthUser:
      type: string
      description: Username for authentication with SIP server.
      example: username
    SipTestProtocol:
      type: string
      enum:
      - tcp
      - tls
      - udp
      description: Transport layer for SIP communication.
      default: tcp
      example: tcp
    TestSipRegistrar:
      type: string
      description: SIP server to be tested, specified by domain name or IP address.
      example: voice.thousandeyes.com
    TestSipUser:
      type: string
      description: Username for SIP registration, should be unique within a ThousandEyes account group.
      example: username
    TestSipCredentials:
      type: object
      required:
      - port
      properties:
        authUser:
          $ref: '#/components/schemas/TestSipAuthUser'
        password:
          $ref: '#/components/schemas/TestPassword'
        port:
          $ref: '#/components/schemas/TestPort'
        protocol:
          $ref: '#/components/schemas/SipTestProtocol'
        sipRegistrar:
          $ref: '#/components/schemas/TestSipRegistrar'
        user:
          $ref: '#/components/schemas/TestSipUser'
    SipServerInstantTest:
      allOf:
      - $ref: '#/components/schemas/InstantTest'
      - $ref: '#/components/schemas/SipServerProperties'
    VoiceProperties:
      type: object
      required:
      - targetAgentId
      properties:
        codec:
          type: string
          description: Codec label
          example: G.711 @ 64 Kbps
          readOnly: true
        codecId:
          type: string
          description: 'Codec identifier for the RTP stream. Valid values:


            * `0`: G.711 @ 64 Kbps

            * `1`: G.722.1 @ 24 Kbps (WB)

            * `2`: G.722.1 @ 32 Kbps (WB)

            * `3`: G.726 @ 32 Kbps

            * `4`: G.723.1 @ 6.4 Kbps

            * `5`: G.729a @ 8 Kbps

            * `6`: RTAudio @ 45 Kbps (WB)

            * `7`: RTAudio @ 27.8 Kbps

            * `8`: SILK @ 36 Kbps (WB)

            * `9`: G.722 @ 64 Kbps (WB)

            '
          example: '0'
        dscp:
          $ref: '#/components/schemas/TestDscp'
        dscpId:
          $ref: '#/components/schemas/TestDscpId'
        duration:
          type: integer
          minimum: 5
          maximum: 30
          description: Duration of the test in seconds.
          default: 5
          example: 5
        jitterBuffer:
          type: integer
          minimum: 0
          maximum: 150
          description: De-jitter buffer size in seconds.
          default: 40
          example: 40
        numPathTraces:
          $ref: '#/components/schemas/TestNumPathTraces'
        port:
          type: integer
          minimum: 1024
          maximum: 65535
          description: Port number for the chosen protocol.
          example: 1024
        randomizedStartTime:
          $ref: '#/components/schemas/TestRandomizedStartTime'
        targetAgentId:
          type: string
          description: Agent ID of the target agent for the test.
          example: '281474976710706'
        type:
          type: string
          example: voice
          readOnly: true
    VoiceInstantTest:
      allOf:
      - $ref: '#/components/schemas/InstantTest'
      - $ref: '#/components/schemas/VoiceProperties'
  parameters:
    ExpandInstantTest:
      name: expand
      in: query
      description: (Optional) Indicates if the test sub-resources should be expanded. Defaults to no expansion. To expand
        the `agents` sub-resource, use the query `?expand=agent`.
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/ExpandInstantTestOptions'
        example:
        - agent
    AccountGroupId:
      name: aid
      in: query
      description: A unique identifier associated with your account group. You can retrieve your `AccountGroupId` from the
        `/account-groups` endpoint. Note that you must be assigned to the target account group. Specifying this parameter
        without being assigned to the target account group will result in an error response.
      required: false
      schema:
        type: string
        example: '1234'
  responses:
    '400':
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ValidationError'
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Your request object contains invalid fields.
            instance: /v7
            errors:
            - code: AM-5432
              field: firstName
              message: firstName cannot have fancy characters
            - code: DASH-5622
              field: password
              message: Password cannot be blank
    '401':
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
    '403':
      description: Insufficient permissions to query endpoint
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    '404':
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI or a wrong ID
            instance: /v7
    '429':
      description: Exhausted rate limit for the organization
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    '500':
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
    '502':
      description: Bad Gateway
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    GeneralError:
      description: An error occurred
  headers:
    Location:
      schema:
        type: string
        format: uri
        example: https://api.thousandeyes.com/v7/link/to/resource/id
      description: The absolute path to created resource.
