openapi: 3.0.1
security:
- BearerAuth: []
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
info:
  title: Endpoint Test Results API
  version: 7.0.100
  description: Retrieve results for scheduled and dynamic tests on endpoint agents.
  x-provenance:
    method: harvested
    authored_by: Cisco ThousandEyes
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: pubhub.devnetcloud.com
    note: 27 OpenAPI 3.0 documents (26 per-area plus a unified 326-operation document) served anonymously from Cisco's DevNet
      CDN. api.thousandeyes.com itself 401s every path, so the contract is public while the API host is gated.
  x-evidence:
  - type: source
    url: https://pubhub.devnetcloud.com/media/000-v7-apis/docs/reference/
  - type: source
    url: https://developer.cisco.com/docs/thousandeyes/
tags:
- name: Network Endpoint Scheduled Test Results
- name: HTTP Server Endpoint Scheduled Test Results
- name: Network Dynamic Endpoint Test Results
- name: Real User Endpoint Test Results
- name: Local Network Endpoint Test Results
paths:
  /endpoint/test-results/scheduled-tests/{testId}/network/filter:
    post:
      tags:
      - Network Endpoint Scheduled Test Results
      summary: Retrieve network scheduled test results
      description: 'Returns network metrics (loss, latency, and jitter) from each endpoint agent, for each roundId within
        the specified time window, as determined by search filters. If a time frame is provided, the rounds relevant to that
        time frame are returned, and the order is not predefined unless the user specifies a sort order in the filter.

        When no time frame is provided, the latest rounds are returned.

        '
      operationId: filterScheduledTestNetworkResults
      parameters:
      - $ref: '#/components/parameters/TestIdPath'
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      - $ref: '#/components/parameters/PaginationCursor'
      - $ref: '#/components/parameters/ExpandEndpointNetwork'
      requestBody:
        description: Tests data search filters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointTestsDataRoundsSearch'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NetworkEndpointTestResults'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/scheduled-tests/network/filter:
    post:
      tags:
      - Network Endpoint Scheduled Test Results
      summary: Retrieve network scheduled test results from multiple tests
      description: 'Returns network metrics, including loss, latency, and jitter, for multiple test IDs obtained from each
        endpoint agent. It allows you to specify a time window using search filters to retrieve metrics for specific round
        IDs within that time frame. The default order of results is unspecified unless you include a sorting preference in
        the filter.

        When no time frame is provided, the API returns metrics for the most recent rounds. Access to all accounts associated
        with the specified test IDs is required to use this endpoint.

        '
      operationId: filterScheduledTestsNetworkResults
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      - $ref: '#/components/parameters/PaginationMax'
      - $ref: '#/components/parameters/PaginationCursor'
      - $ref: '#/components/parameters/UseAllPermittedAids'
      - $ref: '#/components/parameters/ExpandEndpointNetwork'
      requestBody:
        description: Test data search filters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiTestIdEndpointTestsDataRoundsSearch'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/MultiTestIdNetworkEndpointTestResults'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/scheduled-tests/{testId}/path-vis:
    get:
      tags:
      - Network Endpoint Scheduled Test Results
      summary: Retrieve path visualization network scheduled test results
      description: 'Returns a summary of the path visualization data collected from each endpoint agent to the destination.
        In each path visualization attempt, one attempt is made to reach the destination. Each set of data is summarized,
        based on response time, number of hops, and response time to the target. A time frame must be specified, or the most
        recent round within last 2 hours is returned.

        '
      operationId: getScheduledTestPathVisResults
      parameters:
      - $ref: '#/components/parameters/TestIdPath'
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      - $ref: '#/components/parameters/PaginationCursor'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PathVisEndpointTestResults'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/scheduled-tests/{testId}/path-vis/agent/{agentId}/round/{roundId}:
    get:
      tags:
      - Network Endpoint Scheduled Test Results
      summary: Retrieve path visualization network scheduled test results details
      description: 'Returns a hop-by-hop summary of the path trace data collected during path visualization. In each round,
        one path discovery attempt is made to reach the destination. The entire path is returned. A `roundId` must be specified.

        '
      operationId: getScheduledTestPathVisAgentRoundResults
      parameters:
      - $ref: '#/components/parameters/TestIdPath'
      - $ref: '#/components/parameters/AgentIdPath'
      - $ref: '#/components/parameters/RoundIdPath'
      - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PathVisDetailEndpointTestResults'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/scheduled-tests/{testId}/http-server:
    get:
      tags:
      - HTTP Server Endpoint Scheduled Test Results
      summary: Retrieve HTTP server scheduled test results
      description: 'Returns component-level (DNS, Connect, Wait and Receive) timing for the load of an object over HTTP.

        '
      operationId: getHttpServerScheduledTestResults
      parameters:
      - $ref: '#/components/parameters/TestIdPath'
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      - $ref: '#/components/parameters/PaginationCursor'
      - $ref: '#/components/parameters/ExpandEndpointHttpServer'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/HttpEndpointTestResults'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/dynamic-tests/{testId}/network/filter:
    post:
      tags:
      - Network Dynamic Endpoint Test Results
      summary: Retrieve network dynamic test results
      description: 'Returns network metrics (`loss`, `latency`, `jitter` and `bandwidth`) from each endpoint agent, for each
        `roundId` in the requested window. When Time Frame is provided the rounds specific to the time frame is returned and
        the order is not pre-defined unless a user specifies the sort order in filter. When no time frame is provided the
        latest rounds are returned.

        '
      operationId: filterDynamicTestNetworkResults
      parameters:
      - $ref: '#/components/parameters/TestIdPath'
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      - $ref: '#/components/parameters/PaginationCursor'
      - $ref: '#/components/parameters/ExpandEndpointDynamicNetwork'
      requestBody:
        description: Tests data search filters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicEndpointTestsDataRoundSearch'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NetworkDynamicEndpointTestResults'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/scheduled-tests/{testId}/http-server/filter:
    post:
      tags:
      - HTTP Server Endpoint Scheduled Test Results
      summary: Filter HTTP server result for a scheduled test
      description: 'Returns component-level timings for an object load over HTTP. These include DNS, connect, wait, and receive
        times for a single scheduled test.

        '
      operationId: getSingleTestFilteredHttpServerScheduledTestResults
      parameters:
      - $ref: '#/components/parameters/TestIdPath'
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      - $ref: '#/components/parameters/PaginationCursor'
      - $ref: '#/components/parameters/ExpandEndpointHttpServer'
      requestBody:
        description: Test result search filters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HttpEndpointTestsDataRoundsSearch'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/HttpMultiEndpointTestResults'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/scheduled-tests/http-server/filter:
    post:
      tags:
      - HTTP Server Endpoint Scheduled Test Results
      summary: Filter HTTP server scheduled test results
      description: 'Returns component-level (DNS, Connect, Wait and Receive) timing for the load of an object over HTTP.

        '
      operationId: getMultiTestFilteredHttpServerScheduledTestResults
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      - $ref: '#/components/parameters/PaginationCursor'
      - $ref: '#/components/parameters/UseAllPermittedAids'
      - $ref: '#/components/parameters/ExpandEndpointHttpServer'
      requestBody:
        description: Test data search filters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HttpEndpointTestsDataRoundsSearch'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/HttpMultiEndpointTestResults'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/dynamic-tests/{testId}/path-vis:
    get:
      tags:
      - Network Dynamic Endpoint Test Results
      summary: Retrieve path visualization network dynamic test results
      description: 'Returns a summary of the path visualization data collected from each endpoint agent to the destination.
        In each path visualization attempt, one attempt is made to reach the destination. Each set of data is summarized,
        based on response time, number of hops, and response time to the target. A time frame must be specified, or the most
        recent round within last 2 hours will be returned.

        '
      operationId: getDynamicTestPathVisResults
      parameters:
      - $ref: '#/components/parameters/TestIdPath'
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      - $ref: '#/components/parameters/PaginationCursor'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PathVisDynamicEndpointTestResults'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/dynamic-tests/{testId}/path-vis/agent/{agentId}/round/{roundId}:
    get:
      tags:
      - Network Dynamic Endpoint Test Results
      summary: Retrieve path visualization network dynamic test results details
      description: 'Returns a hop-by-hop summary of the path trace data collected during path visualization. In each round,
        one path discovery attempt is made to reach the destination. The entire path is returned. A `roundId` must be specified.

        '
      operationId: getDynamicTestPathVisAgentRoundResults
      parameters:
      - $ref: '#/components/parameters/TestIdPath'
      - $ref: '#/components/parameters/AgentIdPath'
      - $ref: '#/components/parameters/RoundIdPath'
      - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PathVisDetailDynamicEndpointTestResults'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/real-user-tests/filter:
    post:
      tags:
      - Real User Endpoint Test Results
      summary: List endpoint real user tests
      description: "Returns a list of all endpoint real user tests.\nAll results are provided, oldest to newest (according\
        \ to a specified page index and size) unless an explicit start and end is provided with `startDate`, `endDate` or\
        \ `window` optional parameters.\n\n## Request body filters\nThis endpoint supports complex filtering using the request\
        \ body.\nIt is important these filters remain unaltered when making use of pagination, otherwise the results will\
        \ not be coherent with the original request.\n\n### Multiple filter fields\nWhen multiple filter fields are provided,\
        \ a logical `AND` is applied between the filters.\n ```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/filter'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n  \"searchFilters\"\
        : {\n    \"platform\": [ \"mac\" ],\n    \"domain\": [ \"thousandeyes.com\" ]\n  }}'\n```\n\n### Filter field with\
        \ multiple values\nWhen a filter field contains multiple values, a logical `OR` is applied between the filter values.\n\
        \ ```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/filter'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n    \"searchFilters\"\
        : {\n      \"networkId\": [ \"660b34109d12\", \"660b34109d15\" ]\n    }\n  }'\n```\n\n### Combination of request parameters\
        \ and body filters\n```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/filter?window=1w'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n    \"searchFilters\"\
        : {\n      \"platform\": [ \"mac\" ],\n      \"domain\": [ \"thousandeyes.com\" ],\n      \"networkId\": [ \"660b34109d12\"\
        , \"660b34109d15\" ]\n    }\n  }'\n```\n\nReturns a `results` array of endpoint real user tests.\nEither the latest\
        \ results, or based on the time range and body filters specified.\n"
      operationId: filterRealUserTestsResults
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      - $ref: '#/components/parameters/PaginationCursor'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealUserEndpointTestResultsRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/RealUserEndpointTestResults'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/real-user-tests/{id}:
    get:
      tags:
      - Real User Endpoint Test Results
      summary: Retrieve endpoint real user test
      description: 'Provides details for an endpoint real user test. Returns a results array containing detailed information
        about endpoint real user tests."

        '
      operationId: getRealUserTestResults
      parameters:
      - $ref: '#/components/parameters/IdPath'
      - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/RealUserEndpointTestDetailResults'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/real-user-tests/pages/filter:
    post:
      tags:
      - Real User Endpoint Test Results
      summary: List endpoint real user tests visited pages
      description: "Returns a list of all endpoint real user tests visited pages. \nSessions from the last round are provided\
        \ unless an explicit start and end is provided with `startDate`, `endDate` or `window` optional parameters.\n\n##\
        \ Request body filters\nThis endpoint supports complex filtering using the request body.\nIt is important these filters\
        \ remain unaltered when making use of pagination, otherwise the results will not be coherent with the original request.\n\
        \n### Multiple filter fields\nWhen multiple filter fields are provided, a logical `AND` is applied between the filters.\n\
        \ ```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/pages/filter'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n  \"searchFilters\"\
        : {\n    \"platform\": [ \"mac\" ],\n    \"domain\": [ \"thousandeyes.com\" ]\n  }}'\n```\n\n### Filter field with\
        \ multiple values\nWhen a filter field contains multiple values, a logical `OR` is applied between the filter values.\n\
        \ ```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/pages/filter'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n  \"searchFilters\"\
        : {\n    \"networkId\": [ \"660b34109d12\", \"660b34109d15\" ]\n  }}'\n```\n\n### Combination of request parameters\
        \ and body filters\n```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/pages/filter?window=1w'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n  \"searchFilters\"\
        : {\n    \"platform\": [ \"mac\" ],\n    \"domain\": [ \"thousandeyes.com\" ],\n    \"networkId\": [ \"660b34109d12\"\
        , \"660b34109d15\" ]\n  }}'\n```\n\nReturns a `results` array of user loaded pages in an endpoint real user test.\
        \ \nPages shown are from the latest round, or based on the time range specified.\n"
      operationId: filterRealUserTestsVisitedPagesResults
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      - $ref: '#/components/parameters/PaginationCursor'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealUserEndpointTestResultRequestFilter'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/RealUserEndpointTestPageResults'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/real-user-tests/{id}/pages/{pageId}:
    get:
      tags:
      - Real User Endpoint Test Results
      summary: Retrieve endpoint real user test page
      description: "Returns details for endpoint real user test web page request. \nProvides complete waterfall information\
        \ with all object requests.\n\nSends back detailed endpoint real user test web page request.\n\nReturned object has\
        \ a single field: `har` which is an HAR object according to the HTTP Archive 1.2 specifications. \n[You can read more\
        \ about the specification](http://www.softwareishard.com/blog/har-12-spec/).\n\nIn addition to standard fields, the\
        \ object har includes a custom property `systemMetrics` which contain metrics about CPU and physical memory usage.\
        \ \nCheck `SystemMetrics` on schemas tab for more information.\n"
      operationId: getRealUserTestPageResults
      parameters:
      - $ref: '#/components/parameters/IdPath'
      - $ref: '#/components/parameters/PageIdPath'
      - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/RealUserEndpointTestPageDetailResult'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/real-user-tests/networks/filter:
    post:
      tags:
      - Real User Endpoint Test Results
      summary: List endpoint real user tests networks
      description: "Returns a list of all endpoint real user tests. \nSessions from the last round are provided unless an\
        \ explicit start and end is provided with `startDate`, `endDate` or `window` optional parameters.\n\n## Request body\
        \ filters\nThis endpoint supports complex filtering using the request body.\nIt is important these filters remain\
        \ unaltered when making use of pagination, otherwise the results will not be coherent with the original request.\n\
        \n### Multiple filter fields\nWhen multiple filter fields are provided, a logical `AND` is applied between the filters.\n\
        \ ```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/networks/filter'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n   \"searchFilters\"\
        : {\n    \"platform\": [ \"mac\" ],\n    \"domain\": [ \"thousandeyes.com\" ]\n  }}'\n```\n\n### Filter field with\
        \ multiple values\nWhen a filter field contains multiple values, a logical `OR` is applied between the filter values.\n\
        \ ```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/networks/filter'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n  \"searchFilters\"\
        : {\n    \"networkId\": [ \"660b34109d12\", \"660b34109d15\" ]\n  }}'\n```\n\n### Combination of request parameters\
        \ and body filters\n```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/real-user-tests/networks/filter?window=1w'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n  \"searchFilters\"\
        : {\n    \"platform\": [ \"mac\" ],\n    \"domain\": [ \"thousandeyes.com\" ],\n    \"networkId\": [ \"660b34109d12\"\
        , \"660b34109d15\" ]\n  }}'\n```\n\nReturns a `results` array of endpoint real user tests. \nNetwork sessions shown\
        \ are from the latest round, or based on the time range specified.\n"
      operationId: filterRealUserTestsNetworkResults
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      - $ref: '#/components/parameters/PaginationCursor'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealUserEndpointTestResultsRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/RealUserEndpointTestNetworkResults'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/local-networks:
    get:
      tags:
      - Local Network Endpoint Test Results
      summary: List local networks
      description: 'Returns a list of all the networks used by endpoint agents.


        Sends back a `localNetworks` array.

        '
      operationId: getLocalNetworksTestResults
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/LocalNetworkResults'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/local-networks/topologies/filter:
    post:
      tags:
      - Local Network Endpoint Test Results
      summary: List endpoint network topologies probes
      description: "Returns a list of all endpoint local network topologies probes. \nAll results are provided, oldest to\
        \ newest (according to a specified page index and size) unless an explicit start and end is provided with `startDate`,\
        \ `endDate` or `window` optional parameters.\n\n## Request body filters\nThis endpoint supports complex filtering\
        \ using the request body.\nIt is important these filters remain unaltered when making use of pagination, otherwise\
        \ the results will not be coherent with the original request.\n\n### Multiple filter fields\nWhen multiple filter\
        \ fields are provided, a logical `AND` is applied between the filters.\n ```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/local-networks/topologies/filter'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n  \"searchFilters\"\
        : {\n    \"platform\": [ \"mac\" ],\n    \"domain\": [ \"thousandeyes.com\" ]\n  }}'\n```\n\n### Filter field with\
        \ multiple values\nWhen a filter field contains multiple values, a logical `OR` is applied between the filter values.\n\
        \ ```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/local-networks/topologies/filter'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n  \"searchFilters\"\
        : {\n    \"networkId\": [ \"660b34109d12\", \"660b34109d15\" ]\n  }}'\n```\n\n### Combination of request parameters\
        \ and body filters\n```\ncurl --location --request POST 'https://api.thousandeyes.com/v7/endpoint/test-results/local-networks/topologies/filter?window=12h'\n\
        --header 'Authorization: Bearer $token'\n--header 'Content-Type: application/json'\n--data-raw '{\n  \"searchFilters\"\
        : {\n    \"platform\": [ \"mac\" ],\n    \"domain\": [ \"thousandeyes.com\" ],\n    \"networkId\": [ \"660b34109d12\"\
        , \"660b34109d15\" ]\n  }}'\n```\n\n### Warning\nNote that a maximum of 12h worth of data can be retrieved at once.\
        \ \nIf you need more, you need to make multiple requests.\n\nReturns a `results` array of network topology probes.\
        \ \nNetwork topology probes shown are from the latest round, or based on the time range specified.\n"
      operationId: filterLocalNetworksTestResultsTopologies
      parameters:
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/StartDateParameter'
      - $ref: '#/components/parameters/EndDateParameter'
      - $ref: '#/components/parameters/PaginationCursor'
      - $ref: '#/components/parameters/ExpandLocalNetworkTopology'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointNetworkTopologyResultRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/LocalNetworkTopologyResults'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
  /endpoint/test-results/local-networks/topologies/{networkTopologyId}:
    get:
      tags:
      - Local Network Endpoint Test Results
      summary: Retrieve endpoint local network topology
      description: 'Returns detailed data of a local network topology.

        '
      operationId: getLocalNetworksTestResultsTopology
      parameters:
      - $ref: '#/components/parameters/NetworkTopologyIdPath'
      - $ref: '#/components/parameters/AccountGroupId'
      - $ref: '#/components/parameters/ExpandLocalNetworkTopology'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/LocalNetworkTopologyDetailResults'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '502':
          $ref: '#/components/responses/502'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication token
  schemas:
    TestId:
      type: string
      description: Unique ID of endpoint test.
      example: '584739201'
      readOnly: true
    RoundId:
      type: integer
      description: Epoch time (seconds) indicating the start time of the round.
      example: 1384309800
      readOnly: true
    EndpointTestsDataRoundsSearch:
      type: object
      properties:
        searchSort:
          type: array
          items:
            $ref: '#/components/schemas/EndpointTestsDataSearchSort'
        thresholdFilter:
          $ref: '#/components/schemas/EndpointTestsDataThresholdFilters'
        searchFilters:
          $ref: '#/components/schemas/EndpointTestsDataSearchFilter'
    MultiTestIdEndpointTestsDataRoundsSearch:
      type: object
      properties:
        searchSort:
          type: array
          items:
            $ref: '#/components/schemas/EndpointTestsDataSearchSort'
        thresholdFilter:
          $ref: '#/components/schemas/EndpointTestsDataThresholdFilters'
        searchFilters:
          $ref: '#/components/schemas/MultiTestIdEndpointTestsDataSearchFilter'
    DynamicEndpointTestsDataRoundSearch:
      type: object
      properties:
        searchSort:
          type: array
          items:
            $ref: '#/components/schemas/EndpointTestsDataSearchSort'
        thresholdFilter:
          $ref: '#/components/schemas/EndpointTestsDataThresholdFilters'
        searchFilters:
          $ref: '#/components/schemas/DynamicEndpointTestsDataSearchFilter'
    HttpEndpointTestsDataRoundsSearch:
      type: object
      properties:
        searchSort:
          type: array
          items:
            $ref: '#/components/schemas/HttpEndpointTestsDataSearchSort'
        thresholdFilter:
          $ref: '#/components/schemas/HttpEndpointTestsDataThresholdFilters'
        searchFilters:
          $ref: '#/components/schemas/HttpEndpointTestsDataSearchFilter'
    HttpEndpointTestsDataSearchSort:
      type: object
      properties:
        sort:
          $ref: '#/components/schemas/HttpEndpointTestsDataSearchSortKey'
        order:
          $ref: '#/components/schemas/SortOrder'
    HttpEndpointTestsDataSearchSortKey:
      type: string
      enum:
      - round-id
      - response-time
      - dns-time
      - connect-time
      - ssl-time
      - wait-time
      - response-code
      - wire-size
      example: round-id
    HttpEndpointTestsDataThresholdFilters:
      type: object
      description: All filters are applied based on the conditional operator (and/or).
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/HttpEndpointTestsDataThresholdFilter'
        conditionalOperator:
          $ref: '#/components/schemas/ConditionalOperator'
    HttpEndpointTestsDataThresholdFilter:
      type: object
      description: The metric is filtered based on the threshold value and operator provided.
      properties:
        name:
          $ref: '#/components/schemas/HttpThresholdFilterName'
        value:
          type: number
          description: The threshold value.
          format: double
          example: 10
        operator:
          $ref: '#/components/schemas/ThresholdFilterOperator'
    HttpThresholdFilterName:
      type: string
      description: Metric on which the threshold filter is applied.
      enum:
      - response-time
      - dns-time
      - connect-time
      - throughput
      - ssl-time
      - wait-time
      - application-score
      example: response-time
    HttpEndpointTestsDataSearchFilter:
      type: object
      properties:
        testId:
          description: Filter by test
          type: array
          items:
            type: string
            example: '5'
        agentId:
          description: Filter using the `agent-id`.
          type: array
          items:
            type: string
            format: uuid
            example: 52455b09-ff1b-4849-8194-99026cc890e0
        userPrincipalName:
          $ref: '#/components/schemas/UserPrincipalNameFilter'
        nicModel:
          $ref: '#/components/schemas/NicModelFilter'
        nicDriverVersion:
          $ref: '#/components/schemas/NicDriverVersionFilter'
    EndpointTestsDataSearchSort:
      type: object
      properties:
        sort:
          $ref: '#/components/schemas/EndpointTestsDataSearchSortKey'
        order:
          $ref: '#/components/schemas/SortOrder'
    EndpointTestsDataSearchSortKey:
      type: string
      enum:
      - round-id
      - loss
      - latency
      - jitter
      - cpu
      - memory
      - signal-quality
      example: round-id
    EndpointTestsDataThresholdFilters:
      type: object
      description: All filters are applied based on the conditional operator (and/or).
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/EndpointTestsDataThresholdFilter'
        conditionalOperator:
          $ref: '#/components/schemas/ConditionalOperator'
    EndpointTestsDataThresholdFilter:
      type: object
      description: The metric is filtered based on the threshold value and operator provided.
      properties:
        name:
          $ref: '#/components/schemas/ThresholdFilterName'
        value:
          type: number
          description: The threshold value.
          format: double
          example: 10
        operator:
          $ref: '#/components/schemas/ThresholdFilterOperator'
    ThresholdFilterName:
      type: string
      description: Metric on which the threshold filter is applied.
      enum:
      - loss
      - latency
      - jitter
      - cpu
      - memory
      - signal-quality
      - application-score
      - zta-ingress-loss
      - zta-service-loss
      - zta-ingress-avg-latency
      - zta-service-avg-latency
      - zta-ingress-jitter
      - zta-service-jitter
      example: loss
    EndpointTestsDataSearchFilter:
      type: object
      properties:
        agentId:
          description: Filter using the `agent-id`.
          type: array
          items:
            type: string
            format: uuid
            example: 52455b09-ff1b-4849-8194-99026cc890e0
        userPrincipalName:
          $ref: '#/components/schemas/UserPrincipalNameFilter'
        nicModel:
          $ref: '#/components/schemas/NicModelFilter'
        nicDriverVersion:
          $ref: '#/components/schemas/NicDriverVersionFilter'
    MultiTestIdEndpointTestsDataSearchFilter:
      type: object
      properties:
        agentId:
          description: Filter using the `agent-id`.
          type: array
          items:
            type: string
            format: uuid
            example: 52455b09-ff1b-4849-8194-99026cc890e0
        testId:
          type: array
          items:
            type: string
            example: '5'
        nicModel:
          $ref: '#/components/schemas/NicModelFilter'
        nicDriverVersion:
          $ref: '#/components/schemas/NicDriverVersionFilter'
    DynamicEndpointTestsDataSearchFilter:
      type: object
      properties:
        agentId:
          description: Filter using the `agent-id`.
          type: array
          items:
            type: string
            format: uuid
            example: 52455b09-ff1b-4849-8194-99026cc890e0
        userPrincipalName:
          $ref: '#/components/schemas/UserPrincipalNameFilter'
        nicModel:
          $ref: '#/components/schemas/NicModelFilter'
        nicDriverVersion:
          $ref: '#/components/schemas/NicDriverVersionFilter'
        webexConferenceId:
          description: Filter using the `conference-id` of the Webex call.
          type: array
          items:
            type: string
            example: '719057112996612360'
        webexCorrelationId:
          description: Filter using the `correlation-id` of the Webex call.
          type: array
          items:
            type: string
            format: uuid
            example: f7d73641-8673-4547-be62-9521f78d9888
        webexLocalSipSessionId:
          description: Filter using the `local-sip-session-id` of the Webex call.
          type: array
          items:
            type: string
            example: c124ba2b012050008000aa0c26c4bf0f
    EndpointTestResult:
      type: object
      properties:
        aid:
          $ref: '#/components/schemas/AccountGroupId'
        testId:
          $ref: '#/components/schemas/TestId'
        agentId:
          $ref: '#/components/schemas/EndpointAgentId'
        roundId:
          $ref: '#/components/schemas/RoundId'
        serverIp:
          type: string
          description: IP address of target server.
          example: 185.199.108.153
          readOnly: true
        networkProfile:
          $ref: '#/components/schemas/NetworkProfile'
        systemMetrics:
          $ref: '#/components/schemas/SystemMetrics'
        originalTargetProfile:
          $ref: '#/components/schemas/TargetProfile'
        userProfile:
          $ref: '#/components/schemas/UserProfile'
        vpnProfile:
          $ref: '#/components/schemas/VpnProfile'
        batteryMetrics:
          $ref: '#/components/schemas/BatteryMetrics'
        cellularProfile:
          $ref: '#/components/schemas/CellularProfile'
        platform:
          $ref: '#/components/schemas/Platform'
    NetworkEndpointTestResults:
      type: object
      properties:
        results:
          x-paginated-items: true
          type: array
          items:
            $ref: '#/components/schemas/NetworkEndpointTestResult'
        totalHits:
          $ref: '#/components/schemas/TotalHits'
        test:
          description: The scheduled test configuration. Omitted when the user lacks the `View endpoint experience tests`
            permission.
          allOf:
          - $ref: '#/components/schemas/EndpointScheduledTest'
        startDate:
          $ref: '#/components/schemas/StartDate'
        endDate:
          $ref: '#/components/schemas/EndDate'
        _links:
          $ref: '#/components/schemas/PaginationNextLink'
    MultiTestIdNetworkEndpointTestResults:
      type: object
      properties:
        results:
          x-paginated-items: true
          type: array
          items:
            $ref: '#/components/schemas/NetworkEndpointTestResult'
        totalHits:
          $ref: '#/components/schemas/TotalHits'
        startDate:
          $ref: '#/components/schemas/StartDate'
        endDate:
          $ref: '#/components/schemas/EndDate'
        _links:
          $ref: '#/components/schemas/PaginationNextLink'
    NetworkEndpointTestResult:
      allOf:
      - $ref: '#/components/schemas/EndpointTestResult'
      - type: object
        properties:
          avgLatency:
            type: number
            description: Average RTT for packets sent to destination.
            example: 167.04
            format: double
            readOnly: true
          errorDetails:
            type: string
            description: Error details, if an error was encountered.
            example: Error
            readOnly: true
          jitter:
            type: number
            description: Standard deviation of latency.
            example: 0.076808
            format: double
            readOnly: true
          score:
            $ref: '#/components/schemas/EndpointPingDataPointScore'
          ztaMetrics:
            type: array
            items:
              $ref: '#/components/schemas/EndpointZtaMetrics'
          isIcmpBlocked:
            $ref: '#/components/schemas/IcmpBlocked'
          loss:
            type: number
            description: Percentage of packets not reaching destination.
            example: 0
            format: double
            readOnly: true
          maxLatency:
            type: number
            description: Maximum RTT for packets sent to destination.
            example: 168
            format: double
            readOnly: true
          minLatency:
            type: number
            description: Minimum RTT for packets sent to destination.
            example: 167
            format: double
            readOnly: true
    SystemMetrics:
      type: object
      properties:
        startTimeMs:
          type: integer
          format: int64
          description: The start time of metrics collection, expressed in milliseconds since the Epoch.
          example: 1581508857327
          readOnly: true
        endTimeMs:
          type: integer
          format: int64
          description: The end time of metrics collection, expressed in milliseconds since the Epoch.
          example: 1581508867333
          readOnly: true
        cpuUtilization:
          $ref: '#/components/schemas/CpuUtilization'
        physicalMemoryUsedBytes:
          $ref: '#/components/schemas/PhysicalMemoryUsedBytes'
        physicalMemoryTotalBytes:
          type: integer
          format: int64
          description: Total physical memory of the system.
          example: 1024
          readOnly: true
    CpuUtilization:
      type: object
      properties:
        min:
          type: number
          format: double
          description: The minimum sampled usage value recorded during the monitored period.
          example: 0.22
          minimum: 0
          maximum: 1
          readOnly: true
        max:
          type: number
          format: double
          description: The maximum sampled usage value recorded during the monitored period.
          example: 0.75
          minimum: 0
          maximum: 1
          readOnly: true
        mean:
          type: number
          format: double
          description: The mean (average) sampled usage value recorded during the monitored period.
          example: 0.55
          minimum: 0
          maximum: 1
          readOnly: true
        median:
          type: number
          format: double
          description: The median sampled usage value recorded during the monitored period.
          example: 0.61
          minimum: 0
          maximum: 1
          readOnly: true
        stdDev:
          type: number
          format: double
          description: The standard deviation of sampled usage values recorded during the monitored period.
          example: 0.01
          minimum: 0
          maximum: 1
          readOnly: true
        count:
          type: integer
          description: The total number of samples collected during the monitored period.
          example: 150
          readOnly: true
    PhysicalMemoryUsedBytes:
      type: object
      properties:
        min:
          type: number
          format: double
          description: The minimum sampled memory usage value recorded during the monitored period.
          example: 1.2
          readOnly: true
        max:
          type: number
          format: double
          description: The maximum sampled memory usage value recorded during the monitored period.
          example: 2.5
          readOnly: true
        mean:
          type: number
          format: double
          description: The mean (average) value of memory usage sampled over the monitored period.
          example: 1.77
          readOnly: true
        median:
          type: number
          format: double
          description: The median value of memory usage sampled over the monitored period.
          example: 1.85
          readOnly: true
        stdDev:
          type: number
          format: double
          description: The standard deviation of memory usage sampled during the monitored period.
          example: 0.25
          readOnly: true
        count:
          type: integer
          description: The total number of samples collected during the monitored period.
          example: 155
          readOnly: true
    SystemMetricDetails:
      type: object
      description: 'Details of system metrics that contain top applications by CPU/memory usage.

        Not populated by default.

        '
      properties:
        topCpuApplications:
          type: array
          description: A list of applications that consume more than 2% of the CPU.
          readOnly: true
          items:
            $ref: '#/components/schemas/ApplicationMetrics'
        topMemoryApplications:
          type: array
          description: A list of applications that consume more than 2% of the RAM.
          readOnly: true
          items:
            $ref: '#/components/schemas/ApplicationMetrics'
    ApplicationMetrics:
      type: object
      properties:
        name:
          type: string
          description: The name of the application.
          example: Webex
        totalCpu:
          type: number
          format: double
          description: The total CPU usage by all application processes.
          example: 0.5
        totalMemoryPercentage:
          type: number
          format: double
          description: The total percentage of memory used by all application processes.
          example: 0.22
        totalMemoryBytes:
          type: integer
          format: int64
          description: The total memory in bytes used by all application processes.
          example: 1023334
        processes:
          type: array
          description: A list of application processes.
          items:
            $ref: '#/components/schemas/ProcessMetrics'
    ProcessMetrics:
      type: object
      properties:
        name:
          type: string
          description: The name of the process.
          example: Webex background
        pid:
          type: integer
          description: The process ID.
          example: 15632
        cpu:
          type: number
          format: double
          description: The CPU usage by the process as a percentage (e.g., 0.5 for 50% CPU usage).
          example: 0.5
        memoryPercentage:
          type: number
          format: double
          description: The memory usage by the process as a percentage (e.g., 0.22 for 22%).
          example: 0.22
        memoryBytes:
          type: integer
          format: int64
          description: The memory usage by the process in bytes.
          example: 1023334
    VpnProfile:
      type: object
      properties:
        vpnClientAddresses:
          type: array
          description: A list of private IP addresses assigned to the device by the VPN server.
          example:
          - 184.81.113.85
          - 13.129.91.62
          readOnly: true
          items:
            type: string
        vpnClientNetworkRange:
          type: array
          description: A list of private networks assigned to the device by the VPN server.
          readOnly: true
          items:
            type: string
            example: 9.88.37.27
        vpnGatewayAddress:
          type: string
          description: IP address of the VPN gateway.
          example: 120.98.134.7
          readOnly: true
        vpnType:
          $ref: '#/components/schemas/VpnType'
    TargetProfile:
      type: object
      properties:
        remotePort:
          type: integer
          description: The remote port of a network flow towards the target.
          example: 80
          readOnly: true
        remoteIpAddress:
          type: string
          description: The remote IP address of a network flow towards the target.
          example: 120.98.134.7
          readOnly: true
        protocol:
          $ref: '#/components/schemas/TestProtocol'
    PathVisEndpointTestResults:
      type: object
      properties:
        results:
          x-paginated-items: true
          type: array
          items:
            $ref: '#/components/schemas/PathVisEndpointTestResult'
        test:
          description: The scheduled test configuration. Omitted when the user lacks the `View endpoint experience tests`
            permission.
          allOf:
          - $ref: '#/components/schemas/EndpointScheduledTest'
        startDate:
          $ref: '#/components/schemas/StartDate'
        endDate:
          $ref: '#/components/schemas/EndDate'
        _links:
          $ref: '#/components/schemas/PaginationNextAndSelfLink'
    PathVisEndpointTestResult:
      allOf:
      - $ref: '#/components/schemas/PathVisBaseEndpointTestResult'
      - type: object
        properties:
          location:
            type: string
            description: Geographic location of the path visualization.
            example: San Francisco Area
            readOnly: true
          pathTraces:
            type: array
            description: Shows an iteration of path trace, with each iteration specified by a pathId.
            items:
              $ref: '#/components/schemas/EndpointPathTrace'
    PathVisDetailEndpointTestResults:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/PathVisDetailEndpointTestResult'
        test:
          description: The scheduled test configuration. Omitted when the user lacks the `View endpoint experience tests`
            permission.
          allOf:
          - $ref: '#/components/schemas/EndpointScheduledTest'
        _links:
          $ref: '#/components/schemas/SelfLinks'
    PathVisDetailEndpointTestResult:
      allOf:
      - $ref: '#/components/schemas/PathVisBaseEndpointTestResult'
      - type: object
        properties:
          pathTraces:
            type: array
            description: Shows iterations of path trace, with each iteration specified by a pathId.
            items:
              $ref: '#/components/schemas/EndpointPathVisRoute'
          vpnPathTraces:
            type: array
            description: Shows iterations of the VPN path trace, with each iteration specified by a pathId.
            items:
              $ref: '#/components/schemas/EndpointPathVisRoute'
    PathVisBaseEndpointTestResult:
      allOf:
      - $ref: '#/components/schemas/EndpointTestResult'
      - type: object
        properties:
          asnDetails:
            $ref: '#/components/schemas/AsnDetails'
          server:
            type: string
            description: Target server, including port.
            example: www.google.com:443
            readOnly: true
          sourceIp:
            type: string
            description: IP address of source endpoint agent.
            example: 196.40.106.237
            readOnly: true
          sourcePrefix:
            type: string
            description: IP prefix of source endpoint agent.
            example: 196.40.96.0/20
            readOnly: true
    AsnDetails:
      type: object
      properties:
        asName:
          type: string
          description: Name of the provider.
          example: ThousandEyes, Inc
          readOnly: true
        asNumber:
          type: integer
          description: Unique number assigned to an organization (also referred to as service provider).
          example: 394101
          readOnly: true
    EndpointPathVisRoute:
      type: object
      properties:
        pathId:
          type: string
          description: Unique ID of path trace.
          example: '4711301366345855606023718047703941305741293841502186803'
          readOnly: true
        protocol:
          $ref: '#/components/schemas/EndpointTestResultProtocol'
        tcpPathTraceMode:
          $ref: '#/components/schemas/TcpPathTraceModeResponse'
        udpPathTraceMode:
          $ref: '#/components/schemas/UdpPathTraceModeResponse'
        hops:
          type: array
          description: Array of hop objects indicating each step in the traceroute.
          items:
            $ref: '#/components/schemas/EndpointPathVisHop'
    EndpointPathVisHop:
      allOf:
      - $ref: '#/components/schemas/Hop'
      - type: object
        properties:
          rdns:
            type: string
            description: Reverse DNS entry of IP, if available.
            example: core-router1.cpt2.host-h.net
            readOnly: true
          network:
            type: string
            description: Autonomous System originating the prefix.
            example: HETZNER (Pty) Ltd (AS 37153)
            readOnly: true
          responseTime:
            type: integer
            description: RTT to the hop’s IP in milliseconds.
            example: 1
            readOnly: true
          location:
            type: string
            description: Location information for the hop.
            example: Cape Town, South Africa
            readOnly: true
    Hop:
      type: object
      properties:
        hop:
          type: integer
          description: The hop index.
          example: 1
          readOnly: true
        ipAddress:
          type: string
          description: IP address of the hop.
          example: 196.40.106.237
          readOnly: true
        prefix:
          type: string
          description: Prefix of IP address shown in CIDR.
          example: 196.40.96.0/20
          readOnly: true
    EndpointPathTrace:
      type: object
      properties:
        ipAddress:
          type: string
          description: IP address of the hop destination.
          example: 196.40.106.237
          readOnly: true
        numberOfHops:
          type: integer
          description: Number of hops for path trace to destination.
          example: 15
          readOnly: true
        protocol:
          $ref: '#/components/schemas/EndpointTestResultProtocol'
        tcpPathTraceMode:
          $ref: '#/components/schemas/TcpPathTraceModeResponse'
        udpPathTraceMode:
          $ref: '#/components/schemas/UdpPathTraceModeResponse'
        pathId:
          type: string
          description: Unique ID of path trace.
          example: '1230899668701775614109128428722974545787322404682781961521'
          readOnly: true
        responseTime:
          type: integer
          description: RTT of the path trace to the destination in milliseconds.
          example: 1500
          readOnly: true
    HttpMultiEndpointTestResults:
      type: object
      properties:
        results:
          x-paginated-items: true
          type: array
          items:
            $ref: '#/components/schemas/HttpEndpointTestResult'
        totalHits:
          $ref: '#/components/schemas/TotalHits'
        startDate:
          $ref: '#/components/schemas/StartDate'
        endDate:
          $ref: '#/components/schemas/EndDate'
        _links:
          $ref: '#/components/schemas/PaginationNextAndSelfLink'
    HttpEndpointTestResults:
      type: object
      properties:
        results:
          x-paginated-items: true
          type: array
          items:
            $ref: '#/components/schemas/HttpEndpointTestResult'
        totalHits:
          $ref: '#/components/schemas/TotalHits'
        test:
          description: The scheduled test configuration. Omitted when the user lacks the `View endpoint experience tests`
            permission.
          allOf:
          - $ref: '#/components/schemas/EndpointHttpServerTest'
        startDate:
          $ref: '#/components/schemas/StartDate'
        endDate:
          $ref: '#/components/schemas/EndDate'
        _links:
          $ref: '#/components/schemas/PaginationNextAndSelfLink'
    HttpEndpointTestResult:
      allOf:
      - $ref: '#/components/schemas/EndpointTestResult'
      - type: object
        properties:
          score:
            $ref: '#/components/schemas/EndpointHttpDataPointScore'
          connectTime:
            type: integer
            description: Time required to establish a TCP connection to the server in milliseconds.
            example: 2
            readOnly: true
          dnsTime:
            type: integer
            description: Time required to resolve DNS in milliseconds.
            example: 0
            readOnly: true
          errorType:
            $ref: '#/components/schemas/HttpErrorType'
          errorDetails:
            type: string
            description: Error details, if an error were encountered.
            readOnly: true
          headers:
            $ref: '#/components/schemas/HttpEndpointTestResultHeaders'
          numRedirects:
            type: integer
            description: Number of redirects.
            example: 0
            readOnly: true
          receiveTime:
            type: integer
            description: Elapsed time between first and last byte of response in milliseconds.
            example: 1
            readOnly: true
          redirectTime:
            type: integer
            description: Cumulative redirect timing in milliseconds.
            example: 10
            readOnly: true
          responseCode:
            type: integer
            description: HTTP response code.
            example: 200
            readOnly: true
          responseTime:
            type: integer
            description: Time to first byte in milliseconds.
            example: 14
            readOnly: true
          serverIp:
            type: string
            description: IP address of destination server.
            example: 193.2.1.88
            readOnly: true
          sslTime:
            type: integer
            description: Time to negotiate SSL/TLS in milliseconds.
            example: 9
            readOnly: true
          totalTime:
            type: integer
            description: Total time is the response time + receive time.
            example: 15
            readOnly: true
          waitTime:
            type: integer
            description: Time elapsed between completion of request and first byte of response in milliseconds.
            example: 3
            readOnly: true
          wireSize:
            type: integer
            description: Size of content in bytes.
            example: 9993
            readOnly: true
          throughput:
            type: integer
            description: Amount of data transmitted, in bytes.
            example: 190
            readOnly: true
    HttpErrorType:
      type: string
      enum:
      - connect
      - dns
      - http
      - none
      - send
      - ssl
      - receive
      description: Type of error encountered; corresponds to phase of connection.
      default: connect
      example: connect
      readOnly: true
    HttpEndpointTestResultHeaders:
      type: object
      description: Expandable object containing both request and response headers.
      properties:
        requestHeaders:
          type: string
          description: 'CRLF-delimited list of request headers in `header: value` format.'
          example: "GET / HTTP/1.1\r\nHost: www.thousandeyes.com\r\nUser-Agent: curl/7.58.0-DEV\r\nAccept: */*\r\nAccept-Encoding:\
            \ deflate, gzip\r\nX-ThousandEyes-Agent: yes\r\n"
          readOnly: true
        responseHeaders:
          type: string
          description: 'CRLF-delimited list of response headers in `header: value` format.'
          example: "HTTP/1.1 200 OK\r\nContent-Type: text/html;charset=UTF-8\r\nContent-Length: 9993\r\nConnection: keep-alive\r\
            \nDate: Mon, 04 May 2020 16:13:00 GMT\r\nServer: Apache\r\nContent-Language: en-US\r\nContent-Encoding: gzip\r\
            \nX-Frame-Options: sameorigin\r\nCache-Control: max-age=600, must-revalidate\r\nStrict-Transport-Security: max-age=31536000\r\
            \nX-Content-Type-Options: nosniff\r\nX-XSS-Protection: 1; mode=block\r\nVary: Accept-Encoding\r\nX-Cache: Hit\
            \ from cloudfront\r\nVia: 1.1 7ba3caf71ae7a52dd411d1a543e80cd8.cloudfront.net (CloudFront)\r\nX-Amz-Cf-Pop: SFO5-C3\r\
            \nX-Amz-Cf-Id: w4h42tkoJD-rEpkRDZUvnQBmy26GVGe6pUsuRr1Dphf7oajYbjXaOA==\r\nAge: 132\r\n"
          readOnly: true
    NetworkDynamicEndpointTestResults:
      type: object
      properties:
        results:
          x-paginated-items: true
          type: array
          items:
            $ref: '#/components/schemas/NetworkDynamicEndpointTestResult'
        test:
          $ref: '#/components/schemas/DynamicTest'
        totalHits:
          $ref: '#/components/schemas/TotalHits'
        startDate:
          $ref: '#/components/schemas/StartDate'
        endDate:
          $ref: '#/components/schemas/EndDate'
        _links:
          $ref: '#/components/schemas/PaginationNextLink'
    NetworkDynamicEndpointTestResult:
      allOf:
      - $ref: '#/components/schemas/NetworkEndpointTestResult'
      - $ref: '#/components/schemas/DynamicBaseEndpointTestResult'
    DynamicEndpointTestWebex:
      type: object
      description: Contains object with webex information. Only returned for webex applications.
      properties:
        conferenceId:
          type: string
          description: Webex conference ID.
          example: '225817074608419375'
          readOnly: true
        correlationId:
          type: string
          format: uuid
          description: Webex conference correlation ID.
          example: 4e57c97e-abdf-4ec8-a78c-95bac9719896
          readOnly: true
        localSipSessionId:
          type: string
          description: Webex calling local sip session ID.
          example: c124ba2b012050008000aa0c26c4bf0f
          readOnly: true
        meetingApp:
          type: string
          description: RoomOS meeting app.
          example: ZoomCRC
          readOnly: true
        remoteSipSessionId:
          type: string
          description: Webex calling remote sip session ID.
          example: '22581707460321454'
          readOnly: true
    DynamicBaseEndpointTestResult:
      type: object
      properties:
        application:
          $ref: '#/components/schemas/DynamicTestApplication'
        protocol:
          $ref: '#/components/schemas/EndpointTestResultProtocol'
        tcpProbeMode:
          $ref: '#/components/schemas/TestProbeModeResponse'
        udpProbeMode:
          $ref: '#/components/schemas/UdpProbeModeResponse'
        webex:
          $ref: '#/components/schemas/DynamicEndpointTestWebex'
    PathVisDynamicEndpointTestResults:
      type: object
      properties:
        results:
          x-paginated-items: true
          type: array
          items:
            $ref: '#/components/schemas/PathVisDynamicEndpointTestResult'
        test:
          $ref: '#/components/schemas/DynamicTest'
        startDate:
          $ref: '#/components/schemas/StartDate'
        endDate:
          $ref: '#/components/schemas/EndDate'
        totalHits:
          $ref: '#/components/schemas/TotalHits'
        _links:
          $ref: '#/components/schemas/PaginationNextAndSelfLink'
    PathVisDynamicEndpointTestResult:
      allOf:
      - $ref: '#/components/schemas/PathVisBaseEndpointTestResult'
      - $ref: '#/components/schemas/DynamicBaseEndpointTestResult'
      - type: object
        properties:
          location:
            type: string
            description: Geographic location of the path visualization.
            example: San Francisco Area
            readOnly: true
          pathTraces:
            type: array
            description: Shows an iteration of path trace, with each iteration specified by a pathId.
            items:
              $ref: '#/components/schemas/EndpointPathTrace'
    PathVisDetailDynamicEndpointTestResults:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/PathVisDetailDynamicEndpointTestResult'
        test:
          $ref: '#/components/schemas/DynamicTest'
        _links:
          $ref: '#/components/schemas/SelfLinks'
    PathVisDetailDynamicEndpointTestResult:
      allOf:
      - $ref: '#/components/schemas/PathVisDetailEndpointTestResult'
      - $ref: '#/components/schemas/DynamicBaseEndpointTestResult'
    EndpointResultRequestFilter:
      type: object
      properties:
        location:
          type: array
          description: Location of the endpoint agent.
          items:
            type: string
          example:
          - San Francisco Bay Area
          - Germany
        connection:
          type: array
          items:
            $ref: '#/components/schemas/InterfaceHardwareType'
        platform:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
        gateway:
          type: array
          description: Endpoint agent default gateway IP address.
          items:
            type: string
          example:
          - 78.153.54.204
          - 78.153.54.206
        proxyTarget:
          type: array
          description: Endpoint agent proxy IP address.
          items:
            type: string
          example:
          - 78.153.54.204
          - 78.153.54.206
        vpnTarget:
          type: array
          description: Endpoint agent VPN endpoint IP address.
          items:
            type: string
          example:
          - 78.153.54.204
          - 78.153.54.206
        agentId:
          type: array
          description: Endpoint agent ID.
          items:
            type: string
            format: uuid
          example:
          - 3fde6422-f119-40e1-ae32-d08a1243c038
          - 236e6f18-9637-4a2f-b15f-7aa6a29c9fce
        networkId:
          type: array
          description: Network ID.
          items:
            type: string
          example:
          - 660b34109d12
          - 660b34109d15
        ssid:
          type: array
          description: WiFi SSID.
          items:
            type: string
          example:
          - wifi-name
          - other-room-wifi
        bssid:
          type: array
          description: WiFi BSSID.
          items:
            type: string
          example:
          - 8c:68:c8:a5:0a:8c
          - 0c:51:01:e4:3e:d0
        nicModel:
          $ref: '#/components/schemas/NicModelFilter'
        nicDriverVersion:
          $ref: '#/components/schemas/NicDriverVersionFilter'
    RealUserEndpointTestResultsRequest:
      type: object
      properties:
        searchFilters:
          $ref: '#/components/schemas/RealUserEndpointTestResultRequestFilter'
    RealUserEndpointTestResultRequestFilter:
      allOf:
      - $ref: '#/components/schemas/EndpointResultRequestFilter'
      - type: object
        properties:
          destinationIp:
            type: array
            description: Web site destination IP address.
            items:
              type: string
            example:
            - 84.255.241.1
            - 193.2.1.88
          domain:
            type: array
            description: Web site base domain visited during the session.
            items:
              type: string
            example:
            - thousandeyes.com
          trigger:
            type: array
            description: Real user test trigger.
            items:
              $ref: '#/components/schemas/Trigger'
            example:
            - user
          visitedSite:
            type: array
            description: Web site domain visited during the session.
            items:
              type: string
            example:
            - app.thousandeyes.com
    Trigger:
      type: string
      enum:
      - auto
      - user
      example: auto
    RealUserEndpointTestBase:
      allOf:
      - type: object
        properties:
          agentId:
            $ref: '#/components/schemas/EndpointAgentId'
          committed:
            type: string
            format: date-time
            description: UTC date when endpoint real user test was committed to the controller (ISO date-time format).
            example: '2022-07-17T22:00:54Z'
            readOnly: true
          date:
            type: string
            format: date-time
            description: UTC date when endpoint real user test took place (ISO date-time format).
            example: '2022-07-17T22:00:54Z'
            readOnly: true
          experienceScore:
            type: number
            format: double
            description: Score rating a user’s experience when loading a particular page, from 0 (the worst) to 1 (the best).
              [More details](https://docs.thousandeyes.com/product-documentation/end-user-monitoring/viewing-data/endpoint-agent-views-reference#user-experience-score).
            minimum: 0
            maximum: 1
            example: 0.5
            readOnly: true
          numberOfPages:
            type: integer
            description: Number of web pages visited on target website.
            example: 2
            readOnly: true
          organizationName:
            type: string
            description: Name of the AS organization `sourceAddress` belongs to.
            example: T-2 Access Network
            readOnly: true
          port:
            type: integer
            description: Port used to visit target website.
            example: 443
            readOnly: true
          protocol:
            type: string
            description: Protocol used to visit target website.
            example: https
            readOnly: true
          roundId:
            $ref: '#/components/schemas/RoundId'
          sourceAddress:
            type: string
            description: Public IP address of the endpoint agent during the session.
            example: 84.255.241.1
            readOnly: true
          id:
            type: string
            description: Endpoint real user test ID. Each endpoint real user test occurrence has a unique ID.
            example: 07625:1490529480:aVDViw0i
            readOnly: true
          visitedSite:
            type: string
            description: Domain used to visit target website.
            example: www.thousandeyes.com
            readOnly: true
    RealUserEndpointTest:
      allOf:
      - $ref: '#/components/schemas/RealUserEndpointTestBase'
      - type: object
        properties:
          pageId:
            $ref: '#/components/schemas/EndpointPageId'
    EndpointPageId:
      type: string
      description: Web page ID. The page ID is unique only within an endpoint real user test.
      example: C31gBrYJ
      readOnly: true
    RealUserEndpointTestResults:
      type: object
      properties:
        results:
          x-paginated-items: true
          type: array
          items:
            $ref: '#/components/schemas/RealUserEndpointTest'
        startDate:
          $ref: '#/components/schemas/StartDate'
        endDate:
          $ref: '#/components/schemas/EndDate'
        _links:
          $ref: '#/components/schemas/PaginationNextLink'
    RealUserEndpointTestDetail:
      allOf:
      - $ref: '#/components/schemas/RealUserEndpointTestBase'
      - type: object
        properties:
          browser:
            $ref: '#/components/schemas/EndpointBrowser'
          coordinates:
            $ref: '#/components/schemas/RealUserEndpointTestCoordinates'
          pages:
            type: array
            description: Web site base domain visited during the session.
            items:
              $ref: '#/components/schemas/RealUserEndpointTestPage'
          network:
            $ref: '#/components/schemas/RealUserEndpointTestNetwork'
    RealUserEndpointTestDetailResults:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/RealUserEndpointTestDetail'
        _links:
          $ref: '#/components/schemas/SelfLinks'
    EndpointBrowser:
      type: object
      properties:
        name:
          type: string
          description: Browser name.
          example: Google Chrome
          readOnly: true
        version:
          type: string
          description: Browser version.
          example: 116.0.0.0
          readOnly: true
    RealUserEndpointTestCoordinates:
      type: object
      description: Contains approximate GPS location of the endpoint agent, based on endpoint agent’s public IP address.
      properties:
        latitude:
          type: number
          format: double
          description: Numeric representations of GPS coordinates.
          example: 46.0552778
          readOnly: true
        location:
          type: string
          description: Represents named geographical location.
          example: Slovenia
          readOnly: true
        longitude:
          type: number
          format: double
          description: Numeric representations of GPS coordinates.
          example: 14.5144444
          readOnly: true
    RealUserEndpointTestPageTimings:
      type: object
      properties:
        onContentLoad:
          type: integer
          description: DOM load time in milliseconds.
          example: 1483
          readOnly: true
        onLoad:
          type: integer
          description: Page load time in milliseconds.
          example: 4569
          readOnly: true
    RealUserEndpointTestPage:
      type: object
      properties:
        pageId:
          $ref: '#/components/schemas/EndpointPageId'
        pageTitle:
          type: string
          description: Web page title.
          example: Network Performance Resources | ThousandEyes
          readOnly: true
        pageUrl:
          type: string
          description: Web page url
          example: https://app.thousandeyes.com/settings/integrations
          readOnly: true
        loadDate:
          type: string
          format: date-time
          description: UTC date when page load started (ISO date-time format).
          example: '2022-07-17T22:00:54Z'
          readOnly: true
        responseCode:
          type: integer
          description: HTTP response code.
          example: 200
          readOnly: true
        pageTimings:
          $ref: '#/components/schemas/RealUserEndpointTestPageTimings'
    RealUserEndpointTestNetwork:
      type: object
      description: Contains details about network profile and conditions during session.
      properties:
        networkProfile:
          $ref: '#/components/schemas/NetworkProfile'
        systemMetrics:
          $ref: '#/components/schemas/SystemMetrics'
        gatewayPing:
          $ref: '#/components/schemas/GatewayNetworkPing'
        ping:
          $ref: '#/components/schemas/TargetNetworkPing'
        traceroute:
          $ref: '#/components/schemas/TargetTraceroute'
        connectRtt:
          type: number
          format: double
          description: Represents the number of milliseconds required to establish TCP connectivity with the target.
          example: 77.777
          readOnly: true
        isIcmpBlocked:
          $ref: '#/components/schemas/IcmpBlocked'
        errors:
          type: array
          description: Array of string representing possible network errors.
          items:
            type: string
          example:
          - 'ping: Request timed out before getting response'
          readOnly: true
        vpnPing:
          $ref: '#/components/schemas/VpnNetworkPing'
        vpnTraceroute:
          $ref: '#/components/schemas/VpnTraceroute'
    NetworkInterface:
      type: object
      properties:
        ipAddress:
          type: string
          description: Network IP address.
          example: 10.0.0.13
          readOnly: true
        subnetMask:
          type: string
          description: Network subnet mask - only for IPv4.
          example: 255.255.255.0
          readOnly: true
        publicIpAddress:
          type: string
          description: Network public IP address.
          example: 84.255.241.1
          readOnly: true
        localPrefix:
          type: string
          description: Network local prefix.
          example: 10.0.0.0
          readOnly: true
        publicIpRange:
          type: string
          description: Network public IP range.
          example: 84.255.241.0-84.255.241.255
          readOnly: true
        dnsServers:
          type: array
          description: Network DNS servers.
          example:
          - 8.8.8.8
          - 8.8.8.4
          readOnly: true
          items:
            type: string
        hardwareType:
          $ref: '#/components/schemas/InterfaceHardwareType'
        interfaceName:
          type: string
          description: Network interface name.
          example: en0
          readOnly: true
    NetworkProfile:
      allOf:
      - $ref: '#/components/schemas/NetworkInterface'
      - type: object
        description: Contains basic network connectivity parameters.
        properties:
          error:
            type: string
            description: Only present when there is an error
            example: An operation timed out.
            readOnly: true
          gateway:
            type: string
            description: Network gateway address.
            example: 10.0.0.1
            readOnly: true
          wirelessProfile:
            $ref: '#/components/schemas/NetworkWirelessProfile'
          proxyProfile:
            $ref: '#/components/schemas/NetworkProxyProfile'
          ethernetProfile:
            $ref: '#/components/schemas/EndpointTestEthernetProfile'
          previousInterface:
            $ref: '#/components/schemas/NetworkInterface'
    NetworkWirelessProfile:
      type: object
      properties:
        ssid:
          type: string
          description: Wireless network SSID.
          example: Internet for the masses
          readOnly: true
        bssid:
          type: string
          description: Wireless network BSSID.
          example: 4c:ba:ba:f4:fa:fa
          readOnly: true
        channel:
          type: integer
          description: Wireless network channel.
          example: 1
          readOnly: true
        phyMode:
          type: string
          description: Wireless network PHY mode.
          example: 802.11n
          readOnly: true
        rssi:
          type: integer
          description: Wireless network RSSI.
          example: -38
          readOnly: true
        noise:
          type: integer
          description: Wireless network noise.
          example: -95
          readOnly: true
        snr:
          type: integer
          description: Wireless network signal-to-noise ratio (SNR), in dB.
          example: 57
          readOnly: true
        quality:
          type: integer
          description: Wireless network quality.
          example: 100
          readOnly: true
        txRate:
          type: integer
          description: Wireless network transmitted rate.
          example: 130
          readOnly: true
        vendor:
          type: string
          description: Wireless network device vendor.
          example: Cisco
          readOnly: true
    NetworkProxy:
      type: object
      properties:
        bypass:
          type: string
          description: Proxy bypass expression.
          example: '*.local;169.254/16'
          readOnly: true
        proxy:
          type: string
          description: Proxy mode.
          example: <direct>
          readOnly: true
    NetworkProxyProfile:
      type: object
      properties:
        method:
          type: string
          description: Proxy profile method.
          example: System
          readOnly: true
        proxies:
          type: array
          items:
            $ref: '#/components/schemas/NetworkProxy'
    EndpointTestEthernetProfile:
      type: object
      properties:
        linkSpeed:
          type: integer
          description: Ethernet profile link speed
          example: 860
          readOnly: true
    NetworkPing:
      type: object
      properties:
        avgRtt:
          type: integer
          description: Ping average response time.
          example: 7
          readOnly: true
        maxRtt:
          type: integer
          description: Ping maximum response time.
          example: 66
          readOnly: true
        loss:
          type: number
          format: double
          description: Network loss.
          example: 1
          readOnly: true
        meanDevRtt:
          type: integer
          description: Ping mean standard deviation response time.
          example: 11
          readOnly: true
        minRtt:
          type: integer
          description: Ping minimum response time.
          example: 1
          readOnly: true
        pktsReceived:
          type: integer
          description: Ping packets received.
          example: 10
          readOnly: true
        pktsSent:
          type: integer
          description: Ping packets sent.
          example: 10
          readOnly: true
        error:
          type: string
          description: Only present when there is an error.
          example: An operation timed out.
          readOnly: true
        infoFlags:
          $ref: '#/components/schemas/ErrorFlags'
    GatewayNetworkPing:
      allOf:
      - description: Contains numeric parameters representing results of a ping test performed against the endpoint agent
          default gateway.
      - $ref: '#/components/schemas/NetworkPing'
    TargetNetworkPing:
      allOf:
      - description: Contains number parameters representing results of a ping test performed against the target website.
      - $ref: '#/components/schemas/NetworkPing'
    VpnNetworkPing:
      allOf:
      - description: Contains number parameters representing results of a ping test performed against the target website on
          the VPN.
      - $ref: '#/components/schemas/NetworkPing'
    TracerouteHop:
      allOf:
      - $ref: '#/components/schemas/Hop'
      - type: object
        properties:
          asn:
            type: integer
            description: Unique number assigned to an organization (also referred to as service provider).
            example: 34779
            readOnly: true
          delay:
            type: integer
            description: Hop delay
            example: 5
            readOnly: true
          mpls:
            type: array
            description: Hop Multiprotocol Label Switching.
            items:
              type: string
            example:
            - L=301472,E=0,S=1,T=1
            readOnly: true
          name:
            type: string
            description: The hop name.
            example: 89-210-88-65.access.t-2.net
            readOnly: true
    Traceroute:
      type: object
      properties:
        destination:
          type: string
          description: The target IP address.
          example: 13.32.22.232
          readOnly: true
        error:
          type: string
          description: Only present when there is an error
          example: An operation timed out.
          readOnly: true
        infoFlags:
          $ref: '#/components/schemas/ErrorFlags'
        internalErrors:
          $ref: '#/components/schemas/ErrorFlags'
        hops:
          type: array
          items:
            $ref: '#/components/schemas/TracerouteHop'
    TargetTraceroute:
      allOf:
      - description: Contains parameters representing results of a trace route test performed against the target.
      - $ref: '#/components/schemas/Traceroute'
    UserProfile:
      type: object
      description: Details of the logged-in user, including username and user principal name.
      properties:
        userName:
          type: string
          description: Machine username of the logged-in user.
          example: joeblogs32
        userPrincipalName:
          $ref: '#/components/schemas/UserPrincipalName'
    UserPrincipalNameFilter:
      description: Filters results based on an array of `userPrincipalName` values.
      type: array
      items:
        $ref: '#/components/schemas/UserPrincipalName'
    NicModelFilter:
      description: Filters results to NIC models that exactly match one of the provided values. Matching is case-sensitive.
      type: array
      items:
        type: string
        example: Intel(R) Wi-Fi 6 AX200 160MHz
    NicDriverVersionFilter:
      description: Filters results to NIC driver versions that exactly match one of the provided values. Matching is case-sensitive.
      type: array
      items:
        type: string
        example: 22.250.0.9
    VpnTraceroute:
      allOf:
      - description: Contains parameters representing results of a trace route test performed against the target on the VPN.
      - $ref: '#/components/schemas/Traceroute'
    RealUserEndpointTestPageResult:
      allOf:
      - $ref: '#/components/schemas/RealUserEndpointTestPage'
      - type: object
        properties:
          agentId:
            $ref: '#/components/schemas/EndpointAgentId'
          id:
            type: string
            description: Endpoint real user test ID. Each endpoint real user test occurrence has a unique ID.
            example: 07625:1490529480:aVDViw0i
            readOnly: true
          roundId:
            $ref: '#/components/schemas/RoundId'
          responseTime:
            type: integer
            description: HTTP server response in milliseconds.
            example: 240
            readOnly: true
          systemMetrics:
            $ref: '#/components/schemas/SystemMetrics'
    RealUserEndpointTestPageResults:
      type: object
      properties:
        results:
          x-paginated-items: true
          type: array
          items:
            $ref: '#/components/schemas/RealUserEndpointTestPageResult'
        startDate:
          $ref: '#/components/schemas/StartDate'
        endDate:
          $ref: '#/components/schemas/EndDate'
        _links:
          $ref: '#/components/schemas/PaginationNextLink'
    RealUserEndpointTestPageDetailResult:
      type: object
      properties:
        har:
          $ref: '#/components/schemas/RealUserEndpointTestPageHar'
        _links:
          $ref: '#/components/schemas/SelfLinks'
    RealUserEndpointTestPageHar:
      type: object
      description: A HAR object according to the [HTTP Archive 1.2 specifications](http://www.softwareishard.com/blog/har-12-spec/),
        with an additional `systemMetrics` property.
      example:
        log:
          browser:
            name: Google Chrome
            version: 57.0.2987.98
          creator:
            name: ThousandEyes Endpoint Agent
            version: 0.47.0
          entries:
          - pageref: page_1
            request:
              headers:
              - name: Upgrade-Insecure-Requests
                value: '1'
              - name: User-Agent
                value: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.98
                  Safari/537.36
              - name: Accept
                value: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8
              - name: Referer
                value: https://www.thousandeyes.com/
              - name: Accept-Encoding
                value: gzip, deflate, sdch, br
              - name: Accept-Language
                value: en-US,en;q=0.6
              - name: Cookie
                value: (removed)
              method: GET
              queryString:
              - name: locale
                value: en-US
              url: https://www.thousandeyes.com/resources
            response:
              bodySize: 17776
              content:
                mimeType: text/html;charset=ISO-8859-1
                size: 17776
              headers:
              - name: Content-Type
                value: text/html;charset=ISO-8859-1
              - name: Content-Length
                value: '17776'
              - name: Connection
                value: keep-alive
              - name: Date
                value: Sun, 26 Mar 2017 11:58:54 GMT
              - name: Server
                value: Apache
              - name: Cache-Control
                value: max-age=600, must-revalidate
              - name: Content-Language
                value: en-US
              - name: Content-Encoding
                value: gzip
              - name: X-Frame-Options
                value: sameorigin
              - name: Strict-Transport-Security
                value: max-age=31536000
              - name: Vary
                value: Accept-Encoding
              - name: X-Cache
                value: Miss from cloudfront
              - name: Via
                value: 1.1 5dbe09af3a2c87121e31ffa67f174f66.cloudfront.net (CloudFront)
              - name: X-Amz-Cf-Id
                value: YkvlkBNKgHt5aMu9vcS22Z8kHn1MUr-8adupwhDk3j9vF-TpSyIxZA==
              headersSize: 527
              redirectURL: ''
              status: 200
              statusText: OK
            serverIPAddress: 13.32.22.80
            startedDateTime: '2017-03-22T11:58:54.123+02:00'
            time: 177
            timings:
              blocked: -1
              connect: -1
              dns: -1
              receive: 27
              send: -1
              ssl: -1
              wait: 150
          - pageref: page_1
            request:
              headers:
              - name: User-Agent
                value: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.98
                  Safari/537.36
              - name: Accept
                value: '*/*'
              - name: Referer
                value: https://www.thousandeyes.com/resources
              - name: Accept-Encoding
                value: gzip, deflate, sdch, br
              - name: Accept-Language
                value: en-US,en;q=0.6
              method: GET
              queryString: []
              url: https://use.typekit.net/cjy5myw.js
            response:
              bodySize: 0
              content:
                mimeType: text/javascript;charset=utf-8
                size: 7814
              headers:
              - name: status
                value: '200'
              - name: access-control-allow-origin
                value: '*'
              - name: cache-control
                value: public, max-age=600, stale-while-revalidate=604800
              - name: content-encoding
                value: gzip
              - name: content-type
                value: text/javascript;charset=utf-8
              - name: server
                value: nginx
              - name: status
                value: 200 OK
              - name: timing-allow-origin
                value: '*'
              - name: vary
                value: Accept-Encoding
              - name: content-length
                value: '7814'
              - name: date
                value: Sun, 26 Mar 2017 11:58:43 GMT
              headersSize: 334
              redirectURL: ''
              status: 200
              statusText: OK
            serverIPAddress: 104.103.103.234
            startedDateTime: '2017-03-22T11:58:54.123+02:00'
            time: 72
            timings:
              blocked: -1
              connect: -1
              dns: -1
              receive: 10
              send: -1
              ssl: -1
              wait: 62
          pages:
          - id: page_1
            pageTimings:
              onContentLoad: 874
              onLoad: 3492
            responseCode: 200
            startedDateTime: '2017-03-22T11:58:54.123+02:00'
[...]
